Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Enhance CLI plugin listing and checkpoint metadata
  docs/training/Evaluation_CLI.md
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/utils/checkpoint_integrity.py
  tests/checkpoint/test_checkpoint_integrity_tolerant.py
  tests/eval/test_eval_cli_passthrough.py
  tests/plugins/test_list_plugins_cli_smoke.py
Due: validate-fences, semgrep-local

W3 Rollup: eval CLI, quiet Hydra exit, plugin CLI JSON/stderr discipline, checkpoint integrity (git SHA), tests/docs
  Makefile
  docs/developer/Plugin_Registry_CLI.md
  docs/training/Evaluation_CLI.md
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/codex_structured_logging.py
  tests/checkpoint/test_checkpoint_integrity_tolerant.py
  tests/checkpoint/test_checkpoint_integrity_wiring.py
  tests/logging/test_capture_exceptions_systemexit.py
  tests/plugins/test_list_plugins_cli_flags.py
  tests/plugins/test_list_plugins_cli_json.py
  tests/plugins/test_list_plugins_cli_stdout_stderr.py
  tests/train/test_hydra_main_exit_path.py
Due: validate-fences, semgrep-local

Improve eval CLI override, plugin listing, and checkpoint resilience
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/utils/checkpoint_integrity.py
  tests/checkpoint/test_checkpoint_integrity_tolerant.py
  tests/eval/test_eval_cli_passthrough.py
  tests/plugins/test_list_plugins_cli_smoke.py
Due: semgrep-local

Guard checkpoint atomic writes and add DDP smoke test
  pyproject.toml
  scripts/deep_research_task_process.py
  src/codex_ml/utils/checkpoint_core.py
  tests/checkpoint/test_no_direct_atomic_write_usage.py
  tests/distributed/test_ddp_env_optin_smoke.py
Due: semgrep-local

Add canonical HF tokenizer adapter and example plugin
  docs/plugins/Plugin_Registry.md
  docs/tokenization/Adapter_Consolidation.md
  examples/plugins/metrics_token_accuracy_plugin.py
  pyproject.toml
  src/codex_ml/interfaces/tokenizer_hf.py
  src/codex_ml/plugins/programmatic.py
  src/codex_ml/tokenization/hf_adapter.py
  tests/plugins/test_entrypoint_discovery_json_cli.py
  tests/tokenization/test_hf_adapter_canonical.py
Due: validate-fences, semgrep-local

Add import contract summary tooling and security refresh docs
  Makefile
  docs/ops/Security_Artifacts.md
  noxfile.py
  tools/import_contracts_summary.py
Due: validate-fences, semgrep-local

Add CLI probes, structured logging tests, and run metadata sidecar
  docs/ops/runbook_logging.md
  noxfile.py
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/run_metadata.py
  tests/checkpoint/test_run_metadata_sidecar.py
  tests/cli/conftest.py
  tests/cli/test_cli_structured_logging.py
  tests/cli/test_eval_probe_json_schema.py
  tests/cli/test_hydra_missing_probe_json.py
  tests/cli/test_train_probe_json_schema.py
  tests/conftest.py
  tests/monitoring/test_system_metrics_nvml_missing.py
  tests/plugins/test_list_plugins_degrade.py
  tests/schemas/eval_probe.schema.json
  tests/schemas/train_probe.schema.json
Due: validate-fences, semgrep-local

Add GitHub App token helpers and docs
  Makefile
  docs/ops/GitHub_App_Integration.md
  tests/github/test_app_token.py
  tests/github/test_app_token_cli.py
  tests/github/test_gh_api_wrapper.py
  tools/github/app_token.py
  tools/github/app_token.sh
  tools/github/gh_api.py
  tools/github/runner_register.sh
  tools/github/runner_unregister.sh
Due: validate-fences, semgrep-local

Add pagination and caching to GitHub API helper
  Makefile
  docs/ops/GitHub_App_Integration.md
  tests/github/test_gh_api_pagination_cache.py
  tools/github/__init__.py
  tools/github/gh_api.py
Due: validate-fences, semgrep-local

Add GitHub API pagination and caching support
  Makefile
  docs/ops/GitHub_App_Integration.md
  tests/github/test_gh_api_pagination_cache.py
  tools/github/gh_api.py
Due: validate-fences, semgrep-local

Fix GitHub helper caching and runner downloads
  tools/github/gh_api.py
  tools/github/runner_register.sh
Due: semgrep-local

Add CLI JSON schema tests and resilience utilities
  docs/developer/Patch_Debris_Guard.md
  docs/ops/CLI_JSON_Schemas.md
  noxfile.py
  schemas/cli/gh_api_envelope.schema.json
  schemas/cli/list_plugins.schema.json
  src/codex_ml/logging/structured.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/jsonio.py
  src/codex_ml/utils/runmeta.py
  tests/checkpoint/test_runmeta_enrichment.py
  tests/cli/test_cli_schemas.py
  tests/github/test_gh_api_pagination_cache.py
  tests/interfaces/test_registry_degradation.py
  tests/monitoring/test_system_metrics_cpu_fallback.py
  tests/train/test_hydra_degrade.py
  tools/github/gh_api.py
Due: validate-fences, semgrep-local

Implement modular trainer stack and configuration restructure
  README.md
  change_log.md
  configs/data/tiny.yaml
  configs/default.yaml
  configs/model/base.yaml
  configs/training/base.yaml
  error_log.md
  noxfile.py
  semgrep_rules/python-basic.yml
  semgrep_rules/python-security.yaml
  semgrep_rules/python/requests_no_timeout.yml
  semgrep_rules/python/ssl_verify_off.yml
  semgrep_rules/python/subprocess_shell.yml
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/reader.py
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
  src/utils/error_logging.py
  tests/data/test_datasets_module.py
  tests/logging/test_logging_utils_module.py
  tests/modeling/test_modeling_module.py
  tests/security/test_semgrep_rules.py
  tests/training/test_extended_trainer.py
  torch/__init__.py
  training/__init__.py
Due: validate-fences, semgrep-local

Add modular trainer, modeling utilities, and Hydra defaults
  README.md
  change_log.md
  configs/data/tiny.yaml
  configs/default.yaml
  configs/model/base.yaml
  configs/training/base.yaml
  docs/modules/model_registry.md
  docs/reproducibility.md
  error_log.md
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
  tests/test_datasets_module.py
  tests/test_logging_utils_module.py
  tests/test_modeling_module.py
  tests/test_trainer_extended.py
Due: validate-fences, semgrep-local

Fix checkpoint metadata serialization
  src/training/trainer.py
Due: semgrep-local

Implement modular trainer stack and configs
  ERROR_LOG.md
  README.md
  change_log.md
  configs/data/tiny.yaml
  configs/default.yaml
  configs/model/base.yaml
  configs/training/base.yaml
  data/tiny_text_classification.tsv
  src/data/__init__.py
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
  tests/unit/test_datasets_module.py
  tests/unit/test_logging_utils_module.py
  tests/unit/test_modeling_module.py
  tests/unit/test_trainer_module.py
Due: validate-fences, semgrep-local

Fix evaluation forward path and tensorize dataset labels
  src/data/datasets.py
  src/training/trainer.py
Due: semgrep-local

Restore training and modeling compatibility aliases
  src/logging_utils.py
  src/modeling.py
  src/training/__init__.py
  src/training/trainer.py
Due: semgrep-local

Add deterministic checkpointing utilities and MLflow smoke tests
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/PR_PLAN.md
  noxfile.py
  pytest.ini
  requirements-dev.txt
  src/data/datasets.py
  src/training/checkpointing.py
  src/training/simple_trainer.py
  tests/test_checkpointing.py
  tests/test_datasets_determinism.py
  tests/test_tracking_mlflow_smoke.py
Due: validate-fences, semgrep-local

Preserve ExtendedTrainer import compatibility
  src/training/__init__.py
Due: semgrep-local

Adjust modeling loader compatibility
  src/modeling.py
Due: semgrep-local

Restore legacy logging, modeling, and trainer compatibility
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
Due: semgrep-local

Add Typer CLI smoke helpers and improve checkpoint retention
  .gitignore
  CHANGELOG.md
  README.md
  docs/CHECKPOINTS.md
  docs/CLI.md
  docs/PR_PLAN.md
  docs/QUALITY_GATES.md
  docs/quality_gates.md
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements.txt
  src/codex_cli/__init__.py
  src/codex_cli/app.py
  src/training/checkpointing.py
  tests/test_checkpointing.py
  tests/test_cli.py
Due: validate-fences, semgrep-local

feat: add logging and evaluation helpers
  CHANGELOG.md
  Makefile
  README.md
  docs/LOGGING.md
  requirements-dev.txt
  src/evaluation/__init__.py
  src/evaluation/metrics.py
  src/evaluation/writers.py
  src/logging_utils.py
  tests/test_eval_writers.py
  tests/test_logging_utils.py
Due: validate-fences, semgrep-local

feat: add local logging helpers and eval writers
  Makefile
  README.md
  docs/LOGGING.md
  src/evaluation/metrics.py
  src/evaluation/writers.py
  src/logging_utils.py
  tests/test_eval_writers.py
  tests/test_logging_utils.py
Due: validate-fences, semgrep-local

Add October 16 audit and codex-ready execution scaffold
  _codex_status_update-2025-10-16.md
  codex_ready_sequence-2025-10-16.md
  scripts/codex_ready_execution.py
Due: validate-fences, semgrep-local

Document codex_ready_execution outputs for 2025-10-16
  _codex_status_update-2025-10-16.md
  codex_ready_sequence-2025-10-16.md
Due: validate-fences

fix: restore logging configuration api
  src/logging_utils.py
Due: semgrep-local

fix: repair modeling, logging, and dataset helpers
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
Due: semgrep-local

Refine manifest utilities and dataset typing
  src/codex_ml/utils/atomic_io.py
  src/data/datasets.py
  src/data/manifest.py
  torch/__init__.py
Due: semgrep-local

Finalize modeling bf16 guard integration
  CHANGELOG.md
  LOGGING.md
  README.md
  src/codex_ml/data/split_utils.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/utils/checkpoint.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/modeling.py
  src/codex_ml/utils/repro.py
  src/evaluation/writers.py
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
  tests/test_dataset_manifest.py
  tests/test_eval_writers.py
  tests/test_interfaces_compat.py
  tests/test_logging_utils.py
  tests/test_modeling_utils.py
  tests/test_secrets_scanner.py
  tests/test_trainer_extended.py
  tools/scan_secrets.py
Due: validate-fences, semgrep-local

Implement tokenizer protocol guard and resilience improvements
  src/codex_ml/data/split_utils.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/utils/checkpoint_core.py
  src/evaluation/writers.py
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
  tests/data/test_split_manifest.py
  tests/test_eval_writers.py
  tests/test_interfaces_compat.py
  tests/test_logging_utils.py
  tests/test_secrets_scanner.py
  tests/training/test_trainer_auto_resume.py
  tools/scan_secrets.py
Due: semgrep-local

Handle resumed epochs in training loop
  src/training/trainer.py
Due: semgrep-local

Adjust training loop start epoch
  src/training/trainer.py
Due: semgrep-local

Fix NDJSON writer metadata handling
  src/evaluation/writers.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
