Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix for Module is imported with 'import' and 'import from'
  tests/agents/test_agents_init_phase9_2.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  tests/space_traversal/test_coverage_enhanced.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  tests/agents/test_phase2_mental_mapping.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  tests/training/test_data_utils.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  codex_addons/metrics/collector.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  src/codex_ml/config/__init__.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  tests/test_codex_best_effort.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  tests/tokenization/test_sentencepiece_contract.py
Due: semgrep-local

Fix for Module is imported with 'import' and 'import from'
  .codex/agent_auth_session.json
  .codex/session_context_latest.md
  CODEX_MANIFEST.json
  codex_addons/metrics/collector.py
  scripts/codex_offline_audit.py
  src/codex_ml/config/__init__.py
  tests/agents/test_agents_init_phase9_2.py
  tests/agents/test_phase2_mental_mapping.py
  tests/space_traversal/test_coverage_enhanced.py
  tests/test_codex_best_effort.py
  tests/tokenization/test_sentencepiece_contract.py
  tests/training/test_data_utils.py
Due: validate-fences, semgrep-local

Fix for Module is imported with 'import' and 'import from'
  scripts/codex_offline_audit.py
Due: semgrep-local

Create tailored Copilot prompt for py/ineffectual-statement remediation with full policy compliance
  .codex/prompts/py_ineffectual_statement_remediation.md
Due: validate-fences

Create tailored Copilot prompt for py/unused-local-variable remediation (69 findings across 39 files)
  .codex/prompts/py_unused_local_variable_remediation.md
Due: validate-fences

docs: Comprehensive unused global variables remediation report with CodeQL findings
  .github/docs/UNUSED_GLOBAL_VARIABLES_REMEDIATION.md
Due: validate-fences

docs: Comprehensive Copilot Cloud Agent prompt for unused global variables remediation
  .github/prompts/COPILOT_AGENT_UNUSED_GLOBALS_REMEDIATION.md
Due: validate-fences

Fix for Unused local variable
  tests/branch_coverage/test_branch_coverage_rag.py
Due: semgrep-local

Update pragma comments for secret allowlisting
  tests/agents/test_msp_client_phase9_1.py
Due: semgrep-local

Apply suggested fix to tests/mcp/test_server_schemas.py from Copilot Autofix
  tests/mcp/test_server_schemas.py
Due: semgrep-local

Enhance safe_git_show installation with error handling
  .github/workflows/copilot-setup-steps.yml
Due: none

Update session context preload step in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Install safe_git_show and generate environment report
  .devcontainer/scripts/post-start.sh
Due: none

Implement safe_git_show_with_head_fallback function
  scripts/ci/safe_git_show.sh
Due: none

Change runner profile to always use ubuntu-latest
  .github/workflows/copilot-setup-steps.yml
Due: none

Set runner to 'ubuntu-latest' for consistency
  .github/workflows/copilot-setup-steps.yml
Due: none

Remove cancel-in-progress option from workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix indentation and formatting in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix syntax issue in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor session preload command for clarity
  .github/workflows/copilot-setup-steps.yml
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
