Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

chore(phase2): Phase 2 complete - ALL 231 workflows fixed, documentation updated, compliance verified
  .codex/PHASE_2_LANE_3_DEPLOYMENT_REPORT.md
Due: validate-fences

feat(phase6-lane2): Complete dependency vulnerability scanning and auto-upgrade automation
  .codex/PHASE_6_AUDIT_LOG_SCHEMA.yaml
  .codex/PHASE_6_CODEQL_ALERT_AUDIT.json
  .codex/PHASE_6_CODEQL_EXCLUSION_RULES.yaml
  .codex/PHASE_6_CODEQL_GA_DEPLOYMENT_REPORT.md
  .codex/PHASE_6_COMPLIANCE_CHECKLIST.yaml
  .codex/PHASE_6_COMPLIANCE_SLOS.yaml
  .codex/PHASE_6_DEPENDENCY_AUTO_UPGRADE_CONFIG.yaml
  .codex/PHASE_6_DEPENDENCY_HEALTH_BASELINE.json
  .codex/PHASE_6_DEPENDENCY_PINNING_POLICY.yaml
  .codex/PHASE_6_DEPENDENCY_VULNERABILITY_SCAN_REPORT.md
  .codex/PHASE_6_LANE_1_COMPLETION_SUMMARY.md
  .codex/PHASE_6_LANE_2_EXECUTION_SUMMARY.md
  .codex/PHASE_6_SECURITY_PATTERN_DISPATCH_VALIDATION.md
  .codex/PHASE_6_SECURITY_PATTERN_REGISTRY.json
  .codex/PHASE_6_SECURITY_TRAINING_GUIDE.md
  .github/workflows/dependency-security-gate.yml
Due: validate-fences

Phase 6 Lane 4: Security Runbook Library & Pattern Integration - COMPLETE
  .codex/PHASE_6_SECURITY_PATTERN_INTEGRATION_REPORT.md
  .github/workflows/compliance-scanner.yml
Due: validate-fences

feat(phase6-lane2): Complete dependency vulnerability scanning and auto-upgrade automation
  .codex/PHASE_6_COMPLIANCE_FRAMEWORK.md
  .codex/PHASE_6_LANE_1_DELIVERABLES_MANIFEST.txt
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
  .github/workflows/codeql-ga-gate.yml
  docs/security/TRAINING.md
  docs/security/runbooks/RUNBOOK_CODEQL_BUFFER_OVERFLOW.md
  docs/security/runbooks/RUNBOOK_CODEQL_DESERIALIZATION.md
  docs/security/runbooks/RUNBOOK_CODEQL_HARDCODED_SECRETS.md
  docs/security/runbooks/RUNBOOK_CODEQL_PATH_TRAVERSAL.md
  docs/security/runbooks/RUNBOOK_CODEQL_SQL_INJECTION.md
  docs/security/runbooks/RUNBOOK_CODEQL_XSS.md
  docs/security/runbooks/RUNBOOK_COMPLIANCE_AUDIT_TRAIL.md
  docs/security/runbooks/RUNBOOK_COMPLIANCE_CCPA.md
  docs/security/runbooks/RUNBOOK_COMPLIANCE_GDPR.md
  docs/security/runbooks/RUNBOOK_COMPLIANCE_SOC2.md
  docs/security/runbooks/RUNBOOK_CVE_CRITICAL.md
  docs/security/runbooks/RUNBOOK_CVE_HIGH.md
  docs/security/runbooks/RUNBOOK_CVE_MEDIUM.md
  docs/security/runbooks/RUNBOOK_CVE_TRIAGE.md
  docs/security/runbooks/RUNBOOK_INCIDENT_SEV1.md
  docs/security/runbooks/RUNBOOK_INCIDENT_SEV2.md
  docs/security/runbooks/RUNBOOK_INCIDENT_SEV3.md
  docs/security/runbooks/RUNBOOK_PII_DETECTION.md
  docs/security/runbooks/RUNBOOK_SECRET_ROTATION.md
  docs/security/runbooks/SECURITY_RUNBOOK_INDEX.md
Due: validate-fences

Phase 6 Lane 3: Complete GDPR/CCPA/SOC2 compliance framework with audit trail logging
  .codex/PHASE_6_DATA_INVENTORY.json
  .codex/PHASE_6_IMPLEMENTATION_SUMMARY.md
  .codex/PHASE_6_LANE_3_COMPLETION_CHECKLIST.md
  .github/workflows/audit-logging.yml
Due: validate-fences

docs(phase6): Add Lane 2 completion checklist
  .codex/PHASE_6_LANE_2_CHECKLIST.md
Due: validate-fences

docs(phase6): Phase 6 completion — 4 lanes delivered, Lane 2 CVE remediation blocking Phase 7
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

chore(phase9): lane 1 (codeql audit) complete - 0 critical/high alerts verified
  .codex/PHASE_9_CODEQL_GATE_TEST_PLAN.json
  .codex/PHASE_9_CODEQL_GATE_VALIDATION.md
  .codex/PHASE_9_CODEQL_SCAN_RESULTS.json
  .codex/PHASE_9_CODEQL_SECURITY_AUDIT_REPORT.md
  .codex/PHASE_9_COMPLIANCE_AUDIT_REPORT.md
  .codex/PHASE_9_COMPLIANCE_GATE_VALIDATION.md
  .codex/PHASE_9_COMPLIANCE_SCAN_RESULTS.json
  .codex/PHASE_9_DEPENDABOT_SLA_VALIDATION.md
  .codex/PHASE_9_DEPENDENCY_SCAN_RESULTS.json
  .codex/PHASE_9_DEPENDENCY_SECURITY_AUDIT_REPORT.md
  .codex/PHASE_9_LANE_1_COMPLETION_SUMMARY.json
  .codex/PHASE_9_LANE_1_EXECUTIVE_BRIEFING.txt
  .codex/PHASE_9_LANE_2_COMPLETION_SUMMARY.md
  .codex/PHASE_9_PRODUCTION_READINESS_CHECKLIST.md
  .codex/PHASE_9_PRODUCTION_READINESS_SCORE.json
  .codex/PHASE_9_ZERO_CVE_GATE_VALIDATION.md
  .codex/reports/compliance_summary.json
  .codex/reports/prod_readiness.json
  .github/workflows/13-3-enterprise-compliance.yml
  docs/deployment/v0.2.0-DEPLOYMENT_GUIDE.md
  docs/releases/v0.2.0-RELEASE_NOTES.md
Due: validate-fences

feat(phase9-lane4): complete integration testing and release preparation - v0.2.0 production ready
  .codex/PHASE_9_INTEGRATION_TEST_RESULTS.json
  .codex/PHASE_9_RELEASE_READINESS_REPORT.md
Due: validate-fences

chore(phase9): lane 2 (dependency audit) complete - ZERO critical/high CVEs verified
  .codex/PHASE_9_LANE_3_FINAL_COMPLETION_REPORT.md
Due: validate-fences

chore(phase9): update REQ-4/REQ-5 compliance gates, finalize GO/NO-GO decision for Phase 10
  .codex/PHASE_9_GO_NO_GO_DECISION.md
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

deps: consolidate all 25 dependabot updates from 2026-07-19 (#5363)
  .codex/agent_auth_session.json
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

test(integration): Session 4 Phase 2 — 5-layer cross-module validation
  .codex/PHASE_2_INTEGRATION_RESULTS.json
  .codex/PHASE_2_TEST_EXECUTION_REPORT.md
  .codex/PRODUCTION_READINESS_INTEGRATION_TESTS_FINAL.md
  .codex/session_4_phase2_integration_tests.py
Due: validate-fences, semgrep-local

test(integration): Session 4 Phase 2 — 5-layer cross-module validation (commit 4e581b40)
  .codex/PRODUCTION_READINESS_INTEGRATION_TESTS_FINAL.md.bak
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
Due: validate-fences

fix(quantum): Session 4 Phase 2 L3 — posterior calibration + gate activation fix
  .codex/PHASE_2_INTEGRATION_RESULTS.json
  .codex/session_4_phase2_integration_tests.py
  src/cognitive_brain/analytics/bayesian.py
Due: semgrep-local

test(disaster-recovery): Session 4 Phase 3 — 5-scenario rollback & recovery validation
  .codex/AUTOMATED_ROLLBACK_VERIFICATION_FINAL.md
  .codex/PHASE_3_DISASTER_RECOVERY_REPORT.md
  .codex/SESSION_4_PHASE_2_COMPLETION_REPORT.md
  .codex/failure_injection_log.json
  .codex/recovery_validation_results.json
  .codex/session_4_phase3_failure_injection.py
  .codex/session_4_phase3_recovery_validator.py
Due: validate-fences, semgrep-local

security(audit): Session 4 Phase 4 — 6-layer pre-release security audit (100/100 readiness)
  .codex/PHASE_4_CODEQL_FINDINGS.md
  .codex/PHASE_4_DEPENDENCY_SCAN_RESULTS.md
  .codex/PHASE_4_SBOM_VALIDATION.md
  .codex/PRE_RELEASE_SECURITY_AUDIT_FINAL_v0.2.0.md
  .codex/v0.2.0-sbom.xml
Due: validate-fences

fix(pypi-publish): Use trusted publishing (OIDC) for PyPI authentication (#5367)
  .codex/CODEQL_FIX_VULNERABILITIES.md
  .codex/CODEQL_REMEDIATION_SUMMARY.md
  .codex/POST_MERGE_FOLLOWUP_PROMPT.md
  .codex/POST_MERGE_SYSTEM_IMPLEMENTATION_GUIDE.md
  .codex/PR_COMMENT_RESOLUTION_PROTOCOL.md
  .codex/PYPI_DEPLOYMENT_INSTRUCTIONS.md
  .codex/PYPI_DEPLOYMENT_MONITORING_DASHBOARD.md
  .codex/SECURITY_AUDIT_FINAL.md
  .codex/agent_auth_session.json
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/pypi_workflow_monitoring_2026_07_20.md
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
  .github/workflows/pypi-publish.yml
  CHANGELOG.md
  MONITORING_SESSION_SUMMARY.md
  PYPI_DEPLOYMENT_QUICK_START_v0.3.0.md
  PYPI_DEPLOYMENT_REPORT_v0.3.0.md
  PYPI_MONITORING_INDEX.md
  README.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  mutants/src/codex/api/rag_api.py
  pyproject.toml
  scripts/ci/activate_post_merge_followup.py
  src/aries_serpent_core/api/rag_api.py
  src/aries_serpent_core/cli_secure.py
  src/aries_serpent_core/config_secure.py
  src/aries_serpent_core/db/queries_secure.py
  src/codex_ml/utils/serialization_secure.py
  tests/security/test_codeql_vulnerabilities_fixed.py
Due: validate-fences, semgrep-local

Fix conflicting metadata in cognitive_app.md rendering sidebar incorrectly (#5387)
  .codex/VALIDATION_COMPLETE_v0.3.0.md
  .codex/cognitive_app_verification_v0.3.0.py
  .codex/deployment_validation_v0.3.0.py
  .codex/functional_tests_v0.3.0.py
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/v0.3.0_DEPLOYMENT_VALIDATION_REPORT.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/cognitive_app.md
Due: validate-fences, semgrep-local

test: add comprehensive coverage for cli_rag, safety_filters, hf_trainer, and cli modules — 170+ tests
  .github/SELF_HEALING_QUICK_REFERENCE.md
  .github/workflows/reasoning-engine-monitor.yml
Due: validate-fences

docs: Add AAIS workflow compliance improvement documentation
  AAIS_EXECUTION_SUMMARY.md
Due: validate-fences

chore: Add implementation status and final verification documentation for Self-Healing CI
  .github/IMPLEMENTATION_STATUS.md
  .github/workflows/automated-monitoring-setup.yml
  .github/workflows/automated-post-deployment-verification.yml
  .github/workflows/automated-rollback-generation.yml
  .github/workflows/capacity-planner-monitor.yml
  .github/workflows/ci-pattern-healer.yml
  .github/workflows/cleanup-stale-pr-comments.yml
  .github/workflows/codex-manifest-refresh.yml
  .github/workflows/copilot-setup-validation.yml
  .github/workflows/correlation-engine-monitor.yml
  .github/workflows/coverage-ratchet.yml
  .github/workflows/d-capable-promotion-gate.yml
  .github/workflows/e-to-d-transition-gate.yml
  .github/workflows/embedding-index-rebuild.yml
  .github/workflows/ensemble-predictor-monitor.yml
  .github/workflows/import-linter.yml
  .github/workflows/ml-tests.yml
  .github/workflows/optimized-test-execution.yml
  .github/workflows/parallel-quality-checks.yml
  .github/workflows/performance-gate.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/phase-12-hourly-monitoring.yml
  .github/workflows/profile-validation.yml
  .github/workflows/quality-metrics-collection.yml
  .github/workflows/rust-ffi.yml
  .github/workflows/scaling-framework-monitor.yml
  .github/workflows/secrets-false-positive-healer.yml
  .github/workflows/security-pr-enhancement.yml
  .github/workflows/security-scan-phase-16.yml
  .github/workflows/semgrep_sarif.yml
  .github/workflows/sigstore-verify.yml
  .github/workflows/sla-optimizer-monitor.yml
  .github/workflows/unified-governance-check.yml
  .github/workflows/validate-code-examples.yml
  .github/workflows/workflow-compliance-gate.yml
  scripts/optimize_ci_caching.py
Due: validate-fences, semgrep-local

Complete AAIS workflow compliance improvement: 92.6 -> 100.0 score
  .codex/CACHE_OPTIMIZATION_METRICS.json
  .codex/CI_CACHE_OPTIMIZATION_REPORT.md
Due: validate-fences

docs: add multi-lane AAIS improvement campaign (92.6→~100/100) to accountability reports
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Complete AAIS improvement campaign: all 4 lanes deployed + accountability updated
  .codex/TASK_COMPLETION_SUMMARY.md
Due: validate-fences

Harden cognitive app post-merge deployment with automatic triggering and multi-phase validation (#5389)
  .codex/COGNITIVE_APP_HARDENED_DEPLOYMENT.md
  .codex/COGNITIVE_APP_HARDENED_DEPLOYMENT_VERIFICATION.md
  .codex/COMPREHENSIVE_IMPLEMENTATION_FINAL_REPORT.md
  .codex/DEPENDENCY_REPORT.md
  .codex/FAILURE_PATTERNS_LIBRARY.md
  .codex/IMPLEMENTATION_COMPLETE_SUMMARY.txt
  .codex/PHASE_3_4_COMPLETION_SUMMARY.md
  .codex/PHASE_3_4_INDEX.md
  .codex/PHASE_5_IMPLEMENTATION_SUMMARY.md
  .codex/TEST_FRAMEWORK_REPORT.md
  .codex/WORKFLOW_ENHANCEMENTS_REPORT.md
  .codex/tests/README.md
  .codex/tests/__init__.py
  .codex/tests/integration_tests.py
  .codex/tests/post_deploy_validation.py
  .codex/tests/pre_deploy_validation.py
  .codex/tests/regression_tests.py
  .github/workflows/cognitive-app-validate.yml
  .github/workflows/pages-health-guard.yml
  .github/workflows/pages-mkdocs.yml
  .github/workflows/pages-scheduled-validation.yml
  =12.0
  docs/deployment/cognitive_app_deployment_guide.md
  docs/deployment/cognitive_app_troubleshooting.md
  docs/deployment/dependency_management.md
  docs/deployment/maintenance_schedule.md
  scripts/ci/validate_cognitive_app_build.py
Due: validate-fences, semgrep-local

Restore cognitive app functionality with asset verification and manual deployment workflows (#5391)
  .codex/agent_auth_session.json
  .github/workflows/deploy-cognitive-app-manual.yml
  .github/workflows/rebuild-cognitive-app-assets.yml
  scripts/ci/cognitive_app_asset_manifest_verifier.py
  scripts/ci/cognitive_app_cache_invalidator.py
  scripts/ci/deployment_history_tracker.py
Due: semgrep-local

Add artifact upload and download steps for deployment
  .github/workflows/deploy-cognitive-app-manual.yml
Due: none

Refactor manifest loading and verification functions
  scripts/ci/cognitive_app_asset_manifest_verifier.py
Due: semgrep-local

Add verification step for deployed assets
  .github/workflows/rebuild-cognitive-app-assets.yml
Due: none

Update agent authentication session details
  .codex/agent_auth_session.json
Due: none

docs: add PLANSET-013 complete branch divergence remediation promptset
  .github/prompts/sprint_execution_plan/PLANSET-013-branch-divergence-remediation.md
Due: validate-fences

fix(ci): cherry-pick PR #5413 action version and marked bumps into 0D_base_ (#5414)
  .github/workflows/deploy-cognitive-app-manual.yml
  .github/workflows/rebuild-cognitive-app-assets.yml
  cognitive_app/package-lock.json
  cognitive_app/package.json
Due: none

fix(ci): exclude generated site artifacts from CodeQL to resolve stdout exhaustion (#5415)
  .codeql/codeql-config.yml
  .codex/agent_auth_session.json
  .codex/docs/COPILOT_MCP_TOOL_REFERENCE.md
  .codex/docs/MCP_GITHUB_CAPABILITIES.md
  .codex/docs/MCP_INTEGRATION_MASTER_PLAN.md
  .codex/docs/MCP_PLAYWRIGHT_CAPABILITIES.md
  .github/actions/commit-to-staging-chain/action.yml
  .github/actions/resolve-push-target/action.yml
  .github/codeql/codeql-config.yml
  .github/workflows/13-3-enterprise-compliance.yml
  .github/workflows/codeql-ga-gate.yml
  .github/workflows/deploy-cognitive-app-manual.yml
  .github/workflows/enterprise-compliance.yml
  .github/workflows/phase-12-2-compliance-check.yml
  .github/workflows/security-pr-enhancement.yml
  .github/workflows/security-scan-phase-16.yml
  .github/workflows/security-scanning-suite.yml
  CHANGELOG.md
  copilot/extension/eslint.config.js
  copilot/extension/package-lock.json
  copilot/extension/package.json
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences
