Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Restore skip list for vendor directories in S1 traversal
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Fix keyword proximity detection in secret context correlation
  scripts/security/secret_context_correlate.py
  tests/security/test_secret_context_correlate.py
Due: semgrep-local

Restore torch stub modules for optional dependency
  torch/__init__.py
  torch/nn/__init__.py
Due: semgrep-local

Update scripts/config/parse_knobs.py
  scripts/config/parse_knobs.py
Due: semgrep-local

Update noxfile.py
  noxfile.py
Due: semgrep-local

Update tests/unit/test_config_compose.py
  tests/unit/test_config_compose.py
Due: semgrep-local

Fix torch shim import behavior when PyTorch missing
  torch/__init__.py
Due: semgrep-local

Guard torch-dependent modules with availability checks
  src/codex_ml/model_registry.py
  src/codex_ml/models/decoder_only.py
  src/codex_ml/models/generate.py
  src/codex_ml/models/minilm.py
  src/codex_ml/models/reasoning.py
  src/codex_ml/models/registry.py
  src/common/torch_support.py
  src/evaluation/metrics.py
  training/data_utils.py
  training/datasets.py
  training/functional_training.py
Due: semgrep-local

Revert "Guard torch-dependent modules with availability checks"
  src/codex_ml/model_registry.py
  src/codex_ml/models/decoder_only.py
  src/codex_ml/models/generate.py
  src/codex_ml/models/minilm.py
  src/codex_ml/models/reasoning.py
  src/codex_ml/models/registry.py
  src/common/torch_support.py
  src/evaluation/metrics.py
  training/data_utils.py
  training/datasets.py
  training/functional_training.py
Due: semgrep-local

Update src/codex_ml/safety/sanitizers.py
  src/codex_ml/safety/sanitizers.py
Due: semgrep-local

Create PR review analysis file for PR #2151
  PR-2151_Review_Analysis.md
Due: validate-fences

Guard TOML parsing fallback in noxfile
  noxfile.py
Due: semgrep-local

Normalize auto-detected migration version
  src/codex_ml/cli/migrate_data.py
Due: semgrep-local

Update print statement from 'Hello' to 'Goodbye'
  codex_implement_status_update_PLAN_(2025‑11‑09).md
Due: validate-fences

Update author mention from 'codex' to 'copilot'
  codex_implement_status_update_PLAN_(2025‑11‑09).md
Due: validate-fences

Update src/codex_ml/__init__.py
  src/codex_ml/__init__.py
Due: semgrep-local

Create AST_Standardization_Requirements.md
  AST_Standardization_Requirements.md
Due: validate-fences

AST_Standardization_InstructionEnhancement.md
  AST_Standardization_InstructionEnhancement.md
Due: validate-fences

Create Phase0_RiskMitigation.md
  Phase0_RiskMitigation.md
Due: validate-fences

Rename Phase0_RiskMitigation.md to Phase0_Gap_Resolution_Guide.md
  Phase0_Gap_Resolution_Guide.md
Due: validate-fences

Add Phase 0 Executive Dashboard document
  Phase0_ExecutiveDashboard.md
Due: validate-fences

Add comprehensive research document on AST blockersAST_BLOCKERS_DEEPRESEARCH_COMPREHENSIVE.md
  AST_BLOCKERS_DEEPRESEARCH_COMPREHENSIVE.md
Due: validate-fences

Rename AGENT_CONTINUATION_PROMPT.md to docs/plans/AGENT_CONTINUATION_PROMPT.md
  docs/plans/AGENT_CONTINUATION_PROMPT.md
Due: validate-fences

Add stakeholder approval governance framework
  docs/plans/AST_PHASE0_COMPLETION_GUIDE.md
Due: validate-fences

Add temp.txt with initial content
  temp.txt
Due: none

Delete temp.txt
  temp.txt
Due: none

Update src/codex/ast/metrics.py
  src/codex/ast/metrics.py
Due: semgrep-local

Update tools/generate_status_update.py
  tools/generate_status_update.py
Due: semgrep-local

Add status update report for codex project
  reports/daily/_codex_status_update-2025-11-11.md
Due: validate-fences

Refactor tests, training loop, and logging setup
  reports/daily/_codex_status_update-2025-11-11.md
Due: validate-fences

Update tools/env_snapshot.py
  tools/env_snapshot.py
Due: semgrep-local

Update src/codex_ml/logging/registry.py
  src/codex_ml/logging/registry.py
Due: semgrep-local

Create _codex__IntentValidation_and_ActionPlan_ApprovalGate.md
  docs/plans/_codex__IntentValidation_and_ActionPlan_ApprovalGate.md
Due: validate-fences

Add files via upload
  docs/plans/confirm_complete_implementation_of_files.zip
Due: none

Document PR #2205 fixes and implementation details
  docs/plans/PR_2205_fix_gap-and-comments.md
Due: validate-fences
