Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

CAMPAIGN EXECUTION: Lane 5 documentation consolidation activated, Lane 6 queued for capacity
  .codex/RELEASE_ALERT_POLICY.md
  .github/workflows/observable-release.yml
Due: validate-fences

P0.3 Lane 2 execution complete: All offline bootstrap tasks delivered ahead of schedule
  scripts/deploy/observe_deployment.py
Due: semgrep-local

CAMPAIGN EXECUTION: Lane 3 & 6 COMPLETE - P0 manifests/CVE done, all 6 lanes now executing
  .codex/DOCUMENTATION_AUDIT_LANE5.json
  .codex/LANE_4_CHECKPOINT_P2.3_COMPLETE.md
Due: validate-fences

CAMPAIGN EXECUTION: Lane 2 COMPLETE - P0.3 Offline Bootstrap 25% ahead of schedule
  .codex/LANE_4_EXECUTION_REPORT.md
  .codex/LANE_6_CHECKPOINT_P2.2_START.md
Due: validate-fences

CAMPAIGN EXECUTION: Lane 4 COMPLETE - P1.3 SBOM + P2.3 Observability ready for production
  .codex/DOCUMENTATION_CONSOLIDATION_OPPORTUNITIES.md
  .codex/DOCUMENTATION_STRUCTURE_MAP.md
  .github/workflows/release-to-pypi.yml
  .github/workflows/smoke-tests-deployment.yml
Due: validate-fences

Phase 1 Complete: Documentation Audit & Mapping (Days 43-50) - 4 tasks finished, ready for Phase 2
  .codex/LANE_5_CHECKPOINT_P1_COMPLETE.md
  .codex/LINK_VALIDATION_REPORT_LANE5.md
  docs/deployment/DEPLOYMENT_GUIDE.md
Due: validate-fences

Lane 5: Phase 1 Audit & Mapping complete - Executive summary and Phase 2 plan prepared
  .codex/LANE_5_EXECUTIVE_SUMMARY.md
  .codex/LANE_5_PHASE2_EXECUTION_PLAN.md
  docs/deployment/ROLLBACK_CHECKLIST.md
  scripts/deploy/rollback_release.py
Due: validate-fences, semgrep-local

Lane 5: Final briefing - Phase 2 execution ready, all Phase 1 deliverables committed
  .codex/LANE_5_READY_FOR_EXECUTION.md
Due: validate-fences

CAMPAIGN EXECUTION: Lane 5 COMPLETE - P2.1 Documentation audit & mapping ready for Phase 2 consolidation
  .codex/LANE_6_CHECKPOINT_P2.2_START.md
  .github/workflows/pre-release-validation.yml
Due: validate-fences

feat(lane-6): Add quick reference guide for deployment operations (P2.2.1-5 COMPLETE)
  .codex/LANE_6_P2.2_EXECUTION_SUMMARY.md
  .codex/LANE_6_QUICK_REFERENCE.md
Due: validate-fences

docs: Phase 8.1 WS2 planning - add remediation plan, ownership matrix, and freshness system design
  .codex/PHASE_8_1_DOC_OWNERSHIP_MATRIX.md
  .codex/PHASE_8_1_UPDATE_CADENCE.md
Due: validate-fences

docs: Phase 8 WS2 acceleration to EOD + accountability/changelog updates
  .codex/PHASE_8_2_CLEANUP_STRATEGY.md
  .codex/PHASE_8_2_DIRECTORY_STANDARDS.md
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

docs: Phase 8 WS2 session consolidation handoff + track completion status dashboard
  .codex/PHASE_8_WS2_SESSION_CONSOLIDATION_HANDOFF.md
  .codex/PHASE_8_WS2_TRACK_COMPLETION_STATUS.md
Due: validate-fences

docs: Add PHASE_8_4_DEPENDENCY_STRATEGY.md (WS2 planning complete)
  .codex/PHASE_8_4_DEPENDENCY_STRATEGY.md
Due: validate-fences

docs: Phase 8 WS2 interim consolidation (3/4 tracks complete, awaiting Track 8.2)
  .codex/PHASE_8_WS2_INTERIM_CONSOLIDATION.md
Due: validate-fences

phase-8-2-ws2: Add Phase 8.2 WS3 execution schedule (PHASE_8_2_CLEANUP_PHASES.md)
  .codex/PHASE_8_2_CLEANUP_PHASES.md
Due: validate-fences

phase-8-2-ws2: Complete WS3 handoff validation summary (all 3 planning deliverables ready)
  .codex/PHASE_8_2_WS3_HANDOFF_SUMMARY.md
Due: validate-fences

docs: Phase 8 WS2 EOD completion report — all 4 tracks delivered, ready for WS3 handoff
  .codex/PHASE_8_WS2_EOD_COMPLETION_REPORT.md
Due: validate-fences

docs: Update Phase 8 WS2 consolidation handoff with next-session checkpoints and required workflows
  .codex/PHASE_8_WS2_SESSION_CONSOLIDATION_HANDOFF.md
Due: validate-fences

Enable ml-tests.yml workflow
  .github/workflows/ml-tests.yml
Due: none

metric: Approval telemetry for agent-auth-delegation
  .codex/metrics/hourly.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5263, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

fix(ci): Resolve remaining validation failures from merge commit 16e157d
  .github/agents/dependency-conflict-resolver/agent.yaml
  .github/agents/security-vulnerability-patcher/agent.yaml
  .github/agents/service-integration-tester/agent.yaml
  .github/workflow-archive/disabled/semgrep_sarif.yml
  .github/workflow-archive/disabled/test-analytics-failure-sim.yml
Due: none

fix(workflows): resolve actionlint compliance violations
  .github/workflows/ml-tests.yml
  .github/workflows/validate.yml
Due: none

fix(workflows): update dependency-submission-action v1->v3 [2/6 failures]
  .codex/workflow-monitoring/PHASE2_REMEDIATION_PROGRESS.md
  .github/workflows/dependency-submission.yml
Due: validate-fences

update(phase-2): Detailed CI failure analysis and action version fixes [2/6 failures]
  src/restore_pipeline/tests/test_restore_pipeline.py
Due: semgrep-local

fix(phase-2): All 6 CI failures resolved - 100% completion [6/6 fixed]
  .codex/workflow-monitoring/PHASE2_FINAL_REMEDIATION_SUMMARY.md
Due: validate-fences

docs(phase-2): Comprehensive emergency escalation completion report - all 6 failures resolved in 70 min
  .codex/workflow-monitoring/PHASE2_EMERGENCY_COMPLETE_FINAL_REPORT.md
Due: validate-fences

metric: Approval telemetry for workflow-execution-gate
  .codex/metrics/hourly.jsonl
Due: none

docs: Phase 12 WS5 code example validation - audit & framework complete
  .codex/API_REFERENCE_GUIDE.md
  API_AUDIT_PHASE1.json
  PHASE_12_WS5_CAMPAIGN_COMPLETION_REPORT.md
  PHASE_12_WS5_EXECUTION_PLAN.md
  PHASE_12_WS5_FAILURE_ANALYSIS.md
  docs/CODE_EXAMPLES_CI_CD_INTEGRATION.md
  docs/api/brain-api-reference.md
  docs/api/token-hierarchy.md
  docs/diagrams/governance-decision-trees.mmd
  docs/security/phase12-security-improvements.md
  docs/security/threat-model-phase12.md
Due: validate-fences

docs: phase 12 ws3 documentation quality improvements - style guide, templates, linting config
  .codex/CI_CD_INTEGRATION_GUIDE.md
  docs/CONTRIBUTING.md
  docs/README.md
Due: validate-fences

docs: add phase 12 ws3 implementation roadmap and next steps
  .codex/PHASE_12_WS3_ROADMAP.md
Due: validate-fences

docs: phase 12 ws3 documentation quality baseline - style guide, linting, templates complete
  docs/api/skills-api-reference.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
