Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

docs(phase-9-3): final Session 3 execution summary — 4/4 tracks complete, 9.77/10 avg quality, 3/4 delivered early, zero defects, 70% campaign progress target on track
  .codex/PHASE_9_3_SESSION_3_FINAL_SUMMARY.md
Due: validate-fences

docs(phase-9-3): visual execution scorecard — 4/4 tracks complete, 9.77/10 avg quality, zero defects, 75% early delivery, campaign on track for 70% progress target
  .codex/PHASE_9_3_SESSION_3_SCORECARD.md
Due: validate-fences

Refactor test_phase_10_2_memory_sync.py for clarity
  tests/unit/test_phase_10_2_memory_sync.py
Due: semgrep-local

feat: integrate resilient Rust FFI orchestrator for agent swarms
  codex_core.pyi
  local-validation.sh
  python/codex_core/__init__.pyi
  scripts/test_orchestrator.py
  src/codex_core/Cargo.toml
  src/codex_core/src/lib.rs
  validation_commands.sh
Due: semgrep-local

Harden Rust-FFI concurrency state and CodeQL validation pipelines
  python/codex_core/__init__.pyi
  scripts/test_orchestrator.py
  src/codex_core/src/lib.rs
Due: semgrep-local

Add files via upload
  .github/ISSUE_TEMPLATE/ci-failure-manual-intervention.yml
Due: none

Add files via upload
  .github/workflows/codeql-fix-verification.yml
  .github/workflows/manifest-drift-guard.yml
  .github/workflows/rust-ffi.yml
Due: none

## Operational notes
  .github/branch-protection-required-checks.md
  .github/scripts/agentic_diff_guard.py
  .github/workflows/agentic-diff-guard.yml
  .github/workflows/codeql-fix-verification.yml
  .github/workflows/premerge-triage-gate.yml
Due: validate-fences, semgrep-local

Backup copilot-setup-steps.yml file
  .github/workflows/copilot-setup-steps.yml.backup
Due: none

Add copilot setup steps workflow file
  .github/workflows/copilot-setup-steps.yml
Due: none

Update test_edge_cases_day2_batch1.py
  tests/test_edge_cases_day2_batch1.py
Due: semgrep-local

metric: Approval telemetry for agent-auth-delegation
  .codex/metrics/hourly.jsonl
Due: none

Refactor Dependabot configuration for stability
  .github/dependabot.yml
Due: none

Clarify test package in pyproject.toml
  tests/plugins/_sandbox_pkg/pyproject.toml
Due: none

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

audit: Log approval via agent-auth-delegation (PR #5233, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5234, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5236, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5247, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5250, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

Update security scan type description in workflow
  .github/workflows/security-scanning-suite.yml
Due: none

audit: Log approval via agent-auth-delegation (PR #5251, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5253, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

P0.3.3: Implement offline bootstrap tests
  .codex/LANE_1_CHECKPOINT_P0_1_COMPLETE.json
  .github/workflows/profile-validation.yml
  scripts/ci/check_profile_drift.py
  tests/offline/test_core_bootstrap.py
Due: semgrep-local

Lane 1 P0.1 Complete: Lock/Profile Alignment with SHA256 Hashes (All 4 Tasks Done)
  .codex/LANE_4_CHECKPOINT_P1.3_COMPLETE.md
  .codex/LICENSE_COMPLIANCE_POLICY.md
  .codex/RELEASE_GATE_CHECKLIST.md
  .codex/SUPPRESSION_RULES_AUDIT_REPORT.md
  scripts/ci/check_cve_drift.py
  scripts/deploy/verify_sbom.py
  scripts/generate_wheelhouses.py
Due: validate-fences, semgrep-local

CAMPAIGN EXECUTION: Lane 1 P0.1 COMPLETE - Lock & Profile Alignment finished, activating Lane 5 & 6
  .codex/LANE_3_CHECKPOINT_DAY1.md
  .codex/metrics/sbom-20260707-130601.json
  scripts/deploy/bootstrap_offline.py
  src/codex/telemetry/__init__.py
  src/codex/telemetry/metrics.py
Due: validate-fences, semgrep-local

P0.3.4-5: Wheelhouse generation & deploy verification scripts
  .codex/LANE_2_CHECKPOINT_COMPLETE.md
  scripts/deploy/bootstrap_offline.py
  scripts/generate_wheelhouses.py
Due: validate-fences, semgrep-local
