Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-fences

mypy:
  name: MyPy (Static Typing)
  entry: mypy
  language: system
  pass_filenames: true
  args:
  - --config-file=pyproject.toml

validate-fences:
  name: validate markdown code fences
  entry: python tools/validate_fences.py --strict-inner
  language: system
  pass_filenames: true
  stages:
  - commit

Enforce local MLflow tracking in auxiliary entry points
  codex_addons/metrics/collector.py
  codex_task_sequence.py
  tests/addons/test_metrics_collector_mlflow.py
  tests/test_codex_sequence_validations.py
Due: mypy

Enforce local MLflow guard for entrypoints
  codex_script.py
  sitecustomize.py
  src/codex_ml/utils/mlflow_entrypoints.py
  tests/tracking/test_mlflow_entrypoints.py
Due: mypy

feat: harden offline tracking schema and rotation
  codex_addons/metrics/collector.py
  codex_task_sequence.py
  codex_utils/mlflow_offline.py
  docs/modules/observability.md
  examples/mlflow_offline.py
  reports/observability_runbook.md
  src/codex_ml/logging/ndjson_logger.py
  src/codex_ml/logging/run_logger.py
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/monitoring/mlflow_utils.py
  src/codex_ml/monitoring/tracking.py
  src/codex_ml/tracking/init_experiment.py
  src/codex_ml/tracking/mlflow_guard.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/tracking/writers.py
  src/codex_ml/train_loop.py
  src/codex_ml/training/__init__.py
  src/codex_ml/utils/experiment_tracking_mlflow.py
  tests/tracking/test_mlflow_guard.py
  tests/tracking/test_ndjson_writer.py
Due: mypy, validate-fences

Enforce MLflow guard telemetry and summary rotation
  docs/modules/observability.md
  examples/mlflow_offline.py
  reports/observability_runbook.md
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/monitoring/tracking.py
  src/codex_ml/perf/bench.py
  src/codex_ml/tracking/mlflow_guard.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/tracking/writers.py
  src/codex_ml/utils/experiment_tracking_mlflow.py
  src/utils/trackers.py
  tests/tracking/test_mlflow_guard.py
  tests/tracking/test_mlflow_offline_cli.py
  tests/tracking/test_tracking_summary_rotation.py
  tests/tracking/test_tracking_writers_offline.py
Due: mypy, validate-fences

Capture MLflow guard decisions and rotate summaries
  docs/modules/observability.md
  examples/mlflow_offline.py
  reports/observability_runbook.md
  src/codex_ml/tracking/mlflow_guard.py
  src/codex_ml/tracking/writers.py
  tests/tracking/test_mlflow_guard.py
  tests/tracking/test_mlflow_offline_cli.py
  tests/tracking/test_tracking_summary_rotation.py
Due: mypy, validate-fences

Restore local MLflow helpers
  src/codex_ml/tracking/writers.py
Due: mypy

Restore NDJSON age rotation across restarts
  src/codex_ml/logging/ndjson_logger.py
Due: mypy

Fix MLflow guard requested URI handling
  src/codex_ml/tracking/mlflow_guard.py
  src/codex_ml/tracking/writers.py
  tests/tracking/test_tracking_writers_offline.py
Due: mypy

Align run logger timestamps with schema
  codex_ml/pipeline.py
  pyproject.toml
  src/codex_ml/logging/run_logger.py
  tests/test_cli_help_paths.py
  tokenization/cli.py
Due: mypy

Handle help for fallback tokenization CLI
  src/tokenization/cli.py
Due: mypy

Improve tracking and logging docstrings
  README.md
  src/codex_ml/logging/__init__.py
  src/codex_ml/tracking/__init__.py
  src/codex_ml/tracking/init_experiment.py
  tests/logging/test_public_api_docstrings.py
Due: mypy, validate-fences

Ensure tokenization CLI shim executes app and relax help test
  tests/test_cli_help_paths.py
  tokenization/cli.py
Due: mypy

Handle incomplete typer installations in CLI shim
  src/tokenization/cli.py
Due: mypy

Improve logging and tracking docstrings
  README.md
  src/codex_ml/logging/__init__.py
  src/codex_ml/logging/file_logger.py
  src/codex_ml/logging/run_logger.py
  src/codex_ml/tracking/__init__.py
  src/codex_ml/tracking/mlflow_utils.py
  tests/logging/test_public_docstrings.py
Due: mypy, validate-fences

Mention params and metrics in RunLogger docstring
  src/codex_ml/logging/run_logger.py
Due: mypy

feat: add codex git hooks and llm auto-fix tooling
  .codex/patches/.gitignore
  .env.example
  .github/docs/CrossRepoPatterns_Analysis.md
  .github/docs/DeepResearch_GitHooksAutoFix.md
  .github/docs/Implementation_LLMAutoFixHook.md
  .pre-commit-config.yaml
  tools/commit_msg_lint.py
  tools/llm_auto_fix.py
  tools/llm_bridge.py
  tools/prepare_commit_msg.py
  tools/prepush_tests.py
  tools/validate_patch.py
Due: mypy, validate-fences

fix: normalize llm patch responses
  .github/docs/Implementation_LLMAutoFixHook.md
  tools/llm_bridge.py
  tools/validate_patch.py
Due: mypy, validate-fences

Fix Hydra config snapshot YAML rendering
  src/codex_ml/utils/provenance.py
Due: mypy

Fix ExternalWebSearch tilde file handling
  src/codex_ml/analysis/providers.py
  tests/analysis/test_external_search.py
Due: mypy

Improve offline auditor stub reporting
  tools/offline_repo_auditor.py
Due: mypy

Fix run_sweep fallback when PyYAML missing
  scripts/run_sweep.py
Due: mypy

Harden fallback training stub in update runner
  codex_update_runner.py
Due: mypy

Harden update runner stub and publish iteration 1 audit
  codex_update_runner.py
  reports/iteration1_audit.md
Due: mypy, validate-fences

Harden task sequencing orchestration and AST upgrade fallbacks
  codex_ast_upgrade.py
  codex_task_sequence.py
Due: mypy

Implement offline connectors and deployment adapters
  codex_task_sequence.py
  src/codex_ml/cli/audit_pipeline.py
  src/codex_ml/connectors/__init__.py
  src/codex_ml/connectors/registry.py
  src/codex_ml/connectors/remote.py
  src/codex_ml/data/loaders.py
  src/codex_ml/deployment/__init__.py
  src/codex_ml/deployment/cloud.py
  tests/connectors/test_registry.py
  tests/connectors/test_remote.py
  tests/data/test_loaders.py
Due: mypy

Implement iteration 4 regression hardening
  CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  docs/modules/connectors.md
  noxfile.py
  src/codex_ml/connectors/remote.py
  src/codex_ml/deployment/cloud.py
  src/codex_ml/monitoring/health.py
  tests/connectors/test_remote.py
  tests/data/test_loaders.py
  tests/deployment/test_cloud.py
Due: mypy, validate-fences

Handle health logging failures gracefully
  src/codex_ml/monitoring/health.py
Due: mypy

Implement cost scans and regression tests for task sequencing
  codex_task_sequence.py
  tests/test_codex_best_effort.py
Due: mypy

Add post-check validation suite
  tests/tools/test_post_check_validation.py
  tools/post_check_validation.py
Due: mypy

Implement offline guards and backfill regression scaffolding
  deploy/__init__.py
  deploy/deploy_codex_pipeline.py
  docs/troubleshooting.md
  reports/POST_CHECK_VALIDATION_2025-09-27.md
  src/codex_ml/analysis/providers.py
  src/codex_ml/hf_loader.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/models/registry.py
  src/codex_ml/tokenization/hf_tokenizer.py
  src/codex_ml/tracking/writers.py
  src/codex_ml/utils/checkpointing.py
  tests/conftest.py
  tests/helpers/__init__.py
  tests/helpers/optional_dependencies.py
  tests/test_deploy_codex_pipeline.py
  tests/test_model_registry.py
  tests/test_modeling_utils.py
  tests/test_training_resume.py
  tools/codex_workflow_executor.py
  tools/post_check_validation.py
Due: mypy, validate-fences

quick update
  .github/chatmodes/template.chatmode.md
  AGENTS.md
Due: validate-fences

.
  .vscode/settings.json
Due: none

Update uv lockfile
  uv.lock
Due: none

Add codex execution plan and latest status audit
  AUDIT_PROMPT.md
  codex_status_update-2025-10-05.md
Due: validate-fences

Align audit prompt with gap-risk resolution guidance
  AUDIT_PROMPT.md
Due: validate-fences

Implement platform hardening across capabilities
  conf/config.yaml
  noxfile.py
  pyproject.toml
  src/codex_ml/data/split_utils.py
  src/codex_ml/metrics/writers.py
  src/codex_ml/models/registry.py
  src/codex_ml/monitoring/system_metrics.py
  src/codex_ml/registry/__init__.py
  tests/checkpointing/test_rng_state_checkpoint.py
  tests/cli/test_codex_cli.py
  tests/config/test_hydra_defaults.py
  tests/data/test_split_seed.py
  tests/docs/test_link_audit.py
  tests/metrics/test_writers.py
  tests/models/test_registry_dtype.py
  tests/monitoring/test_system_snapshot.py
  tests/registry/test_registry_documentation.py
  tests/security/test_offline_scans.py
  tests/test_ndjson_writer.py
  tests/tokenization/test_roundtrip.py
  tests/training/test_seed_util.py
  tests/training/test_tiny_overfit.py
  tools/docs/link_audit.py
  tools/security/offline_scans.py
  training/checkpoint_manager.py
  training/seed.py
Due: mypy

Add system metrics logging and checkpoint retention
  README.md
  configs/default.yaml
  src/codex_ml/cli/config.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/training/__init__.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/system_metrics.py
  tests/test_train_smoke.py
  tests/training/test_checkpoint_resume.py
  tests/training/test_run_functional_training_resume.py
  training/functional_training.py
Due: mypy, validate-fences

Enhance training telemetry and checkpoint retention
  src/codex_ml/cli/config.py
  src/codex_ml/training/__init__.py
  src/codex_ml/utils/checkpointing.py
  training/functional_training.py
Due: mypy

Move 2025-10-05 status update into reports directory
  reports/_codex_status_update-2025-10-05.md
Due: validate-fences

Fix epoch stored in step checkpoints
  training/functional_training.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^\\.codex/
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
