Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

fix(ci): 🔧 Critical — RAG Module Tests [bf74508] (#5502)
  .codex/ci-fixes/rag-module-tests.md
  .codex/session_startup_packet.json
Due: validate-fences

Fix hosted gh-gpgsign bundle drift and guarded unsigned fallback (#5505)
  .codex/live-security-reconciliation.json
  .codex/live-security-reconciliation.md
  .codex/session_startup_packet.json
  .github/workflows/audit-logging.yml
  .github/workflows/build-preview-image.yml
  .github/workflows/codeql-ga-gate.yml
  .github/workflows/compliance-scanner.yml
  .github/workflows/dependency-security-gate.yml
  .github/workflows/deploy-cognitive-app-manual.yml
  .github/workflows/fragile-test-guardian.yml
  .github/workflows/pages-health-guard.yml
  .github/workflows/quality-metrics-collection.yml
  .github/workflows/rebuild-cognitive-app-assets.yml
  .github/workflows/scheduled-dependency-audit.yml
  .github/workflows/security-alert-notification.yml
  .github/workflows/security-findings-copilot-handoff.yml
  .github/workflows/security-pr-enhancement.yml
  .github/workflows/security-scanning-suite.yml
  .github/workflows/unified-security-ops-suite.yml
  cognitive_app/package-lock.json
  cognitive_app/package.json
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-test.txt
  requirements.txt
  requirements/agent.txt
  requirements/base.txt
  requirements/dev.txt
  requirements/docker.txt
  requirements/extras.txt
  requirements/requirements-dev.txt
  requirements/requirements-minimal.txt
  requirements/requirements-offline.txt
  scripts/ci/aggregate_security_findings.py
  scripts/ci/dependabot_consolidator.py
  scripts/ci/reconcile_live_security.py
  tests/ci/test_dependabot_consolidator.py
  tests/ci/test_reconcile_live_security.py
Due: validate-fences, semgrep-local

Fix cognitive_app ESLint peer dependency conflict blocking Pages build (#5527)
  .codex/session_startup_packet.json
  cognitive_app/package-lock.json
  cognitive_app/package.json
Due: none

Restore workflow baseline for Copilot session startup (#5539)
  .codex/session_startup_packet.json
Due: none

Apply remaining changes (#5540)
  .codex/session_startup_packet.json
Due: none

Main 1day (#5543)
  .codex/session_startup_packet.json
Due: none

Fix Chronicle tips to resolve the active session database and personalize recommendations (#5550)
  .codex/campaign_metrics.jsonl
  .codex/session_startup_packet.json
  src/aries_serpent_core/cli.py
Due: semgrep-local

Refactor workflows and fix Chronicle DB resolution issues (#5552)
  cognitive_app/package-lock.json
  cognitive_app/package.json
  cognitive_app/src/components/code/CodeGenerator.tsx
  cognitive_app/src/components/code/__tests__/CodeGenerator.comprehensive.test.tsx
Due: none

Clarify Node 22 policy and fix Chronicle DB resolution (#5554)
  .codex/agent_auth_session.json
  .codex/session_startup_packet.json
  cognitive_app/package-lock.json
  cognitive_app/package.json
  cognitive_app/src/components/code/CodeGenerator.tsx
  cognitive_app/src/components/code/__tests__/CodeGenerator.comprehensive.test.tsx
Due: none

deps(deps-dev): update mlflow requirement from >=3.15.1 to >=3.15.2 (… (#5556)
  .codex/aftermath/pda_iterations.jsonl
  .codex/session_startup_packet.json
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/deployment/DEPLOYMENT_RUNBOOK.md
  docs/evolution/COGNITIVE_CODEBASE_MAP.md
  docs/evolution/INDEX.md
  docs/ops/SAR_METHODOLOGY.md
  requirements/dev.txt
  requirements/lock-dev.txt
  src/codex_ml/cli/tracking_cli.py
  uv.lock
Due: validate-fences, semgrep-local

Fix stale WEC workflow contract for the live PR gate (#5561)
  .codex/WEC_CANONICAL_ITEMS.md
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  .codex/campaign_metrics.jsonl
  .codex/session_startup_packet.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/agents/core/orchestrator.py
  .github/pull_request_template.md
  .github/workflows/auto-approve-workflows.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/ml-tests.yml
  .github/workflows/workflow-execution-gate.yml
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/post_rescue_comment.py
  scripts/ci/pr_description_helper.py
  scripts/ci/session_wrapup_autofix.py
  scripts/ci/validate_copilot_dependencies.py
  scripts/ci/validate_copilot_setup_steps.py
  scripts/ci/validate_setup_steps_yaml.sh
  scripts/ci/wec_enforcer.py
  scripts/cognitive/context_injector.py
  scripts/cognitive/session_checkpoint_manager.py
  services/github/__init__.py
  services/github/client.py
  src/aries_serpent_core/logging/chronicle_cost.py
  tests/cognitive/test_session_checkpoint.py
  tests/test_chronicle_cost.py
  tests/test_import_smoke.py
  validation_summary.json
Due: validate-fences, semgrep-local

Finalize PR #5559 merge conflict resolution governance
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Finalize PR #5559 changelog governance
  CHANGELOG.md
Due: validate-fences

Resolve PR #5559 merge conflict governance
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Finalize merge conflict governance for PR #5559
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Harden checkpoint storage against session path traversal (#5559)
  .codex/WEC_CANONICAL_ITEMS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/auto-approve-workflows.yml
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/pr_description_helper.py
  scripts/ci/session_wrapup_autofix.py
  scripts/ci/wec_enforcer.py
  src/codex/logging/__init__.py
  src/codex/logging/session_logger.py
Due: validate-fences, semgrep-local

Fix Dependabot validation regression and WEC gate trigger parsing (#5566)
  .codex/session_startup_packet.json
  .github/dependabot.yml
  .github/workflows/wec-enforcement-gate.yml
Due: none

Fix Dependabot config validation failure and add guardrail (#5567)
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  .codex/session_startup_packet.json
  .github/dependabot.yml
  .github/workflows/dependabot-consolidation.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/validate_dependabot_config.py
  tests/test_validate_dependabot_config.py
Due: validate-fences, semgrep-local

Delete temporary file Temp.md
  Temp.md
Due: validate-fences

0 d base (#5588)
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  .codex/agent_environment_config.yaml
  .codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  .codex/session_startup_packet.json
  .github/actions/setup-python-cached/action.yml
  .github/agents/codex_reviewer/metrics.py
  .github/workflows/audit-qa-suite.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependabot-consolidation.yml
  .github/workflows/ml-tests.yml
  .github/workflows/rust_swarm_ci.yml
  .github/workflows/status_gate.yml
  .github/workflows/template_lint.yml
  CHANGELOG.md
  configs/sitecustomize.py
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/environment_preflight.py
  sitecustomize.py
  src/aries_serpent_core/agents/brain_client.py
  src/aries_serpent_core/logging/thread_safe_session_db.py
  src/aries_serpent_core/rag/providers/gpt4all_provider.py
  src/aries_serpent_core/rag/providers/llamacpp_provider.py
  src/codex/__init__.py
  src/codex/logging/__init__.py
  src/codex/logging/structured_logger.py
  src/codex/utils/__init__.py
  src/codex_ml/callbacks/__init__.py
  src/codex_ml/utils/experiment_tracking_mlflow.py
  src/training/engine_hf_trainer.py
  src/training/trainer.py
  tests/ci/test_environment_preflight.py
  tests/training/test_trainer_phase_e.py
  utils/__init__.py
Due: validate-fences, semgrep-local

Potential fix for pull request finding 'Unused local variable'
  agents/codex_client/codex_client/bridge.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
