Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix Makefile target indentation
  Makefile
Due: none

docs(archive): consolidate archive policy guidance
  .codex/evidence/archive_ops.jsonl
  docs/arch/_archive-policy/_deprecated/v2-archiving-summary.md
  docs/arch/_archive-policy/_deprecated/v3-archiving-summary.md
  docs/arch/_archive-policy/_deprecated/v4-archiving-summary.md
  docs/arch/_archive-policy/canonical-archiving-policy.md
  docs/arch/_archive-policy/index.md
  docs/policies/archive-policy.md
  docs/policies/branch-protection-checklist.md
Due: validate-fences

docs(archive): record consolidation PR plan
  docs/arch/_archive-policy/archive-policy-pr-plan.md
  docs/arch/_archive-policy/index.md
Due: validate-fences

docs(archive): normalize archive plan whitespace
  docs/arch/_archive-policy/archive-policy-pr-plan.md
Due: validate-fences

docs(reports): add archive policy merge summary
  .codex/evidence/archive_ops.jsonl
  .codex/reports/merge_summary_archive_policy_20251024.txt
  .secrets.baseline
Due: none

chore: refresh secrets baseline for archive log
  .secrets.baseline
Due: none

Fix metric step resolution and SBOM version comparison
  monitoring/system_metrics.py
  scripts/sbom_cyclonedx.py
Due: semgrep-local

docs: add compatibility stubs for relocated docs
  .codex/evidence/file_migration_20251024.jsonl
  .codex/reports/file_migration_summary_20251024.txt
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  config/Makefile
  config/codex.mk
  config/pytest.ini
  config/tox.ini
  deploy/interactive_entrypoint.sh
  deploy/setup_universal.sh
  docs/CHANGELOG.md
  docs/Usage_Guide.md
  docs/arch/_archive-policy/archive-policy-pr-plan.md
  docs/arch/adr-2025-10-17-root-docs-cleanup.md
  docs/dev/CONTRIBUTING.md
  docs/governance/CONTRIBUTING.md
  docs/guides/CODE_STYLE_GUIDE.md
  docs/guides/LOGGING.md
  docs/policies/LFS_POLICY.md
  docs/suggested_tasks/remediation_phase1_task_queue_2025-09-17.md
  docs/validation/Usage_Guide.md
  scripts/audit_runner.py
  scripts/codex_patch_runner.py
  scripts/codex_ready_task_runner.py
  scripts/codex_script.py
  scripts/codex_update_runner.py
  scripts/codex_workflow.py
  scripts/deep_research_task_process.py
  scripts/run_codex_tasks.py
  scripts/space_traversal/detectors/documentation_system.py
  src/codex/versioning.py
  src/tools/archive_pr_checklist.py
  tests/archive/test_archive_hygiene.py
  tests/ops/test_archive_pr_checklist.py
  tools/codex_agents_workflow.py
  tools/codex_exec.py
  tools/codex_patch_session_logging.py
  tools/codex_task_runner.py
  tools/validate_fences.py
Due: validate-fences, semgrep-local

Create OpenQuestions-UPDATED-ArchiveConsolidation.md
  .github/docs/OpenQuestions-UPDATED-ArchiveConsolidation.md
Due: validate-fences

Fix split_indices fractional split validation
  src/codex_ml/data/loaders.py
Due: semgrep-local

fix: point workflow executor to config makefile
  tools/codex_workflow_executor.py
Due: semgrep-local

feat(audit): add coverage gate validation tooling
  .codex/evidence/audit_fixes_phase1.jsonl
  analysis/tests_docs_links_audit.py
  scripts/audit_runner.py
  scripts/validate_coverage_gates.py
Due: semgrep-local

feat: refresh phase1 audits and optional dependency guards
  .codex/evidence/audit_fixes_phase1.jsonl
  .codex/evidence/optional_deps_phase1.jsonl
  .github/workflows/ci.yml.disabled
  .github/workflows/sbom.yml
  README.md
  config/Makefile
  docs/governance/CONTRIBUTING.md
  requirements-dev.txt
  scripts/validate_coverage_gates.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/tracking/writers.py
  src/codex_ml/utils/logging_wandb.py
  src/codex_ml/utils/optional_dependencies.py
  tests/test_wandb_shim.py
  tools/apply_ci_precommit.py
  tools/codex_agents_workflow.py
  tools/codex_src_consolidation.py
  tools/pytest_repair.py
  tools/status/status_update_executor.py
Due: validate-fences, semgrep-local

feat(audit): refine coverage validation and optional deps
  .codex/evidence/audit_fixes_phase1.jsonl
  .codex/evidence/optional_deps_phase1.jsonl
  .github/workflows/sbom.yml
  README.md
  analysis/tests_docs_links_audit.py
  config/Makefile
  config/artifacts/sbom/packages.txt
  docs/governance/CONTRIBUTING.md
  noxfile.py
  requirements-dev.txt
  scripts/validate_coverage_gates.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/utils/logging_wandb.py
  src/codex_ml/utils/optional.py
  src/experiments/manager.py
  src/logging_utils.py
Due: validate-fences, semgrep-local

fix: restore mlflow runtime error and install nox for sbom
  .github/workflows/sbom.yml
  src/codex_ml/tracking/mlflow_utils.py
Due: semgrep-local

Fix wandb fallback logging dependencies
  src/codex_ml/utils/logging_wandb.py
Due: semgrep-local

feat(audit): update paths and add coverage documentation
  .codex/evidence/phase1_audit_fixes.jsonl
  .codex/evidence/phase1_complete.jsonl
  .codex/evidence/phase1_coverage_validation.jsonl
  .codex/evidence/phase1_optional_deps.jsonl
  .codex/evidence/phase1_sbom_integration.jsonl
  .github/workflows/sbom.yml
  analysis/tests_docs_links_audit.py
  docs/guides/TESTING_GUIDE.md
  scripts/space_traversal/detectors/documentation_system.py
  tests/analysis/test_docs_links_audit.py
  tools/codex_logging_workflow.py
Due: validate-fences, semgrep-local

Ensure docker requirements directory and update pip-audit
  .pre-commit-hybrid.yaml
  Dockerfile
Due: none

Fix fractional split rounding overflow
  src/codex_ml/data/loaders.py
  tests/test_split_indices.py
Due: semgrep-local

chore(config): migrate noxfile into config and refresh docs
  .codex/evidence/phase3_complete.jsonl
  .codex/evidence/phase3_noxfile_moved.jsonl
  .codex/evidence/phase3_noxfile_references.jsonl
  .codex/evidence/phase3_summary.md
  CHANGELOG_CODEX.md
  ERROR_LOG.md
  README.md
  analysis/tests_docs_links_audit.py
  codex_addons/metrics/collector.py
  config/noxfile.py
  docs/governance/CONTRIBUTING.md
  docs/prompts/custom_gpt_self_healing_engineer.md
  docs/status_update_outstanding_questions.md
  docs/suggested_tasks/remediation_phase1_task_queue_2025-09-17.md
  docs/suggested_tasks/remediation_plan_status_update_2025-09-17.md
  docs/suggested_tasks/status_update_2025-09-17.md
  docs/validation/CODEBASE_Status_Audit_2025-10-14.md
  scripts/codex_offline_audit.py
  scripts/repo_audit.py
  scripts/run_codex_tasks.py
  scripts/space_traversal/detectors/ci_cd_pipeline.py
  scripts/validate_coverage_gates.py
  tools/apply_branchA_all.py
  tools/offline_repo_auditor.py
  tools/post_check_validation.py
  tools/pytest_repair.py
  tools/status/status_update_executor.py
Due: validate-fences, semgrep-local

fix: reference relocated noxfile
  config/Makefile
  config/codex.mk
  scripts/codex_local_gates.sh
Due: none

fix: restore tabs for config recipes
  config/Makefile
  config/codex.mk
Due: none

Fix config makefile noxfile path
  config/Makefile
Due: none

Fix config noxfile path resolution
  config/Makefile
  config/codex.mk
Due: none

Ensure nox sessions install config dependencies
  .codex/evidence/phase4_ci_cd_strategy.jsonl
  .codex/evidence/phase4_complete.jsonl
  .codex/evidence/phase4_dependencies_audit.jsonl
  .codex/evidence/phase4_docker_hardened.jsonl
  .codex/evidence/phase4_docs_refreshed.jsonl
  .codex/evidence/phase4_hydra_check.jsonl
  Dockerfile
  Dockerfile.gpu
  README.md
  config/noxfile.py
  docker-compose.yml
  docs/ci_cd_strategy.md
  docs/docker_guide.md
  docs/docker_hardening.md
  docs/guides/TESTING_GUIDE.md
  docs/offline_testing.md
  docs/optional_dependencies.md
  docs/phase4_changes.md
  docs/quickstart.md
  pyproject.toml
Due: validate-fences, semgrep-local

Fix GPU Dockerfile to create runtime venv
  Dockerfile.gpu
Due: none

Ensure GPU image includes Python runtime
  Dockerfile.gpu
Due: none

fix: improve secret redaction coverage
  .codex/evidence/phase5_cloud_deployment.jsonl
  .codex/evidence/phase5_complete.jsonl
  .codex/evidence/phase5_health_dashboards.jsonl
  .codex/evidence/phase5_perf_profiling.jsonl
  .codex/evidence/phase5_privacy_safety.jsonl
  .codex/evidence/phase5_prometheus_metrics.jsonl
  .codex/evidence/phase5_structured_logging.jsonl
  docs/deployment/aws_sagemaker.md
  docs/deployment/azure_ml.md
  docs/deployment/gcp_vertex.md
  docs/deployment/health_probes.md
  docs/deployment/kubernetes.md
  docs/deployment/tls_mtls.md
  docs/monitoring/prometheus_setup.md
  docs/monitoring/session_tracking.md
  docs/profiling/benchmarking.md
  docs/safety/differential_privacy.md
  src/codex_ml/cli/train.py
  src/codex_ml/codex_structured_logging.py
  src/codex_ml/logging/__init__.py
  src/codex_ml/logging/session_logger.py
  src/codex_ml/monitoring/__init__.py
  src/codex_ml/monitoring/health.py
  src/codex_ml/monitoring/metrics_export.py
  src/codex_ml/monitoring/prometheus_metrics.py
  src/codex_ml/perf/__init__.py
  src/codex_ml/perf/profiler.py
  src/codex_ml/safety/__init__.py
  src/codex_ml/safety/redaction.py
  src/codex_ml/train_loop.py
  src/codex_ml/training/__init__.py
  src/codex_ml/training/dp_config.py
  tests/logging/test_session_logger_structured.py
  tests/monitoring/test_metrics_export_helpers.py
  tests/monitoring/test_prometheus_metrics_registry.py
  tests/perf/test_performance_profiler.py
  tests/safety/test_secret_redactor.py
Due: validate-fences, semgrep-local

Create comprehensive Codex execution prompt for repository structure consolidation
  docs/CODEX_STRUCTURE_CONSOLIDATION_PROMPT.md
Due: validate-fences

Handle session logger init failures
  src/codex_ml/codex_structured_logging.py
Due: semgrep-local

Handle missing Opacus in dict DP config
  src/codex_ml/train_loop.py
Due: semgrep-local

Create Phase 1 Setup Requirements document
  docs/PHASE1_SETUP_REQUIREMENTS.md
Due: validate-fences

Fix configs package mapping
  pyproject.toml
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
