Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-fences

Path conditions:
  mypy: any of: \.py$, but not: ^\\.codex/
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)

Restore click CLI entrypoint
  src/codex_ml/cli/__init__.py
Due: mypy

P1.2: add checkpointing compat shim forwarding to checkpoint_core with deprecation
  docs/modules/observability.md
  src/codex_ml/__main__.py
  src/codex_ml/checkpointing/compat.py
  src/codex_ml/metrics/api.py
  src/codex_ml/tokenization/compat.py
  tests/checkpointing/test_checkpointing_compat.py
  tests/tokenization/test_tokenization_compat.py
Due: mypy, validate-fences

Add files via upload
  todo_resolution_plans_10-6_to_10-7.txt
Due: none

P2.3B: cross-link docs (observability, metrics) and add README quick links
  README.md
  artifacts/docs_link_audit/links.json
  docs/checkpoint_schema_v2.md
  docs/cli.md
  docs/data_determinism.md
  docs/detectors.md
  docs/index.md
  docs/manifest_integrity.md
  docs/modules/metrics.md
  docs/modules/observability.md
  docs/ops.md
  docs/performance.md
  docs/quality_gates.md
  docs/releasing.md
  docs/safety_api.md
  docs/tests_overview.md
  docs/tokenization_api.md
Due: validate-fences

Delete artifacts/docs_link_audit/links.json
  artifacts/docs_link_audit/links.json
Due: none

P3: add manifest CLI and schema v2 helpers
  README.md
  src/codex_ml/checkpointing/schema_v2.py
  src/codex_ml/cli/manifest.py
  tests/checkpointing/test_schema_v2_basic.py
  tests/checkpointing/test_schema_v2_upgrade.py
  tests/cli/test_cli_manifest.py
  tests/cli/test_cli_manifest_init.py
  tests/cli/test_cli_manifest_validate.py
  tests/conftest.py
Due: mypy, validate-fences

P4.3D: detectors(aggregate): add scorecard aggregator with weighted mean and JSON dump
  src/codex_ml/detectors/__init__.py
  src/codex_ml/detectors/aggregate.py
  src/codex_ml/detectors/core.py
  src/codex_ml/detectors/unified_training.py
  tests/detectors/test_aggregate.py
  tests/detectors/test_core.py
  tests/detectors/test_unified_training.py
Due: mypy

Ensure manifest CLI rejects wrong schema
  src/codex_ml/cli/manifest.py
  tests/cli/test_cli_manifest_validate.py
Due: mypy

P4.6D: tests(detectors): add integration test for run_detectors + aggregate
  docs/cli.md
  docs/detectors.md
  src/codex_ml/cli/__init__.py
  src/codex_ml/cli/detectors.py
  tests/cli/test_cli_detectors.py
  tests/detectors/test_integration_card.py
Due: mypy, validate-fences

Add CLI entry, tooling docs, and archive completed resolution plans
  docs/incident_runbook.md
  docs/index.md
  docs/manifest_integrity.md
  docs/ndjson_summary.md
  docs/ops.md
  docs/resume_cookbook.md
  done_resolution_plans_10-6_to_10-7.md
  src/codex_ml/logging/ndjson_logger.py
  src/codex_ml/main.py
  todo_resolution_plans_10-6_to_10-7.txt
  tools/bench_tokenizer.py
  tools/bench_unified_training.py
  tools/check_imports.py
  tools/validate_checkpoint.py
Due: mypy, validate-fences

Fix codex_ml.main forwarding to CLI
  src/codex_ml/main.py
Due: mypy

P4.fix.3: cli(__init__): remove inert Typer app registration (use dotted Typer modules)
  docs/cli.md
  docs/detectors.md
  src/codex_ml/cli/__init__.py
  tests/typer_cli/__init__.py
  tests/typer_cli/test_detectors_cli.py
Due: mypy, validate-fences

Add CLI guard utilities and expand checkpoint/training tests
  done_resolution_plans_10-6_to_10-7.md
  src/codex_ml/cli/checkpoint_validate.py
  src/codex_ml/cli/tracking_decide.py
  tests/checkpointing/test_checkpoint_core_io.py
  tests/checkpointing/test_checkpoint_schema_and_compat.py
  tests/checkpointing/test_meta_schema.py
  tests/checkpointing/test_resume_optimizer_rng_equivalence.py
  tests/checkpointing/test_retention_and_digest.py
  tests/checkpointing/test_rng_state_roundtrip.py
  tests/cli/test_cli_checkpoint_validate.py
  tests/cli/test_cli_tracking_decide.py
  tests/tokenization/test_tokenization_api_and_deprecation.py
  tests/tracking/test_tracking_ndjson_summary.py
  tests/training/test_cuda_determinism_guard.py
  tests/training/test_mid_epoch_naming.py
  tests/training/test_mid_epoch_resume_equivalence.py
  tests/training/test_scheduler_amp_resume_parity.py
  tests/training/test_unified_training_parity_and_resume.py
  todo_resolution_plans_10-6_to_10-7.txt
Due: mypy, validate-fences

Fix manifest CLI imports and solidify detector core helpers
  src/codex_ml/cli/manifest.py
  src/codex_ml/detectors/core.py
Due: mypy

Link alias docs to canonical guides
  docs/safety_api.md
  docs/tokenization_api.md
Due: validate-fences

Fix checkpoint schema helpers
  src/codex_ml/checkpointing/schema_v2.py
Due: mypy

Fix NDJSON CLI docs and checkpoint validator
  docs/modules/observability.md
  docs/ndjson_summary.md
  tools/validate_checkpoint.py
Due: mypy, validate-fences

Refine CLI entrypoints and bootstrap manifest tooling
  docs/checkpoint_schema_v2.md
  docs/cli.md
  docs/data_determinism.md
  docs/detectors.md
  docs/incident_runbook.md
  docs/index.md
  docs/manifest_integrity.md
  docs/ops.md
  docs/performance.md
  docs/quality_gates.md
  docs/releasing.md
  docs/resume_cookbook.md
  docs/safety_api.md
  docs/tests_overview.md
  docs/tokenization_api.md
  src/codex_ml/__main__.py
  src/codex_ml/checkpointing/compat.py
  src/codex_ml/checkpointing/schema_v2.py
  src/codex_ml/cli/detectors.py
  src/codex_ml/cli/main.py
  src/codex_ml/cli/manifest.py
  src/codex_ml/detectors/__init__.py
  src/codex_ml/detectors/aggregate.py
  src/codex_ml/detectors/core.py
  src/codex_ml/detectors/unified_training.py
  src/codex_ml/metrics/api.py
  src/codex_ml/monitoring/mlflow_utils.py
  src/codex_ml/tokenization/compat.py
  tests/checkpointing/test_schema_v2_basic.py
  tests/checkpointing/test_schema_v2_upgrade.py
  tests/detectors/test_aggregate.py
  tests/detectors/test_core.py
  tests/detectors/test_integration_card.py
  tests/detectors/test_unified_training.py
  tests/typer_cli/test_detectors_cli.py
  tools/check_imports.py
Due: mypy, validate-fences

Apply Δ1–Δ4 (URI canonicalization, NDJSON CLI, atomic writes, repro docs)
  docs/index.md
  docs/repro_guidance.md
  src/codex_ml/checkpointing/schema_v2.py
  src/codex_ml/cli/__init__.py
  src/codex_ml/cli/ndjson_summary.py
  src/codex_ml/io/atomic.py
  src/codex_ml/tracking/guards.py
  tests/checkpointing/test_atomic_write.py
  tests/cli/test_cli_ndjson_summary.py
  tests/tracking/test_mlflow_guard.py
  tests/tracking/test_tracking_guards.py
Due: mypy, validate-fences

feat: improve offline tracking and ndjson tooling
  codex_ml/__main__.py
  codex_ml/_package_main.py
  docs/cli.md
  docs/ndjson_summary.md
  docs/repro_guidance.md
  sitecustomize.py
  src/codex_ml/__main__.py
  src/codex_ml/_package_main.py
  src/codex_ml/callbacks/__init__.py
  src/codex_ml/callbacks/base.py
  src/codex_ml/callbacks/ndjson_logger.py
  src/codex_ml/cli/ndjson_summary.py
  src/codex_ml/data/datamodule.py
  src/codex_ml/metrics.py
  src/codex_ml/tracking/guards.py
  src/codex_ml/tracking/init_offline.py
  src/codex_ml/training/unified_training.py
  tests/callbacks/test_ndjson_logger.py
  tests/checkpointing/test_schema_v2_jcs_numbers.py
  tests/data/test_datamodule_determinism.py
  tests/monitoring/test_mlflow_monitoring_utils.py
  tests/monitoring/test_monitoring_mlflow_utils.py
  tests/test_mlflow_utils.py
  tests/tools/test_cli_ndjson_summary.py
  tests/tracking/test_mlflow_guard.py
  tests/tracking/test_noop_logger.py
  tests/tracking/test_offline_helpers.py
  tools/apply_branchA_all.py
Due: mypy, validate-fences

Harden checkpoint JSON and add NDJSON property tests
  docs/integrity_and_uris.md
  pyproject.toml
  sitecustomize.py
  src/codex_ml/callbacks/__init__.py
  src/codex_ml/checkpointing/schema_v2.py
  src/codex_ml/io/atomic.py
  tests/checkpointing/test_canonical_json.py
  tests/conftest.py
  tests/tools/test_cli_ndjson_summary_prop.py
Due: mypy, validate-fences

Add Hydra defaults and offline tracking bootstrap
  configs/data/tiny.yaml
  configs/defaults.yaml
  configs/model/toy.yaml
  configs/tracking/offline.yaml
  configs/train/small.yaml
  docs/hydra_quickstart.md
  docs/tracking_offline_bootstrap.md
  src/codex_ml/cli/__init__.py
  src/codex_ml/cli/hydra_entry.py
  src/codex_ml/cli/offline_bootstrap.py
  tests/cli/test_cli_offline_bootstrap.py
  tests/config/test_hydra_defaults_tree.py
  torch/__init__.py
Due: mypy, validate-fences

Implement atomic checkpoint writes and offline guard
  docs/checkpoint_integrity.md
  docs/tracking_offline_bootstrap.md
  src/codex_ml/checkpointing/atomic_io.py
  src/codex_ml/cli/hydra_entry.py
  src/codex_ml/cli/offline_bootstrap.py
  src/codex_ml/tracking/guards.py
  src/codex_ml/utils/checkpoint_core.py
  tests/checkpointing/test_atomic_io.py
  tests/cli/test_cli_hydra_entry_smoke.py
  tests/tracking/test_guards_offline_matrix.py
  tools/prepush_tests.py
Due: mypy, validate-fences

Add offline tracking CLI and defaults
  configs/defaults.yaml
  configs/sweeps/basics.yaml
  docs/index.md
  docs/tracking_offline.md
  pyproject.toml
  src/codex_ml/cli/offline_bootstrap.py
  src/codex_ml/tracking/offline.py
  tests/configs/test_defaults_exist_and_load.py
  tests/tracking/test_offline_bootstrap_cli.py
Due: mypy, validate-fences

Avoid buffering checkpoint payloads before atomic write
  src/codex_ml/utils/checkpoint_core.py
Due: mypy

Improve offline safety and retention tooling
  docs/hydra_defaults_and_sweeps.md
  docs/index.md
  docs/tracking_offline.md
  noxfile.py
  pyproject.toml
  src/codex_ml/cli/offline_bootstrap.py
  src/codex_ml/tracking/guards.py
  src/codex_ml/training/unified_training.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/checkpoint_retention.py
  tests/checkpointing/test_retention_local.py
  tests/tracking/test_file_uri_normalization.py
  tests/tracking/test_tracking_guards.py
  uv.lock
Due: mypy, validate-fences

sec(semgrep): add local Python security rules; optional pre-commit hook
  .pre-commit-config.yaml
  docs/explanations/docs_architecture_diataxis.md
  docs/how-to/metrics_ingestion.md
  docs/index.md
  docs/reference/metrics_cli.md
  semgrep_rules/python-security.yaml
  src/codex_ml/cli/__init__.py
  src/codex_ml/cli/metrics_cli.py
  tests/cli/test_metrics_ingest.py
Due: mypy, validate-fences

Add offline bootstrap run adapter for CLI
  src/codex_ml/cli/offline_bootstrap.py
Due: mypy

Emit JSON from offline bootstrap CLI adapter
  src/codex_ml/cli/offline_bootstrap.py
Due: mypy

Treat non-local MLflow URIs as remote
  src/codex_ml/tracking/guards.py
Due: mypy

feat(cli): harden metrics ingest (safe table names, chunked SQLite, DuckDB modes, optional index)
  README.md
  docs/how-to/metrics_db.md
  docs/reference/metrics_cli.md
  src/codex_ml/cli/metrics_cli.py
  tests/cli/test_metrics_store_duckdb_modes.py
  tests/cli/test_metrics_store_sqlite_chunked.py
  tests/cli/test_metrics_table_name_validation.py
Due: mypy, validate-fences

Fail ingest when DuckDB dependency is missing
  src/codex_ml/cli/metrics_cli.py
  tests/cli/test_metrics_cli_duckdb_missing_dependency.py
Due: mypy

Handle fractional epoch values in SQLite ingest
  src/codex_ml/cli/metrics_cli.py
  tests/cli/test_metrics_store_sqlite_chunked.py
Due: mypy

docs: wire hydra audit + offline tracking pages into docs index
  docs/index.md
  docs/ops/experiment_tracking.md
  docs/ops/hydra_defaults_audit.md
  docs/tracking_offline.md
  docs/tracking_offline_bootstrap.md
  src/codex_ml/cli/__init__.py
  src/codex_ml/cli/hydra_audit.py
  src/codex_ml/cli/offline_bootstrap.py
  tests/cli/test_cli_offline_bootstrap.py
  tests/cli/test_hydra_audit.py
  tests/cli/test_offline_bootstrap.py
  tests/tracking/test_offline_bootstrap_cli.py
Due: mypy, validate-fences

Fix duckdb CSV ingestion quoting
  src/codex_ml/cli/metrics_cli.py
Due: mypy

chore(gates): include metrics validate CLI test in fast suite (non-fatal)
  docs/how-to/metrics_validate_tail_badge.md
  docs/index.md
  schemas/metrics.ndjson.schema.json
  src/codex_ml/cli/metrics_cli.py
  tests/cli/test_metrics_validate_tail_badge.py
  tools/prepush_tests.py
Due: mypy, validate-fences
