Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

3513/merge (#3549)
  .codex/agent_auth_session.json
Due: none

fix(tests): add CODEX_SESSION_LOG_DIR monkeypatch to session logging tests (#3551)
  tests/test_session_logging.py
Due: semgrep-local

fix(review): address all unresolved PR review comments + fix CI failures + resolve issues #3532 and #3545 (#3550)
  .codex/agent_auth_session.json
  .secrets.baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/ROADMAP.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  tests/features/test_feature_store.py
  tests/test_hf_loader_peft_guard.py
  tests/test_session_logging.py
Due: validate-fences, semgrep-local

Merge pull request #3556 from Aries-Serpent/copilot/sub-pr-3554
  .github/agents/unified-coverage-agent.md
  .github/agents/workflow-health-monitor.deprecated.md
Due: validate-fences

chore(deps): bump tornado 6.5.4→6.5.5 + regenerate manifest (session 11) (#3555)
  .codex/agent_auth_session.json
  .codex/test_failures_analysis.md
  .github/agents/unified-coverage-agent.md
  .github/agents/workflow-health-monitor.deprecated.md
  .github/workflows/ci-health-monitor.yml
  .secrets.baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  requirements/lock.txt
  tests/test_modeling_utils.py
Due: validate-fences, semgrep-local

fix: cherry-pick sub-pr-3554 — agent resolution, clean_env leak, HF mocking, checkpoint RNG, RAG cache assertions (#3561)
  .codex/CUSTOM_AGENT_CONSOLIDATION_REPORT.md
  .codex/agent_auth_session.json
  .github/agents/config-validator.agent.md
  .github/agents/owner-approval-guard.agent.md
  .github/agents/unified-coverage-agent.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/monitoring/agent_orchestrator.py
  tests/codex/config/test_env_vars.py
  tests/rag/test_rag_caching_system.py
  tests/test_checkpoint_roundtrip.py
  tests/test_model_loader.py
  tests/test_modeling_utils.py
  tests/utils/test_modeling.py
Due: validate-fences, semgrep-local

fix(ci): venv patch-version cache healing + pre-flight compliance for multipart 1.3.0→1.3.1 bump (#3564)
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

fix(ci): resolve 4 sharded-quick test failures + prevent copilot-setup-steps git editor hang + base branch ref promotion (#3562)
  .codex/sessions/session_011f9178-1fa9-47e7-8b1f-c09af946aa88.jsonl
  .codex/sessions/session_305e5d4e-c738-4c9d-b2c5-97d32a72ba1d.jsonl
  .codex/sessions/session_45b28599-b325-447d-8834-b34e631d8136.jsonl
  .codex/sessions/session_dd754e73-f7fb-4066-bded-c4767b05346a.jsonl
  .codex/sessions/session_e28499b7-44db-49bd-8745-c1f5635991a2.jsonl
  .github/actions/setup-python-cached/action.yml
  .github/copilot-prompts/active/PR-3563-followup.md
  .github/workflows/copilot-setup-steps.yml
  CHANGELOG.md
  docs/ROADMAP.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  requirements/lock.txt
  src/codex_ml/cli/metrics_cli.py
  src/codex_ml/codex_structured_logging.py
  src/codex_ml/eval/metrics.py
  tests/production/test_performance_benchmarks.py
Due: validate-fences, semgrep-local

chore(auth): write provenance session token [skip ci] (#3568)
  .codex/agent_auth_session.json
Due: none

Add .venv_agent to .gitignore
  .gitignore
Due: none

fix: BrokenPipeError in setup-agent-env + PyJWT 2.12.1 (CVE-2026-32597) + gitignore/.venv_agent + docs_lint nav scoping (#3576)
  .github/actions/setup-agent-env/action.yml
  .github/copilot-prompts/active/PR-3576-followup.md
  .gitignore
  pyproject.toml
  requirements/agent.txt
  requirements/lock.txt
  scripts/ci/docs_lint.py
Due: validate-fences, semgrep-local

ci(s41): mypy anti-regression baseline, actionlint SC2129 fix, OBJ-004, REQ-4/5 auto-commit fix (#3580)
  .codex/agent_auth_session.json
  .codex/agent_context.json
  .github/workflows/agent-auth-delegation.yml
  .github/workflows/codex-manifest-refresh.yml
  .github/workflows/mypy-baseline.yml
  .mypy_baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/mypy_baseline.py
  src/codex/cognitive/okr_tracker.py
Due: validate-fences, semgrep-local

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Fix CI failures + apply 12 dependabot bumps (PRs #3589–#3600) + REQ-4 accountability compliance (#3588)
  .github/workflows/build-preview-image.yml
  .github/workflows/har-capture.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/ROADMAP.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  requirements-ml-cpu.txt
  requirements/base.txt
  requirements/lock-ml.txt
  requirements/lock.txt
  src/codex/retrieval/stores/faiss_store.py
  src/codex_ml/__init__.py
  src/utils/trackers.py
  tests/conftest.py
  tests/retrieval/test_faiss_store_enhanced.py
  tests/retrieval/test_vector_performance.py
  tests/retrieval/test_vector_store_interface.py
  tests/test_db_manager_critical.py
Due: validate-fences, semgrep-local

fix: CI failures + resolve 8 unresolved reviewer comments (S148/S149) (#3619)
  .codex/agent_auth_session.json
  .codex/session_context_latest.md
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/ROADMAP.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/check_deferral_language.py
  scripts/ci/collect_telemetry.py
  scripts/run_validation.sh
  tests/codex_ml/test_tokenization_adapters.py
  tests/codex_plans/test_contracts.py
  tests/test_cli_train_engine.py
Due: validate-fences, semgrep-local

fix: doc freshness year pattern, dependabot absorb push + target_branch, over-permissive test assertion (#3618)
  .codex/agent_auth_session.json
  .codex/session_context_latest.md
  .github/workflows/dependabot-auto-absorb.yml
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/ROADMAP.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/check_deferral_language.py
  scripts/ci/collect_telemetry.py
  scripts/ci/update_doc_freshness.py
  scripts/run_validation.sh
  tests/codex_ml/test_tokenization_adapters.py
  tests/codex_plans/test_contracts.py
  tests/test_cli_train_engine.py
Due: validate-fences, semgrep-local

fix: sentencepiece stub detection in adapter + typer CLI skip guards for Hydra-path tests (#3621)
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  src/codex_ml/tokenization/sentencepiece_adapter.py
  tests/config/test_override_propagation.py
  tests/test_codexml_cli.py
Due: validate-fences, semgrep-local

Potential fix for pull request finding
  .codex/session_context_latest.md
Due: validate-fences

fix: resolve ruff I001, Art_Validation pattern-15 false positive, and 12 code quality issues (#3620)
  .codex/agent_auth_session.json
  .codex/session_context_latest.md
  .github/workflows/dependabot-auto-absorb.yml
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/auto_fix_common_issues.py
  scripts/ci/pr_comment_consolidator.py
  scripts/ci/session_bootstrap.py
  scripts/space_traversal/trend_aggregator.py
  src/codex_ml/tokenization/sentencepiece_adapter.py
  tests/ci/test_session_bootstrap.py
  tests/config/test_override_propagation.py
  tests/test_cli_train_engine.py
  tests/test_codexml_cli.py
Due: validate-fences, semgrep-local

fix: 8 code quality issues, CI test failures, REQ-10 divergence, and security alert for merge readiness (#3624)
  .codex/agent_context.json
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/admin/GITHUB_VARIABLES_MASTER_GUIDE.md
  docs/admin/variable_audit_latest.md
  tests/archive/test_retry.py
  tests/config/test_override_propagation.py
  tests/github/test_mcp_poster.py
  tests/test_codexml_cli.py
Due: validate-fences, semgrep-local

fix(S150): collect_telemetry --classify-run, dependency-submission keywords, code review fixes, doc accuracy corrections (#3626)
  .codex/agent_auth_session.json
  .codex/docs/RCA_UNKNOWN_PATTERN_S150.md
  .codex/session_context_latest.md
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/system/CODEBASE_DASHBOARD.md
  scripts/ci/check_deferral_language.py
  scripts/ci/collect_telemetry.py
  scripts/ci/pr_comment_consolidator.py
  tests/ci/test_telemetry_collection.py
Due: validate-fences, semgrep-local

Change default timeout for Copilot sessions
  .github/workflows/copilot-setup-steps.yml
Due: none

Set Copilot session timeout to 59 minutes
  .github/workflows/copilot-setup-steps.yml
Due: none

Update Copilot setup steps by removing timeout info
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor workflow conditions and output messages
  .github/workflows/iterative-self-healing-ci.yml
Due: none

Delete .github/workflows/copilot-session-chain.yml
  .github/workflows/copilot-session-chain.yml
Due: none

Update Copilot setup steps by removing timeout info (#3632)
  .github/copilot-prompts/active/PR-3632-followup.md
  .github/workflows/copilot-session-chain.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/iterative-self-healing-ci.yml
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Potential fix for pull request finding
  .codex/sessions/S154_aftermath.md
Due: validate-fences

Potential fix for pull request finding
  scripts/ci/prevent_sync_commit_conflict.py
Due: semgrep-local

Potential fix for pull request finding
  .github/workflows/resilient_validation.yml
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
