Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix tuple isinstance check in API logits extractor
  services/api/main.py
Due: semgrep-local

Enhance serving safeguards and audit tooling
  README.md
  codex_ml/tracking/writers.py
  docs/guides/serving_reproducibility.md
  nox_sessions/audit.py
  scripts/space_traversal/detectors/detector_duplication.py
  scripts/space_traversal/detectors/detector_peft.py
  scripts/space_traversal/detectors/detector_safeguards.py
  src/hhg_logistics/serve/app.py
  tests/hhg_logistics/serve/test_app.py
  tests/space_traversal/test_detector_duplication.py
  tests/space_traversal/test_detector_peft.py
  tests/space_traversal/test_detector_safeguards.py
  tests/tracking/test_writers_roundtrip.py
Due: validate-fences, semgrep-local

Add offline-safe config and deployment tests
  docs/logging/log_redaction_policy.md
  docs/ops/offline_workflow.md
  docs/training/reproducibility.md
  tests/configuration/test_yaml_under_configs_parse.py
  tests/deployment/test_dockerfiles_reproducible.py
  tests/deployment/test_helm_chart_schema_basic.py
  tests/inference/test_ita_openapi_exists.py
  tests/inference/test_services_api_import.py
Due: validate-fences, semgrep-local

Fix audit nox session dependencies and make invocation
  nox_sessions/audit.py
Due: semgrep-local

Add deterministic training utilities and Hydra schema demo
  cli/__init__.py
  cli/train_schema_demo.py
  configs/schema.py
  models/__init__.py
  models/peft_utils.py
  tests/configs/test_hydra_structured_config.py
  tests/models/test_peft_utils.py
  tests/training/test_offline_wandb.py
  tests/training/test_seed_utils.py
  training/offline_wandb.py
  training/seed_utils.py
Due: semgrep-local

Define serve safeguards before entrypoint
  src/hhg_logistics/serve/app.py
Due: semgrep-local

Stabilize config fingerprint hashing
  src/hhg_logistics/serve/app.py
Due: semgrep-local

docs: add asset-driven menu playbooks
  AUDIT_PROMPT.md
Due: validate-fences

Add asset-driven instruction playbook
  docs/guides/asset_instruction_playbook.md
Due: validate-fences

docs(prompts): add self-healing gap card instruction pack
  docs/prompts/custom_gpt_self_healing_engineer.md
Due: validate-fences

docs: add local proof prerequisites to self-healing prompt
  docs/prompts/custom_gpt_self_healing_engineer.md
Due: validate-fences

docs: refresh self-healing prompt references
  CHANGELOG.md
  docs/README.md
  docs/prompts/custom_gpt_self_healing_engineer.md
Due: validate-fences

Add lightweight ingest facade and FastAPI app
  src/codex/api/__init__.py
  src/codex/api/app.py
  src/codex_ml/ingest.py
Due: semgrep-local

Handle JSON dataset files separately
  src/codex_ml/ingest.py
Due: semgrep-local

Add minimal Docker image and smoke testing
  .dockerignore
  .github/_workflows_disabled/docker-build-push.yml
  Dockerfile
  docs/docker.md
  patches/docker_setup.diff
  scripts/ci/container_smoke.sh
  src/codex/api/app.py
  tests/test_container_smoke.py
Due: validate-fences, semgrep-local

Ensure Docker image installs project package
  Dockerfile
Due: none

Add Docker enablement tooling
  .github/ENABLE_WORKFLOW.md
  Dockerfile
  docker/entrypoint.sh
  requirements.docker.txt
  scripts/ci/build_image.sh
  scripts/ci/push_image.sh
Due: validate-fences

feat: enhance docker workflow and tooling
  .env.example
  .github/ENABLE_WORKFLOW.md
  .github/_workflows_disabled/docker-build-push.yml
  Dockerfile
  docker-compose.override.local.yml
  docker/entrypoint.sh
  requirements.docker.txt
  scripts/ci/build_image.sh
  scripts/ci/push_image.sh
  tests/test_container_smoke.py
Due: validate-fences, semgrep-local

Respect PORT in Docker healthcheck
  Dockerfile
Due: none

Revert "feat: enhance docker workflow and tooling"
  .env.example
  .github/ENABLE_WORKFLOW.md
  .github/_workflows_disabled/docker-build-push.yml
  Dockerfile
  docker-compose.override.local.yml
  docker/entrypoint.sh
  requirements.docker.txt
  scripts/ci/build_image.sh
  scripts/ci/push_image.sh
  tests/test_container_smoke.py
Due: validate-fences, semgrep-local

Add ENABLE_WORKFLOW.md for Docker workflow setup
  .github/ENABLE_WORKFLOW.md
Due: validate-fences

Refactor Dockerfile for requirements and entrypoint
  Dockerfile
Due: none

Create requirements.docker.txt for runtime dependencies
  requirements.docker.txt
Due: none

Add files via upload
  scripts/ci/build_image.sh
Due: none

Add files via upload
  scripts/ci/push_image.sh
Due: none

Fix Docker entrypoint and health tooling
  .dockerignore
  .github/ENABLE_WORKFLOW.md
  Dockerfile
  docker/entrypoint.sh
  scripts/ci/container_smoke.sh
Due: validate-fences

Fix health enforcement skip logic
  scripts/ci/container_smoke.sh
Due: none

chore: extend docker entrypoint defaults
  .github/ENABLE_WORKFLOW.md
  Dockerfile
  docker/entrypoint.sh
  scripts/ci/build_image.sh
  scripts/ci/push_image.sh
Due: validate-fences

Ensure Docker builds include entrypoint script
  Dockerfile
  docker/entrypoint.sh
Due: none

fix: allow env overrides for default uvicorn cmd
  docker/entrypoint.sh
Due: none

Defer requests import in container smoke test
  tests/test_container_smoke.py
Due: semgrep-local

Add owner approval gate for docker workflow
  .github/ENABLE_WORKFLOW.md
  .github/OWNER_APPROVAL.example.yml
  .github/OWNER_APPROVAL.yml
  .github/_workflows_disabled/docker-build-push.yml
  scripts/ci/owner_approval_guard.sh
Due: validate-fences

feat: enhance docker tooling and docs
  .env.docker.example
  .github/_workflows_disabled/docker-build-push.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  docs/docker.md
  scripts/ci/sbom_syft.sh
  scripts/ci/scan_trivy.sh
Due: validate-fences

Handle inline cost_workflows lists in guard script
  scripts/ci/owner_approval_guard.sh
Due: none

Align GPU docker build workflow
  .dockerignore
  .github/OWNER_APPROVAL.md
  Dockerfile.gpu
  docs/validation/Docker_Validation.md
  scripts/ci/build_image.sh
  tests/test_container_smoke.py
Due: validate-fences, semgrep-local

Fix OWNER_APPROVED_DURATION env approvals expiring
  scripts/ci/owner_approval_guard.sh
Due: none

Enhance Docker tooling for smoke tests and multi-arch
  .github/_workflows_disabled/docker-build-push.yml
  Makefile
  docker-compose.override.local.yml
  docs/docker.md
  scripts/ci/build_image.sh
  scripts/ci/container_smoke.sh
Due: validate-fences

Fix Makefile tabs for docker recipes
  Makefile
Due: none

Enable 24h owner approval duration harness
  .github/OWNER_APPROVAL.md
  .github/OWNER_APPROVAL.yml
  .github/_workflows_disabled/docker-build-push.yml
  Makefile
  docs/validation/Owner_Approval_Validation.md
  scripts/ci/owner_approval_guard.sh
  scripts/ci/owner_approval_test.sh
Due: validate-fences

Fix optional Dockerfile copies
  Dockerfile
  Dockerfile.gpu
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
