Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

feat: add offline model/data plan and experiment tracking
  conf/config.yaml
  conf/data/local.yaml
  conf/experiment/default.yaml
  conf/experiment/sweep.yaml
  conf/model/base.yaml
  conf/training/minimal.yaml
  docs/explanations/architecture.md
  docs/explanations/golden_harness.md
  docs/explanations/reproducibility.md
  docs/howto/add_capabilities.md
  docs/howto/run_audits.md
  docs/reference/artifacts.md
  docs/reference/cli.md
  docs/reference/configs.md
  docs/tutorials/getting_started.md
  docs/tutorials/train_model.md
  scripts/analyze_experiments.py
  src/codex_ml/cli/detectors.py
  src/codex_ml/cli/hydra_entry.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/codex_data.py
  src/codex_ml/codex_model.py
  src/codex_ml/detectors/__init__.py
  src/codex_ml/detectors/experiment_summary.py
  src/codex_ml/tracking/__init__.py
  src/codex_ml/tracking/experiments.py
  tests/test_codex_data.py
  tests/test_codex_model.py
  tests/test_experiment_tracking.py
Due: validate-fences, semgrep-local

Fix Track A tests and training contract validation
  scripts/run_codex_workflow.py
  src/codex_ml/interfaces/contracts.py
  src/codex_ml/tokenization/adapter.py
  src/codex_ml/training/loop.py
  tests/atomic_diffs/test_track_a.py
  tests/codex_ml/test_training_contracts.py
  tokenization/loader.py
Due: semgrep-local

Fix P1 evaluation devices, config merge, and regression handling
  artifacts/model_regression_coverage.md
  artifacts/repo_audit_scorecard.md
  cli/train_codex.py
  codex_regression/runner.py
  conf/config.yaml
  conf/evaluation/minimal.yaml
  src/codex_harness/golden_harness_status.py
  src/codex_ml/codex_model.py
  src/codex_ml/evaluation/loop.py
  tests/harness/test_golden_harness_status.py
  tests/test_codex_model_dtype.py
  tests/test_evaluate_epoch.py
  tests/test_regression_runner.py
  tests/test_train_codex_cli_merge.py
Due: validate-fences, semgrep-local

Fix cli import paths for atomic diff tests
  src/cli.py
  src/training/trainer.py
Due: semgrep-local

Preserve manifest after packaging cleanup
  src/codex_ml/deployment/package.py
Due: semgrep-local

Enhance dataset caching and plugin integrations
  docs/reference/cli.md
  pyproject.toml
  src/codex_ml/codex_data.py
  src/codex_ml/data/registry.py
  src/codex_ml/metrics/__init__.py
  src/codex_ml/metrics/registry.py
  src/codex_ml/metrics/reward.py
  src/codex_ml/utils/checkpoint_retention.py
  tests/checkpointing/test_checkpoint_retention.py
  tests/test_codex_data.py
  tests/test_data_registry.py
  tests/test_packaging_entrypoints.py
  tests/test_reward_metrics.py
Due: validate-fences, semgrep-local

Ensure reward metrics load after plugin init
  src/codex_ml/metrics/registry.py
Due: semgrep-local

Add tomllib fallback for packaging entrypoint test
  tests/test_packaging_entrypoints.py
Due: semgrep-local

Add config validation session and root schema support
  noxfile.py
  reports/status_update_2025-11-28.md
  tools/validate_configs.py
Due: validate-fences, semgrep-local

Expand config validation coverage
  .github/workflows/ci.yml
  configs/schemas/README.md
  configs/schemas/deployment_interfaces.schema.yaml
  configs/schemas/deployment_reasoning_pod.schema.yaml
  configs/schemas/logging.schema.yaml
  configs/schemas/tracking.schema.yaml
  docs/config_validation.md
  noxfile.py
  reports/status_update_2025-11-29.md
  tests/configs/test_validate_configs_cli.py
  tests/fixtures/malformed_config.yaml
  tools/validate_configs.py
Due: validate-fences, semgrep-local

Add monitoring schema coverage and refresh validation reporting
  configs/schemas/README.md
  configs/schemas/monitoring.schema.yaml
  docs/config_validation.md
  reports/status_update_2025-11-26.md
  tests/configs/test_validate_configs_cli.py
  tools/validate_configs.py
Due: validate-fences, semgrep-local

Add validation logging and schema generation helper
  configs/schemas/README.md
  docs/config_validation.md
  reports/status_update_2025-11-26b.md
  tests/configs/test_validate_configs_cli.py
  tests/tools/test_generate_schema.py
  tools/generate_schema.py
  tools/validate_configs.py
Due: validate-fences, semgrep-local

Add data utilities and fix local tooling tests
  codex_ml_test_map.yaml
  codex_task_sequence.yaml
  docs/config/config_patterns_and_conventions.md
  docs/security/codex_security_safety_baseline.md
  docs/tests/ml_test_score_mapping.md
  src/codex_ml/cli/env_check.py
  src/codex_ml/config/schema.py
  src/codex_ml/data/datasets.py
  src/codex_ml/data/utils.py
  src/codex_ml/serving/batching.py
  src/codex_ml/serving/inference_server.py
  tests/codex_ml/test_config_schema.py
  tests/codex_ml/test_data_utils_and_datasets.py
  tests/tools/test_codex_config_validate.py
  tests/tools/test_codex_env_snapshot.py
  tests/tools/test_codex_mltest_runner.py
  tools/codex_config_validate.py
  tools/codex_data_audit.py
  tools/codex_dependency_audit.py
  tools/codex_env_snapshot.py
  tools/codex_mltest_map_validate.py
  tools/codex_mltest_runner.py
  tools/codex_reproducibility_bundle.py
  tools/codex_secret_scan_stub.py
Due: validate-fences, semgrep-local

Add files via upload
  batchsetpatchset_segments.zip
Due: none

Add security scanning tools and integrate into task sequence
  codex_ml_test_map.yaml
  codex_task_sequence.yaml
  docs/ci/local_gate_and_experiment_index.md
  docs/data/dataset_index.md
  docs/metrics/codex_metrics_and_eval.md
  docs/reproducibility/env_and_dependency_snapshot.md
  docs/security/security_baseline_local_only.md
  src/codex_ml/metrics/core.py
  tests/codex_ml/test_metrics_core_and_eval_tool.py
  tests/tools/test_codex_dependency_report.py
  tests/tools/test_codex_env_and_deps_tools.py
  tests/tools/test_codex_local_gate_and_experiment_index.py
  tests/tools/test_codex_security_tools.py
  tools/codex_dataset_index.py
  tools/codex_dep_pin_check.py
  tools/codex_dependency_report.py
  tools/codex_env_snapshot.py
  tools/codex_experiment_index.py
  tools/codex_local_gate_runner.py
  tools/codex_metrics_eval.py
  tools/codex_mltest_runner.py
  tools/codex_secret_scan.py
Due: validate-fences, semgrep-local

Propagate ml test runner exit code
  tools/codex_mltest_runner.py
Due: semgrep-local

Redact environment data in snapshot tool
  docs/reproducibility/env_and_dependency_snapshot.md
  tools/codex_env_snapshot.py
Due: validate-fences, semgrep-local

Update src/codex_ml/tokenization/sentencepiece_adapter.py
  src/codex_ml/tokenization/sentencepiece_adapter.py
Due: semgrep-local

Update src/codex_ml/serving/inference_server.py
  src/codex_ml/serving/inference_server.py
Due: semgrep-local

Update src/codex_ml/serving/batching.py
  src/codex_ml/serving/batching.py
Due: semgrep-local

Update tools/codex_gap_registry.py
  tools/codex_gap_registry.py
Due: semgrep-local

Update tools/codex_metrics_eval.py
  tools/codex_metrics_eval.py
Due: semgrep-local

Update src/common/provenance.py
  src/common/provenance.py
Due: semgrep-local

Restore evaluation helpers and logging factory
  src/codex_ml/eval/evaluator.py
  src/codex_ml/logging/registry.py
Due: semgrep-local

Update src/codex_ml/eval/evaluator.py
  src/codex_ml/eval/evaluator.py
Due: semgrep-local

Update src/codex_ml/cli/codex_cli.py
  src/codex_ml/cli/codex_cli.py
Due: semgrep-local

Update src/codex_ml/training/loop.py
  src/codex_ml/training/loop.py
Due: semgrep-local

Update requirements/lock.txt
  requirements/lock.txt
Due: none

Add files via upload
  actions/determinism-audit-13.zip
Due: none

Rename actions/determinism-audit-13.zip to actions/runs-completion/determinism-audit-13.zip
  actions/runs-completion/determinism-audit-13.zip
Due: none

Add files via upload
  actions/runs-completion/determinism-audit-24.zip
Due: none
