Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Archive root stubs for tombstones 8e3531b9, ff1f4dc7, 1bd4c1f1, 2d4d2f9d, 4c758c95, b131ecc9, a6195756, f89cbae8, a778bb0d, 94ba1b35
  archive/removed/CODEBASE_AUDIT_2025-08-26_203612.md
  archive/removed/CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  archive/removed/Codex_Questions.md
  archive/removed/_codex_codex-ready-sequence-and-patches-2025-09-27.md
  archive/removed/_codex_status_update-0C_base_-2025-09-27.md
  archive/removed/_codex_status_update-2025-10-06.md
  archive/removed/_codex_status_update-2025-10-16.md
  archive/removed/codex_ready_sequence-2025-10-16.md
  archive/removed/done_resolution_plans_10-6_to_10-7.md
  archive/removed/todo_resolution_plans_10-6_to_10-7.txt
Due: validate-fences

chore: record root archive tombstones (8e3531b9, ff1f4dc7, 1bd4c1f1, 2d4d2f9d, b131ecc9, f89cbae8, a778bb0d, 94ba1b35, 4c758c95, a6195756)
  artifacts/archive_plan_root.json
Due: none

Remove erroneous Codex_Questions restore log
  .codex/evidence/archive_ops.jsonl
  .secrets.baseline
Due: none

Remove false Codex_Questions restore entry
  .codex/evidence/archive_ops.jsonl
Due: none

docs: record root cleanup ADR and evidence
  .codex/evidence/archive_ops.jsonl
  .codex/evidence/artifacts/archive_plan_root_cleanup_2025-10-17.json
  .codex/evidence/provenance/root-cleanup/intoto.jsonl
  .codex/evidence/provenance/root-cleanup/slsa.json
  .secrets.baseline
  CHANGELOG.md
  docs/arch/adr-2025-10-17-root-docs-cleanup.md
Due: validate-fences

Restore secret baseline suppressions
  .secrets.baseline
Due: none

Improve archive restore diagnostics
  .github/docs/SQLITE_RESTORE_FIX_ADR.md
  src/codex/archive/cli.py
  src/codex/archive/service.py
  tests/archive/test_restore_validation.py
Due: validate-fences, semgrep-local

Redact archive backend URLs unless debug
  src/codex/archive/cli.py
Due: semgrep-local

Restore Codex questions stub for automation compatibility
  Codex_Questions.md
Due: validate-fences

Restore Codex_Questions stub for tooling compatibility
  Codex_Questions.md
Due: validate-fences

Redact archive backend URLs in restore evidence
  src/codex/archive/cli.py
  src/codex/archive/service.py
  src/codex/archive/util.py
Due: semgrep-local

Redact backend URLs in archive failure evidence
  src/codex/archive/cli.py
  src/codex/archive/service.py
  src/codex/archive/util.py
Due: semgrep-local

Fix provenance attestations for root cleanup
  .codex/evidence/provenance/root-cleanup/intoto.jsonl
  .codex/evidence/provenance/root-cleanup/slsa.json
Due: none

Redact credentials from archive restore errors
  src/codex/archive/cli.py
  src/codex/archive/service.py
  src/codex/archive/util.py
Due: semgrep-local

fix: populate provenance commit metadata
  .codex/evidence/provenance/root-cleanup/intoto.jsonl
  .codex/evidence/provenance/root-cleanup/slsa.json
  .secrets.baseline
Due: none

Redact credentials in health-check failure output
  src/codex/archive/cli.py
Due: semgrep-local

Sanitize health-check failure output
  src/codex/archive/cli.py
Due: semgrep-local

Align checkpoint utilities with torch 2.8 serialization
  src/codex_ml/checkpointing/checkpoint_core.py
  src/codex_ml/utils/checkpoint.py
  src/training/checkpointing.py
  src/training/trainer.py
  src/utils/checkpoint.py
Due: semgrep-local

feat(archive): add configuration, logging, and batch tooling
  .github/docs/ARCHIVE_CONFIG_ADR.md
  .github/docs/ARCHIVE_DEPLOYMENT_GUIDE.md
  .github/docs/ARCHIVE_IMPROVEMENTS_USAGE.md
  src/codex/archive/batch.py
  src/codex/archive/cli.py
  src/codex/archive/config.py
  src/codex/archive/logging_config.py
  src/codex/archive/perf.py
  src/codex/archive/retry.py
  tests/archive/test_batch_restore.py
  tests/archive/test_config.py
  tests/archive/test_improvements_integration.py
  tests/archive/test_logging_config.py
  tests/archive/test_multi_backend_integration.py
  tests/archive/test_perf_metrics.py
  tests/archive/test_retry.py
Due: validate-fences, semgrep-local

feat: add archive configuration and batch tooling
  .github/docs/ARCHIVE_CONFIG_ADR.md
  .github/docs/ARCHIVE_DEPLOYMENT_GUIDE.md
  .github/docs/ARCHIVE_IMPROVEMENTS_INDEX.md
  .github/docs/ARCHIVE_IMPROVEMENTS_USAGE.md
  src/codex/archive/backend.py
  src/codex/archive/batch.py
  src/codex/archive/cli.py
  src/codex/archive/config.py
  src/codex/archive/logging_config.py
  src/codex/archive/perf.py
  src/codex/archive/retry.py
  src/codex/archive/service.py
  tests/archive/test_batch_restore.py
  tests/archive/test_config.py
  tests/archive/test_improvements_integration.py
  tests/archive/test_multi_backend_integration.py
  tests/archive/test_perf_metrics.py
  tests/archive/test_retry.py
Due: validate-fences, semgrep-local

Add archive configuration and batch tooling
  .github/docs/ARCHIVE_CONFIG_ADR.md
  .github/docs/ARCHIVE_DEPLOYMENT_GUIDE.md
  .github/docs/ARCHIVE_IMPROVEMENTS_INDEX.md
  .github/docs/ARCHIVE_IMPROVEMENTS_USAGE.md
  pyproject.toml
  src/codex/archive/backend.py
  src/codex/archive/batch.py
  src/codex/archive/cli.py
  src/codex/archive/config.py
  src/codex/archive/logging_config.py
  src/codex/archive/perf.py
  src/codex/archive/retry.py
  src/codex/archive/service.py
  tests/archive/test_batch_restore.py
  tests/archive/test_config.py
  tests/archive/test_improvements_integration.py
  tests/archive/test_logging_config.py
  tests/archive/test_multi_backend_integration.py
  tests/archive/test_perf_metrics.py
  tests/archive/test_retry.py
  tests/archive/test_stub_text.py
Due: validate-fences, semgrep-local

feat: enhance archive tooling
  .github/docs/ARCHIVE_CONFIG_ADR.md
  .github/docs/ARCHIVE_DEPLOYMENT_GUIDE.md
  .github/docs/ARCHIVE_IMPROVEMENTS_INDEX.md
  .github/docs/ARCHIVE_IMPROVEMENTS_USAGE.md
  src/codex/archive/backend.py
  src/codex/archive/batch.py
  src/codex/archive/cli.py
  src/codex/archive/config.py
  src/codex/archive/logging_config.py
  src/codex/archive/perf.py
  src/codex/archive/retry.py
  src/codex/archive/service.py
  tests/archive/test_batch_restore.py
  tests/archive/test_config.py
  tests/archive/test_improvements_integration.py
  tests/archive/test_multi_backend_integration.py
  tests/archive/test_perf_metrics.py
  tests/archive/test_retry.py
  tests/archive/test_stub_text.py
Due: validate-fences, semgrep-local

Sanitize restore failure error logs
  src/codex/archive/service.py
Due: semgrep-local

fix: include structured fields in archive restore logs
  src/codex/archive/logging_config.py
  tests/archive/test_logging_config.py
Due: semgrep-local

fix: restore backend inference and cli config access
  src/codex/archive/backend.py
  src/codex/archive/cli.py
  src/codex/archive/config.py
  src/codex/archive/service.py
  tests/archive/test_config.py
Due: semgrep-local

Fix ArchiveConfig.from_env environment handling
  src/codex/archive/backend.py
Due: semgrep-local

fix: allow env overrides to restore defaults
  src/codex/archive/config.py
  tests/archive/test_config.py
Due: semgrep-local

Fix archive service configuration and logging regressions
  src/codex/archive/backend.py
  src/codex/archive/cli.py
  src/codex/archive/service.py
Due: semgrep-local

Add Typer CLI entry point and callback defaults
  README.md
  docs/usage.md
  notebooks/quickstart.ipynb
  pyproject.toml
  src/codex_ml/__main__.py
  src/codex_ml/cli/main.py
  src/codex_ml/training/unified_training.py
  tests/callbacks/test_default_callbacks.py
  tests/peft/test_apply_lora.py
  tests/utils/test_rng_state.py
Due: validate-fences, semgrep-local

Fix archive config env delegation
  src/codex/archive/backend.py
Due: semgrep-local

Fix CLI config zero override handling
  src/codex_ml/cli/main.py
Due: semgrep-local

fix: correct archive backend attribute lookup
  src/codex/archive/backend.py
Due: semgrep-local

Preserve archive runtime settings
  src/codex/archive/cli.py
  src/codex/archive/service.py
Due: semgrep-local

Fix ArchiveConfig env backend selection
  src/codex/archive/backend.py
Due: semgrep-local

Pass archive app config to service
  src/codex/archive/cli.py
Due: semgrep-local

Fix archive env merge and restore codex_ml entrypoint
  src/codex/archive/config.py
  src/codex_ml/__main__.py
Due: semgrep-local

Normalize packaging metadata and build tooling
  MANIFEST.in
  docs/packaging/Packaging_and_Release.md
  pyproject.toml
  scripts/build_wheel.sh
  tools/apply_pyproject_packaging.py
Due: validate-fences, semgrep-local

Normalize packaging configuration
  LICENSE
  MANIFEST.in
  docs/packaging/Packaging_and_Release.md
  pyproject.toml
  scripts/build_wheel.sh
  tools/apply_pyproject_packaging.py
Due: validate-fences, semgrep-local

Fix packaging discovery and document checkpointing surfaces
  MANIFEST.in
  docs/training/Checkpointing_Surfaces.md
  pyproject.toml
  tools/apply_pyproject_packaging.py
Due: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
