Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, ruff

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: ruff
  language: system

Create deep_research_task_process.py
  scripts/deep_research_task_process.py
Due: ruff

Implement file ingestion
  src/ingestion/README.md
  src/ingestion/__init__.py
  tests/test_ingestion_io.py
Due: ruff

fix repo root detection and run guard
  scripts/deep_research_task_process.py
  tests/test_deep_research_task_process.py
Due: ruff

feat: expand ingestion and tests
  .codex/change_log.md
  .codex/results.md
  scripts/deep_research_task_process.py
  src/ingestion/README.md
  src/ingestion/__init__.py
  tests/test_ingestion_io.py
  tools/codex_ingestion_workflow.py
Due: ruff

feat: support custom encoding in ingest
  src/ingestion/__init__.py
  tests/test_ingestion_io.py
Due: ruff

Update sqlite pool close test docstring
  .pre-commit-config.yaml
  README.md
  src/codex/chat.py
  src/codex/db/sqlite_patch.py
  src/ingestion/__init__.py
  tests/test_chat_session_exit.py
  tests/test_ingestion_io.py
  tests/test_sqlite_pool_close.py
  tools/codex_workflow_session_query.py
Due: check-yaml, ruff

Add autodetect encoding support and extended tests
  README.md
  noxfile.py
  src/ingestion/__init__.py
  src/ingestion/encoding_detect.py
  tests/test_ingestion_auto_encoding.py
  tests/test_ingestion_encoding_coverage.py
  tests/test_ingestion_encodings_matrix.py
  tests/test_ingestion_family_encoding.py
  tools/codex_exec.py
  tox.ini
Due: ruff

Add Codex setup utility and log docs
  .codex/change_log.md
  .codex/errors.ndjson
  .codex/results.md
  README.md
  codex_setup.py
Due: ruff

Document Codex scripts
  .codex/change_log.md
  .codex/errors.ndjson
  .codex/results.md
  README.md
  codex_setup.py
Due: ruff

Add import normalization script and document Ruff usage
  .codex/change_log.md
  .codex/errors.ndjson
  .codex/inventory.json
  .codex/results.md
  README.md
  tools/codex_import_normalizer.py
  tools/codex_workflow_session_query.py
Due: ruff

feat: consolidate codex_workflow entrypoint; remove duplicates and update references
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/results.md
  README.md
  scripts/codex_workflow.py
  tools/codex_exec.py
  tools/codex_import_normalizer.py
  tools/codex_workflow.py
  tools/codex_workflow_session_query.py
  tools/workflow_merge.py
Due: ruff

feat: consolidate codex_workflow entrypoint; remove duplicates and update references
  .codex/change_log.md
  .codex/results.md
  CONTRIBUTING.md
  README.md
Due: none

feat: allow GHCR login via GitHub token
  scripts/deep_research_task_process.py
Due: ruff

feat: allow using CR_PAT for Docker push
  README.md
  scripts/deep_research_task_process.py
Due: ruff

chore: add session query workflow and ruff config
  .pre-commit-config.yaml
  tools/codex_exec.py
  tools/codex_workflow_session_query.py
Due: check-yaml, ruff

feat: add encoding detection options to ingestion
  src/ingestion/README.md
  src/ingestion/__init__.py
  src/ingestion/csv_ingestor.py
  src/ingestion/encoding_detect.py
  src/ingestion/file_ingestor.py
  src/ingestion/json_ingestor.py
  src/ingestion/utils.py
Due: ruff

Ensure session ID cleared on chat session exit
  src/codex/chat.py
  tests/test_chat_session_exit.py
Due: ruff

Ensure session ID cleared on ChatSession exit
  src/codex/chat.py
  tests/test_chat_session_exit.py
Due: ruff

Remove closed SQLite connections from pools
  src/codex/db/sqlite_patch.py
  tests/test_sqlite_pool_close.py
Due: ruff

refactor: tidy imports for session query tool
  tools/codex_workflow_session_query.py
Due: ruff

chore: restore action log
  .codex/mapping.md
Due: none

test: add encoding coverage docstring
  src/ingestion/encoding_detect.py
  tests/test_ingestion_auto_encoding.py
  tests/test_ingestion_encoding_coverage.py
  tests/test_ingestion_encodings_matrix.py
  tests/test_ingestion_family_encoding.py
  tests/test_ingestion_io.py
Due: ruff

docs: document ingestion encoding
  README.md
Due: none

chore: trim whitespace and lint
  .codex/automation_out/coverage_report.json
  .codex/automation_out/db_catalog.json
  .codex/automation_out/db_inventory.json
  .codex/change_log.md
  .codex/codex_repo_scout.py
  .codex/inventory.json
  .codex/mapping_table.json
  .codex/ruff.json
  .codex/search_hits.json
  .codex/smoke_checks.json
  LICENSES/codex-universal-image-sbom.spdx.json
  tools/codex_import_normalizer.py
  tools/git_patch_parser_complete.py
Due: ruff

Harden subprocess and SQL usage
  src/codex/logging/viewer.py
  tools/codex_cli.py
Due: ruff

harden subprocess usage and exception handling
  scripts/deep_research_task_process.py
  src/codex/logging/session_logger.py
  src/codex/logging/session_query.py
Due: ruff

style: format code and clarify subprocess usage
  .codex/run_repo_scout.py
  tools/codex_session_logging_workflow.py
Due: ruff

Improve encoding autodetection without external libs
  scripts/deep_research_task_process.py
  src/codex/logging/session_logger.py
  src/codex/logging/session_query.py
  src/ingestion/encoding_detect.py
Due: ruff

chore: fix lint issues
  .codex/run_workflow.py
  tests/test_sqlite_pool_close.py
Due: ruff

docs: update ingestion test references
  documentation/codex_setup_integration.md
  scripts/deep_research_task_process.py
  tests/test_ingestion_placeholder.py
Due: ruff

style: format code and update lint configs
  .codex/action_log.ndjson
  .codex/run_workflow.py
  .codex/smoke/import_check.py
  .pre-commit-config.yaml
  .secrets.baseline
  codex_workflow.py
  noxfile.py
  pyproject.toml
  scripts/apply_session_logging_workflow.py
  scripts/benchmark_logging.py
  src/codex/cli.py
  tests/test_chat_session.py
  tests/test_cli.py
  tests/test_codex_maintenance.py
  tests/test_ingestion_auto_encoding.py
  tests/test_ingestion_encodings_matrix.py
  tests/test_ingestion_family_encoding.py
  tests/test_ingestion_io.py
  tests/test_query_logs_build_query.py
  tests/test_sqlite_pool_close.py
  tools/auto_analyze_errors.py
  tools/codex_agents_workflow.py
  tools/codex_exec.py
  tools/codex_ingestion_workflow.py
  tools/codex_logging_workflow.py
  tools/codex_maintenance.py
  tools/codex_patch_session_logging.py
  tools/codex_precommit_bootstrap.py
  tools/codex_supplied_task_runner.py
  tools/export_to_parquet.py
  tools/run_supplied_task.py
  tools/test_auto_analyze_errors.py
  tools/verify_data_paths.py
  tools/workflow_merge.py
Due: check-yaml, ruff

refactor: add subprocess helper and security fixes
  .pre-commit-config.yaml
  codex_workflow.py
  pyproject.toml
  scripts/apply_session_logging_workflow.py
  src/codex/logging/viewer.py
  src/codex/utils/__init__.py
  src/codex/utils/subprocess.py
  tools/codex_sqlite_align.py
  tools/export_to_parquet.py
Due: check-yaml, ruff

feat: refine codex executor
  .codex/change_log.md
  .codex/results.md
  tools/codex_exec.py
Due: ruff

Disable push/pull_request triggers
  .codex/results.md
  .github/workflows/codex-ci.yml
  .github/workflows/codex-self-hosted-ci.yml
  .github/workflows/codex-self-manage.yml
Due: check-yaml

Disable push and PR triggers in workflows
  .codex/action_log.ndjson
  .codex/results.md
  .github/workflows/codex-ci.yml
  .github/workflows/codex-self-hosted-ci.yml
  .github/workflows/codex-self-manage.yml
Due: check-yaml

style: format workflow scripts
  codex_workflow.py
  scripts/apply_session_logging_workflow.py
  tests/__init__.py
  tools/__init__.py
Due: ruff

chore: fix formatting issues
  .codex/action_log.ndjson
  codex_workflow.py
  scripts/apply_session_logging_workflow.py
Due: ruff

refactor repo scout for clarity
  .codex/codex_repo_scout.py
Due: none

sanitise sqlite pragma table names
  src/codex/logging/db_utils.py
  src/codex/logging/session_query.py
  tests/test_db_utils_table_name.py
Due: ruff

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^(.codex|LICENSES)/
  ruff: any of: \.py$, but not: ^(.codex|LICENSES)/
