Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Simplify session preload command in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Improve error message for session preload failure
  .github/workflows/copilot-setup-steps.yml
Due: none

Delete .github/copilot-prompts/active/PR-4602-followup.md
  .github/copilot-prompts/active/PR-4602-followup.md
Due: validate-fences

Refactor session preload script execution in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Potential fix for pull request finding 'Unused import'
  scripts/observability/slo_canary.py
Due: semgrep-local

Fix indentation in session preload step
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor session preload step for error handling
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor session preload script execution
  .github/workflows/copilot-setup-steps.yml
Due: none

Potential fix for pull request finding 'Empty except'
  tests/services/msp_gateway/test_security.py
Due: semgrep-local

docs(ci): add investigation report for secrets-baseline-enforcer failure #78319571488
  .github/docs/Investigation_Report_Copilot.md
Due: validate-fences

Create Investigation_Report_Copilot.md
  .github/docs/Investigation_Report_Copilot.md
Due: validate-fences

Fix indentation and formatting in YAML workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix formatting in test_hygiene.py
  tests/services/ita/test_hygiene.py
Due: semgrep-local

Fix formatting in test_run_hygiene_checks
  tests/services/ita/test_hygiene.py
Due: semgrep-local

Fix formatting in test_run_hygiene_checks_detects_multiple_issue_types
  tests/services/ita/test_hygiene.py
Due: semgrep-local

Fix formatting in test_hygiene.py for diff output
  tests/services/ita/test_hygiene.py
Due: semgrep-local

Make session preload step blocking
  .github/workflows/copilot-setup-steps.yml
Due: none

Update test_integrated_system.py
  .github/copilot-evolution/test_integrated_system.py
Due: semgrep-local

Enhance integrated system with deduplication and validation
  .github/copilot-evolution/integrated_system.py
Due: semgrep-local

Update agent context configuration settings
  .codex/agent_context.json
Due: none

Document CCA version lock and deduplication requirements
  .github/copilot-instructions.md
Due: validate-fences

Enhance ML strategy selector with applied fixes
  .github/copilot-evolution/ml_strategy_selector.py
Due: semgrep-local

Update session context pre-load step in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix for Explicit returns mixed with implicit (fall through) returns
  src/codex_ml/metrics/metric_implementations.py
Due: semgrep-local

Update session preload step in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Enhance error handling in session preload step
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Allow non-blocking failure for session context preload
  .github/workflows/copilot-setup-steps.yml
Due: none
