Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix rate limiter middleware ordering
  services/msp_gateway/app.py
Due: semgrep-local

Implement capability audit gap remediation gates
  .copilot-space/workflow.yaml
  .github/docs/Copilot_Audit_InstructionEnhancement.md
  .github/workflows/capability-audit.yml
  audit_artifacts/capabilities_raw.json
  audit_artifacts/capabilities_scored.json
  audit_artifacts/component_gaps.json
  audit_artifacts/context_index.json
  audit_artifacts/facets.json
  audit_artifacts/gaps.json
  audit_run_manifest.json
  docs/changes/MSP_Capability_Audit_Changeplan_Tree.md
  docs/changes/MSP_Capability_Audit_File_Map.md
  docs/plans/MSP_Audit_Gap_Remediation_Plan_of_Action.md
  docs/remediation/README.md
  docs/remediation/components.md
  docs/remediation/detectors.md
  docs/remediation/policy.md
  docs/validation/Gaps_Coverage_Checklist_And_Scripts.md
  reports/capability_matrix_20251101_082306.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/validators.py
  space.mk
  templates/audit/capability_matrix.md.j2
Due: validate-fences, semgrep-local

codex: offline-first hardening (deterministic splits, metrics sinks, peft guards)
  Dockerfile.local
  assets/manifest.json
  docs/reference/open_questions_by_capability.md
  docs/status_update_prompt.md
  docs/troubleshooting/open_questions.md
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/config/__init__.py
  src/codex_ml/data/loaders/csv.py
  src/codex_ml/data/loaders/jsonl.py
  src/codex_ml/data/splits.py
  src/codex_ml/eval/runner.py
  src/codex_ml/interfaces/__init__.py
  src/codex_ml/interfaces/peft_hooks.py
  src/codex_ml/metrics/sinks.py
  src/codex_ml/models/factory.py
  src/codex_ml/utils/determinism.py
  src/codex_ml/utils/seeding.py
  tests/test_evaluation.py
  tests/test_metrics_sinks.py
  tests/test_peft_hooks.py
  tests/test_splits.py
  tests/unit/test_evaluate_cli_flags.py
  tools/assets/verify_manifest.py
  tools/docs/gen_open_questions.py
  tools/env/export_env_json.py
Due: validate-fences, semgrep-local

Restore skip list in S1 indexing
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Standardize evaluation metrics sinks and enforce locked setup
  Dockerfile
  configs/README.md
  configs/development/Makefile
  docs/dev/testing.md
  docs/docker_hardening.md
  docs/repro.md
  docs/training/Evaluation_CLI_Addendum.md
  noxfile.py
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/cli/train.py
  src/codex_ml/config/__init__.py
  src/codex_ml/eval/runner.py
Due: validate-fences, semgrep-local

Clarify vulnerability reporting channels
  SECURITY.md
Due: validate-fences

Restore positional compatibility in split shim
  src/codex_ml/data/splits.py
Due: semgrep-local

Allow validator to detect template version numbers dynamically
  tools/validate_status_report.py
Due: semgrep-local

Make report version optional in status schemas
  docs/templates/status/codex_status_template.schema.json
  docs/templates/status/codex_status_template.schema_v1.2.json
Due: none

Relax report version requirements and support template v1.2
  docs/templates/status/codex_status_template.schema.json
  docs/templates/status/codex_status_template.schema_v1.2.json
  tools/validate_status_report.py
Due: semgrep-local

Adjust Docker base image and broaden template version detection
  Dockerfile
  tools/validate_status_report.py
Due: semgrep-local

Fix validator required sections for template v1.2
  tools/validate_status_report.py
Due: semgrep-local

Handle Markdown labels in status report validator
  tools/validate_status_report.py
Due: semgrep-local

Fix v1.2 schema template version const
  docs/templates/status/codex_status_template.schema_v1.2.json
Due: none

Fix version normalisation for status validator
  tools/validate_status_report.py
Due: semgrep-local

docs(status): add v1.2 daily status template with schema & audit integration
  docs/templates/status/codex_status_template_v1.2.md
Due: validate-fences

Reject unknown status template minors
  tools/validate_status_report.py
Due: semgrep-local

Handle optional status schema test and emit CLI pass signal
  scripts/status/validate_and_publish.py
  tools/schema_validate.py
Due: semgrep-local

Add tooling for env and perf snapshots
  conftest.py
  tools/env_snapshot.py
  tools/perf_snapshot.py
Due: semgrep-local

Handle missing perf log files
  tests/tools/test_perf_snapshot.py
  tools/perf_snapshot.py
Due: semgrep-local

Handle missing perf snapshot log
  tests/tools/test_perf_snapshot.py
  tools/perf_snapshot.py
Due: semgrep-local

Add rate limit reporting scripts and coverage tests
  .github/workflows/ratelimit_history_prune.yml
  docs/deepresearch/manifest_validation.md
  docs/ops/ratelimit_tile_html.md
  scripts/connectors/__init__.py
  scripts/connectors/prune_rate_limit_history.py
  scripts/dashboards/__init__.py
  scripts/dashboards/build_ratelimit_tile.py
  scripts/dashboards/render_ratelimit_tile_html.py
  scripts/deepresearch/__init__.py
  scripts/deepresearch/generate_context_manifest.py
  tests/dashboards/test_build_ratelimit_tile.py
  tests/dashboards/test_render_ratelimit_tile_html.py
  tests/deepresearch/test_context_manifest.py
  tests/scripts/test_prune_rate_limit_history.py
Due: validate-fences, semgrep-local

Add GitHub rate-limit dashboard publishing pipeline
  .github/workflows/pages_publish_tiles.yml
  configs/schemas/ratelimit_tile.schema.json
  docs/ops/pages_publish_tiles.md
  docs/templates/status/automation_connectors_v1.2.md
  scripts/connectors/ratelimit_to_status.py
  scripts/dashboards/build_tiles_index.py
  tests/dashboards/test_ratelimit_tile_schema.py
  tests/dashboards/test_render_ratelimit_tile_html.py
Due: validate-fences, semgrep-local

Update docs/ops/pages_publish_tiles.md
  docs/ops/pages_publish_tiles.md
Due: validate-fences

Add comprehensive archiving policy documentation
  .codex/reports/Archive_Policy_Operations.md
Due: validate-fences

Create comprehensive document on Archive Policy Operations
  .codex/reports/archive_policy_operations.md
Due: validate-fences

Fix HTML report row assembly and validation skip handling
  scripts/status/render_html_report.py
  scripts/status/validate_and_publish.py
Due: semgrep-local

Update tools/visual_compare_config.py
  tools/visual_compare_config.py
Due: semgrep-local

GPT smoketest: create sandbox file
  sandbox/gpt-smoketest.txt
Due: none

add verification mode to detect manifest drift [skip ci]
  build_helpers_manifest.py
Due: semgrep-local

🧭 Codex Status Update – 2025-11-04 [skip ci]
  reports/daily/_codex_status_update-2025-11-04.md
Due: validate-fences

📍 Fix UTF-8 encoding in report header (replace 💩 → 📍) [skip ci]
  reports/daily/_codex_status_update-2025-11-04.md
Due: validate-fences

Revise Codex status update for 2025-11-04
  reports/daily/_codex_status_update-2025-11-04.md
Due: validate-fences

Update tools/extract_validation_errors.py
  tools/extract_validation_errors.py
Due: semgrep-local

📍 _codex_: Debug companion (auto-debug.json) for 2025-11-04-22:25Z-UTC [skip ci]
  reports/daily/_codex_status_update-2025-11-04-22:25Z-UTC_auto-debug.json
Due: none

Update Dockerfile.gpu
  Dockerfile.gpu
Due: none

Update noxfile.py
  noxfile.py
Due: semgrep-local

Update scripts/packaging/build_docker.sh
  scripts/packaging/build_docker.sh
Due: none

Update scripts/packaging/build_wheel.sh
  scripts/packaging/build_wheel.sh
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
