Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, isort, bandit, yamllint

ruff:
  name: Ruff (lint)
  language: system
  pass_filenames: false
  entry: 'bash -lc ''ruff check .''
  
    '

black:
  name: Black (format check)
  language: system
  pass_filenames: false
  entry: 'bash -lc ''black --check .''
  
    '

isort:
  name: isort (import order check; aligned to Black)
  language: system
  pass_filenames: false
  entry: 'bash -lc ''isort --check-only --profile black --filter-files .''
  
    '

bandit:
  name: Bandit (security scan)
  language: system
  pass_filenames: false
  entry: 'bash -lc ''bandit -q -r . -x "tests,venv,.venv"''
  
    '

yamllint:
  name: YAML lint
  language: system
  pass_filenames: false
  entry: 'bash -lc ''yamllint -s .''
  
    '

feat: integrate peft lora
  codex_script.py
Due: ruff, black, isort, bandit

feat(mlflow): disable system metrics
  src/codex_ml/tracking/mlflow_utils.py
  tests/tracking/test_mlflow_utils.py
Due: ruff, black, isort, bandit

test: add coverage for new helpers
  CHANGELOG_codex.md
  scripts/__init__.py
  scripts/cli/__init__.py
  scripts/cli/viewer.py
  src/codex_ml/data/loaders.py
  src/codex_ml/interfaces/registry.py
  src/codex_ml/monitoring/mlflow_utils.py
  src/codex_ml/safety/risk_score.py
  src/codex_ml/tokenization/sentencepiece_adapter.py
  src/codex_ml/tracking/git_tag.py
  src/codex_ml/training/callbacks.py
  src/codex_ml/utils/checkpointing.py
  tests/cli/test_cli_viewer.py
  tests/data/test_loaders.py
  tests/monitoring/test_mlflow_utils.py
  tests/safety/test_risk_score.py
  tests/test_callbacks.py
  tests/test_label_policy_lint.py
  tests/test_registry.py
  tests/tokenization/test_sentencepiece_adapter_prefix.py
  tests/utils/test_checkpoint_rng.py
  tools/label_policy_lint.py
Due: ruff, black, isort, bandit

feat: add apply flag to runner doctor
  tools/runner_doctor.py
Due: ruff, black, isort, bandit

chore: initialize codex logs and dirs
  CHANGELOG_Codex.md
  Codex_Questions.md
  codex_run.log
  monitoring/.gitkeep
  src/data/.gitkeep
  src/safety/.gitkeep
  src/tokenization/.gitkeep
  src/utils/.gitkeep
  tests/tools/.gitkeep
Due: none

Add Phase 2 changelog entry
  CHANGELOG_Codex.md
  src/codex_ml/tokenization/sentencepiece_adapter.py
Due: ruff, black, isort, bandit

feat: expand utils callbacks and git tag decoding
  CHANGELOG_codex.md
  Codex_Questions.md
  src/codex_ml/tracking/git_tag.py
  src/utils/__init__.py
  src/utils/training_callbacks.py
  tests/test_utils_training_callbacks.py
  tests/tracking/test_git_tag_decode.py
Due: ruff, black, isort, bandit

Add env-guarded mlflow run, resource-safe viewer, and checkpoint utils
  CHANGELOG_Codex.md
  Codex_Questions.md
  scripts/cli/viewer.py
  src/codex_ml/monitoring/mlflow_utils.py
  src/utils/__init__.py
  src/utils/checkpointing.py
  tests/cli/test_cli_viewer.py
  tests/monitoring/test_mlflow_utils.py
  tests/utils/test_checkpointing_core.py
  tools/codex_exec.sh
  tools/codex_run_tasks.py
Due: ruff, black, isort, bandit

feat: add tokenizer and tracking utilities
  CHANGELOG_Codex.md
  src/codex_ml/cli/main.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/tracking/mlflow_utils.py
  src/ingestion/utils.py
  tests/test_engine_hf_trainer_grad_accum.py
  tests/test_ingestion_read_text.py
  tests/test_ingestion_seeded_shuffle.py
  tests/test_interfaces_hf_tokenizer.py
  tests/test_mlflow_utils.py
  tests/tracking/test_mlflow_utils.py
  tests/tracking/test_mlflow_utils_tracking.py
  training/engine_hf_trainer.py
Due: ruff, black, isort, bandit

feat: add hf tokenizer and deterministic ingestion
  .pre-commit-config.yaml
  CHANGELOG_Codex.md
  CONTRIBUTING.md
  interfaces/tokenizer.py
  src/codex_ml/interfaces/__init__.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/modeling/__init__.py
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/tracking/__init__.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/utils/modeling.py
  src/ingestion/__init__.py
  src/ingestion/csv_ingestor.py
  src/ingestion/encoding_detect.py
  src/ingestion/file_ingestor.py
  src/ingestion/io_text.py
  src/ingestion/json_ingestor.py
  src/ingestion/utils.py
  tests/ingestion/test_io_text.py
  tests/interfaces/test_tokenizer_hf.py
  tests/test_codex_run_tasks.py
  tests/test_mlflow_utils_root.py
  tests/test_model_loader.py
  tests/test_modeling_utils.py
  tests/test_training_arguments_flags.py
  tests/tracking/test_mlflow_utils.py
  tests/utils/test_modeling.py
  tools/codex_run_tasks.py
  tools/install_codex_hooks.py
  training/engine_hf_trainer.py
Due: ruff, black, isort, bandit, yamllint

feat: add local orchestrator scripts
  .pre-commit-config.yaml
  CHANGELOG_Codex.md
  CONTRIBUTING.md
  interfaces/tokenizer.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/tracking/__init__.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/utils/modeling.py
  src/ingestion/__init__.py
  src/ingestion/csv_ingestor.py
  src/ingestion/encoding_detect.py
  src/ingestion/file_ingestor.py
  src/ingestion/io_text.py
  src/ingestion/json_ingestor.py
  src/ingestion/utils.py
  tests/ingestion/test_io_text.py
  tests/interfaces/test_tokenizer_hf.py
  tests/test_codex_run_tasks.py
  tests/test_mlflow_utils_root.py
  tests/test_model_loader.py
  tests/test_modeling_utils.py
  tests/test_seeded_shuffle.py
  tests/test_tokenizer_roundtrip.py
  tests/test_training_arguments_flags.py
  tests/tracking/test_mlflow_utils.py
  tests/utils/test_modeling.py
  tools/codex_exec.py
  tools/codex_exec.sh
  tools/codex_run_tasks.py
  tools/install_codex_hooks.py
  training/engine_hf_trainer.py
Due: ruff, black, isort, bandit, yamllint

feat: add local codex execution scripts
  .pre-commit-config.yaml
  CHANGELOG_Codex.md
  CONTRIBUTING.md
  interfaces/tokenizer.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/tracking/__init__.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/utils/modeling.py
  src/ingestion/__init__.py
  src/ingestion/csv_ingestor.py
  src/ingestion/encoding_detect.py
  src/ingestion/file_ingestor.py
  src/ingestion/io_text.py
  src/ingestion/json_ingestor.py
  src/ingestion/utils.py
  tests/ingestion/test_io_text.py
  tests/interfaces/test_tokenizer_hf.py
  tests/test_codex_run_tasks.py
  tests/test_mlflow_utils_root.py
  tests/test_model_loader.py
  tests/test_modeling_utils.py
  tests/test_seeded_shuffle.py
  tests/test_tokenizer_roundtrip.py
  tests/test_training_arguments_flags.py
  tests/tracking/test_mlflow_utils.py
  tests/utils/test_modeling.py
  tools/codex_exec.py
  tools/codex_exec.sh
  tools/codex_run_tasks.py
  tools/install_codex_hooks.py
  training/engine_hf_trainer.py
Due: ruff, black, isort, bandit, yamllint

chore: clean test imports and typing redundancy
  tests/test_mlflow_utils_root.py
  training/engine_hf_trainer.py
Due: ruff, black, isort, bandit

fix: restore MlflowConfig for compatibility
  .pre-commit-config.yaml
  CHANGELOG_Codex.md
  CONTRIBUTING.md
  interfaces/tokenizer.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/tracking/__init__.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/utils/modeling.py
  src/ingestion/__init__.py
  src/ingestion/csv_ingestor.py
  src/ingestion/encoding_detect.py
  src/ingestion/file_ingestor.py
  src/ingestion/io_text.py
  src/ingestion/json_ingestor.py
  src/ingestion/utils.py
  tests/ingestion/test_io_text.py
  tests/interfaces/test_tokenizer_hf.py
  tests/test_codex_run_tasks.py
  tests/test_mlflow_utils_root.py
  tests/test_model_loader.py
  tests/test_modeling_utils.py
  tests/test_seeded_shuffle.py
  tests/test_tokenizer_roundtrip.py
  tests/test_training_arguments_flags.py
  tests/tracking/test_mlflow_utils.py
  tests/utils/test_modeling.py
  tools/codex_exec.py
  tools/codex_exec.sh
  tools/codex_run_tasks.py
  tools/install_codex_hooks.py
  training/engine_hf_trainer.py
Due: ruff, black, isort, bandit, yamllint

fix: restore no-op MLflow context manager
  CHANGELOG_Codex.md
  src/codex_ml/tracking/mlflow_utils.py
  tools/codex_exec.py
Due: ruff, black, isort, bandit

refactor: adjust MLflow noop handling
  codex_ml/tracking/mlflow_utils.py
  deploy_codex_pipeline.py
  tests/smoke/test_mlflow_utils_noop.py
  tools/codex_apply_modeling_monitoring_api.py
  tools/codex_make_smoke_tests.py
Due: ruff, black, isort, bandit

Revert "fix: adjust MLflow no-op handling"
  codex_ml/tracking/mlflow_utils.py
  deploy_codex_pipeline.py
  tests/smoke/test_mlflow_utils_noop.py
  tools/codex_apply_modeling_monitoring_api.py
  tools/codex_make_smoke_tests.py
Due: ruff, black, isort, bandit

Add MLflow utility functions for tracking runs
  codex_ml/tracking/mlflow_utils.py
Due: ruff, black, isort, bandit

Add autodetect_encoding function for file encoding
  src/ingestion/encoding_detect.py
Due: ruff, black, isort, bandit

Implement tests for mlflow_utils
  tests/tracking/test_mlflow_utils.py
Due: ruff, black, isort, bandit

Rename CHANGELOG_Codex.md to CHANGELOG_Codex.md1
  CHANGELOG_Codex.md1
Due: none

Rename CHANGELOG_Codex.md to CHANGELOG_Codex.md0
  CHANGELOG_Codex.md0
Due: none

Rename .pre-commit-config.yaml to .pre-commit-config.yaml1
  .pre-commit-config.yaml1
Due: none

Rename .pre-commit-config.yaml to .pre-commit-config.yaml01
  .pre-commit-config.yaml01
Due: none

Rename codex_model_loader.py to codex_model_loader.py0
  src/codex_ml/modeling/codex_model_loader.py0
Due: none

Rename mlflow_utils.py to mlflow_utils.py0
  src/codex_ml/tracking/mlflow_utils.py0
Due: none

Rename test_codex_run_tasks.py to test_codex_run_tasks.py0
  tests/test_codex_run_tasks.py0
Due: none

Rename codex_run_tasks.py to codex_run_tasks.py0
  tools/codex_run_tasks.py0
Due: none

Rename codex_run_tasks.py0 to codex_run_tasks.py
  tools/codex_run_tasks.py
Due: ruff, black, isort, bandit

Rename __init__.py to __init__.py0
  src/ingestion/__init__.py0
Due: none

Rename __init__.py to __init__.py1
  src/ingestion/__init__.py1
Due: none

Rename engine_hf_trainer.py to engine_hf_trainer.py1
  training/engine_hf_trainer.py1
Due: none

Rename engine_hf_trainer.py to engine_hf_trainer.py0
  training/engine_hf_trainer.py0
Due: none

Rename install_codex_hooks.py to install_codex_hooks.py0
  tools/install_codex_hooks.py0
Due: none

Rename codex_run_tasks.py0 to codex_run_tasks.py
  tools/codex_run_tasks.py0
Due: none

Rename codex_run_tasks.py1 to codex_run_tasks.py
  tools/codex_run_tasks.py1
Due: none

Rename codex_exec.py to codex_exec.py0
  tools/codex_exec.py0
Due: none

Rename codex_exec.py1 to codex_exec.py
  tools/codex_exec.py1
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  bandit: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
