Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Update requirements/lock.txt
  requirements/lock.txt
Due: none

Add files via upload
  actions/runs-completion/determinism-audit-32.zip
Due: none

Add files via upload
  actions/runs-completion/bandit-report.zip
  actions/runs-completion/pip-audit-report.zip
Due: none

Update docs/guides/getting_started.md
  docs/guides/getting_started.md
Due: validate-fences

Update configs/events/event_config.yaml
  configs/events/event_config.yaml
Due: none

Update cli/train_codex.py
  cli/train_codex.py
Due: semgrep-local

Update T1_SOLUTION.md
  T1_SOLUTION.md
Due: validate-fences

Update src/codex/quantum_orchestrator/orchestrator.py
  src/codex/quantum_orchestrator/orchestrator.py
Due: semgrep-local

Update tests/tracking/test_enhanced_writers.py
  tests/tracking/test_enhanced_writers.py
Due: semgrep-local

Fix filename formatting for implement status update
  audit_artifacts/capabilities_scored.json
Due: none

Update .github/audit_artifacts_output/validate_docs_capabilities.py
  .github/audit_artifacts_output/validate_docs_capabilities.py
Due: semgrep-local

Update audit_artifacts/facets.json
  audit_artifacts/facets.json
Due: none

Update .github/audit_artifacts_output/generate_commit_analysis.py
  .github/audit_artifacts_output/generate_commit_analysis.py
Due: semgrep-local

Update .github/audit_artifacts_output/validate_audit_artifacts.py
  .github/audit_artifacts_output/validate_audit_artifacts.py
Due: semgrep-local

Update scripts/space_traversal/performance.py
  scripts/space_traversal/performance.py
Due: semgrep-local

Update scripts/space_traversal/audit_runner.py
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Update tests/space_traversal/test_webhooks.py
  tests/space_traversal/test_webhooks.py
Due: semgrep-local

Update scripts/space_traversal/viz_api_collection.py
  scripts/space_traversal/viz_api_collection.py
Due: semgrep-local

Update scripts/space_traversal/viz_cli_builder.py
  scripts/space_traversal/viz_cli_builder.py
Due: semgrep-local

Update scripts/space_traversal/viz_docs_hub.py
  scripts/space_traversal/viz_docs_hub.py
Due: semgrep-local

Update scripts/space_traversal/viz_swagger.py
  scripts/space_traversal/viz_swagger.py
Due: semgrep-local

Revert "0 d base "
  reports/capability_trends.jsonl
Due: none

fix(ci): allow security and test workflows to fail on errors
  .github/workflows/optimized-ci.yml
  .github/workflows/security-scanning.yml
Due: none

Update src/codex_ml/plugins/plugin_sandbox.py
  src/codex_ml/plugins/plugin_sandbox.py
Due: semgrep-local

Update test_audit_runner.py
  tests/integration/test_audit_runner.py
Due: semgrep-local

Fix decision ID length and guard empty keyword retrieval
  agents/agent_memory.py
Due: semgrep-local

Update fmt.Println message from 'Hello' to 'Goodbye'
  src/codex_plans/Tasks_PR_2459.md
Due: validate-fences

Update print statement
  docs/plans/capability_code_score_improvement-2025_12_11.md
Due: validate-fences

Add readiness import smoke tests and aggregate missing coverage tracking
  tests/cli/test_codex_ml_entrypoints.py
  tests/metrics/test_metrics_additional.py
  tests/test_codex_ml_readiness_imports.py
  tests/test_continuous_learning.py
  tests/test_curves.py
  tests/test_dp_config.py
  tests/test_env_check.py
  tests/test_event_integration.py
  tests/test_ndjson_summary.py
  tests/test_offline.py
  tests/test_readiness_remaining_modules.py
  tests/test_sinks.py
  tests/test_text.py
  tests/test_tracking_cli.py
  tests/training/test_training_utilities.py
  tools/find_untested_modules.py
Due: semgrep-local

Update src/codex/dynamics/solution_xml.py
  src/codex/dynamics/solution_xml.py
Due: semgrep-local

Update pyproject.toml
  pyproject.toml
Due: none

Delete misc/repo-owner-review/archived-artifacts directory
  misc/repo-owner-review/archived-artifacts/changelogs/change_log-large.md
  misc/repo-owner-review/archived-artifacts/changelogs/change_log-large.md.gz
  misc/repo-owner-review/archived-artifacts/ci-run-artifacts/README.md
  misc/repo-owner-review/archived-artifacts/ci-run-artifacts/determinism_audits_4d9198c.tar.gz
  misc/repo-owner-review/archived-artifacts/deprecated-scripts/capabilities_scored.json
  misc/repo-owner-review/archived-artifacts/deprecated-scripts/capabilities_scored_backup.json
  misc/repo-owner-review/archived-artifacts/disabled-workflows/README.md
  misc/repo-owner-review/archived-artifacts/disabled-workflows/codex_disabled_workflows_a0c1dfb.tar.gz
  misc/repo-owner-review/archived-artifacts/historical-docs/CODE_REVIEW_FIXES.md
  misc/repo-owner-review/archived-artifacts/historical-docs/P1_FIX_API_KEY_OPTIONAL.md
  misc/repo-owner-review/archived-artifacts/historical-docs/PR_2460_BUG_FIX_SUMMARY.md
  misc/repo-owner-review/archived-artifacts/historical-docs/PR_2460_FINAL_STATUS.md
  misc/repo-owner-review/archived-artifacts/historical-docs/PR_SUMMARY_FINAL.md
  misc/repo-owner-review/archived-artifacts/historical-docs/REPOSITORY_ORGANIZATION_SUMMARY.md
  misc/repo-owner-review/archived-artifacts/historical-reports/README.md
  misc/repo-owner-review/archived-artifacts/historical-reports/historical_docs_20251210_4d9198c.tar.gz
  misc/repo-owner-review/archived-artifacts/old-audit-runs/README.md
  misc/repo-owner-review/archived-artifacts/old-audit-runs/codex_reports_2025-10-06_4d9198c.tar.gz
  misc/repo-owner-review/archived-artifacts/old-audit-runs/pytest_validation_4d9198c.tar.gz
  misc/repo-owner-review/archived-artifacts/old-audit-runs/workbench_inventory_4d9198c.tar.gz
  misc/repo-owner-review/archived-artifacts/security-reports/detect-secrets.txt
  misc/repo-owner-review/archived-artifacts/security-reports/detect-secrets.txt.gz
  misc/repo-owner-review/archived-artifacts/validation-logs/README.md
  misc/repo-owner-review/archived-artifacts/validation-logs/validation_logs_20250910_old_a0c1dfb.tar.gz
Due: validate-fences

Add README with repo owner notes and logs
  misc/repo-owner-review/archived-artifacts/readme.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
