Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Potential fix for pull request finding 'Empty except'
  src/codex/cognitive/ml/integration.py
Due: semgrep-local

Potential fix for pull request finding 'Empty except'
  scripts/test_signature_validator.py
Due: semgrep-local

Potential fix for code scanning alert no. 11934: Unused import
  tests/rag/test_retriever_comprehensive.py
Due: semgrep-local

Potential fix for code scanning alert no. 11933: Unused import
  tests/rag/test_indexer_comprehensive.py
Due: semgrep-local

Delete .github/copilot-prompts/active/PR-3176-followup.md
  .github/copilot-prompts/active/PR-3176-followup.md
Due: validate-fences

Remove check-only flag from auto-fix script
  .github/workflows/auto-fix-common-issues.yml
Due: none

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Update FINAL_REPORT.md
  FINAL_REPORT.md
Due: validate-fences

fix(telemetry): honor sample-rate zero during setup
  .codex/PR_3178_FAILURES_CATEGORIZED.md
  .codex/PR_3178_P0_VALIDATION_RESULTS.md
  .codex/plans/path_100_20260209-133554_pr3178_p0.md
  .github/agents/ci-importerror-agent.md
  pytest.ini
  requirements-test.txt
  requirements.txt
  src/codex_ml/tokenization/api.py
  src/codex_ml/tokenization/compat.py
  src/codex_ml/train_loop.py
  tests/conftest.py
  tests/test_rag_utils.py
Due: validate-fences, semgrep-local

Update .codex/PR3178_P0_TEST_RUN_RESULTS.md
  .codex/PR3178_P0_TEST_RUN_RESULTS.md
Due: validate-fences

Add files via upload
  patches/align-documentation-with-codebase-2f2d4b99ffaca29c5c6a971dbd43a426c7efd238.patch
Due: none

Potential fix for code scanning alert no. 12135: Unused import
  .codex/scripts/add_import_guards.py
Due: semgrep-local

Potential fix for pull request finding 'Statement has no effect'
  src/mcp/middleware/rate_limit_middleware.py
Due: semgrep-local

Potential fix for code scanning alert no. 12416: Empty except
  src/mcp/middleware/rate_limit_middleware.py
Due: semgrep-local

Potential fix for pull request finding 'Empty except'
  src/codex_ml/cli/evaluate.py
Due: semgrep-local

Revert "Bump minimatch from 3.1.2 to 3.1.5 in /cognitive_app in the npm_and_yarn group across 1 directory"
  .github/copilot-prompts/active/PR-3380-followup.md
  cognitive_app/package-lock.json
Due: validate-fences

Enable autonomous actions in configuration
  .codex/autonomous_agent.yaml
Due: none

Refactor terminology and hyphenation in documentation
  .codex/docs/GROUNDED_VS_SOFT_ENFORCEMENT.md
Due: validate-fences

Soft → GROUNDED
  docs/plans/Agentic_AI_System/soft_to_GROUNDED.md
Due: validate-fences

Remove timeout from analyze job in workflow
  .github/workflows/progressive-validation.yml
Due: none

Enhance admin setup verification for keys
  .github/workflows/admin_setup_verification.yml
Due: none

BEC objective: First + Second D_CAPABLE agent promotions + AUTO_PROMOTE_TIER_ENABLED write path + write-path tests + CI fixes (#3494)
  .codex/agent_auth_session.json
  .codex/docs/FOLLOWUP_PROMPT_PR3494.md
  .codex/patterns/ci_failure_patterns.yaml
  .github/agents/AGENT_REGISTRY.yaml
  .github/workflows/agent-auth-delegation.yml
  .secrets.baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/arch/ADR-20260303-first-d-capable-promotion.md
  docs/arch/ADR-20260304-second-d-capable-promotion.md
  docs/arch/GITHUB_APP_PATTERN_GAPS.md
  docs/cognitive_brain/status/COGNITIVE_BRAIN_STATUS_PR3494.md
  scripts/ci/auto_promote_tier.py
  tests/ci/test_auto_promote_tier.py
Due: validate-fences, semgrep-local

S112 W-107/W-108: BrainClient auth fix, rust-error-validator D_CAPABLE, agent_context full sync, auth-delegation 2h window (#3495)
  .codex/agent_auth_session.json
  .codex/agent_context.json
  .codex/docs/FOLLOWUP_PROMPT_PR3495.md
  .github/agents/AGENT_REGISTRY.yaml
  .github/workflows/agent-auth-delegation.yml
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/arch/ADR-20260304-copilot-agent-cli-api-gaps.md
  docs/arch/ADR-20260304-rust-error-validator-d-capable-promotion.md
  docs/arch/ADR-20260304-third-d-capable-evaluation.md
  docs/cognitive_brain/status/COGNITIVE_BRAIN_STATUS_PR3495.md
  src/codex/agents/brain_client.py
  tests/agents/test_brain_client.py
  tests/helpers/assertions.py
  tests/space_traversal/test_peft_comprehensive/test_run_functional_training_resume.py
Due: validate-fences, semgrep-local

W-109/W-110/W-111/W-112: Schedule repo-var-sync-agent daily + rust-error-validator observation + fourth D_CAPABLE candidate designation + C8 sign-off + session auto-increment (#3496)
  .codex/agent_auth_session.json
  .codex/agent_context.json
  .codex/docs/FOLLOWUP_PROMPT_PR3496.md
  .github/agents/AGENT_REGISTRY.yaml
  .github/workflows/agent-auth-delegation.yml
  .github/workflows/repo-var-sync-schedule.yml
  .github/workflows/rust-error-validator-observation.yml
  .secrets.baseline
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/arch/ADR-20260305-fourth-d-capable-evaluation.md
  docs/cognitive_brain/status/COGNITIVE_BRAIN_STATUS_PR3496.md
Due: validate-fences

fix: satisfy Cognitive Pre-flight REQ-4/REQ-5 gates after self-heal auto-commit (W-119) (#3502)
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

feat(W-119/W-123/W-124/W-125): webhook audit + apply — 0 live hooks, WEBHOOK_RECEIVER_URL override, registry + ops doc + token guide + PR #3501 cherry-pick (#3499)
  .codex/agent_auth_session.json
  .codex/webhook_config.json
  .codex/webhook_registry.json
  .github/copilot-prompts/active/PR-3501-followup.md
  .github/workflows/agent_infrastructure_manager.yml
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  CHANGELOG.md
  docs/NEWCOMER_GUIDE.md
  docs/Usage_Guide.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/agent/COPILOT_TOKEN_GUIDE.md
  docs/getting-started.md
  docs/ops/WEBHOOK_REGISTRY.md
  docs/plans/larger-runners-upgrade.md
  docs/plans/webhook-identification.md
  scripts/ci/webhook_configurator.py
  tests/agents/test_variable_management.py
Due: validate-fences, semgrep-local

feat(W-130): Add inbound webhook receiver + Codespace auto-URL + fix _GITHUB_APP_* naming (#3504)
  .devcontainer/devcontainer.json
  .devcontainer/scripts/post-start.sh
  CHANGELOG.md
  cognitive_app/src/server/cli_api_server.py
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/admin/GITHUB_VARIABLES_MASTER_GUIDE.md
  docs/ops/WEBHOOK_REGISTRY.md
  tests/server/__init__.py
  tests/server/test_webhook_endpoint.py
Due: validate-fences, semgrep-local

fix: SentencePieceAdapter.decode accepts any iterable (fixes test_decode_accepts_iterable CI failure) (#3541)
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  src/codex_ml/tokenization/sentencepiece_adapter.py
  tests/tokenization/test_sentencepiece_contract.py
Due: validate-fences, semgrep-local

fix(sub-pr-3513): add render_template + run_stage to audit_runner + refresh preflight artifacts (#3540)
  .codex/sessions/session_fb0cba51-e131-4349-af8c-c7bc7869edb0.jsonl
  .secrets.baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  configs/synonyms/test_synonyms.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/space_traversal/audit_runner.py
  src/codex_ml/tokenization/sentencepiece_adapter.py
  tests/tokenization/test_sentencepiece_contract.py
Due: validate-fences, semgrep-local

Update README to specify it's not the main README
  .github/README.md
Due: validate-fences

Update README to specify it's not the main README (#3543)
  .codex/cognitive_brain/metadata.json
  .codex/cognitive_brain/workflow_patterns.jsonl
  .codex/embeddings/codex_index_meta.json
Due: none

Update README to specify it's not the main README (#3542)
  .codex/cognitive_brain/metadata.json
  .codex/cognitive_brain/workflow_patterns.jsonl
  .codex/embeddings/codex_index_meta.json
  .github/README.md
  .github/copilot-prompts/active/PR-3542-followup.md
Due: validate-fences

[WIP] Update repository health monitoring and devcontainer configuration (#3546)
  .codex/agent_context.json
  docs/admin/GITHUB_VARIABLES_MASTER_GUIDE.md
  docs/admin/variable_audit_latest.md
Due: validate-fences

fix(sub-pr-3513): fix Resilient Validation Suite CI failures + verify review comment fixes + refresh preflight artifacts (#3544)
  .secrets.baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  src/cli/__init__.py
  src/mcp/middleware/rate_limit_middleware.py
  tests/validation/test_ci_workflow_validation.py
Due: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
