Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Potential fix for pull request finding 'CodeQL / Incomplete URL substring sanitization'
  tests/github/test_package_registry.py
Due: semgrep-local

Fix workflow trigger syntax in pages-mkdocs.yml
  .github/workflows/pages-mkdocs.yml
Due: none

Fix workflow trigger syntax in semgrep_sarif.yml
  .github/workflows/semgrep_sarif.yml
Due: none

Fix workflow trigger syntax in YAML file
  .github/workflows/pages-scheduled-validation.yml
Due: none

Fix workflow trigger syntax in YAML file
  .github/workflows/pages-pre-merge-validation.yml
Due: none

Fix workflow trigger syntax in health guard YAML
  .github/workflows/pages-health-guard.yml
Due: none

Update workflow trigger for container security scan
  .github/workflows/container-scan.yml
Due: none

docs: Phase 8.2 completion - issue triage engine fully operational
  .codex/PHASE_8_3_CHECKPOINT_REPORT_DAY1.md
Due: validate-fences

Add Phase 8.1 implementation summary - 100% deliverables complete
  .codex/PHASE_8_1_IMPLEMENTATION_SUMMARY.md
Due: validate-fences

Add Phase 8.1 quick reference guide for daily operations
  .codex/PHASE_8_1_QUICK_REFERENCE.md
Due: validate-fences

docs: Phase 8.2 complete - executive summary and final reports [skip ci]
  .codex/PHASE_8_2_EXECUTIVE_SUMMARY.md
Due: validate-fences

Phase 8.2 completion - issue triage engine fully operational and deployed
  .codex/PERFORMANCE_MONITOR_AGENT_SESSION_COMPLETION.md
  .codex/PHASE_8_3_DAY2_QUICK_START.md
Due: validate-fences

milestone: phase 8 post-release monitoring complete (100% - all 3 agents, 12/12 deliverables)
  .codex/PHASE_8_COMPLETION_MILESTONE.md
Due: validate-fences

feat: complete phase 8 all agents (12/12 deliverables) + authorize phase 9 activation
  .codex/PHASE_8_3_CAMPAIGN_NAVIGATION_INDEX.md
Due: validate-fences

PHASE_9_KICKOFF: Deployed 3 parallel agents for D_CAPABLE, Cascade, Semantic Router - Autonomous ops expansion live
  .codex/PHASE_9_DEPLOYMENT_INITIATED.md
Due: validate-fences

MAJOR_MILESTONE: Phase 8 COMPLETE (100%) + Phase 9 LIVE - All 6 agents deployed in dual-phase execution model
  scripts/ci/__pycache__/phase_9_2_cascade_orchestrator.cpython-312.pyc
Due: none

Phase 9.1: Complete operational status documentation and campaign dashboard update
  .codex/MULTI_AGENT_CAMPAIGN_DASHBOARD.md
  .codex/PHASE_9_1_OPERATIONAL_STATUS_2026_06_30.md
  .codex/PHASE_9_1_QUICK_REFERENCE_FOR_TEAMS.md
Due: validate-fences

Phase 9.1: Add comprehensive executive summary and completion report
  .codex/PHASE_9_1_COMPLETION_REPORT_EXECUTIVE_SUMMARY.md
Due: validate-fences

Phase 9.2 Day 1 Checkpoint: Complete pattern catalog, deployment plan, and integration tests
  .codex/PHASE_9_2_AUTOFIX_PATTERNS.md
  .codex/PHASE_9_2_CASCADE_DEPLOYMENT_PLAN.md
  .codex/PHASE_9_2_DAY_1_CHECKPOINT_REPORT.md
  .codex/PHASE_9_3_PARALLEL_DEPLOYMENT_PLAN.md
  .codex/PHASE_9_3_ROUTER_SPECIFICATION.md
Due: validate-fences

Phase 9.2 Day 1: Checkpoint Complete - 25% Completion (All Gates Passed)
  .codex/PHASE_9_3_DAY1_PROGRESS_REPORT.md
Due: validate-fences

Phase 9.3: Day 1 Semantic Router Implementation - 28% Complete
  .codex/MULTI_AGENT_CAMPAIGN_DASHBOARD_PHASE_9_3_UPDATE.md
Due: validate-fences

PHASE_9_1_COMPLETE: D_CAPABLE framework - 9 agents authorized, decision logging deployed, 100/100 tests passing
  .codex/PHASE_9_1_COMPLETION_REPORT.md
Due: validate-fences

Session Complete: Phase 9.2 Day 1 - All Checkpoints Passed
  .codex/SESSION_SUMMARY_PHASE_9_2_DAY_1.md
Due: validate-fences

PHASE_9_2_COMPLETE: Cascade system - 12 patterns (68% success), 1.8s routing, 100+ tests passing
  .codex/PHASE_9_2_COMPLETION_REPORT.md
Due: validate-fences

PHASE_9_COMPLETE: All 3 tracks finished - D_CAPABLE (9 agents), Cascade (12 patterns 68%), Router (95% accuracy 170ms)
  .codex/PHASE_9_3_COMPLETION_REPORT.md
  .codex/PHASE_9_COMPLETION_MILESTONE.md
Due: validate-fences

CAMPAIGN_55%: Phase 9 complete (16 deliverables, 4500+ LOC, 300+ tests). Autonomous ops expanded. Phase 10 ready.
  .codex/CAMPAIGN_PHASE_9_FINAL_SUMMARY.md
Due: validate-fences

metric: Approval telemetry for agent-auth-delegation
  .codex/metrics/hourly.jsonl
Due: none

Delete test file 'delete_this_file.md'
  delete_this_file.md
Due: validate-fences

audit: Log approval via agent-auth-delegation (PR #5172, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
