Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Update scripts/space_traversal/audit_runner.py
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Update print statement from 'Hello' to 'Goodbye'
  templates/PR_Template_Checklist_to_yaml.html
Due: none

Add MCP Audit and Implementation Plan documentation
  .github/prompts/MCP_AUDIT_AND_IMPLEMENTATION_PLAN.md
Due: validate-fences

Simplify MCP Mapping Outline by removing Copilot references
  .github/prompts/MCP_MAPPING_OUTLINE.md
Due: validate-fences

Integrate MCP core components and add detectors
  .github/prompts/Patchset_1-2_MCP_Core_Module_Integration.md
Due: validate-fences

Create additional_helpful_files.md for MCP improvements
  .github/prompts/additional_helpful_files.md
Due: validate-fences

Update MCP core module documentation
  .github/prompts/mcp_core_module.md
Due: validate-fences

Create MCP maturity blueprint and patchset
  .github/prompts/CODEX_MCP_COMPLETE_PATCHSETs.md
Due: validate-fences

feat: expand MCP safeguards and tests
  mcp/auth.py
  mcp/errors.py
  mcp/rate_limit.py
  mcp/registry.py
  mcp/safeguards.py
  mcp/server/server.py
  mcp/versioning.py
  tests/mcp/test_error_handling_comprehensive.py
  tests/mcp/test_multi_tenant.py
  tests/mcp/test_schema_validation.py
  tests/mcp/test_tools_integration_advanced.py
  tests/mcp/test_versioning_advanced.py
Due: semgrep-local

Improve MCP helpers and docs
  docs/MCP_Usage_Guide.md
  mcp/errors.py
  mcp/multi_tenant.py
  mcp/safeguards.py
  services/ita/app/main.py
  tests/mcp/test_protocol.py
  tests/mcp/test_utilities.py
Due: validate-fences, semgrep-local

Update mcp/examples.py
  mcp/examples.py
Due: semgrep-local

Update tests/mcp/test_integration.py
  tests/mcp/test_integration.py
Due: semgrep-local

Update scripts/space_traversal/detectors/mcp_authz_authn.py
  scripts/space_traversal/detectors/mcp_authz_authn.py
Due: semgrep-local

Add MCP auth primitives and error handling
  src/mcp/__init__.py
  src/mcp/auth.py
  src/mcp/errors.py
  src/mcp/rate_limit.py
Due: semgrep-local

Fix unconditional os import in MCPConfig
  src/mcp/config.py
Due: semgrep-local

Update src/mcp/config.py
  src/mcp/config.py
Due: semgrep-local

fix: resolve lazy dataset loaders
  src/codex_ml/data/loaders/__init__.py
Due: semgrep-local

Update .github/workflows/scheduled-dependency-audit.yml
  .github/workflows/scheduled-dependency-audit.yml
Due: none

Fix GPU Python install and workflow defaults
  .github/workflows/scheduled-dependency-audit.yml
  Dockerfile.gpu
Due: none

Update Dockerfile.gpu
  Dockerfile.gpu
Due: none

Update .github/workflows/container-build.yml
  .github/workflows/container-build.yml
Due: none

Update docs/validation/Wheel_Manifest_SBOM_Guide.md
  docs/validation/Wheel_Manifest_SBOM_Guide.md
Due: validate-fences

Update Dockerfile
  Dockerfile
Due: none

Update scripts/ci/generate_wheel_manifest.py
  scripts/ci/generate_wheel_manifest.py
Due: semgrep-local

fix: align BLEU brevity penalty with hypotheses
  src/codex_ml/metrics/generation.py
Due: semgrep-local

Polish BLEU brevity penalty follow-ups
  docs/CHANGELOG.md
  docs/migrations/bleu_brevity_penalty_migration.md
  src/codex_ml/metrics/generation.py
  tests/metrics/test_bleu_brevity_penalty.py
Due: validate-fences, semgrep-local

Fix scheduler registry torch fallback
  src/codex_ml/training/schedulers/registry.py
Due: semgrep-local

Create comprehensive Status Update audit report template
  .github/templates/_codex_status_update_template.md
Due: validate-fences

Add comprehensive Status Update audit report template
  .github/templates/_codex_status_update_template.md
Due: validate-fences

Add files via upload
  .github/prompts/Audit_Status_Update_Review_Iteration_Plan.md
  .github/prompts/ChatGPT_Codex_Assistant_Implementation_Verification.md
Due: validate-fences

feat: enhance audit pipeline overrides and reporting
  .copilot-space/workflow.yaml
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/coverage_ingest.py
  scripts/space_traversal/detectors/example_v2.py
  scripts/space_traversal/detectors/mcp_security_safeguards.py
  scripts/space_traversal/schemas/capability_matrix.schema.json
  tests/audit/test_json_companion.py
  tests/audit/test_overrides.py
Due: semgrep-local

artifacts: add phase a validator snapshot
  .copilot-space/workflow.yaml
  artifacts/validate_report_20251119.json.gz.b64
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/detectors/example_v2.py
  scripts/space_traversal/schemas/capability_matrix.schema.json
  tests/audit/test_context_and_facets.py
  tests/audit/test_json_companion.py
  tests/audit/test_overrides.py
  tools/validate_repo_0D_base.py
Due: semgrep-local
