Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Enforce owner approval guard on Docker pushes
  .github/_workflows_disabled/docker-build-push.yml
  docs/docker.md
  docs/validation/Owner_Approval_Validation.md
  scripts/ci/owner_approval_guard.sh
  scripts/ci/push_image.sh
Due: validate-fences

Enable owner-approved Docker CI workflow
  .github/OWNER_APPROVAL.md
  .github/workflows/docker-build-push.yml
  docs/validation/Owner_Approved_CI_Validation.md
Due: validate-fences

Fix docker workflow env inputs context
  .github/workflows/docker-build-push.yml
Due: none

Enhance owner approval workflow metadata and docs
  .github/OWNER_APPROVAL.md
  .github/workflows/docker-build-push.yml
  docs/validation/Owner_Approved_CI_Validation.md
  scripts/ci/owner_approval_guard.sh
  scripts/ci/owner_approval_summary.sh
Due: validate-fences

Guard workflow_dispatch inputs in Docker workflow
  .github/workflows/docker-build-push.yml
Due: none

Enable Docker GA workflow with owner approval utilities
  .github/workflows/docker-build-push.yml
  Makefile
  docs/docker.md
  scripts/ci/owner_approval_status.sh
  scripts/ci/push_image.sh
Due: validate-fences

Fix docker workflow paths
  .github/workflows/docker-build-push.yml
Due: none

chore: harden docker workflow approvals
  .github/workflows/docker-build-push.yml
  docs/validation/Owner_Approved_CI_Validation.md
Due: validate-fences

Ensure docker workflow retains actions write permission
  .github/workflows/docker-build-push.yml
Due: none

Enhance Docker CI caching and GHCR normalization
  .github/OWNER_APPROVAL.md
  .github/workflows/docker-build-push.yml
  docs/docker.md
  scripts/ci/push_image.sh
Due: validate-fences

feat(ci): auto-expire workflows and add policy-proof docker build
  .github/OWNER_APPROVAL.md
  .github/_workflows_disabled/.gitkeep
  .github/_workflows_disabled/docker-build-push.marketplace.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/workflow-expiry-enforcer.yml
  docs/validation/Workflow_Expiry_Enforcer_Validation.md
  scripts/ci/buildx_setup.sh
  scripts/ci/qemu_setup.sh
  scripts/ci/raw_checkout.sh
  scripts/ci/workflow_expiry_enforcer.sh
Due: validate-fences

Add self-hosted runner tooling and diagnostics
  .github/workflows/runner-diagnostics.yml
  docs/validation/SelfHostedRunner_Validation.md
  scripts/runner/_svc_template.actions-runner@.service
  scripts/runner/actions_runner_bootstrap.sh
  scripts/runner/actions_runner_remove.sh
  scripts/runner/install_binfmt.sh
  scripts/runner/install_docker.sh
Due: validate-fences

Add self-hosted runner management tooling
  .github/docs/SelfHostedRunner_InstructionEnhancement.md
  Makefile
  docs/validation/Runner_Status_Validation.md
  scripts/runner/actions_runner_bootstrap.sh
  scripts/runner/actions_runner_remove.sh
  scripts/runner/common.sh
  scripts/runner/configure_repo_vars.sh
  scripts/runner/evidence.sh
  scripts/runner/runner_status.sh
Due: validate-fences

Add scripts and docs for ephemeral self-hosted runners
  .github/docs/SelfHostedRunner_InstructionEnhancement.md
  docs/validation/EphemeralRunner_Validation.md
  scripts/runner/actions_runner_ephemeral.sh
  scripts/runner/drain_queue_ephemeral.sh
Due: validate-fences

feat: manage repo variables lifecycle
  .github/docs/SelfHostedRunner_InstructionEnhancement.md
  Makefile
  docs/validation/Repo_Variables_Management_Validation.md
  scripts/runner/configure_repo_vars.sh
  scripts/runner/list_repo_vars.sh
Due: validate-fences

Harden ephemeral runner defaults and expand runner docs
  .github/docs/SelfHostedRunner_InstructionEnhancement.md
  docs/validation/Repo_Variables_Management_Validation.md
  scripts/runner/actions_runner_ephemeral.sh
  scripts/runner/drain_queue_ephemeral.sh
  scripts/runner/list_repo_vars.sh
Due: validate-fences

Fix runner-vars lifecycle guard evaluation
  Makefile
Due: none

Fix raw checkout helper for reused workspaces
  .github/workflows/workflow-expiry-enforcer.yml
  scripts/ci/raw_checkout.sh
Due: none

Improve runner URL parsing helpers
  scripts/runner/actions_runner_bootstrap.sh
  scripts/runner/actions_runner_ephemeral.sh
  scripts/runner/common.sh
  tests/ops/test_runner_common_parse.py
Due: semgrep-local

Add tokenizer CLI utilities and offline test coverage
  docs/QUICKSTART.md
  src/codex_ml/cli/main.py
  src/codex_ml/cli/tokenizer.py
  src/codex_ml/data/make_splits.py
  src/codex_ml/modeling/__init__.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/tracking/offline.py
  tests/data/test_make_splits.py
  tests/tracking/test_mlflow_init.py
  tests/tracking/test_offline_ndjson_logger.py
  tests/training/test_lora_toggles.py
  tests/unit/test_tokenizer_cli_feature_flag.py
Due: validate-fences, semgrep-local

Fix runner parsing edge cases
  scripts/runner/actions_runner_ephemeral.sh
  scripts/runner/common.sh
Due: none

Fix Makefile tabs for runner variable recipes
  Makefile
Due: none

fix: compute expiry for duration approvals
  scripts/ci/workflow_expiry_enforcer.sh
Due: none

Fix owner approval status exit code handling
  scripts/ci/owner_approval_status.sh
Due: none

Fix NDJSON rotation for suffixless paths
  src/codex_ml/tracking/offline.py
Due: semgrep-local

Re-export legacy evidence helpers
  src/codex/evidence/__init__.py
Due: semgrep-local

Add lightweight training config, evaluation utilities, and CLI
  models/__init__.py
  models/chat_model.py
  monitoring/system_metrics.py
  scripts/train.py
  tests/models/test_chat_model.py
  tests/monitoring/test_system_metrics.py
  tests/scripts/test_train_script.py
  tests/training/test_evaluate_module.py
  tests/training/test_training_config_module.py
  training/config.py
  training/engine_hf_trainer.py
  training/evaluate.py
Due: semgrep-local

Move generated tokens to CPU before decoding
  models/chat_model.py
Due: semgrep-local

Ensure GPU generations decode from CPU tokens
  models/chat_model.py
Due: semgrep-local

Align coverage config with codex_ml scope
  AGENTS.md
  CHANGELOG_CODEX.md
  CONTRIBUTING.md
  Makefile
  README.md
  analysis/tests_docs_links_audit.py
  archive/removed/ci.yml
  codex_digest/EXECUTION.md
  docs/PR_PLAN.md
  docs/QUALITY_GATES.md
  docs/ops/RUNBOOK.md
  docs/ops/RUNBOOK.md01
  docs/suggested_tasks/remediation_phase1_task_queue_2025-09-17.md
  docs/suggested_tasks/status_update_2025-09-17.md
  docs/validation/Offline_Audit_Validation.md
  noxfile.py
  patches/ci_local.patch
  pytest.ini
  reports/_codex_status_update-2025-09-30.md
  reports/iteration1_audit.md
  scripts/codex_local_gates.sh01
  scripts/deep_research_task_process.py
  scripts/run_codex_digest.sh
  scripts/run_validation.sh
  src/codex_ml/data/loaders.py
  tests/analysis/test_docs_links_audit.py
  tools/apply_branchA_all.py
  tools/apply_ci_precommit.py
  tools/codex_execute_audit.py
  tools/codex_task_runner.py
  tools/codex_workflow_executor.py
  tools/run_tests.py
  transformers/__init__.py
Due: validate-fences, semgrep-local

Fix structured dataset loading for language filter
  src/codex_ml/data/loaders.py
Due: semgrep-local

Handle optional training config unions
  training/config.py
Due: semgrep-local

Adjust coverage gating to codex_ml scope
  AGENTS.md
  archive/removed/ci.yml
  codex_digest/EXECUTION.md
  docs/PR_PLAN.md
  docs/ops/RUNBOOK.md
  docs/ops/RUNBOOK.md01
  docs/validation/Offline_Audit_Validation.md
  noxfile.py
  patches/ci_local.patch
  pytest.ini
  scripts/codex_local_gates.sh01
  scripts/run_codex_digest.sh
  scripts/space_traversal/audit_runner.py
  tools/codex_execute_audit.py
  tools/codex_task_runner.py
  tools/codex_workflow_executor.py
  tools/run_tests.py
Due: validate-fences, semgrep-local

Add registry helpers, dataset utilities, and training instrumentation
  src/codex_ml/cli/simple_cli.py
  src/codex_ml/data/dataset_wrapper.py
  src/codex_ml/model_registry.py
  src/codex_ml/training/engine.py
  src/codex_ml/utils/checkpoint_manager.py
  tests/test_checkpoint_manager.py
  tests/test_dataset_wrapper.py
  tests/test_model_registry_helpers.py
  tests/test_simple_cli_seeding.py
  tests/test_training_engine.py
Due: semgrep-local

Handle pickle checkpoints when torch is available
  src/codex_ml/utils/checkpoint_manager.py
  tests/test_checkpoint_manager.py
Due: semgrep-local

Ensure pytest-cov loads with plugin autoload disabled
  docs/dev/testing.md
  pytest.ini
Due: validate-fences

Skip docs score specs when audit deps missing
  scripts/space_traversal/audit_runner.py
  tests/specs/test_docs_score_synonyms.py
Due: semgrep-local

Handle optional Hydra dependency in structured config
  configs/schema.py
  tests/configs/test_hydra_structured_config.py
Due: semgrep-local

Add offline SBOM tooling and moderation adapter
  Makefile
  docs/safety/moderation_adapter.md
  docs/safety/policy_guidance.md
  noxfile.py
  reports/gap_risk_resolution.md
  reports/security_audit.md
  scripts/sbom_cyclonedx.py
  src/codex/archive/similarity.py
  src/codex_ml/cli/infer.py
  src/codex_ml/safety/__init__.py
  src/codex_ml/safety/moderation.py
  src/codex_ml/training/legacy_api.py
Due: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
