Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

chore(ci): Fix module imports — Patterns P-032 through P-035
  src/agents/__init__.py
  src/cli/__init__.py
  src/cli/task_sequence.py
  src/cli/train_codex.py
Due: semgrep-local

🎉 Phase B COMPLETE: All 8 tracks operational (100%), Gate 1 PASSED, Wave 7 final Track 3 CI metrics integrated, comprehensive campaign documentation
  .codex/PHASE_B_WAVE_7_FINAL_REPORT.md
Due: validate-fences

🎉 PHASE B CAMPAIGN COMPLETE: All 8 tracks operational, Gate 1 PASSED, production readiness launch successful
  .codex/PHASE_B_CAMPAIGN_COMPLETE.md
Due: validate-fences

Fix typo in scratch notes
  .codex/temp.md
Due: validate-fences

Refactor comments and formatting in workflow file
  .github/workflows/auto-approve-workflows.yml
Due: none

Refactor comments and clean up auto-approve workflow
  .github/workflows/auto-approve-workflows.yml
Due: none

feat: Phase 7A Wave 2 Lane 2.1 - Security-Critical Test Generation (962 tests)
  .codex/PHASE_7A_WAVE2_LANE_STATUS_UPDATE.md
Due: validate-fences

docs: Add comprehensive Phase 7A Wave 2 Lane 2.1 final report with complete metrics and validation
  .codex/PHASE_7A_WAVE2_LANE21_FINAL_REPORT.md
Due: validate-fences

PHASE_7A: Proactive next-session prep staged for Day 9-10 continuation
  .codex/NEXT_SESSION_HANDOFF_PROMPT.md
Due: validate-fences

feat(security): Phase 7A Wave 2 Lane 2.1 - 962 security-critical tests generated (✅ 100% pass rate)
  .codex/NEXT_SESSION_PREPARATION_DAY9-10.md
  .codex/PHASE_7A_SESSION_COMPLETION_SUMMARY.md
Due: validate-fences

PHASE_7A: WAVE 2 COMPLETE — All 4 lanes delivered (5,978 tests), 92% target exceeded
  .codex/WAVE_2_COMPLETION_SUMMARY.md
Due: validate-fences

PHASE_7A: Master status report — Campaign 56% complete, Wave 2 100% delivered
  .codex/PHASE_7A_MASTER_STATUS.md
Due: validate-fences

Potential fix for pull request finding 'CodeQL / Clear-text logging of sensitive information'
  scripts/ops/codex_mint_tokens_per_run.py
Due: semgrep-local

Update action versions in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor YAML workflow for Copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix typo in Git LFS mode description
  .github/workflows/copilot-setup-steps.yml
Due: none

from add792eb3
  .github/workflows/copilot-setup-steps.yml
Due: none

reverting back to version from 2 days ago
  .github/workflows/copilot-setup-steps.yml
Due: none

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Update checkout action to v3.0.0 canonical baseline
  .github/workflows/copilot-setup-steps.yml
Due: none

Update checkout action SHA in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Add Docker Campaign Phase 2 execution summary
  .codex/PHASE_7D_EXECUTION_SUMMARY.txt
Due: none

Track 2 complete: Docker Phase 2 builds (5/8 successful, SBOM 100%, critical path unblocked)
  .codex/MASTER_DEPLOYMENT_STATUS_DASHBOARD.md
  .codex/TRACK_2_COMPLETION_SUMMARY.md
Due: validate-fences

Fix: docker-build-push.yml - Fix YAML syntax (true: → on:) and remove invalid timeout-minutes from reusable workflow call (line 56)
  .github/workflows/docker-build-push.yml
Due: none

Fix: build-preview-image.yml - Remove invalid timeout-minutes from reusable workflow call (line 48)
  .github/workflows/build-preview-image.yml
Due: none

Fix: embedding-index-rebuild.yml - Remove invalid timeout-minutes from reusable workflow call (line 24)
  .github/workflows/embedding-index-rebuild.yml
Due: none

Fix: data-quality-suite.yml - Remove invalid timeout-minutes from reusable workflow call (line 59)
  .github/workflows/data-quality-suite.yml
Due: none

Fix: rust_swarm_ci.yml - Remove invalid timeout-minutes from reusable workflow call (line 44)
  .github/workflows/rust_swarm_ci.yml
Due: none

Fix: release.yml - Remove invalid timeout-minutes from reusable workflow call (line 48)
  .github/workflows/release.yml
Due: none

Fix: automated-monitoring-setup.yml - Replace echo escape sequences with printf for proper interpretation (lines 234, 237)
  .github/workflows/automated-monitoring-setup.yml
Due: none

Fix: progressive-validation.yml - Remove invalid timeout-minutes from reusable workflow call (line 26)
  .github/workflows/progressive-validation.yml
Due: none

Fix: automated-post-deployment-verification.yml - Define job outputs for health_status and smoke_status (lines 105, 150)
  .github/workflows/automated-post-deployment-verification.yml
Due: none

Fix: automated-rollback-generation.yml - Fix step reference from steps.validation to steps.validate (line 201)
  .github/workflows/automated-rollback-generation.yml
Due: none

Phase 1 & 3 complete: Fix security pragma and broken documentation links
  .github/workflows/admin-action-t03.yml
  docs/observability/README.md
  docs/plugins/README.md
Due: validate-fences

Finalize Phase 1-3 workflow fixes and accountability tracking
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Fix: Upgrade cryptography/pyOpenSSL to fix RAG module import failure (S228)
  .github/workflows/test-rag.yml
Due: none

Fix: Add cryptography/pyOpenSSL upgrade to embedding-index-rebuild workflow (S228)
  .github/workflows/embedding-index-rebuild.yml
Due: none

Complete Phase 4: Fix RAG module test import errors and update accountability report
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
