Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Enable CI workflow by renaming ci.yml.disabled
  .github/workflows/ci.yml
Due: none

feat(core): add quantization and remote checkpoint sync
  CHANGES.md
  configs/base/safety/policy.yaml
  configs/sweeps/minimal.yaml
  docs/development/offline_ci.md
  docs/guides/plugin_development.md
  docs/how-to/dataset_manifest.md
  docs/training/Checkpointing_Surfaces.md
  noxfile.py
  src/codex_ml/models/factory.py
  src/codex_ml/utils/__init__.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/storage.py
  tests/conftest.py
  tests/models/test_model_factory_quantization.py
  tests/utils/test_checkpoint_remote.py
  tools/hydra_sweep_smoke.py
  tools/offline_ci_runner.py
Due: validate-fences, semgrep-local

feat(metrics): add offline generative metrics and logging upgrades
  .github/workflows/ci.yml
  CHANGES.md
  docs/guides/metrics.md
  docs/logging/logging_guide.md
  src/codex_ml/evaluation/cli.py
  src/codex_ml/evaluation/loop.py
  src/codex_ml/logging/registry.py
  src/codex_ml/metrics/__init__.py
  src/codex_ml/metrics/generative.py
  src/codex_ml/metrics/registry.py
  tests/evaluation/test_evaluate_epoch.py
  tests/logging/test_registry_logger.py
  tests/metrics/test_generative.py
Due: validate-fences, semgrep-local

Delete docs/plans/confirm_complete_implementation_of_files.zip
  docs/plans/confirm_complete_implementation_of_files.zip
Due: none

Add files via upload
  docs/plans/implement_dependency.zip
Due: none

Add files via upload
  scripts/maintenance.sh
  scripts/setup.sh
Due: none

Add files via upload
  .github/docs/Coverage_Gating_Restoration_Enhanced_Copilot.md
Due: validate-fences

Add .md documentation and implementation plan
  .github/prompts/implement_agents_documentation_enhancement.md
Due: validate-fences

Cleanup .md implementation prompt section
  .github/prompts/implement_agents_documentation_enhancement.md
Due: validate-fences

Document .md implementation analysis
  .github/docs/AGENTS_Implementation_Analysis_Copilot.md
Due: validate-fences

Update src/codex/logging/viewer.py
  src/codex/logging/viewer.py
Due: semgrep-local

Add Phase 1 Completion Analysis for AGENTS.md
  .github/docs/AGENTS_Phase1_Completion_Analysis_Copilot.md
Due: validate-fences

Phase 1 final push - maximize production readiness
  .github/prompts/implement_phase1_final_push_to_production.md
Due: validate-fences

Refine implementation prompt for phase 1 final push
  .github/prompts/implement_phase1_final_push_to_production.md
Due: validate-fences

Add follow-up prompt for AGENTS.md Phase 1 final push
  .github/prompts/phase1_final_push_followup_prompt.md
Due: validate-fences

Implement follow-up tasks for AGENTS.md
  .github/docs/AGENTS_Implement_Planned_Followup.md
Due: validate-fences

Implement follow-up tasks for 98% production readiness
  .github/prompts/implement_planned_followup_prompt.md
Due: validate-fences

Update tests/test_agents_infrastructure.py
  tests/test_agents_infrastructure.py
Due: semgrep-local

Update src/codex/logging/db_manager.py
  src/codex/logging/db_manager.py
Due: semgrep-local

Fix DBManager close_all_pools() AttributeError
  .github/prompts/fix_dbmanager_logger_classmethod_issue.md
Due: validate-fences

Implement reusable pytest fixture infrastructure
  .github/docs/AGENTS_Integration_Test_Fixture_Refactor_Copilot.md
Due: validate-fences

Add completion report template for fixture infrastructure
  .github/docs/AGENTS_Integration_Test_Fixture_Refactor_Copilot.md
Due: validate-fences

Update tests/test_pooling_advanced.py
  tests/test_pooling_advanced.py
Due: semgrep-local

Document PR #2224 review comments and implementation plan
  .github/docs/AGENTS_PR2224_Review_Comments_Response_Copilot.md
Due: validate-fences

Fix PR #2224 review comments
  .github/prompts/fix_pr2224_review_comments.md
Due: validate-fences

Add files via upload
  .github/prompts/PR_2207_COMPREHENSIVE_VERIFICATION_PROMPT.md
  .github/prompts/PR_2207_VERIFICATIONCOPILOT_PROMPT.md
Due: validate-fences

Add files via upload
  .github/docs/PR_2207_VERIFICATION_EXECUTION_GUIDE.yaml
Due: none

Update verification prompt for PR #2207
  .github/prompts/PR_2207_VERIFICATIONCOPILOT_PROMPT.md
Due: validate-fences

Update title of verification prompt for PR #2207
  .github/prompts/PR_2207_COMPREHENSIVE_VERIFICATION_PROMPT.md
Due: validate-fences

Rename PR_2207_COMPREHENSIVE_VERIFICATION_PROMPT.md to PR_2207_COMPREHENSIVE_VERIFICATION.md
  .github/docs/PR_2207_COMPREHENSIVE_VERIFICATION.md
Due: validate-fences

Rename PR_2207_VERIFICATIONCOPILOT_PROMPT.md to PR_2207_VERIFICATION_COPILOT_PROMPT.md
  .github/prompts/PR_2207_VERIFICATION_COPILOT_PROMPT.md
Due: validate-fences

Create deployment playbook for PR #2207
  .github/docs/PR_2207_DEPLOYMENT_PLAYBOOK.md
Due: validate-fences

Add CI/CD validation artifacts for PR #2207
  .github/docs/PR_2207_CI_CD_VALIDATION_ARTIFACTS.yaml
Due: none

Create final sign-off checklist for PR #2207
  .github/docs/PR_2207_FINAL_SIGN_OFF_CHECKLIST.md
Due: validate-fences

Add deployment orchestration specification for PR #2207
  .github/docs/DEPLOYMENT_ORCHESTRATION_PR2207.md
Due: validate-fences

Add deployment orchestration task template
  .github/templates/DEPLOYMENT_ORCHESTRATION_TASK.md
Due: validate-fences

Add Copilot Agent deployment instructions
  .github/docs/COPILOT_AGENT_DEPLOYMENT_INSTRUCTIONS.md
Due: validate-fences

Add critical issue analysis for PR #2207 deployment
  .github/docs/CRITICAL_ISSUE_ANALYSIS_Copilot_Agents_Autonomous_Deployment.md
Due: validate-fences

Update references in critical issue analysis document
  .github/docs/CRITICAL_ISSUE_ANALYSIS_Copilot_Agents_Autonomous_Deployment.md
Due: validate-fences
