Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Phase 4 Lane B: Docker images & Kubernetes manifests
  .codex/PHASE_4_LANE_B_COMPLETION_REPORT.md
Due: validate-fences

docs: Phase 4 Lane B complete - Docker & Kubernetes delivery (8 min execution, 1500% ahead)
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Phase 4 Lane C: Security Hardening & Documentation Complete
  PHASE_4_LANE_C_COMPLETION_REPORT.md
  docs/DEPLOYMENT.md
  docs/INTEGRATION_EXAMPLES.md
  docs/PERFORMANCE_TUNING.md
  docs/PRODUCTION_CHECKLIST.md
Due: validate-fences

docs: Add Phase 4 execution summary - All lanes complete
  .codex/PHASE_4_EXECUTION_SUMMARY.md
Due: validate-fences

docs: Phase 4 Lane C complete - Security & Documentation (6.4 min execution, 1875% ahead)
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Phase 4 Lane D: Release & Publishing - Step 7 Complete (PyPI build artifacts ready)
  .codex/PHASE_4_LANE_D_EXECUTION_SUMMARY.md
  .codex/phase4_lane_d_step7_pypi_ready.json
Due: validate-fences

🎉 Phase 4 COMPLETE — All Lanes A-D Delivered (Production Ready)
  .codex/PHASE_4_COMPLETE_FINAL_REPORT.md
Due: validate-fences

docs: Phase 4 Lane D complete - Release & Publishing (3 min execution, 2000% ahead)
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

docs: Immediate actions complete - GitHub Release v0.1.0-final + Discussion #5275 published
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Phase 4 Lane E: Production Readiness Validation & Comprehensive Audit Complete
  PHASE_4_LANE_E_VALIDATION_REPORT.md
Due: validate-fences

🎉 Phase 4 Campaign COMPLETE: All 5 Lanes Delivered & Validated
  .codex/PHASE_4_COMPLETION_SUMMARY.md
Due: validate-fences

🎉 PHASE 4 COMPLETE: All 5 lanes delivered + validated (Lane E: 5.2 min, 450% ahead)
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Phase 2 Lane 1: Fix critical docstring import error in writers.py
  .codex/PHASE_2_LANE_1_CI_TESTING_REPORT.md
  src/codex_ml/tracking/writers.py
Due: validate-fences, semgrep-local

docs: add Phase 2 Lane 2 implementation plan for namespace bridging
  .codex/PHASE_2_LANE_2_NAMESPACE_BRIDGE_PLAN.md
Due: validate-fences

phase: add Phase 2 execution complete summary (4 lanes 100% success)
  .codex/PHASE_2_EXECUTION_COMPLETE.md
Due: validate-fences

docs: add post-merge activation prompt for Phase 3 deployment
  .codex/POST_MERGE_ACTIVATION_PROMPT.md
Due: validate-fences

metric: Approval telemetry for workflow-execution-gate
  .codex/metrics/hourly.jsonl
Due: none

📋 DOCUMENT: v0.1.0-final Release Technical Blocker (Token Permission Issue)
  .codex/v0.1.0-FINAL-RELEASE-BLOCKER.md
Due: validate-fences

🔧 fix(ci-emergency): repair 22 workflow files with critical YAML syntax errors
  .github/workflows/13-3-cve-scanning.yml
  .github/workflows/13-3-enterprise-compliance.yml
  .github/workflows/13-3-secrets-detection.yml
  .github/workflows/actionlint-audit.yml
  .github/workflows/agent-auth-delegation.yml
  .github/workflows/agent-health-check.yml
  .github/workflows/agent-orchestration-unified.yml
  .github/workflows/agent-registry-validation.yml
  .github/workflows/auth-tests.yml
  .github/workflows/automated-release-creation.yml
  .github/workflows/automated-rollback-generation.yml
  .github/workflows/autonomous-agent.yml
  .github/workflows/autonomy-phase-ci-matrix.yml
  .github/workflows/branch-rebase-gate.yml
  .github/workflows/build-preview-image.yml
  .github/workflows/chatops_copilot_trigger.yml
  .github/workflows/ci-checkpoint-validation.yml
  .github/workflows/ci-failure-issue-creator.yml
  .github/workflows/ci-pass-rate-gate.yml
  .github/workflows/ci-pattern-prevention-gate.yml
  .github/workflows/ci-rescue.yml
  .github/workflows/cleanup-stale-branches.yml
  .github/workflows/ml-tests.yml
Due: none

fix(release): integrate main branch emergency CI fixes with v0.1.0-prod release configuration
  CHANGELOG.md
  RELEASE_NOTES.md
  pyproject.toml
Due: validate-fences

v0.1.0-prod: Production Release with Autonomous Deployment Automation (#5280)
  .codex/CODEQL_REMEDIATION_REPORT_PR5280.md
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/reports/semgrep_pr5280_remediation.md
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
  CHANGELOG.md
  RELEASE_NOTES.md
  codex/cli.py
  codex/config.py
  codex/db/queries.py
  codex/serialization.py
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences, semgrep-local

feat: Execute v0.1.0-final Production Release Post-Merge Automation (#5281)
  .codex/POST_MERGE_RELEASE_COMPLETION_v0.1.0-final.md
  .codex/SECURITY_SCAN_FALSE_POSITIVE_RESOLUTION.md
  .codex/aftermath/pda_iterations.jsonl
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/release-artifacts/v0.1.0-prod/QUICK_START_v0.1.0.md
  .codex/release-artifacts/v0.1.0-prod/aries-serpent-ml-0.1.0.tar.gz
  .codex/release-artifacts/v0.1.0-prod/aries-serpent-ml-0.1.0.tar.gz.sha256
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
  .codex/v0.1.0-NEXT-STEPS.md
  .codex/v0.1.0-PRODUCTION_RELEASE_REPORT.md
  .github/codeql/codeql-config.yml
  .github/workflows/validate-code-examples.yml
  .gitleaks.toml
  .semgrepignore
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  pyproject.toml
Due: validate-fences

Phase 5 Track 5: Performance Profiling & Optimization Complete
  AGENT_ACCOUNTABILITY_REPORT.md
  CHANGELOG.md
  PHASE_5_TRACK_5_PERFORMANCE_PROFILING_REPORT.md
  performance_baseline.json
Due: validate-fences

Phase 5 Track 5: CI/CD Performance Optimization - 31% pipeline reduction achieved
  .github/workflows/CACHING_OPTIMIZATION_GUIDE.md
  .github/workflows/code-quality-coverage-suite.yml
  .github/workflows/optimized-test-execution.yml
  .github/workflows/parallel-quality-checks.yml
  .github/workflows/pr-checks.yml
  PHASE_5_TRACK_3_COMPLETION_REPORT.md
  PHASE_5_TRACK_5_OPTIMIZATION_REPORT.md
  analysis/intuitive_aptitude.py.backup
  analysis/intuitive_aptitude.py.optimized
  src/aries_serpent_core/cache/optimization_analysis.py
  src/aries_serpent_core/cache/request_cache.py
  src/aries_serpent_core/cache/session_cache_l2.py
  tests/test_cache_optimization_phase5.py
Due: validate-fences, semgrep-local

Phase 5 Track 5: Performance Profiling & Optimization - Complete
  AGENT_ACCOUNTABILITY_REPORT.md
  PHASE_5_TRACK_5_CACHE_OPTIMIZATION_REPORT.md
Due: validate-fences

Phase 5 Track 5: Algorithmic optimization - AST extraction consolidation
  CHANGELOG.md
Due: validate-fences

Phase 5 Track 2: Security hardening - fix 2 critical vulnerabilities
  AGENT_ACCOUNTABILITY_REPORT.md
  CHANGELOG.md
  docs/security/PHASE5_TRACK2_SECURITY_DECISIONS.md
  requirements-optional.txt
  requirements.txt
Due: validate-fences

Phase 5 Track 2: Security hardening complete - 2 critical vulnerabilities fixed, score improved to 100/100
  AGENT_ACCOUNTABILITY_REPORT.md
  tests/test_phase5_track3_coverage_gap_fill.py
Due: validate-fences, semgrep-local

Update accountability documents: Phase 5 Track 1 (Code Quality 100/100)
  AGENT_ACCOUNTABILITY_REPORT.md
  CHANGELOG.md
Due: validate-fences

PHASE 5 WAVE 5: Final Governance Gate Validation - 99.5/100 Campaign Complete
  AGENT_ACCOUNTABILITY_REPORT.md
  CHANGELOG.md
  PHASE_5_FINAL_COMPLETION_REPORT.md
  tests/test_phase5_track3_security_rag_cognitive.py
Due: validate-fences, semgrep-local

docs: Add deployment documentation files (golden path, prerequisites, orchestrator, rollback procedures)
  .codex/ROLLBACK_PROCEDURES.md
Due: validate-fences

docs: Phase 2 final completion report - All 4 files verified/created, 100% complete, zero data loss confirmed
  .codex/PHASE2_FINAL_COMPLETION_REPORT.md
Due: validate-fences

docs: Campaign executive summary - 100% complete with 370+ KB deliverables, 10 agents, 100% success rate
  .codex/CAMPAIGN_EXECUTIVE_SUMMARY.md
Due: validate-fences

Multi-lane codebase analysis campaign: Phase 1 & 2 complete with deployment file verification (#5284)
  .codex/CAMPAIGN_EXECUTION_STATUS_2026_07_10.md
  .codex/CAMPAIGN_EXECUTIVE_SUMMARY.md
  .codex/CAMPAIGN_FINAL_STATUS_PHASE1_COMPLETE.md
  .codex/CAMPAIGN_PHASE_1_SUMMARY.md
  .codex/CAMPAIGN_PROGRESS_SUMMARY.md
  .codex/CAMPAIGN_STATUS_UPDATE_07_10_0715.md
  .codex/CAMPAIGN_STATUS_UPDATE_07_10_0800.md
  .codex/CAMPAIGN_STATUS_UPDATE_07_10_0830.md
  .codex/CODEBASE_STRUCTURE_GUIDE.md
  .codex/DEPLOYMENT_GOLDEN_PATH.md
  .codex/DEPLOYMENT_PREREQUISITES_CHECKLIST.md
  .codex/DOCUMENTATION_INDEX.md
  .codex/PACKAGING_SPECIFICATION_LANE3.md
  .codex/PHASE2_ARTIFACT_MONITOR_FINDINGS.md
  .codex/PHASE2_CI_LOGS_PR5281_ANALYSIS.md
  .codex/PHASE2_COMPREHENSIVE_FINDINGS_SUMMARY.md
  .codex/PHASE2_FINAL_COMPLETION_REPORT.md
  .codex/PHASE2_FINDINGS_SUMMARY.md
  .codex/PHASE2_MISSING_FILES_INVESTIGATION_REPORT.md
  .codex/PHASE_ORCHESTRATOR_SPEC.md
  .codex/QUICK_START_AND_OPTIMIZATION_GUIDE.md
  .codex/REPOSITORY_EXPLAINED.md
  .codex/ROLLBACK_PROCEDURES.md
  .codex/TESTING_VALIDATION_LANE5.md
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
  .codex/verify_profiles.py
Due: validate-fences, semgrep-local

docs(release): v0.1.0 tag creation testing & analysis - GitHub API method successful
  .codex/TAG_CREATION_ANALYSIS_v0_1_0.md
  .codex/TAG_CREATION_TEST_PLAN.md
  .codex/TAG_CREATION_TEST_RESULTS.md
  .codex/create_v0_1_0_tag.sh
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
