Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Exclude audit reports from documentation scoring
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Preserve detector metadata and tighten doc scoring
  .copilot-space/workflow.yaml
  scripts/space_traversal/audit_runner.py
  templates/audit/capability_matrix.md.j2
Due: semgrep-local

Enhance reproducibility and coverage
  configs/base/base_config.py
  src/codex_ml/metrics/evaluator.py
  src/codex_ml/training/unified_training.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/repro.py
  src/codex_ml/utils/seeding.py
  tests/cli/test_train_cli.py
  tests/metrics/test_extended_metrics.py
  tests/test_dataset_checksums.py
  tests/test_tokenizer_sp.py
  tests/training/test_checkpoint_compat.py
  tests/training/test_distributed_context.py
  tests/training/test_unified_training_repro.py
Due: semgrep-local

Add optional lockfiles and stabilize test dependency detection
  requirements-eval.txt
  requirements-ml-cpu.txt
  requirements/lock-eval.txt
  requirements/lock-ml.txt
  tests/cli/conftest.py
  tests/conftest.py
  tests/test_repro_capture.py
Due: semgrep-local

Enhance audit docs scoring
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

docs: consolidate capability audit references
  detectors/README.md
  docs/cli/status_audit.md
  docs/templates/status/README.md
Due: validate-fences

Improve status audit skip checks
  cli/status_audit.py
  detectors/README.md
  docs/templates/status/README.md
  tests/cli/test_status_audit.py
Due: validate-fences, semgrep-local

Enhance audit validation and status checklist
  .codex/status/_codex_status_update-post_iteration.md
  CHANGES.md
  tests/audit/test_validate_repo_base.py
  tools/validate_repo_0D_base.py
Due: validate-fences, semgrep-local

Fix detect pattern escaping
  tools/validate_repo_0D_base.py
Due: semgrep-local

Relocate audit orchestrator into tools package
  docs/cli/status_audit.md
  tests/audit/test_codex_audit_orchestrator.py
  tools/codex_audit_orchestrator.py
Due: validate-fences, semgrep-local

Honor --steps selection in audit orchestrator
  tools/codex_audit_orchestrator.py
Due: semgrep-local

Handle audit orchestrator failures
  tests/audit/test_codex_audit_orchestrator.py
  tools/codex_audit_orchestrator.py
Due: semgrep-local

feat: add deterministic inference pipeline
  .copilot-space/workflow.yaml
  docs/INFERENCE_PIPELINE.md
  models/deterministic_dummy/README.md
  requirements-ml-lite.txt
  requirements.txt
  scripts/config/sample_inference_input.json
  scripts/inference_pipeline.py
  space.mk
  tests/inference/test_inference_pipeline.py
Due: validate-fences, semgrep-local

Bump version to v1.0.1 and fix cache scoping
  scripts/inference_pipeline.py
Due: semgrep-local

Update version to 1.0.2 and improve tokenizer handling
  scripts/inference_pipeline.py
Due: semgrep-local

Ensure inference runs offline and fail-fast orchestrator
  scripts/inference_pipeline.py
  space.mk
  tests/audit/test_codex_audit_orchestrator.py
  tests/inference/test_inference_pipeline.py
  tools/codex_audit_orchestrator.py
Due: semgrep-local

Downgrade pipeline version and enhance hardening
  scripts/inference_pipeline.py
Due: semgrep-local

Change exception from FileNotFoundError to ValueError
  scripts/inference_pipeline.py
Due: semgrep-local

Update space.mk
  space.mk
Due: none

Harden codex_audit_orchestrator.py with improvements
  tools/codex_audit_orchestrator.py
Due: semgrep-local

Validate preprocessor override arity
  scripts/inference_pipeline.py
Due: semgrep-local

Add self-correction logging utilities and tests
  .coveragerc
  .pre-commit-config.yaml
  AGENTS.md
  codex_status_update.md
  docs/quickstart.md
  docs/tracking.md
  noxfile.py
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/logging/session_logger.py
  src/codex_ml/models/factory.py
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/tokenization/__init__.py
  src/codex_ml/tokenization/api.py
  tests/test_cli_config_sweep.py
  tests/test_cli_resume.py
  tests/test_codex_logging_json.py
  tests/test_dataset_hashing.py
  tests/test_metrics_writers.py
  tests/test_model_factory_lora_validation.py
  tests/test_session_logger_error.py
  tests/test_tokenization.py
  tools/error_analysis.py
  training/config.py
  training/datasets.py
  training/engine_hf_trainer.py
Due: validate-fences, semgrep-local

Add deterministic resume CLI and manifest snapshots
  docs/resume.md
  scripts/train.py
  src/codex/cli.py
  tests/test_resume.py
  training/engine_hf_trainer.py
Due: validate-fences, semgrep-local

Fix CLI config handling and CSV metrics header
  src/codex/cli.py
  training/engine_hf_trainer.py
Due: semgrep-local

Add implementation plan for Track A (Atomic Diffs)
  codex_plans/track_A.md
Due: validate-fences

Add implementation plan for Track B (Capability Specialization)
  codex_plans/track_B.md
Due: validate-fences

Add Codex Implementation Plan for Track C
  codex_plans/track_C.md
Due: validate-fences

Implement Track A tokenizer and training updates
  cli/train_codex.py
  nox_sessions/audit.py
  src/codex/api/app.py
  src/codex_ml/security/__init__.py
  src/codex_ml/security/denylist.py
  tests/atomic_diffs/test_track_a.py
  tokenization/loader.py
Due: semgrep-local

Add Codex Implementation Plan for Track D (Repo Audit Policy Integration)
  codex_plans/track_D.md
Due: validate-fences

Create track_D.md
  codex_plans/track_D.md
Due: validate-fences

Implement capability specialization contracts and packaging
  docs/capability_contracts.md
  src/codex_ml/cli/main.py
  src/codex_ml/deployment/__init__.py
  src/codex_ml/deployment/package.py
  src/codex_ml/evaluation/loop.py
  src/codex_ml/interfaces/contracts.py
  src/codex_ml/metrics/writers.py
  src/codex_ml/security/__init__.py
  src/codex_ml/security/runtime.py
  src/codex_ml/tokenization/adapter.py
  src/codex_ml/tokenization/api.py
  src/codex_ml/training/loop.py
  tests/capability_specialization/test_capability_contracts.py
Due: validate-fences, semgrep-local

Implement Track C workflow orchestrator
  docs/guides/workflow_orchestrator.md
  scripts/run_codex_workflow.py
  src/codex_ml/workflow/__init__.py
  src/codex_ml/workflow/track_c_workflow.py
  tests/workflow/test_track_c_workflow.py
Due: validate-fences, semgrep-local

feat: integrate RA policy mapping and offline gates
  docs/repo_audit_policy.md
  prompts/repo_status_update_for_codex.md
  scripts/prepare_repo_status_prompt.py
  src/codex_audit/__init__.py
  src/codex_audit/errors.py
  src/codex_audit/gates.py
  src/codex_audit/policy.py
  src/codex_audit/prompting.py
  src/codex_audit/scorecard.py
  tests/repo_audit/test_gates_and_scorecard.py
  tests/repo_audit/test_policy_mapping.py
  tests/repo_audit/test_prompt_and_errors.py
  tools/codex_audit_orchestrator.py
Due: validate-fences, semgrep-local

Add Track E: Golden Harness & Tool Truthfulness Plan
  codex_plans/track_E.md
Due: validate-fences

Add Track F: Model Regression & Keep-It-Honest Suites Plan
  codex_plans/track_F.md
Due: validate-fences

Add golden harness honesty and tool trace modules
  docs/explanations/golden_harness.md
  nox_sessions/audit.py
  prompts/orchestrator/green.md
  prompts/orchestrator/red.md
  prompts/orchestrator/yellow.md
  src/codex_harness/__init__.py
  src/codex_harness/golden_harness_status.py
  src/codex_harness/honesty.py
  src/codex_harness/tool_trace.py
  tests/harness/__init__.py
  tests/harness/test_golden_harness_status.py
  tests/harness/test_honesty.py
  tests/harness/test_tool_trace.py
Due: validate-fences, semgrep-local

feat: add regression runner and honesty suites
  .gitignore
  artifacts/model_regression_coverage.md
  artifacts/model_regression_log.ndjson
  artifacts/repo_audit_scorecard.md
  codex_regression/__init__.py
  codex_regression/honesty.py
  codex_regression/log.py
  codex_regression/runner.py
  docs/regression_overview.md
  noxfile.py
  pytest.ini
  tests/keep_it_honest/test_honesty_suites.py
  tools/codex_workflow.py
Due: validate-fences, semgrep-local

Add Codex Implementation Plan for Track G (Model Init, Config, Data, Docs, Experiment Tracking)
  codex_plans/track_G.md
Due: validate-fences
