Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix nox sessions to run installed tools in venv
  noxfile.py
Due: semgrep-local

feat(hhg): add logistics hydra scaffold
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/common/__init__.py
  src/common/randomness.py
  src/hhg_logistics/__init__.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/env/ubuntu.yaml
  src/hhg_logistics/conf/model/baseline.yaml
  src/hhg_logistics/conf/training/default.yaml
  src/hhg_logistics/main.py
  src/hhg_logistics/pipeline.py
  tests/integration/__init__.py
  tests/integration/test_cli_smoke.py
  tests/unit/test_config_compose.py
  tests/unit/test_randomness.py
  tests/unit/test_sanity.py
  uv.lock
Due: semgrep-local

feat: add DVC pipeline and provenance tracking
  .dvcignore
  .gitignore
  Makefile
  codex_ready_task_sequence.yaml
  data/.gitkeep
  data/models/.gitkeep
  data/processed/.gitkeep
  data/raw/.gitkeep
  dvc.yaml
  params.yaml
  patches/I2_Data_Spine_P2.1-P2.3.md
  pyproject.toml
  src/common/provenance.py
  src/hhg_logistics/data/prepare.py
  src/hhg_logistics/pipeline.py
  tests/unit/test_provenance.py
  uv.lock
Due: validate-fences, semgrep-local

feat(pipeline): modular pipeline with GE validation
  data/sample/clean.csv
  data/sample/raw.csv
  great_expectations/checkpoints/clean_checkpoint.yml
  great_expectations/expectations/clean_data_suite.json
  pyproject.toml
  src/common/validate.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/pipeline/clean.yaml
  src/hhg_logistics/conf/pipeline/features.yaml
  src/hhg_logistics/conf/pipeline/ingest.yaml
  src/hhg_logistics/pipeline.py
  src/hhg_logistics/pipeline_nodes/__init__.py
  src/hhg_logistics/pipeline_nodes/clean.py
  src/hhg_logistics/pipeline_nodes/features.py
  src/hhg_logistics/pipeline_nodes/ingest.py
  tests/data/test_samples.py
  tests/integration/test_ge_pipeline.py
  tests/unit/test_pipeline_nodes.py
Due: semgrep-local

feat(metrics): NDJSON event logger and CSV exporter; pipeline writes run event; Make target
  Makefile
  pyproject.toml
  src/common/mlflow_guard.py
  src/common/ndjson_tools.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/data/default.yaml
  src/hhg_logistics/conf/monitor/default.yaml
  src/hhg_logistics/conf/serve/local.yaml
  src/hhg_logistics/conf/train/default.yaml
  src/hhg_logistics/main.py
  src/hhg_logistics/pipeline.py
  tests/unit/test_config_compose.py
  tests/unit/test_mlflow_guard.py
  tests/unit/test_ndjson_tools.py
  uv.lock
Due: semgrep-local

feat: add HF LoRA training and eval scaffolding
  Makefile
  dvc.yaml
  pyproject.toml
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/eval/default.yaml
  src/hhg_logistics/conf/model/hf_llm.yaml
  src/hhg_logistics/conf/train/lora.yaml
  src/hhg_logistics/eval/__init__.py
  src/hhg_logistics/eval/harness.py
  src/hhg_logistics/model/__init__.py
  src/hhg_logistics/model/adapters.py
  src/hhg_logistics/model/peft_utils.py
  src/hhg_logistics/train.py
  tests/integration/test_eval_wrapper.py
  tests/unit/test_adapters.py
  tests/unit/test_peft_utils.py
  tests/unit/test_train_entrypoint.py
Due: semgrep-local

feat(serve): add Ray Serve prototype with monitoring
  Makefile
  pyproject.toml
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/serve/local.yaml
  src/hhg_logistics/monitor/__init__.py
  src/hhg_logistics/monitor/serve_report.py
  src/hhg_logistics/serve/__init__.py
  src/hhg_logistics/serve/app.py
  src/hhg_logistics/serve/smoke.py
  tests/integration/test_monitor_report.py
Due: semgrep-local

feat: add monitoring drift gates and plugin hooks
  Makefile
  docs/plugins.md
  pyproject.toml
  src/common/hooks.py
  src/common/mlflow_guard.py
  src/common/registry.py
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/hooks/default.yaml
  src/hhg_logistics/conf/monitor/default.yaml
  src/hhg_logistics/conf/plugins/default.yaml
  src/hhg_logistics/monitor/data_gate.py
  src/hhg_logistics/monitor/data_report.py
  src/hhg_logistics/monitor/serve_report.py
  src/hhg_logistics/monitor/snapshot.py
  src/hhg_logistics/pipeline.py
  src/hhg_logistics/plugins/__init__.py
  src/hhg_logistics/plugins/example_plugin.py
  src/hhg_logistics/registry/__init__.py
  src/hhg_logistics/train.py
  tests/integration/test_data_gate.py
  tests/integration/test_data_report.py
  tests/unit/test_attach_artifacts.py
  tests/unit/test_hooks_manager.py
  tests/unit/test_plugin_loader.py
  tests/unit/test_registry_basic.py
Due: validate-fences, semgrep-local

fix: add default data config for hhg logistics
  .gitignore
  src/hhg_logistics/conf/config.yaml
  src/hhg_logistics/conf/data/default.yaml
Due: none

fix: restore tab in clean target
  Makefile
Due: none

Fix Hydra path resolution for training data and adapters
  src/hhg_logistics/train.py
Due: semgrep-local

Fix single prompt batching invocation
  src/hhg_logistics/serve/app.py
Due: semgrep-local

fix: lazy import data drift gate
  src/hhg_logistics/pipeline.py
Due: semgrep-local

fix: restore tab for env-info target
  Makefile
Due: none

Handle non-numeric ids during clean stage
  src/hhg_logistics/pipeline_nodes/clean.py
Due: semgrep-local

Add Zendesk diff engine scaffolding
  analysis/branch_0B_base_overview.md
  analysis/commit_2d1469d_scope.md
  src/codex/zendesk/__init__.py
  src/codex/zendesk/cli.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/field.py
  src/codex/zendesk/model/group.py
  src/codex/zendesk/model/trigger.py
  src/codex/zendesk/monitoring/__init__.py
  src/codex/zendesk/monitoring/registry.py
  src/codex/zendesk/monitoring/zendesk_metrics.py
  src/codex/zendesk/plan/diff_engine.py
Due: validate-fences, semgrep-local

Add Zendesk diff models and CLI scaffolding
  analysis/branch_0B_base_overview.md
  analysis/commit_2d1469d_scope.md
  src/codex/cli.py
  src/codex/cli_zendesk.py
  src/codex/monitoring/__init__.py
  src/codex/zendesk/__init__.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/field.py
  src/codex/zendesk/model/group.py
  src/codex/zendesk/model/trigger.py
  src/codex/zendesk/monitoring/__init__.py
  src/codex/zendesk/monitoring/registry.py
  src/codex/zendesk/monitoring/zendesk_metrics.py
  src/codex/zendesk/plan/__init__.py
  src/codex/zendesk/plan/diff_engine.py
Due: validate-fences, semgrep-local

Fix GE checkpoint success access and data config paths
  src/common/validate.py
  src/hhg_logistics/conf/data/default.yaml
Due: semgrep-local

fix: guard torch seeding when module is stubbed
  src/common/randomness.py
Due: semgrep-local

fix: initialize hook manager in training loop
  src/hhg_logistics/train.py
Due: semgrep-local

Fix per-request overrides in Ray Serve batching
  src/hhg_logistics/serve/app.py
Due: semgrep-local

fix: resolve NDJSON metrics dir under original cwd
  src/hhg_logistics/pipeline.py
Due: semgrep-local

Expand Zendesk coverage and add offline scaffolding
  docs/api_catalog.md
  docs/diffs/trigger_example.json
  docs/next_steps.md
  docs/runbooks/zendesk_admin_workflow.md
  noxfile.py
  scripts/generate_desired_state.py
  scripts/offline_gate.sh
  src/codex/cli_zendesk.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/app.py
  src/codex/zendesk/model/guide.py
  src/codex/zendesk/model/macro.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/talk.py
  src/codex/zendesk/model/view.py
  src/codex/zendesk/model/webhook.py
  src/codex/zendesk/model/widget.py
  src/codex/zendesk/plan/diff_engine.py
  tests/e2e_offline/test_diff_and_apply.py
  tests/unit/test_zendesk_models.py
Due: validate-fences, semgrep-local

fix: read GE checkpoint success flag via attribute
  src/common/validate.py
Due: semgrep-local

fix: guard torch stub attribute access
  src/common/randomness.py
Due: semgrep-local

fix: restore tabs in monitoring make targets
  Makefile
Due: none

fix: make batch overrides hashable
  src/hhg_logistics/serve/app.py
Due: semgrep-local

fix: allow slow tokenizer fallback
  src/hhg_logistics/model/peft_utils.py
Due: semgrep-local

fix: honor DVC params in prepare script
  src/hhg_logistics/data/prepare.py
Due: semgrep-local

Escape JSON pointer tokens in Zendesk diff paths
  src/codex/zendesk/plan/diff_engine.py
Due: semgrep-local

Ensure Zendesk models ignore extra fields
  src/codex/zendesk/model/app.py
  src/codex/zendesk/model/guide.py
  src/codex/zendesk/model/macro.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/talk.py
  src/codex/zendesk/model/view.py
  src/codex/zendesk/model/webhook.py
  src/codex/zendesk/model/widget.py
Due: semgrep-local

Fix LoRA target detection for GPT-2
  src/hhg_logistics/model/peft_utils.py
  tests/unit/test_peft_utils.py
Due: semgrep-local

fix: clear stale checkpoint directory flag
  src/common/hooks.py
Due: semgrep-local

Fix provenance paths to use project root
  src/common/provenance.py
  tests/unit/test_provenance.py
Due: semgrep-local

fix: import log_dict_safe for data gate
  src/hhg_logistics/pipeline.py
Due: semgrep-local

fix: allow pipeline stage overrides
  src/hhg_logistics/conf/config.yaml
Due: none

fix: guard hydra import in cli smoke test
  tests/integration/test_cli_smoke.py
Due: semgrep-local

Fix Zendesk diff engine key handling and CLI type checks
  src/codex/cli_zendesk.py
  src/codex/zendesk/plan/diff_engine.py
Due: semgrep-local

fix: support list params entries in DVC provenance
  src/common/provenance.py
  tests/unit/test_provenance.py
Due: semgrep-local

Fix macro diff serialization
  src/codex/zendesk/model/macro.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
