Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Update .github/workflows/pypi-publish.yml
  .github/workflows/pypi-publish.yml
Due: none

Update tests/data/test_data_config_edge_cases_phase26.py
  tests/data/test_data_config_edge_cases_phase26.py
Due: semgrep-local

Update tests/training/test_training_edge_cases_phase26.py
  tests/training/test_training_edge_cases_phase26.py
Due: semgrep-local

Update tests/context/test_context_agent_edge_cases_phase26.py
  tests/context/test_context_agent_edge_cases_phase26.py
Due: semgrep-local

Update tests/services/test_services_cognitive_edge_cases_phase26.py
  tests/services/test_services_cognitive_edge_cases_phase26.py
Due: semgrep-local

Update tests/utils/test_utils_edge_cases_phase26.py
  tests/utils/test_utils_edge_cases_phase26.py
Due: semgrep-local

Update tests/cli/test_cli_edge_cases_phase26.py
  tests/cli/test_cli_edge_cases_phase26.py
Due: semgrep-local

Update CI/CD Pipeline and Entry Points documentation
  docs/system/CODEBASE_COGNITIVE_MAP.md
Due: validate-fences

Add repository health metrics to dashboard
  docs/system/CODEBASE_DASHBOARD.md
Due: validate-fences

Potential fix for pull request finding 'Unused import'
  tests/security/test_fixes_validation.py
Due: semgrep-local

Add files via upload
  .github/plans/plan0.md
  .github/plans/plan1.md
  .github/plans/plan2.md
  .github/plans/plan3.md
  .github/plans/plan4.md
  .github/plans/plan5.md
  .github/plans/plan6.md
Due: validate-fences

Potential fix for pull request finding 'Unused import'
  src/codex_ml/ast/graph/dependency_graph.py
Due: semgrep-local

Potential fix for code scanning alert no. 4846: Unused import
  scripts/deprecate_workflow.py
Due: semgrep-local

Potential fix for pull request finding 'Unused import'
  scripts/remediation/fix_future_imports.py
Due: semgrep-local

Apply suggested fix to requirements/lock.txt from Copilot Autofix
  requirements/lock.txt
Due: none

Apply suggested fix to tests/analysis/test_intuitive_aptitude.py from Copilot Autofix
  tests/analysis/test_intuitive_aptitude.py
Due: semgrep-local

Potential fix for pull request finding 'Unused import'
  tests/security/test_codeql_alert_management.py
Due: semgrep-local

Refactor CodeQL alert fetch workflow and issue creation
  .github/workflows/phase34-codeql-alert-fetch.yml
Due: none

Fix issue body formatting in CodeQL alert fetch workflow
  .github/workflows/phase34-codeql-alert-fetch.yml
Due: none

Potential fix for pull request finding 'Unused import'
  .github/scripts/validate-links.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
