Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Delete misc/repo-owner-review/archived-backups directory
  misc/repo-owner-review/archived-backups/AGENTS.md_._36462ee8.backup_20251114_035816
  misc/repo-owner-review/archived-backups/AGENTS.md_._36462ee8.backup_20251114_035816.meta.md
  misc/repo-owner-review/archived-backups/README.md_.codex_36462ee8.bak
  misc/repo-owner-review/archived-backups/README.md_.codex_36462ee8.bak.meta.md
  misc/repo-owner-review/archived-backups/copilot_agent_task_prompt.next.md_.github_36462ee8.backup
  misc/repo-owner-review/archived-backups/copilot_agent_task_prompt.next.md_.github_36462ee8.backup.meta.md
  misc/repo-owner-review/archived-backups/manifest.txt
  misc/repo-owner-review/archived-backups/test_mlflow_utils_py_tests_tracking_36462ee8.old
  misc/repo-owner-review/archived-backups/test_mlflow_utils_py_tests_tracking_36462ee8.old.meta.md
  misc/repo-owner-review/archived-backups/uv.lock_._36462ee8.bak
  misc/repo-owner-review/archived-backups/uv.lock_._36462ee8.bak.meta.md
Due: validate-fences

Add README with repo owner notes and logs
  misc/repo-owner-review/archived-backups/README.md
Due: validate-fences

Update README.md to reflect directory changes
  misc/repo-owner-review/README.md
Due: validate-fences

Create readme.md
  .codex/sessions/archive/readme.md
Due: validate-fences

Add files via upload
  .codex/sessions/archive/historical_docs_20251210_4d9198c.tar.gz
Due: none

Add files via upload
  docs/plans/Physics_Equations_Monitor_Behavior_Plan_Prompts.md
  docs/plans/Physics_Equations_Time_Constraints_Plan_Prompts.md
Due: validate-fences

Update Physics_Equations_Monitor_Behavior_Plan_Prompts.md
  docs/plans/Physics_Equations_Monitor_Behavior_Plan_Prompts.md
Due: validate-fences

Update agents/mental_mapping.py
  agents/mental_mapping.py
Due: semgrep-local

Update .github/workflows/self-healing-feedback-loop.yml
  .github/workflows/self-healing-feedback-loop.yml
Due: none

Update .github/workflows/pre-release-deployment.yml
  .github/workflows/pre-release-deployment.yml
Due: none

Change deployment workflow from Jekyll to MkDocs
  .github/workflows/pages-mkdocs.yml
Due: none

Add GitHub Pages deployment workflow for static HTML
  .github/workflows/pages-static.yml.alt
Due: none

Potential fix for code scanning alert no. 1671: Redundant comparison
  tests/services/workflow/test_inventory.py
Due: semgrep-local

🤖 COPILOT AGENT DIRECTIVE TO IMPLEMENT
  docs/plans/copilot-directives-to-implementation-plan.md
Due: validate-fences

fix: package config and services modules
  pyproject.toml
Due: none

Add files via upload
  workbench/Plan_ChatGPT_Codex_Implementation_Plan.md
Due: validate-fences

Harden security checks for bandit compliance
  .copilot-space/mcp.example.json
  .github/Copilot_MCP_Integration.md
  .pre-commit-config.yaml
  bandit.yaml
  codex_capability_map.yaml
  docker-compose.yml
  docs/adr/000-mcp-architecture.md
  docs/mcp/api_schema.md
  docs/mcp/authentication.md
  docs/mcp/error_handling.md
  docs/mcp/observability.md
  docs/mcp/rate_limiting.md
  docs/mcp/server_deployment.md
  docs/mcp/tool_registration.md
  docs/mcp/version_negotiation.md
  scripts/validate_mcp.py
  src/codex/dynamics/solution_xml.py
  src/codex/ingest/adapter.py
  src/codex_ml/telemetry/server.py
  src/context_management/fingerprint.py
  src/context_management/guardrails.py
  src/context_management/memory.py
  src/mcp/server/README.md
  src/mcp/server/http.py
  tests/mcp/test_http_server.py
  tests/mcp/test_server.py
  training/engine_hf_trainer.py
  training/functional_training.py
Due: validate-fences, semgrep-local

Add files via upload
  workbench/Plan_ChatGPT_Codex_Continuation_Implementation_1_of_2.md
  workbench/Plan_ChatGPT_Codex_Continuation_Implementation_2_of_2.md
Due: validate-fences

Add MCP packager and server diagnostics
  .github/CONTRIBUTING_TESTS.md
  .github/workflows/mcp-ci.yml
  README.md
  docs/SECURITY_GATING_CHECKLIST.md
  docs/mcp_packager.md
  docs/mcp_packager_template.yaml
  pytest.ini
  scripts/AGENTS.md
  scripts/run_local_server.sh
  scripts/smoke_test_local.sh
  src/mcp/AGENTS.md
  src/mcp/middleware/rate_limit_middleware.py
  src/mcp/packager/__init__.py
  src/mcp/packager/cli.py
  src/mcp/packager/config.py
  src/mcp/packager/generator.py
  src/mcp/server/__init__.py
  src/mcp/server/adapter_loader.py
  src/mcp/server/adapters/__init__.py
  src/mcp/server/adapters/mock_adapter.py
  src/mcp/server/facade_fastapi.py
  src/mcp/server/jsonrpc_adapter.py
  src/mcp/server/routes_health.py
  src/mcp/server/run.py
  tests/embeddings/test_worker_checkpoint.py
  tests/mcp/test_facade_contract.py
  tests/mcp/test_packager.py
  tests/mcp/test_rate_limit_middleware.py
  tests/test_metrics.py
  tests/test_retries.py
  tests/test_server_smoke.py
Due: validate-fences, semgrep-local

chore(ci): quote python versions in workflows
  .github/workflows/dependency-scan.yml
  .github/workflows/integration-gated.yml
  .github/workflows/mcp-ci.yml
Due: none

Fix CI marker and rate limit configuration
  .github/workflows/mcp-ci.yml
  configs/development/pytest.ini
  docs/plans/ci_failures_resolution_plan.md
  pytest.ini
  tools/self_heal/report_iteration_0.md
Due: validate-fences

Enable semgrep_sarif.yml workflow
  .github/workflows/semgrep_sarif.yml
Due: none

Remove branch from Semgrep SAST workflow
  .github/workflows/semgrep_sarif.yml
Due: none

Enable semgrep_sarif workflow
  .github/workflows/semgrep_sarif.yml
Due: none

Add Semgrep SARIF upload step to workflow
  .github/workflows/security-suite.yml
Due: none

Fix security scan findings and packaging excludes
  pyproject.toml
  src/mcp/retries.py
  src/mcp/server/run.py
  src/mcp/server/stdio.py
  src/services/github/client.py
  tests/security/test_secret_entropy_scan.py
  tests/services/workflow/test_inventory.py
Due: semgrep-local

Enhance Semgrep workflow with Python setup
  .github/workflows/semgrep_sarif.yml
Due: none

Harden codex subprocess handling and tests
  src/codex/analyze/runtime/sandbox.py
  src/codex/analyze/runtime/tracer.py
  src/codex/analyze/static/analyzer.py
  src/codex/ingest/adapter.py
  src/codex/transform/transformer.py
  src/codex/verify/comparator.py
  src/mcp/retries.py
  src/mcp/server/run.py
  tests/security/test_secret_entropy_scan.py
  tests/services/workflow/test_inventory.py
Due: semgrep-local

Potential fix for code scanning alert no. 1689: Unused import
  src/codex/intent/llm_client.py
Due: semgrep-local

Potential fix for code scanning alert no. 1714: Unused import
  src/codex/transform/transformer.py
Due: semgrep-local

Potential fix for code scanning alert no. 1688: Unused import
  src/codex/intent/llm_client.py
Due: semgrep-local

Change Semgrep action to v1 in workflow
  .github/workflows/semgrep_sarif.yml
Due: none

Potential fix for code scanning alert no. 1869: Unused import
  .codex/scripts/validate_cli_exports.py
Due: semgrep-local

Potential fix for code scanning alert no. 1867: Unused local variable
  .codex/scripts/validate_repository.py
Due: semgrep-local

Remove comments from semgrep_sarif.yml
  .github/workflows/semgrep_sarif.yml
Due: none

Update Semgrep installation to latest version
  .github/workflows/semgrep_sarif.yml
Due: none

Update requirements-test.txt
  requirements-test.txt
Due: none

Update src/codex/cli.py
  src/codex/cli.py
Due: semgrep-local

Potential fix for code scanning alert no. 1872: Clear-text logging of sensitive information
  src/codex/analyze/static/analyzer.py
Due: semgrep-local
