Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-fences

mypy:
  name: MyPy (Static Typing)
  entry: mypy
  language: system
  pass_filenames: true
  args:
  - --config-file=pyproject.toml

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

Handle local sqlite MLflow tracking URIs
  codex_utils/tracking/guards.py
Due: mypy

docs(reports): add 0D_base_ status update and runbook; link from docs index
  docs/how-to/run_audit_0D_base_.md
  docs/index.md
  reports/_codex_status_update-0D_base_-2025-10-10.md
Due: validate-fences

chore(audit): add .copilot-space/workflow.yaml and traversal guides; optional scoring util; operator prompt
  .copilot-space/workflow.yaml
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  docs/prompts/codex_run_prompt_0D_base_.md
  scripts/space_traversal/capability_scoring.py
Due: mypy, validate-fences

Fix remote URI detection when enforcing offline
  src/codex_ml/tracking/guards.py
Due: mypy

fix: add space traversal audit runner
  scripts/space_traversal/audit_runner.py
Due: mypy

chore(audit): add workflow config, traversal docs, scoring util, operator prompt; upgrade audit runner to v1.1.0; ensure report template present; index links
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  docs/index.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/capability_scoring.py
  space.mk
  templates/audit/capability_matrix.md.j2
Due: mypy, validate-fences

Fix offline tracking detection for SQLite URIs
  src/codex_ml/tracking/offline.py
Due: mypy

chore(audit): round-2 improvements
  .github/docs/Space_TraversalWorkflow_Copilot.md
  docs/index.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/detectors/.gitkeep
  scripts/space_traversal/detectors/README.md
Due: mypy, validate-fences

Update unified checkpoint emission for new API
  src/codex_ml/training/unified_training.py
  tests/training/test_resume_and_retention.py
Due: mypy

Update unified training checkpoint save call
  src/codex_ml/training/unified_training.py
Due: mypy

chore(audit): round-3 — improve docs scoring, add primary_deficit, detectors scaffold, docs/spec fixes
  .github/docs/Space_TraversalWorkflow_Copilot.md
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  docs/index.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/detectors/README.md
  templates/audit/capability_matrix.md.j2
Due: mypy, validate-fences

chore(audit): round-4 — docs synonyms, component caps, unify runner shim, detector sample, doc/spec touch-ups
  .copilot-space/workflow.yaml
  .github/docs/Space_TraversalWorkflow_Copilot.md
  audit_runner.py
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/detectors/inference_serving.py
Due: mypy, validate-fences

chore(audit): round-5 — docs token variants, minimal tests, scoring util tidy, docs/spec touch-ups
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  scripts/space_traversal/audit_runner.py
  tests/specs/test_detector_inference_serving.py
  tests/specs/test_docs_score_synonyms.py
Due: mypy, validate-fences

feat: add security baseline and tooling gates
  .pre-commit-config.yaml
  CODE_STYLE_GUIDE.md
  Dockerfile
  Makefile
  deploy/helm/values.yaml
  docs/security/SECURITY_POLICY.md
  pyproject.toml
  src/security/__init__.py
  src/security/core.py
  src/security/secrets.py
  tests/deployment/test_docker_build.py
  tests/deployment/test_helm_chart.py
  tests/security/test_injection_prevention.py
Due: mypy, validate-fences

Add dynamic capability detectors and validation tooling
  Makefile
  scripts/generate_capability_report.py
  scripts/run_space_audit_fast.sh
  scripts/space_traversal/detectors/ci_cd_pipeline.py
  scripts/space_traversal/detectors/code_quality_tooling.py
  scripts/space_traversal/detectors/deployment_infrastructure.py
  scripts/space_traversal/detectors/documentation_system.py
  scripts/space_traversal/detectors/experiment_management.py
  scripts/space_traversal/detectors/reproducibility.py
  scripts/space_traversal/detectors/testing_infrastructure.py
  scripts/validate_all_capabilities.sh
  templates/audit/capability_matrix.md.j2
Due: mypy

Tighten security input validation and entropy checks
  src/security/core.py
  src/security/secrets.py
  tests/security/test_injection_prevention.py
  tests/security/test_secret_entropy.py
Due: mypy

Restore sanitization for text and html inputs
  src/security/core.py
  tests/security/test_secret_entropy.py
Due: mypy

feat: add hydra validation and aes encryption updates
  configs/experiment.yaml
  deploy/helm/values.yaml
  docs/configuration/HYDRA_GUIDE.md
  docs/modules/safety.md
  src/security/__init__.py
  src/security/audit_logger.py
  src/security/encryption.py
  tests/ci/test_workflow_validation.py
  tests/configuration/test_hydra_validation.py
  tests/data/test_pipeline_validation.py
  tests/deployment/test_k8s_manifests.py
  tests/evaluation/test_metrics_registry.py
  tests/integration/test_code_quality_pipeline.py
  tests/integration/test_mlflow_offline.py
  tests/logging/test_structured_logging.py
  tests/security/test_encryption.py
  tests/security/test_encryption_utils.py
  tests/security/test_secret_entropy.py
Due: mypy, validate-fences

chore(audit): add audit artifacts & manifest (0D_base_)
  audit_artifacts/_scoring_warnings.json
  audit_artifacts/capabilities_raw.json
  audit_artifacts/capabilities_scored.json
  audit_artifacts/context_index.json
  audit_artifacts/facets.json
  audit_artifacts/gaps.json
  audit_run_manifest.json
Due: none

Align space traversal docs and config with v1.1 plan
  .copilot-space/workflow.yaml
  .github/docs/Space_TraversalWorkflow_Copilot.md
  docs/Traversal_Workflow.md
  docs/Usage_Guide.md
  scripts/space_traversal/capability_scoring.py
  space.mk
  templates/audit/capability_matrix.md.j2
Due: mypy, validate-fences

Ensure manifest and reports use normalized weights
  scripts/space_traversal/audit_runner.py
Due: mypy

Preserve HTML escaping in validator
  src/security/core.py
  tests/security/test_injection_prevention.py
Due: mypy

feat: add deterministic seeding and configuration contracts
  .pre-commit-config.yaml
  docker-compose.yml
  noxfile.py
  pyproject.toml
  requirements.txt
  src/codex_ml/config.py
  src/codex_ml/config_settings.py
  src/codex_ml/utils/seed.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/utils/test_seed.py
Due: mypy

feat: add deterministic seeding and config schemas
  .pre-commit-config.yaml
  docker-compose.override.yml
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements.txt
  src/codex_ml/config/__init__.py
  src/codex_ml/config/settings.py
  src/codex_ml/utils/seed.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/utils/test_seed.py
Due: mypy

Enhance tooling and determinism
  .importlinter
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  pytest.ini
  scripts/security/licenses.sh
Due: mypy

feat(core): add deterministic seeding and config contracts
  .pre-commit-config.yaml
  Makefile
  docker-compose.override.yml
  docs/ops/Commits.md
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  src/codex_ml/config/__init__.py
  src/codex_ml/config/settings.py
  src/codex_ml/utils/seed.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/utils/test_seed.py
Due: mypy, validate-fences

Revamp nox workflow and tooling
  .importlinter
  noxfile.py
  pyproject.toml
  pytest.ini
  scripts/security/licenses.sh
  services/api/main.py
  tests/security/test_offline_scans.py
Due: mypy

Safely parse CODEX_COV_FLOOR default
  noxfile.py
Due: mypy

fix: align package target with new nox session
  Makefile
Due: none

Fix import-linter contracts for interfaces module
  .importlinter
Due: none

test: expect ValidationError for EvalRow step
  tests/eval/test_eval_contract.py
Due: mypy

fix: restore package nox session
  Makefile
Due: none

Unify seeding helpers and update tooling workflows
  docker-compose.override.yml
  docs/validation/Atomic_Diffs_Next_Unresolved_2025-10-11.md
  docs/validation/Post_Apply_Validation_Checklist_2025-10-11.md
  noxfile.py
  src/codex_ml/utils/seed.py
  src/codex_ml/utils/seeding.py
Due: mypy, validate-fences

Unify seeding helpers and update validation tooling
  docker-compose.override.yml
  docs/validation/Atomic_Diffs_Next_Unresolved_2025-10-11.md
  docs/validation/Post_Apply_Validation_Checklist_2025-10-11.md
  noxfile.py
  src/codex_ml/utils/seed.py
  src/codex_ml/utils/seeding.py
Due: mypy, validate-fences

Restore default seed handling in set_reproducible
  src/codex_ml/utils/seeding.py
Due: mypy

Restore default seed parameter for set_reproducible
  src/codex_ml/utils/seeding.py
Due: mypy

fix(nox): load pytest-cov plugin in cov session
  .importlinter
  .pre-commit-config.yaml
  Makefile
  docker-compose.override.yml
  docs/ops/Commits.md
  docs/validation/Atomic_Diffs_Next_Unresolved_2025-10-11.md
  docs/validation/Post_Apply_Validation_Checklist_2025-10-11.md
  noxfile.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  scripts/security/licenses.sh
  services/api/main.py
  src/codex_ml/config/__init__.py
  src/codex_ml/config/settings.py
  src/codex_ml/utils/seed.py
  src/codex_ml/utils/seeding.py
  tests/config/test_schema.py
  tests/eval/test_eval_contract.py
  tests/security/test_offline_scans.py
  tests/utils/test_seed.py
Due: mypy, validate-fences

Fix nox sessions to run installed tools in venv
  noxfile.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^\\.codex/
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
