Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Update biweekly-research-digest.yml
  .github/workflows/biweekly-research-digest.yml
Due: none

Fix NameError: Move logger initialization before imports
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Add files via upload
  cognitive_codex_app.zip
Due: none

Add files via upload
  misc/cognitive_codex_app.zip
Due: none

Add files via upload
  misc/cognitivecodex-main.zip
Due: none

Delete misc/cognitive_codex_app.zip
  misc/cognitive_codex_app.zip
Due: none

Update content of delete_this_test.md
  .codex/delete_this_test.md
Due: validate-fences

Delete misc/cognitivecodex-main.zip
  misc/cognitivecodex-main.zip
Due: none

docs: consolidate agent, config, changelog, and docker guidance
  .codex/change_log.md
  .codex/results.md
  AGENTS.md
  CHANGELOG.md
  CHANGELOG_AGENTS.md
  CHANGES.md
  Dockerfile.prod
  _codex_/AGENTS.md
  conf/DEPRECATED.md
  config/DEPRECATED.md
  configs/CONFIGURATION_STRUCTURE.md
  docker/Dockerfile.cpu
  docker/Dockerfile.optimized
  docs/capabilities/archival_bundling.md
  docs/capabilities/bundle_builder_spec.md
  docs/config/config_patterns_and_conventions.md
  docs/docker.md
  docs/guides/AGENTS.md
  docs/reference/configs.md
  prompts/AGENTS.md
  scripts/AGENTS.md
  src/mcp/AGENTS.md
Due: validate-fences

fix: stabilize audit runner imports and docs scoring
  .codex/change_log.md
  .codex/results.md
  .github/prompts/docs-consolidation-qa-walkthrough.md
  scripts/space_traversal/audit_runner.py
Due: validate-fences, semgrep-local

fix: add compliance adapter, scoring engine, and test deps
  .codex/change_log.md
  .codex/results.md
  requirements-test.txt
  src/cognitive_brain/integrations/compliance_integration.py
  src/cognitive_brain/quantum/adaptive_scoring.py
  tests/services/test_github_client_phase9_1.py
Due: validate-fences, semgrep-local

Fix mental mapping and quantum game compatibility
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/results.md
  agents/mental_mapping.py
  agents/quantum_game_theory.py
Due: validate-fences, semgrep-local

Complete QA walkthrough traversal log
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/results.md
  .github/prompts/docs-consolidation-qa-walkthrough.md
Due: validate-fences

Add file-level QA walkthrough sampling
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_2026-01-07-1202_qa-walkthrough.md
  .codex/results.md
  .github/prompts/docs-consolidation-qa-walkthrough.md
Due: validate-fences

Deepen QA walkthrough with tooling observations
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_2026-01-07-1202_qa-walkthrough.md
  .codex/results.md
  .github/prompts/docs-consolidation-qa-walkthrough.md
Due: validate-fences

Improve audit runner stage pipeline
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/results.md
  scripts/space_traversal/audit_runner.py
Due: validate-fences, semgrep-local

Update next review date in documentation
  .codex/AI_AGENT_UTILITIES_REGISTRY.md
Due: validate-fences

Update historical references and compliance statement
  .codex/CODEBASE_AGENCY_POLICY.md
Due: validate-fences

Update status date in AGENTS.md documentation
  .codex/docs/AGENTS.md.original.cf4e8c9.md
Due: validate-fences

Update last updated date in AGENTS.md
  .codex/docs/AGENTS.md.original.cf4e8c9.md
Due: validate-fences

Add .00gitignore file to .codex directory
  .codex/.00gitignore
Due: none

Add .00gitignore to .codex directory
  .codex/.00gitignore
Due: none

Update dates to 2025 in workflow consolidation plan
  .codex/COMPREHENSIVE_WORKFLOW_CONSOLIDATION_PLAN.md
Due: validate-fences

Fix broken links and add new documentation files
  .codex/COMPREHENSIVE_WORKFLOW_CONSOLIDATION_PLAN.md
Due: validate-fences

Update Phase 3 timeline to 2025 dates
  .codex/evidence/phase3_summary.md
Due: validate-fences

Update phase 3 summary with next phase details
  .codex/evidence/phase3_summary.md
Due: validate-fences

Update phase3_summary.md with next phase details
  .codex/evidence/phase3_summary.md
Due: validate-fences

Update AGENTS.md.original.cf4e8c9.md
  .codex/docs/AGENTS.md.original.cf4e8c9.md
Due: validate-fences

Update change log date to 2025-08-19
  .codex/automation_out/change_log.md
Due: validate-fences

Modify historical references to allow MAY for dates
  .codex/CODEBASE_AGENCY_POLICY.md
Due: validate-fences

Add .gitignore file for .codex directory
  .codex/.gitignore
Due: none

Delete temporary markdown file
  .codex/temp.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
