Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Update scripts/expanded_context_audit.py
  scripts/expanded_context_audit.py
Due: semgrep-local

Update .codex/temp.md
  .codex/temp.md
Due: validate-fences

Update scripts/packaging/build_solution.py
  scripts/packaging/build_solution.py
Due: semgrep-local

Mark temp.txt for deletion
  .github/temp.txt
Due: none

Update .codex/plans/ENHANCEMENT_RESEARCH_PLANSETS.md
  .codex/plans/ENHANCEMENT_RESEARCH_PLANSETS.md
Due: validate-fences

docs: add critical CI failures analysis for jobs 60005938627, 60005938623, 60005938673
  workbench/CRITICAL_CI_FAILURES_ANALYSIS.md
Due: validate-fences

Update .github/agents/rust-error-validator/scanner.py
  .github/agents/rust-error-validator/scanner.py
Due: semgrep-local

Update .github/workflows/semgrep_sarif.yml
  .github/workflows/semgrep_sarif.yml
Due: none

Update .github/agents/project-architect-researcher/architect.py
  .github/agents/project-architect-researcher/architect.py
Due: semgrep-local

Delete temporary file temp.md
  .codex/temp.md
Due: validate-fences

Delete .codex/temp.md
  .codex/temp.md
Due: validate-fences

Create 00test.md
  .codex/00test.md
Due: validate-fences

Update print statement from 'Hello' to 'Goodbye'
  .github/commit_7b32cb-check_60147623392.log
Due: none

Delete .github/commit_7b32cb-check_60147623392.log
  .github/commit_7b32cb-check_60147623392.log
Due: none

Update print statement from 'Hello' to 'Goodbye'
  logs/extracted_log_60269597152.md
Due: validate-fences

Fix formatting in Phase 9.1 report header
  .codex/PHASE9_1_COMPLETION_REPORT.md
Due: validate-fences

Harden training utils and test coverage
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_2026-01-14-0637_qa-walkthrough.md
  .codex/results.md
  .github/agents/qa-walkthrough-agent.md
  AGENTS.md
  configs/deployment/hhg_logistics/data/default.yaml
  configs/deployment/hhg_logistics/monitor/default.yaml
  noxfile.py
  requirements-test.txt
  src/agent/__init__.py
  src/agent/phase10.py
  src/agent/secrets.py
  src/codex/interpretability/attention_scorer.py
  src/codex/interpretability/mlp_scorer.py
  src/codex/knowledge/pii.py
  src/codex/security_utils.py
  src/codex_ml/safety/sanitizers.py
  src/common/mlflow_guard.py
  src/data/datasets.py
  src/logging_utils.py
  src/modeling.py
  src/training/trainer.py
  tests/integration/test_cli_smoke.py
  tests/integration/test_mlflow_offline.py
  tests/integration/test_property_based_edge_cases.py
  tests/smoke/test_config_validate_cli.py
  tests/smoke/test_hf_trainer_hello.py
  tools/build_api_docs.py
Due: validate-fences, semgrep-local

Update scripts/test_qa_walkthrough_simulation.py
  scripts/test_qa_walkthrough_simulation.py
Due: semgrep-local

Potential fix for code scanning alert no. 3357: Clear-text logging of sensitive information
  examples/authentication/04_complete_flow.py
Due: semgrep-local

Potential fix for code scanning alert no. 3356: Clear-text logging of sensitive information
  examples/authentication/02_mfa_setup.py
Due: semgrep-local

Potential fix for code scanning alert no. 3355: Clear-text logging of sensitive information
  examples/authentication/02_mfa_setup.py
Due: semgrep-local

Update src/codex/auth/token_manager.py
  src/codex/auth/token_manager.py
Due: semgrep-local

Potential fix for code scanning alert no. 3367: Clear-text logging of sensitive information
  scripts/rotate_jwt_secret.py
Due: semgrep-local

Potential fix for code scanning alert no. 3365: Clear-text logging of sensitive information
  scripts/github_secrets_sync.py
Due: semgrep-local

Potential fix for code scanning alert no. 3359: Clear-text logging of sensitive information
  scripts/github_secrets_sync.py
Due: semgrep-local

Potential fix for code scanning alert no. 3369: Clear-text storage of sensitive information
  scripts/compliance_reporter.py
Due: semgrep-local

Update examples/authentication/02_mfa_setup.py
  examples/authentication/02_mfa_setup.py
Due: semgrep-local

Potential fix for code scanning alert no. 3358: Clear-text logging of sensitive information
  .github/agents/github-auth-manager/agent.py
Due: semgrep-local

Potential fix for code scanning alert no. 3368: Clear-text storage of sensitive information
  requirements.txt
  scripts/compliance_reporter.py
Due: semgrep-local

Potential fix for code scanning alert no. 3360: Clear-text logging of sensitive information
  scripts/github_secrets_sync.py
Due: semgrep-local

Potential fix for code scanning alert no. 3370: Clear-text storage of sensitive information
  scripts/rotate_jwt_secret.py
Due: semgrep-local

Potential fix for code scanning alert no. 3366: Clear-text logging of sensitive information
  scripts/rotate_jwt_secret.py
Due: semgrep-local

Potential fix for code scanning alert no. 3364: Clear-text logging of sensitive information
  scripts/github_secrets_sync.py
Due: semgrep-local

Update scripts/compliance_reporter.py
  scripts/compliance_reporter.py
Due: semgrep-local

Import sys module in validate_auth_security.py
  scripts/validate_auth_security.py
Due: semgrep-local

Potential fix for code scanning alert no. 3353: Clear-text logging of sensitive information
  examples/authentication/04_complete_flow.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
