Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix status report template handling
  tests/status/test_status_report_smoke.py
  tools/status_report.py
Due: semgrep-local

fix: restore training utilities and torch stub
  torch/__init__.py
  training/__init__.py
  training/cache.py
  training/checkpoint_manager.py
  training/config.py
  training/data_utils.py
  training/datasets.py
  training/engine_hf_trainer.py
  training/evaluate.py
  training/functional_training.py
  training/offline_wandb.py
  training/seed.py
  training/seed_utils.py
  training/streaming.py
Due: semgrep-local

Fix status report title and improve fence matching
  tools/status_report.py
  tools/validate_fences.py
Due: semgrep-local

fix(ci): guard workflow dispatch inputs
  .github/workflows/ci.yml
Due: none

Restore fence validator CLI options
  tools/validate_fences.py
Due: semgrep-local

fix: guard ci runner selection and restore torch.nn stub
  .github/workflows/ci.yml
  torch/nn/__init__.py
Due: semgrep-local

fix: restore validate_fences CLI options
  tools/validate_fences.py
Due: semgrep-local

restore codex_ml compatibility shims
  codex_ml/__init__.py
  codex_ml/data/__init__.py
  codex_ml/data/checksums.py
  codex_ml/data_utils.py
  codex_ml/logging/__init__.py
  codex_ml/logging/file_logger.py
  codex_ml/logging/run_metadata.py
  codex_ml/models/__init__.py
  codex_ml/models/registry.py
  codex_ml/monitoring/__init__.py
  codex_ml/monitoring/async_writer.py
  codex_ml/monitoring/codex_logging.py
  codex_ml/monitoring/schema.py
  codex_ml/monitoring/system_metrics.py
  codex_ml/peft/__init__.py
  codex_ml/peft/peft_adapter.py
  codex_ml/telemetry.py
  codex_ml/utils/__init__.py
  codex_ml/utils/checkpointing.py
  codex_ml/utils/config_loader.py
  codex_ml/utils/error_log.py
  codex_ml/utils/experiment_tracking_mlflow.py
  codex_ml/utils/hf_pinning.py
  codex_ml/utils/provenance.py
  codex_ml/utils/repro.py
  codex_ml/utils/system_metrics.py
  codex_ml/utils/yaml_support.py
Due: semgrep-local

fix: run EOF fence check after file iteration
  tools/validate_fences.py
Due: semgrep-local

Restore strict fence validation
  .pre-commit-config.yaml
Due: none

fix: import json in evaluator smoke test
  tests/evaluators/test_codex_evaluator.py
Due: semgrep-local

fix: enforce default fence language validation
  tools/validate_fences.py
Due: semgrep-local

fix: restore strict nested fence default
  tools/validate_fences.py
Due: semgrep-local

fix: guard torch nn import failures
  torch/nn/__init__.py
Due: semgrep-local

fix: inline env logging helper in trainer
  training/engine_hf_trainer.py
Due: semgrep-local

fix: fail status report when evaluator fails
  tools/status_report.py
Due: semgrep-local

Fix checkpoint config handling in CLI
  src/cli.py
Due: semgrep-local

Add continual learning readiness overview
  docs/guides/continual_learning_readiness.md
Due: validate-fences

Add verbose status reporting helpers
  README.md
  docs/CHANGELOG.md
  docs/decision_records/ADR-open-entropy-resolutions.md
  docs/ops/status_reports.md
  samples/assistant_message_summary.sample.json
  tests/evaluators/test_evaluator_optional_deps.py
  tests/status/test_status_report_verbose.py
  tools/codex_evaluator.py
  tools/pr_snippet.py
  tools/status_report.py
Due: validate-fences, semgrep-local

Fix status reporter gate failure handling
  tools/status_report.py
Due: semgrep-local

Add local selection reporting workflow
  .editorconfig
  .pre-commit-config.yaml
  README.md
  docs/CHANGELOG.md
  docs/ops/selection_reports.md
  docs/ops/status_reports.md
  noxfile.py
  tests/selection/test_selection_report_smoke.py
  tools/selection_report.py
  tools/status_report.py
Due: validate-fences, semgrep-local

Add safety hooks, config validation, and tooling
  configs/base/app.yaml
  configs/evaluation/default.yaml
  configs/schemas/README.md
  configs/schemas/evaluation.schema.json
  configs/schemas/training.schema.yaml
  configs/schemas/training_profile.schema.json
  configs/training/base.yaml
  configs/training/profiles/default.yaml
  docs/CHANGELOG.md
  docs/Usage_Guide.md
  docs/experiments/README.md
  docs/safety.md
  noxfile.py
  requirements/dev.txt
  samples/metrics_sample.ndjson
  src/codex_ml/cli/evaluate.py
  src/codex_ml/cli/train.py
  src/codex_ml/plugins/__init__.py
  src/training/checkpointing.py
  tests/checkpoint/test_checkpoint_peft_state.py
  tests/plugins/test_entry_point_loader_function.py
  tests/tools/test_ndjson_to_csv.py
  tests/tools/test_validate_configs.py
  tests/unit/test_cli_prompt_sanitisation.py
  tools/ndjson_to_csv.py
  tools/validate_configs.py
Due: validate-fences, semgrep-local

Add Markdown fence validator CLI and docs
  docs/Fence_Discipline_OnePager.md
  docs/How_We_Release.md
  docs/Quickstart_Local_Quality_Gates.md
  tests/samples/bad_fences.md
  tests/samples/good_fences.md
  tests/test_validate_fences_md.py
  tools/validate_fences.py
  validate_fences.py
Due: validate-fences, semgrep-local

Add local CI harness and document usage
  .codex/scripts/local_ci.py
  docs/QUALITY_GATES.md
  docs/README_ROOT.md
  tests/test_local_ci_script.py
Due: validate-fences, semgrep-local

Add lightweight evaluation fallback and dependency guard
  src/codex_ml/eval/__init__.py
  src/codex_ml/eval/evaluator.py
  src/codex_ml/eval/fallback.py
  tests/test_eval_fallback.py
Due: semgrep-local

test: add validate_fences coverage and docs
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  tests/fixtures/markdown/bad.md
  tests/fixtures/markdown/ok.md
  tests/test_validate_fences.py
Due: validate-fences, semgrep-local

feat: extend training engine logging and add continual replay
  configs/training/continual/rehearsal.yaml
  docs/README_ROOT.md
  docs/guides/continual_learning.md
  src/codex_ml/training/engine.py
  src/codex_ml/training/strategies.py
  tests/test_training_continual_strategy.py
  tests/test_training_engine.py
Due: validate-fences, semgrep-local

Add streaming data module and continual metrics
  src/codex_ml/data/datamodule.py
  src/codex_ml/eval/metrics.py
  src/codex_ml/tokenization/cli.py
  tests/test_eval_metrics_continual.py
  tests/test_streaming_datamodule.py
  tests/test_tokenizer_cli_refresh.py
Due: semgrep-local

Enhance training engine MLflow metadata support
  src/codex_ml/training/engine.py
  tests/test_training_engine.py
Due: semgrep-local

Add streaming data module with JSONL chunking support
  docs/README_ROOT.md
  docs/guides/continual_learning.md
  docs/guides/continual_learning_readiness.md
  src/codex_ml/data/__init__.py
  src/codex_ml/data/streaming.py
  tests/data/test_streaming_data_module.py
Due: validate-fences, semgrep-local

Fix fallback token encoding to share vocabulary
  src/codex_ml/eval/fallback.py
Due: semgrep-local

Fix evaluation dependency guard and fallback encoding
  src/codex_ml/eval/evaluator.py
  src/codex_ml/eval/fallback.py
Due: semgrep-local

Fix continual replay overrides deep copy
  src/codex_ml/training/strategies.py
Due: semgrep-local

Add streaming data module with validation and docs
  docs/README_ROOT.md
  docs/guides/continual_learning.md
  docs/guides/continual_learning_readiness.md
  src/codex_ml/data/__init__.py
  src/codex_ml/data/datamodule.py
  src/codex_ml/data/streaming.py
  tests/data/test_streaming_data_module.py
  tests/data/test_streaming_datamodule.py
  tests/test_streaming_datamodule.py
Due: validate-fences, semgrep-local

Add continual schedule support to unified training
  configs/training/continual/rehearsal.yaml
  docs/guides/continual_learning_readiness.md
  src/codex_ml/training/unified_training.py
Due: validate-fences, semgrep-local

Fix metadata arguments handling in start_run
  src/codex_ml/training/engine.py
Due: semgrep-local

Ensure fallback evaluation shares token vocabulary
  src/codex_ml/eval/fallback.py
Due: semgrep-local

Fix RNG isolation per streaming split
  src/codex_ml/data/datamodule.py
Due: semgrep-local

Fix shared vocabulary in fallback evaluator
  src/codex_ml/eval/fallback.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
