Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

metric: Approval telemetry for agent-auth-delegation
  .codex/metrics/hourly.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5186, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

audit: Log approval via agent-auth-delegation (PR #5190, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

Phase 5: Complete go-live preparation - all 5 deliverables submitted (3,335 lines documentation)
  .codex/COVERAGE_MONITORING_ROLLBACK.md
  .codex/PHASE_5_COMPLETION_SUMMARY.md
Due: validate-fences

docs: Coverage baseline monitoring implementation complete (all phases 0-5)
  .codex/COVERAGE_BASELINE_MONITORING_COMPLETE.md
Due: validate-fences

Apply remaining changes
  .codex/CAMPAIGN_PROGRESS_REPORT.md
  .codex/COVERAGE_AUTOMATION_COMPLETION.md
Due: validate-fences

audit: Log approval via agent-auth-delegation (PR #5192, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

Refactor context scoring and pattern injection workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

audit: Log approval via agent-auth-delegation (PR #5194, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

chore: update performance dashboard [skip ci]
  .codex/PHASE_8_3_PERFORMANCE_DASHBOARD.md
Due: validate-fences

audit: Log approval via agent-auth-delegation (PR #5211, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

fix(ci): complete Phase 8.2 token scope fix - add CODEX_MASTER_KEY to git push step [F-003]
  .github/workflows/phase-8-2-issue-triage.yml
Due: none

fix(workflows): restore correct YAML syntax 'on:' (was incorrectly changed to 'true:')
  .github/workflows/iterative-self-healing-ci.yml
Due: none

docs: complete Phase 4 documentation — campaign final reports and accountability updates [REQ-4/REQ-5]
  .codex/CAMPAIGN_FINAL_COMPLETION_SUMMARY.md
  .codex/PHASE_3_4_MASTER_EXECUTION_PLAN.md
  .codex/PHASE_3_VALIDATION_REPORT_COMPLETE.md
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

docs: add campaign quick reference summary for immediate review
  .codex/CAMPAIGN_FINAL_SUMMARY_QUICK_REFERENCE.txt
Due: none

audit: Log approval via agent-auth-delegation (PR #5214, rule: persistent_label_rule)
  .codex/approvals.jsonl
Due: none

chore(campaign): activate Phase 9.3 Session 3 with 4-track parallel execution (agent-orchestrator, cache-management, autonomous-test-healer, workflow-management)
  .codex/PHASE_9_3_SESSION_3_ACTIVATION.md
Due: validate-fences

chore(campaign): activate Phase 9.3 Session 3 with 4-track parallel execution authorized by @mbaetiong
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
Due: validate-fences

chore(campaign): activate Phase 9.3 preparation execution for Tracks 2-4 with autonomous work orders
  .codex/PHASE_9_3_TRACK_PREP_ORDERS.md
  .codex/SEMANTIC_ROUTER_DECISION_TREE.json
Due: validate-fences

chore(campaign): add Phase 9.3 execution dashboard for real-time 4-track monitoring
  .codex/PHASE_9_3_EXECUTION_DASHBOARD.md
Due: validate-fences

chore(campaign): Phase 9.3 Session 3 fully activated with 4-track parallel execution and real-time monitoring
  .codex/MCP_TOOL_INTEGRATION.json
  load_test_scripts.py
  stress_test_suite.py
Due: semgrep-local

docs(campaign): add Session 3 execution summary for Phase 9.3 activation
  .codex/SESSION_3_SUMMARY.txt
Due: none

PHASE_9_3_TRACK_2: Preparation execution complete - All 7 prep tasks documented
  .codex/PHASE_9_3_TRACK_2_PREP_CHECKLIST.md
Due: validate-fences

Phase 9.3 Track 1: Semantic Router Core - GATE 1 PASS
  .codex/PHASE_9_3_ROUTING_VALIDATION_METRICS.json
  .codex/PHASE_9_3_TRACK_1_FINAL_CHECKPOINT.md
  .codex/PHASE_9_3_TRACK_1_METRICS_DASHBOARD.md
  .codex/PHASE_9_3_TRACK_1_SEMANTIC_ROUTER_REPORT.md
Due: validate-fences

Update Phase 9.3 execution status: Track 2 prep complete (9.67/10 quality), Tracks 3-4 in progress
  .codex/PHASE_9_3_TRACK_3_TEST_FRAMEWORK.md
  failover_scenarios.py
  metrics_collection.py
  pytest.ini
Due: validate-fences, semgrep-local

docs(phase-9-3): comprehensive Session 3 execution status — Track 1 complete (100/100), Track 2 prep complete (9.67/10), Tracks 3-4 in progress
  .codex/PHASE_9_3_SESSION_3_COMPREHENSIVE_STATUS.md
Due: validate-fences

Phase 9.3 Track 9.3.3: Build comprehensive test framework + baseline execution
  .codex/DEPLOYMENT_PROCEDURES_GUIDE.md
  .codex/INCIDENT_RESPONSE_RUNBOOK.md
  .codex/PHASE_9_3_TRACK_3_BASELINE_RESULTS.md
  .codex/PHASE_9_3_TRACK_3_STRESS_TEST_REPORT.md
  .codex/PHASE_9_3_TRACK_4_PREP_CHECKLIST.md
  .codex/PHASE_9_3_TRACK_4_SUMMARY.md
Due: validate-fences

Track 4: Add comprehensive deployment activation & execution documentation
  .codex/DEPLOYMENT_ACTIVATION_CHECKLIST.md
  .codex/DEPLOYMENT_QUICK_START.md
  .codex/PHASE_9_3_TRACK_4_README.md
Due: validate-fences

docs(phase-9-3): Tracks 3-4 completion reports — Track 3 framework complete (9.8/10, 47/47 baseline tests PASS), Track 4 validation complete (9.7/10, 34/34 readiness, all incident dry-runs PASS)
  .codex/PHASE_9_3_EXECUTION_DASHBOARD.md
  .codex/PHASE_9_3_SESSION_3_COMPREHENSIVE_STATUS.md
  .codex/PHASE_9_3_TRACK_3_COMPLETION_REPORT.md
  .codex/PHASE_9_3_TRACK_4_COMPLETION_REPORT.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
