Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

feat(0D): add reasoning pod dry-run guide+config, status artifacts, repo-map --reasoning, trace capture modes, and promotion PR template
  .github/pull_request_template.md
  configs/deploy/reasoning_pod.yaml
  configs/training/reasoning/baseline.yaml
  docs/README.md
  docs/README_ROOT.md
  docs/deployment/reasoning_pod.md
  docs/status_updates/README.md
  docs/status_updates/deploy_dry_run.json
  docs/status_updates/deploy_dry_run.md
  docs/status_updates/repo_map_reasoning.txt
  docs/status_updates/status_report.json
  docs/status_updates/status_report.md
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/config/__init__.py
  src/codex_ml/models/reasoning.py
  src/codex_ml/train_loop.py
  tools/selection_report.py
  tools/status_report.py
Due: validate-fences, semgrep-local

Add status update template and repo-map reasoning tests
  docs/status_updates/README.md
  docs/status_updates/TEMPLATE_status_update.md
  tests/unit/__init__.py
  tests/unit/test_repo_map_reasoning.py
Due: validate-fences, semgrep-local

Add survey template and normalization tool
  docs/status_updates/SURVEYS.md
  docs/status_updates/TEMPLATE_survey.md
  tools/survey/README.md
  tools/survey/normalize_survey_md.py
Due: validate-fences, semgrep-local

Handle nested fences in survey normalizer
  tools/survey/README.md
  tools/survey/normalize_survey_md.py
Due: validate-fences, semgrep-local

Adjust trace mode when activations unavailable
  src/codex_ml/models/reasoning.py
Due: semgrep-local

Add survey tooling and documentation updates
  docs/status_updates/README.md
  docs/status_updates/templates/SURVEY_TEMPLATE.md
  scripts/survey.sh
  tools/survey_sanitize.py
Due: validate-fences, semgrep-local

Fix empty fence removal in survey sanitizer
  tools/survey_sanitize.py
Due: semgrep-local

feat: add survey writer and sanitizer
  docs/status_updates/README.md
  docs/status_updates/artifacts/2025-10-29-survey-work-and-1926/report.md
  docs/status_updates/survey-work-and-1926-2025-10-29.md
  docs/status_updates/templates/SURVEY_TEMPLATE.md
  scripts/survey.sh
  tools/survey_sanitize.py
Due: validate-fences, semgrep-local

Sanitize PR slug used by survey script
  scripts/survey.sh
Due: none

Fix raw survey formatting with sentinel replacement
  tools/survey/normalize_survey_md.py
Due: semgrep-local

docs(status): survey-0D_base-and-1926 — 2025-10-29 - Re-run survey on 0D_base_ with PR #1926 context - Store sanitized report + metrics/logs + readiness.json - Readiness: R = α·E + β·T + γ·D (α+β+γ=1)
  docs/status_updates/artifacts/2025-10-29-survey-0D_base-and-1926/STATUS.md
  docs/status_updates/artifacts/2025-10-29-survey-0D_base-and-1926/readiness.json
  docs/status_updates/artifacts/2025-10-29-survey-0D_base-and-1926/report.md
  docs/status_updates/survey-0D_base-and-1926-2025-10-29.md
  docs/status_updates/survey-work-and-1926-2025-10-29.md
Due: validate-fences

Restore rollout ring in dry-run reasoning pod config
  configs/deploy/reasoning_pod.yaml
Due: none

feat(docs,tools): fix deploy docs, correct survey template path, add readiness schema + validator
  docs/README_ROOT.md
  docs/status_updates/README.md
  docs/status_updates/readiness.schema.json
  tools/validate_readiness.py
Due: validate-fences, semgrep-local

docs,tests: add status template + CLI --reasoning tests; run readiness validator on latest artifacts
  docs/status_updates/README.md
  docs/status_updates/TEMPLATE_status_update.md
  docs/status_updates/artifacts/2025-10-29-survey-0D_base-and-1926/STATUS.md
  docs/status_updates/artifacts/2025-10-29-survey-0D_base-and-1926/readiness.validated.json
  tests/unit/test_repo_map_reasoning.py
Due: validate-fences, semgrep-local

Expose TrainerLoggingConfig alias
  src/training/trainer.py
Due: semgrep-local

Add patch validation, caching utilities, and documentation
  .pre-commit-config.yaml
  docs/codex/IMPLEMENTATION_GUIDE.md
  docs/codex/PRE_FLIGHT_CHECKLIST.md
  docs/guides/AGENTS.md
  docs/guides/BASH_HEREDOC_REFERENCE.md
  docs/guides/CODEX_TOOL_SELECTION.md
  scripts/generate_preflight.py
  scripts/manage_hooks.sh
  scripts/validate_patch.sh
  src/codex/utils/context_discovery.py
  src/codex/utils/session_cache.py
  src/codex/utils/validators.py
  tests/unit/test_session_utilities.py
  tests/unit/test_validate_patch.py
  tests/unit/test_validators.py
Due: validate-fences, semgrep-local

Add 0D_base_ survey snapshot for PR 1926
  docs/status_updates/survey-0D_base_-and-1926-2025-10-30.md
Due: validate-fences

docs(status): refresh survey + readiness for main (2025-10-30); R = αE+βT+γD
  docs/status_updates/artifacts/2025-10-30-survey-main-and-0/readiness.json
  docs/status_updates/artifacts/2025-10-30-survey-main-and-0/report.md
  docs/status_updates/survey-main-and-0-2025-10-30.md
Due: validate-fences

Fix audit detectors to use S1 context index
  audit_artifacts/capabilities_raw.json
  audit_artifacts/capabilities_scored.json
  audit_artifacts/context_index.json
  audit_artifacts/facets.json
  audit_artifacts/gaps.json
  audit_run_manifest.json
  reports/capability_matrix_20251030_161504.md
  scripts/space_traversal/detectors/detector_duplication.py
  scripts/space_traversal/detectors/detector_peft.py
  scripts/space_traversal/detectors/detector_safeguards.py
Due: validate-fences, semgrep-local

Update dynamic detector tests to use context index
  tests/space_traversal/test_detector_duplication.py
  tests/space_traversal/test_detector_peft.py
  tests/space_traversal/test_detector_safeguards.py
Due: semgrep-local

Fix duplication detector contract semantics
  scripts/space_traversal/detectors/detector_duplication.py
Due: semgrep-local

docs(status_updates): survey(work@63694ea8) + readiness.json (2025-10-30)
  docs/status_updates/artifacts/2025-10-30-survey-work-and-0_/readiness.json
  docs/status_updates/artifacts/2025-10-30-survey-work-and-0_/report.md
  docs/status_updates/deploy_dry_run.json
  docs/status_updates/deploy_dry_run.md
  docs/status_updates/survey-work-and-0_-2025-10-30.md
Due: validate-fences

docs(status_updates): survey(work@63694ea8) + readiness.json (2025-10-30)
  SELECTION_REPORT.md
  docs/status_updates/artifacts/2025-10-30-survey-work-and-0_/readiness.json
  docs/status_updates/artifacts/2025-10-30-survey-work-and-0_/report.md
  docs/status_updates/deploy_dry_run.json
  docs/status_updates/survey-work-and-0_-2025-10-30.md
Due: validate-fences

Create README.md for GitHub agents
  .github/agents/README.md
Due: validate-fences

Enhance LoRA config handling and dataset provenance
  .pre-commit-config.yaml
  src/codex_ml/config_schema.py
  src/codex_ml/eval/datasets.py
  src/codex_ml/model_registry.py
  tests/config/test_config_settings.py
  tests/eval/test_hf_dataset_loader.py
  tests/test_model_registry_helpers.py
Due: semgrep-local

feat: integrate lora metadata and dataset hashing
  .pre-commit-config.yaml
  docs/guides/reasoning_overview.md
  src/codex_ml/eval/datasets.py
  src/codex_ml/eval/eval_runner.py
  src/codex_ml/model_registry.py
  src/codex_ml/models/utils/peft.py
  tests/eval/test_datasets_hf_disk.py
  tests/eval/test_hf_dataset_loader.py
  tests/test_model_registry_helpers.py
Due: validate-fences, semgrep-local

Fix default LoRA enablement
  src/codex_ml/model_registry.py
Due: semgrep-local

feat(zendesk): add administrator starterpack (desired state, task sequence, runbooks)
  configs/desired/zendesk/macros.desired.json
  configs/desired/zendesk/routing.desired.json
  configs/desired/zendesk/talk_ivr.desired.json
  configs/desired/zendesk/ticket_fields.desired.json
  configs/desired/zendesk/ticket_forms.desired.json
  configs/desired/zendesk/triggers.desired.json
  configs/desired/zendesk/views.desired.json
  configs/desired/zendesk/webhooks.desired.json
  docs/checklists/zendesk_first_cycle_verification.md
  docs/guides/_codex__Newcomer_Codebase_Overview.md
  docs/guides/codex_zendesk_integration_deep_dive.md
  docs/guides/zendesk_ai_app_builder_limitations.md
  docs/runbooks/zendesk_e2e_support_workflows_plan.md
  docs/starterpacks/zendesk_desired_state/README.md
  docs/validation/zendesk_ai_builder_readiness_validation.md
  scripts/task_sequences/zendesk_first_cycle.yaml
Due: validate-fences

Fix Zendesk starterpack workflow resource handling
  configs/desired/zendesk/ticket_fields.desired.json
  configs/desired/zendesk/ticket_forms.desired.json
  scripts/task_sequences/zendesk_first_cycle.yaml
Due: none

Include routing and talk resources in Zendesk snapshot
  src/codex/cli_zendesk.py
Due: semgrep-local

Align Zendesk quickstart with env-scoped credentials
  docs/zendesk/README.md
  docs/zendesk/ZENDESK_NEWCOMER_GUIDE.md
  examples/zendesk/quickstart.sh
Due: validate-fences

Add retrieval dependencies to base requirements
  requirements/base.txt
Due: none

Fix tenant rate limiting order and persist admin updates
  services/msp_gateway/app.py
  services/msp_gateway/middleware/tenant_context.py
  services/msp_gateway/routers/admin.py
Due: semgrep-local

Enforce MSP token rate limits
  services/msp_gateway/middleware/rate_limit.py
  services/msp_gateway/routers/infer.py
  tests/test_msp_infer_api.py
Due: semgrep-local

Defer MSP gateway retrieval adapter initialization
  services/msp_gateway/routers/infer.py
  services/msp_gateway/routers/kb.py
Due: semgrep-local

Restore request body after rate limit inspection
  services/msp_gateway/middleware/rate_limit.py
Due: semgrep-local

Offload MSP inference generation to threadpool
  services/msp_gateway/routers/infer.py
Due: semgrep-local

Make MSP inference tests use unique tenants
  tests/test_msp_infer_api.py
Due: semgrep-local

Fix middleware order for tenant-aware rate limiting
  services/msp_gateway/app.py
Due: semgrep-local

Preserve inference response body when token accounting fails
  services/msp_gateway/middleware/rate_limit.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
