Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

docs(codeql): add quick reference guide for remediation protocol
  .codex/CODEQL_REMEDIATION_QUICKREF.md
Due: validate-fences

fix(codeql): resolve py/log-injection alerts in analyze_workflows and test_cli_maps (Stream B-P2)
  scripts/analyze_workflows.py
  tests/codex/test_cli_maps.py
Due: semgrep-local

docs(codeql): document Stream B remediation progress and fixes (8+ alerts resolved)
  .codex/CODEQL_STREAM_B_REMEDIATION.md
Due: validate-fences

docs(codeql): finalize Stream B remediation report with 8+ alerts fixed and validation results
  .codex/CODEQL_STREAM_B_FINAL_REPORT.md
Due: validate-fences

docs(codeql): create comprehensive session dashboard - Stream B complete
  .codex/CODEQL_REMEDIATION_SESSION_DASHBOARD.md
Due: validate-fences

Potential fix for pull request finding 'CodeQL / Clear-text logging of sensitive information'
  scripts/github_secrets_sync.py
Due: semgrep-local

Potential fix for pull request finding 'Syntax error'
  tests/tokenization/test_roundtrip_basic.py
Due: semgrep-local

Potential fix for pull request finding 'Unused import'
  scripts/ci/pr_description_helper.py
Due: semgrep-local

docs(priority-0): Add agents to registry + fix Phase 8 status + correct reference link
  .codex/PHASE_8_12_MASTER_EXECUTION_PLAN.md
  .github/agents/AGENT_REGISTRY.yaml
  docs/phase-9/PHASE_8_12_MASTER_EXECUTION_PLAN.md
Due: validate-fences

docs(priority-1): Standardize Track 9 emojis + update stale timestamps
  .codex/PHASE_8_12_MASTER_EXECUTION_PLAN.md
  .codex/PHASE_9_COORDINATION_DASHBOARD.md
  docs/phase-9/PHASE_8_12_MASTER_EXECUTION_PLAN.md
Due: validate-fences

docs(priority-2): Update Phase 9 references in AGENTS, CHANGELOG, accountability
  AGENTS.md
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

docs(audit-complete): Phase 9 campaign audit summary + validation complete
  .codex/PHASE_9_CAMPAIGN_AUDIT_SUMMARY.md
Due: validate-fences

docs(phase-5): Phase 9 campaign final validation + readiness confirmation
  .codex/PHASE_9_CAMPAIGN_COMPLETION_REPORT.md
  .codex/PHASE_9_READINESS_REPORT.md
Due: validate-fences

Phase 9 Campaign: ALL PLANS APPROVED - GO STATUS CONFIRMED (2026-06-26T04:24:13Z)
  .codex/PHASE_9_LANE_A_ORCHESTRATOR_BRIEF.md
  .codex/PHASE_9_LANE_B_EXECUTOR_BRIEF.md
Due: validate-fences

Phase 6: Initialize Phase 9 execution lanes and delegate lead agents
  .codex/PHASE_9_CAMPAIGN_HANDOFF_SUMMARY.md
  .codex/PHASE_9_GONOGO_DECISION_FRAMEWORK.md
  .codex/PHASE_9_LANE_C_VALIDATOR_BRIEF.md
  .codex/PHASE_9_TRACK_SCRIPTS_INVENTORY.md
Due: validate-fences

Phase 7: Deploy Lane Briefs with GO Status (v2026-06-26)
  .codex/PHASE_9_LANE_A_ORCHESTRATOR_BRIEF.md
  .codex/PHASE_9_LANE_B_EXECUTOR_BRIEF.md
  .codex/PHASE_9_LANE_C_VALIDATOR_BRIEF.md
Due: validate-fences

Phase 7: Deploy 3 Lead Agents with GO Authorization (v2026-06-26)
  .codex/PHASE_9_LEAD_AGENT_DEPLOYMENT_LOG.md
Due: validate-fences

Phase 7: Prepare Phase 9 Orchestration Workflows (v2026-06-26)
  .codex/PHASE_9_ESCALATION_LOG.md
  .codex/PHASE_9_LIVE_DASHBOARD.md
  .github/workflows/phase-9-daily-standup.yml
Due: validate-fences

Phase 7: Campaign Closure Report - Phase 9 GO AUTHORIZED (v2026-06-26)
  .codex/PHASE_9_CAMPAIGN_CLOSURE_REPORT.md
Due: validate-fences

Phase 7: Archive Phase 9 Campaign Artifacts (v2026-06-26)
  .codex/archive/phase-9-campaign/README.md
Due: validate-fences

Phase 7: Final Campaign Summary - Phase 9 🟢 GO AUTHORIZED (v2026-06-26)
  .codex/PHASE_9_FINAL_STATUS.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Complete 9-PR Dependabot consolidation: All Python deps applied, CI/Actions documented, security analyzed, 100% merge-ready
  .codex/CONSOLIDATION_COMPLETENESS_VERIFICATION.md
  .codex/CONSOLIDATION_STATUS_VERIFICATION_FINAL.md
  .codex/SESSION_COMPLETE_PHASE_4_CLOSURE.md
  CODEX_MANIFEST.json
  pyproject.toml
  requirements-minimal.txt
  requirements.txt
  requirements/lock.txt
Due: validate-fences

REQ-4/REQ-5: Update AGENT_ACCOUNTABILITY_REPORT and CHANGELOG per Phase 12.2 compliance
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Potential fix for pull request finding 'Unnecessary pass'
  tests/test_phase7b_edge_cases_async.py
Due: semgrep-local

Create Phase 12.2 investigation report
  phase_12_2_report.md
Due: validate-fences

Phase 3 Wave 5 Lane 2: ML Validation Suite - 278 tests created (69% complete, Day 1-3)
  .codex/PHASE_3_WAVE_5_LANE_2_ML_CORE_CHECKPOINT_DAY_2.md
  .codex/PHASE_3_WAVE_5_LANE_2_ML_CORE_ML_VALIDATION_SUITE_FINAL.md
  tests/test_data_rag_validation_day2.py
  tests/test_edge_cases_day3.py
Due: validate-fences, semgrep-local

Phase 3 Wave 5 Auto-Dispatch: 4-lane execution initiated (L1-L4 active, D-mode autonomous)
  .codex/PHASE_3_WAVE_5_MASTER_COORDINATION.md
Due: validate-fences

Potential fix for pull request finding 'Illegal raise'
  src/codex/consolidation/async_utils.py
Due: semgrep-local

fix(ci): resolve Semgrep SARIF generation and governance compliance failures
  .github/workflows/semgrep_sarif.yml
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Potential fix for pull request finding 'Syntax error'
  tests/autonomy/test_session_tracker.py
Due: semgrep-local

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Delete .codex/delete_this_test.md
  .codex/delete_this_test.md
Due: validate-fences

Phase 3 Stage 3: Create legacy configuration archive structure
  .config.legacy/README.md
Due: validate-fences

Fix CodeQL: incomplete URL substring sanitization in test assertions
  tests/github/test_package_registry.py
Due: semgrep-local

Fix CodeQL: incomplete URL substring sanitization in test assertions
  .codex/session_context_latest.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
