Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Improve distributed init gating and tokenization shims
  docs/guides/tokenization.md
  docs/training/Distributed_Minimal_Hooks.md
  src/codex_ml/distributed/minimal.py
  tests/plugins/test_tokenization_deprecation_shims.py
  tokenization/__init__.py
  transformers/__init__.py
Due: validate-fences, semgrep-local

Enhance audit runner scoring breakdown
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Enhance audit runner skip list and add CLI tests
  .github/docs/Space_TraversalWorkflow_Copilot.md
  audit_runner.py
  docs/validation/Traversal_Workflow.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/detectors/README.md
  scripts/space_traversal/detectors/inference_serving.py
  tests/specs/test_audit_diff_cli.py
  tests/specs/test_audit_explain_cli.py
Due: validate-fences, semgrep-local

Improve audit runner filtering and add CLI smoke tests
  .github/docs/Space_TraversalWorkflow_Copilot.md
  MANIFEST.in
  audit_runner.py
  docs/validation/Traversal_Workflow.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/detectors/README.md
  scripts/space_traversal/detectors/inference_serving.py
  tests/specs/test_audit_diff_cli.py
  tests/specs/test_audit_explain_cli.py
Due: validate-fences, semgrep-local

Restore workflow config and templates in package
  MANIFEST.in
Due: none

Expand space audit usage docs and tests
  docs/validation/Usage_Guide.md
  scripts/space_traversal/capability_scoring.py
  templates/audit/capability_matrix.md.j2
  tests/specs/test_audit_manifest_fields.py
Due: validate-fences, semgrep-local

Restore Copilot Space workflow config in sdist
  MANIFEST.in
Due: none

Restore templates directory to MANIFEST
  MANIFEST.in
Due: none

Add audit component caps and duplication heuristic updates
  .copilot-space/workflow.yaml
  .github/docs/Space_TraversalWorkflow_Copilot.md
  docs/validation/Atomic_Diffs_Next_Unresolved_2025-10-18.md
  docs/validation/Patch_Scope_Confirmation_2025-10-18.md
  docs/validation/Traversal_Workflow.md
  docs/validation/Usage_Guide.md
  scripts/__init__.py
  scripts/space_traversal/__init__.py
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/dup_similarity.py
  templates/audit/capability_matrix.md.j2
  tests/specs/test_audit_meta_in_report.py
  tests/specs/test_component_caps_clamp.py
  tests/specs/test_dup_similarity.py
Due: validate-fences, semgrep-local

Add patch completeness review and align doc headers
  .github/docs/Space_TraversalWorkflow_Copilot.md
  docs/validation/Patch_Completeness_Review_2025-10-18.md
  docs/validation/Traversal_Workflow.md
Due: validate-fences

Add Codex status update report tooling
  docs/validation/Status_Update_Audit_Prompt.md
  scripts/space_traversal/__init__.py
  scripts/space_traversal/status_update_report.py
  space.mk
  templates/audit/status_update_report.md.j2
Due: validate-fences, semgrep-local

tests: restore workflow config after overrides
  tests/specs/_workflow_config_utils.py
  tests/specs/test_component_caps_clamp.py
  tests/specs/test_dup_similarity.py
Due: semgrep-local

Add inference service unit tests with dependency stubs
  tests/hhg_logistics/serve/test_app.py
Due: semgrep-local

Add resilient inference API tests and fallbacks
  services/api/main.py
  src/security/core.py
  tests/services/api/test_main_utils.py
  transformers/__init__.py
Due: semgrep-local

docs: record metrics, split, and checkpoint updates
  CHANGELOG.md
  codex_task_report.md
  conftest.py
  docs/README.md
  src/evaluation/metrics.py
  src/ingestion/split.py
  src/training/checkpointing.py
  tests/conftest.py
  tests/evaluation/test_metrics.py
  tests/ingestion/test_split.py
  tests/training/conftest.py
  tests/training/test_checkpoint_manifest.py
Due: validate-fences, semgrep-local

Handle single-logit binary metrics
  src/evaluation/metrics.py
  tests/evaluation/test_metrics.py
Due: semgrep-local

Handle stub torch in metrics tests
  tests/evaluation/test_metrics.py
Due: semgrep-local

docs: refresh changelog and helper notes
  CHANGELOG.md
  codex_task_report.md
  docs/README.md
  src/evaluation/metrics.py
  src/ingestion/split.py
  src/training/checkpointing.py
  tests/evaluation/test_metrics.py
  tests/ingestion/test_split.py
  tests/training/test_checkpoint_manifest.py
Due: validate-fences, semgrep-local

Enhance tokenization CLI and evaluation registry
  README.md
  _codex_reports/errors_2025-10-19.md
  _codex_reports/status_update_2025-10-19.md
  docs/deferred.md
  noxfile.py
  src/codex_ml/config/__init__.py
  src/codex_ml/eval/runner.py
  src/tokenization/__init__.py
  src/tokenization/cli.py
  src/tokenizer/fast_tokenizer.py
  tests/eval/test_metric_registry_registration.py
Due: validate-fences, semgrep-local

Add audit requirement mapping for target modules
  _codex_reports/audit_requirement_mapping.md
Due: validate-fences

Enhance tokenization CLI error handling
  src/tokenization/cli.py
Due: semgrep-local

Enhance metric registry integration and logging
  src/codex_ml/eval/runner.py
  src/codex_ml/metrics/registry.py
  tests/test_metric_registry.py
Due: semgrep-local

Add safeguarded dataset manifest generation
  configs/eval/default.yaml
  src/codex_ml/eval/runner.py
Due: semgrep-local

Fix offline nox session dependencies
  _codex_reports/errors_2025-10-19.md
  noxfile.py
  pyproject.toml
Due: validate-fences, semgrep-local

Fix pydantic stubs to respect real installations
  tests/test_metric_registry.py
Due: semgrep-local

Restore dataset manifest schema keys
  src/codex_ml/eval/runner.py
Due: semgrep-local

Refresh requirements lock and update tooling
  Makefile
  README.md
  _codex_reports/errors_2025-10-19.md
  documentation/deploy_codex_pipeline.md
  documentation/option_b_duckdb_parquet.md
  requirements.lock
  scripts/codex_local_audit.sh
  scripts/deep_research_task_process.py
  scripts/refresh_requirements_lock.py
Due: validate-fences, semgrep-local

Improve offline nox session error logging
  noxfile.py
Due: semgrep-local

docs: refresh usage guide for offline workflow
  README.md
  docs/Usage_Guide.md
  docs/validation/Usage_Guide.md
Due: validate-fences

Ensure dev requirements installed with lock setup
  Makefile
Due: none

Update quickstart docs and guard
  README.md
  tests/test_readme_has_quickstart.py
Due: validate-fences, semgrep-local

Fix Makefile sast recipe indentation
  Makefile
Due: none

Ensure refresh script exits on failures
  scripts/refresh_requirements_lock.py
Due: semgrep-local

Add tomli fallback for Python 3.10
  scripts/refresh_requirements_lock.py
Due: semgrep-local

Fix coverage flag handling for offline tests
  noxfile.py
Due: semgrep-local

Ensure evaluation IO errors propagate
  src/codex_ml/eval/runner.py
Due: semgrep-local

test: expand hydra configuration coverage
  audit_artifacts/capabilities_raw.json
  audit_artifacts/capabilities_scored.json
  audit_artifacts/context_index.json
  audit_artifacts/facets.json
  audit_artifacts/gaps.json
  audit_run_manifest.json
  docs/configuration/HYDRA_GUIDE.md
  reports/capability_matrix_20251020_040553.md
  reports/codex_status_update_20251020_040601.md
  tests/configuration/test_hydra_validation.py
Due: validate-fences, semgrep-local

Improve offline safeguards and tests
  deploy/helm/values.yaml
  docs/configuration/HYDRA_GUIDE.md
  docs/guides/config_overrides.md
  docs/offline_quickstart.md
  docs/security/THREAT_MODEL.md
  docs/suggested_tasks/offline_logging_security_updates.md
  tests/codex_ml/test_cli_train_config_bridge.py
  tests/configuration/test_config_audit_helpers.py
  tests/configuration/test_hydra_override_propagation.py
  tests/deployment/test_helm_values.py
  tests/services/api/test_infer_limits.py
  tests/services/api/test_main_utils.py
  tests/services/api/test_middleware_security.py
  tests/services/api/test_rate_limit_middleware.py
  torch/__init__.py
  torch/nn/__init__.py
Due: validate-fences, semgrep-local

Tighten torch availability check for real modules
  conftest.py
Due: semgrep-local

Fix API key middleware test expectation
  tests/services/api/test_middleware_security.py
Due: semgrep-local
