Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Delete CODEX_MANIFEST.json
  CODEX_MANIFEST.json
Due: none

Delete CHANGELOG.md
  CHANGELOG.md
Due: validate-fences

Potential fix for pull request finding 'Empty except'
  scripts/ci/session_wrapup_autofix.py
Due: semgrep-local

Update scripts/ci/session_wrapup_autofix.py
  scripts/ci/session_wrapup_autofix.py
Due: semgrep-local

Update .github/copilot-prompts/active/PR-4041-followup.md
  .github/copilot-prompts/active/PR-4041-followup.md
Due: validate-fences

Potential fix for pull request finding 'Unused global variable'
  src/codex/cli.py
Due: semgrep-local

Potential fix for pull request finding
  tests/ci/test_session_wrapup_autofix.py
Due: semgrep-local

Potential fix for pull request finding
  docs/admin/GITHUB_VARIABLES_MASTER_GUIDE.md
Due: validate-fences

Potential fix for pull request finding 'Module is imported with 'import' and 'import from''
  src/data/datasets.py
Due: semgrep-local

Potential fix for pull request finding 'File is not always closed'
  tests/evaluation/test_eval_cli.py
Due: semgrep-local

Fix for Unhashable object hashed
  agents/mental_mapping.py
Due: semgrep-local

Potential fix for code scanning alert no. 13062: Clear-text logging of sensitive information
  tools/status/generate_status_update.py
Due: semgrep-local

Potential fix for pull request finding 'CodeQL / Use of a broken or weak cryptographic hashing algorithm on sensitive data'
  services/ita/app/security.py
Due: semgrep-local

Potential fix for pull request finding 'CodeQL / Uncontrolled data used in path expression'
  src/codex/api/rag_api.py
Due: semgrep-local

Potential fix for pull request finding 'CodeQL / Unused local variable'
  tests/integration/test_phase14_edge_cases_coverage.py
Due: semgrep-local

Update .github/copilot-prompts/active/PR-4311-followup.md
  .github/copilot-prompts/active/PR-4311-followup.md
Due: validate-fences

Potential fix for pull request finding 'CodeQL / Potentially uninitialized local variable'
  scripts/ci/session_bootstrap.py
Due: semgrep-local

Potential fix for pull request finding 'Explicit returns mixed with implicit (fall through) returns'
  scripts/ci/fetch_codeql_alerts.py
Due: semgrep-local

Potential fix for pull request finding 'Module imports itself'
  src/codex/utils/subprocess.py
Due: semgrep-local

Potential fix for code scanning alert no. 13406: Potentially uninitialized local variable
  tests/security/test_secret_entropy_scan.py
Due: semgrep-local

Potential fix for code scanning alert no. 13405: Potentially uninitialized local variable
  tests/code_quality/test_mypy_type_coverage.py
Due: semgrep-local

Fix for Non-callable called
  src/codex_ml/evaluation/runner.py
Due: semgrep-local

Fix for Unused variable, import, function or class
  cognitive_app/src/components/quantum-viz/WorkflowTemplatesLibrary.tsx
Due: none

Fix for Unused variable, import, function or class
  cognitive_app/src/App.tsx
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/self-healing.yml
Due: none
