Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Restore codex-ml runtime dependencies
  pyproject.toml
Due: none

Prevent python floor downgrade and package examples plugins
  pyproject.toml
  tools/apply_pyproject_packaging.py
Due: semgrep-local

chore: restore packaging dependencies
  pyproject.toml
Due: none

Restore packaging dependencies
  pyproject.toml
  tools/apply_pyproject_packaging.py
Due: semgrep-local

Add legacy shims and update packaging metadata
  MANIFEST.in
  docs/guides/tokenization.md
  docs/training/Evaluation_CLI_Addendum.md
  pyproject.toml
  src/tokenization/api.py
  src/tokenization/sentencepiece_adapter.py
  src/utils/checkpoint.py
  src/utils/checkpointing.py
  training/checkpoint_manager.py
Due: validate-fences, semgrep-local

Fix duplicated dependency tables in pyproject
  pyproject.toml
Due: none

Restore legacy shims for tokenizer and checkpoint helpers
  src/tokenization/api.py
  src/tokenization/sentencepiece_adapter.py
  src/utils/checkpoint.py
  src/utils/checkpointing.py
Due: semgrep-local

chore: normalize packaging license metadata
  docs/packaging/Packaging_and_Release.md
  tests/test_packaging_metadata.py
  tools/apply_pyproject_packaging.py
Due: validate-fences, semgrep-local

Restore legacy tokenizer shims
  src/tokenization/api.py
  src/tokenization/sentencepiece_adapter.py
Due: semgrep-local

Preserve pyproject dependencies in packaging normalizer
  tools/apply_pyproject_packaging.py
Due: semgrep-local

test: fallback to tomli on python 3.10
  tests/test_packaging_metadata.py
Due: semgrep-local

Fix sentencepiece legacy shim imports
  src/tokenization/sentencepiece_adapter.py
Due: semgrep-local

Restore packaging for shared modules and data
  pyproject.toml
Due: none

Fix SentencePiece shim load helper import
  src/tokenization/sentencepiece_adapter.py
Due: semgrep-local

Fix dependency normalization edge cases
  tools/apply_pyproject_packaging.py
Due: semgrep-local

Improve pyproject normalizer dedupe handling
  docs/packaging/Packaging_and_Release.md
  tools/apply_pyproject_packaging.py
Due: validate-fences, semgrep-local

Restore legacy checkpoint shims
  src/utils/checkpoint.py
  training/checkpoint_manager.py
Due: semgrep-local

fix: guard optional dependency dedup
  tools/apply_pyproject_packaging.py
Due: semgrep-local

Restore canonical dependency rewrite in normalizer
  tools/apply_pyproject_packaging.py
Due: semgrep-local

Handle canonical RNG keys in legacy checkpoint restore
  src/utils/checkpoint.py
Due: semgrep-local

fix: preserve extra dependencies when normalizing
  tools/apply_pyproject_packaging.py
Due: semgrep-local

fix: preserve existing dependency pins
  tools/apply_pyproject_packaging.py
Due: semgrep-local

Fix dependency block detection in packaging normalizer
  tools/apply_pyproject_packaging.py
Due: semgrep-local

test: skip packaging metadata test without toml parser
  tests/test_packaging_metadata.py
Due: semgrep-local

Fix legacy checkpoint compatibility shim
  src/utils/checkpoint.py
Due: semgrep-local

Add TOML validation guard to pyproject normalizer
  docs/packaging/Packaging_and_Release.md
  tests/test_pyproject_toml_parse.py
  tools/apply_pyproject_packaging.py
Due: validate-fences, semgrep-local

fix: close canonical header string
  tools/apply_pyproject_packaging.py
Due: semgrep-local

Fix dependency dedupe to respect requirement markers
  tools/apply_pyproject_packaging.py
Due: semgrep-local

fix: remove stray triple quotes from packaging normalizer
  tools/apply_pyproject_packaging.py
Due: semgrep-local

Fix legacy checkpoint manager fallback helpers
  training/checkpoint_manager.py
Due: semgrep-local

Fix device propagation in legacy checkpoint loader
  src/codex_ml/utils/checkpoint_core.py
  src/utils/checkpoint.py
Due: semgrep-local

Fix duplicate dependency declarations
  pyproject.toml
Due: none

Restore optional imports for legacy checkpoint shim
  src/utils/checkpoint.py
Due: semgrep-local

Fix legacy checkpoint shim optional imports
  src/utils/checkpoint.py
Due: semgrep-local

Refine packaging manifest and add wheel build tooling
  MANIFEST.in
  docs/packaging/Packaging_and_Release.md
  scripts/build_wheel.sh
  tests/test_pyproject_scripts_present.py
Due: validate-fences, semgrep-local

Fix setuptools mapping for shim packages
  pyproject.toml
Due: none

Enforce list-plugins JSON stdout contract and add docs
  docs/developer/Plugin_Registry_CLI.md
  docs/plugins/Plugin_Registry.md
  docs/training/Checkpointing_Surfaces.md
  docs/training/Distributed_Minimal_Hooks.md
  docs/training/Evaluation_CLI.md
  docs/validation/CODEBASE_Curated_PatchPlan_main_2025-10-18.md
  docs/validation/Traversal_Workflow.md
  docs/validation/Usage_Guide.md
  src/codex_ml/cli/list_plugins.py
  tests/plugins/test_list_plugins_cli_json_stdout_only.py
  tokenization/api.py
  tokenization/sentencepiece_adapter.py
Due: validate-fences, semgrep-local

Fix legacy checkpoint loading fallback
  src/utils/checkpoint.py
Due: semgrep-local

Guard codex_ml checkpointing imports for legacy fallback
  training/checkpoint_manager.py
Due: semgrep-local
