Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

🤖 [S185] CI cascade root-cause fixes, Pattern 18 (Duplicate Kwargs), agent configs, actionlint (#3739)
  .codex/docs/COGNITIVE_BRAIN_STATUS_S185.md
  .codex/sessions/chain-20260324-173632.md
  .github/actions/resolve-push-target/action.yml
  .github/agents/coverage-gapfill-agent.md
  .github/agents/coverage-maintenance-agent.md
  .github/agents/coverage-roadmap-agent.md
  .github/agents/test-coverage-agent.md
  .github/agents/test-coverage-monitor.agent.md
  .github/workflows/copilot-setup-steps.yml
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/auto_fix_common_issues.py
  src/codex/quantum_orchestrator/cli.py
Due: validate-fences, semgrep-local

🤖 [Agent Session S186] Phase 6 Pattern Knowledge Graph — recorder, pipeline, hook, REST endpoints & span helper (#3740)
  .codex/docs/COGNITIVE_BRAIN_STATUS_S186.md
  .codex/sessions/chain-20260324-182650.md
  CHANGELOG.md
  cognitive_app/src/server/cli_api_server.py
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/auto_fix_common_issues.py
  scripts/ci/ci_pattern_pipeline.py
  scripts/ci/pattern_recorder.py
  scripts/hooks/pre_commit_pattern_check.py
  tests/ci/test_pattern_recorder.py
Due: validate-fences, semgrep-local

Update src/codex/api/rag_api.py
  src/codex/api/rag_api.py
Due: semgrep-local

Update .codex/embeddings/codex_index_meta.json
  .codex/embeddings/codex_index_meta.json
Due: none

Potential fix for pull request finding 'Module is imported more than once'
  .github/copilot-cascade/mcp_server.py
Due: semgrep-local

Potential fix for pull request finding 'Empty except'
  scripts/ci/mcp_sse_transport.py
Due: semgrep-local

Potential fix for pull request finding 'Unused local variable'
  src/codex/github/mcp_poster.py
Due: semgrep-local

Potential fix for pull request finding 'Statement has no effect'
  src/codex_ml/features/feast_compat.py
Due: semgrep-local

Potential fix for code scanning alert no. 12715: Empty except
  scripts/ci/sync_tracked_files.py
Due: semgrep-local

Potential fix for code scanning alert no. 12714: Empty except
  scripts/ci/sync_tracked_files.py
Due: semgrep-local

Potential fix for pull request finding 'Empty except'
  scripts/ci/sync_tracked_files.py
Due: semgrep-local

Update src/codex/github/mcp_poster.py
  src/codex/github/mcp_poster.py
Due: semgrep-local

Update CODEX_MANIFEST.json
  CODEX_MANIFEST.json
Due: none

Update docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Update .github/workflows/scan-secrets-variables.yml
  .github/workflows/scan-secrets-variables.yml
Due: none

Update scripts/ci/auto_fix_common_issues.py
  scripts/ci/auto_fix_common_issues.py
Due: semgrep-local

fix(S146): 4-tier divergence classification — PIPELINE-MERGE + AGENT-COMMIT + empty-commit guard + process improvements (#3781)
  .codex/cognitive_brain/objectives_tracker.md
  .codex/cognitive_brain/status/COGNITIVE_BRAIN_STATUS_S146_DIVERGENCE_FIX_2026-03-29.md
  .codex/docs/BRANCH_DIVERGENCE_PREVENTION.md
  .github/agents/branch-divergence-resolution-agent.md
  .github/workflows/agent-auth-delegation.yml
  .github/workflows/branch-divergence-monitor.yml
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Update .codex/sessions/chain-20260330-001205.md
  .codex/sessions/chain-20260330-001205.md
Due: validate-fences

Update .codex/sessions/chain-20260330-015936.md
  .codex/sessions/chain-20260330-015936.md
Due: validate-fences

Potential fix for pull request finding 'Implicit string concatenation in a list'
  scripts/ci/ci_rescue.py
Due: semgrep-local

Resume PR #3820 + cherry-pick PR #3823: re-apply lost S245 fixes & cost-check-bot skip marker (#3824)
  .codex/COGNITIVE_BRAIN_STATUS_S245.md
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/auto_fix_common_issues.py
  scripts/ci/check_deferral_language.py
  scripts/ci/check_pr_comments.py
  src/codex_ml/utils/experiment_tracking_mlflow.py
  tests/perf/test_inference_benchmark.py
  tests/performance/test_performance_regression.py
  tests/test_server_smoke.py
Due: validate-fences, semgrep-local

🤖 [Agent Session] S248 — fix check_deferral_language.py comment + resolve PR #3824 review thread (20260331-023400) (#3825)
  .codex/sessions/chain-20260331-023400.md
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/ci/check_deferral_language.py
Due: validate-fences, semgrep-local

🤖 [Agent Session] S249 — session continuation + session-chain opt-in gate (20260331-025218) (#3827)
  .codex/cognitive_brain/metadata.json
  .codex/cognitive_brain/workflow_patterns.jsonl
  .codex/sessions/chain-20260331-025218.md
  .github/workflows/copilot-session-chain.yml
  .secrets.baseline
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

🤖 [Agent Session] S250 — CI verification + CHANGELOG update (20260331-031038) (#3830)
  .codex/sessions/chain-20260331-031038.md
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Document controlled security validation for Copilot
  poc.md
Due: validate-fences

Create investigation report for job 69960506569
  .github/docs/investigation_report_job_69960506569.md
Due: validate-fences

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Delete temporary file tmp.md
  tmp.md
Due: validate-fences

Delete tmp.md
  tmp.md
Due: validate-fences

Update CHANGELOG.md
  CHANGELOG.md
Due: validate-fences

Update .github/copilot-prompts/active/PR-3905-followup.md
  .github/copilot-prompts/active/PR-3905-followup.md
Due: validate-fences

Update scripts/ci/wec_enforcer.py
  scripts/ci/wec_enforcer.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
