Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Potential fix for code scanning alert no. 13735: Suspicious unused loop iteration variable
  tests/architecture/test_layer_boundaries.py
Due: semgrep-local

Potential fix for code scanning alert no. 13672: Cyclic import
  src/codex_ml/metrics/reward.py
Due: semgrep-local

Potential fix for code scanning alert no. 13671: Cyclic import
  src/codex_ml/metrics/registry.py
Due: semgrep-local

Potential fix for code scanning alert no. 13658: Log Injection
  cognitive_app/src/server/cli_api_server.py
Due: semgrep-local

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Potential fix for pull request finding 'CodeQL / Clear-text logging of sensitive information'
  src/security/providers/github_provider.py
Due: semgrep-local

Comment out unused _REWARD_METRICS_LOCK
  src/codex_ml/metrics/registry.py
Due: semgrep-local

Potential fix for pull request finding 'Module is imported with 'import' and 'import from''
  tests/unit/test_health_probes.py
Due: semgrep-local

Update gap_backlog_prioritized.md
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Revise estimated total effort for Gap 14
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Update estimated total effort for tasks
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Update effort definitions for backlog prioritization
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Refine effort estimates and assumptions in backlog
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Update engineering effort estimation timeframe
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Update estimated effort for Gap 14 tasks
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Revise effort estimates for engineering tasks
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Update generated date in backlog document
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Revise gap backlog entries and effort estimates
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Update re-baselined date and total iterations calculation
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Revise gap verification details and effort estimates
  workbench/gap_backlog_prioritized.md
Due: validate-fences

Refactor session preload step for error handling
  .github/workflows/copilot-setup-steps.yml
Due: none

Add files via upload
  workbench/sun_jun_07_2026_expanded_repository_variables_markdown_file_with.json
Due: none

docs: Analysis of session preload regression cycle — Method B reverted 8+ times, Method D (proven) never regressed
  docs/investigation/SESSION_PRELOAD_REGRESSION_CYCLE_ANALYSIS.md
Due: validate-fences

docs: Method D session monitoring guide — real-time execution tracking with log markers
  docs/deployment/METHOD_D_SESSION_MONITORING_GUIDE.md
Due: validate-fences

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Potential fix for pull request finding 'Variable defined multiple times'
  tests/architecture/test_layer_boundaries.py
Due: semgrep-local

docs: Convert quality findings report to markdown format
  docs/reports/recent-activity-report.md
Due: validate-fences

Delete docs/reports/recent-activity-report.md
  docs/reports/recent-activity-report.md
Due: validate-fences

Re-enable session context pre-load step in CI
  .github/workflows/copilot-setup-steps.yml
Due: none

Add Quantum Physics-Aligned Autonomous Agent Implementation Guide
  workbench/quantum_physics_autonomous_implementation_guide.md
Due: validate-fences

Comment out session context pre-load step
  .github/workflows/copilot-setup-steps.yml
Due: none

Disable session context preload step in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
