Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Add artifact decode and validation pipeline
  .github/workflows/decode-validate-artifact.yml
  docs/validation/ARTIFACTS.md
  scripts/space_traversal/coverage_ingest_stub.py
  scripts/space_traversal/decode_validate_and_extract.py
  scripts/space_traversal/extract_validate_gaps.py
  scripts/space_traversal/fixtures/coverage.xml
  scripts/space_traversal/generate_baseline.py
  scripts/space_traversal/schemas/validate_report_schema.json
  scripts/space_traversal/stable_manifest.py
  scripts/space_traversal/validate_snapshot_schema.py
  space.mk
  tests/fixtures/pasted.txt
  tests/space_traversal/test_artifact_pipeline.py
Due: validate-fences, semgrep-local

chore(pr2310): monolithic apply — add decoder, baseline, stable manifest, tests, CI stabilization
  .pre-commit-config.yaml
  CHANGELOG_PR2310.md
  automation/create_followup_prs.sh
  docs/validation/ARTIFACTS.md
  requirements-dev.txt
  scripts/space_traversal/coverage_ingest_stub.py
  scripts/space_traversal/decode_validate_and_extract.py
  scripts/space_traversal/extract_validate_gaps.py
  scripts/space_traversal/generate_baseline.py
  scripts/space_traversal/schemas/validate_report_schema.json
  scripts/space_traversal/stable_manifest.py
  scripts/space_traversal/validate_snapshot_schema.py
  space.mk
  tests/conftest.py
  tests/fixtures/pasted.txt
  tests/fixtures/sample_coverage.xml
  tests/space_traversal/test_artifact_pipeline.py
  tests/space_traversal/test_coverage_end_to_end.py
  tests/space_traversal/test_stable_manifest_cli.py
  tools/run_in_sandbox.sh
Due: validate-fences, semgrep-local

docs: add atomic patch task sequence
  automation/atomic_patch_task_sequence.yaml
  codex_ready_task_sequence.yaml
Due: none

Add dataset registry alias and fast tokenizer tests
  pyproject.toml
  src/codex_ml/data/registry.py
  src/tokenizer/fast_tokenizer.py
  tests/codex_ml/test_data_registry_entrypoints.py
  tests/tokenization/test_fast_tokenizer_wrapper.py
Due: semgrep-local

Fix quoting in atomic patch task sequence
  automation/atomic_patch_task_sequence.yaml
Due: none

Restore optional dependency skips for marked tests
  tests/conftest.py
Due: semgrep-local

docs: add automated patch task sequence
  automation/automated_patch_task_sequence.md
Due: validate-fences

Update PYTHONPATH for decode_validate_and_extract.py
  .github/workflows/decode-validate-artifact.yml
Due: none

Refactor _missing_modules function for clarity
  tests/conftest.py
Due: semgrep-local

Implement decode_and_validate function
  scripts/space_traversal/decode_validate_and_extract.py
Due: semgrep-local

Update decode_validate_and_extract.py
  scripts/space_traversal/decode_validate_and_extract.py
Due: semgrep-local

Handle optional dependency stubs during test skips
  sentencepiece/__init__.py
  tests/conftest.py
Due: semgrep-local

Restore pooling fixtures in tests
  tests/conftest.py
Due: semgrep-local

Handle legacy coverage stats in scoring stage
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Allow pooling fixture reuse control via marker
  pytest.ini
  tests/conftest.py
  tests/test_pooling_advanced.py
Due: semgrep-local

Clean up imports in __init__.py
  scripts/space_traversal/__init__.py
Due: semgrep-local

Add shebang and docstring to decode_validate_and_extract.py
  scripts/space_traversal/decode_validate_and_extract.py
Due: semgrep-local

Refactor extract_gaps to handle gaps extraction
  scripts/space_traversal/extract_validate_gaps.py
Due: semgrep-local

Enhance decode_validate_and_extract with schema support
  scripts/space_traversal/decode_validate_and_extract.py
Due: semgrep-local

Update decode-validate-artifact.yml
  .github/workflows/decode-validate-artifact.yml
Due: none

Add header comment to test_artifact_pipeline.py
  tests/space_traversal/test_artifact_pipeline.py
Due: semgrep-local

Update shebang and remove metadata comments
  tests/space_traversal/test_artifact_pipeline.py
Due: semgrep-local

Fix input argument for artifact validation script
  .github/workflows/decode-validate-artifact.yml
Due: none

Enhance decode_and_validate with output parameters
  scripts/space_traversal/decode_validate_and_extract.py
Due: semgrep-local

Fix decode_and_validate input handling and decoding
  scripts/space_traversal/decode_validate_and_extract.py
Due: semgrep-local

Fix schema validation path handling and override missing detection
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/decode_validate_and_extract.py
Due: semgrep-local

Fix indentation in space.mk for phony targets
  space.mk
Due: none

Handle stubbed deps in pytest importorskip
  tests/conftest.py
Due: semgrep-local

Restore nox in dev requirements
  requirements-dev.txt
Due: none

Add files via upload
  detectors/README.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/capability_scoring.py
  scripts/space_traversal/coverage_ingest.py
  scripts/space_traversal/detectors/example_v2.py
  scripts/space_traversal/schemas/capability_matrix.schema.json
  space.mk
  templates/audit/capability_matrix.md.j2
  tests/audit/test_json_companion.py
  tests/audit/test_overrides.py
Due: validate-fences, semgrep-local

Refactor config structure and enhance JSON validation test
  tests/audit/test_json_companion.py
Due: semgrep-local

Update audit_runner.py
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Fix override handling and manifest weights
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Finalize consolidated audit pipeline
  .copilot-space/workflow.yaml
  .github/prs/0001-consolidate-audit-pipeline.md
  .github/prune-and-consolidate.sh
  scripts/space_traversal/capability_scoring.py
  scripts/space_traversal/coverage_ingest.py
  scripts/space_traversal/detectors/README.md
  scripts/space_traversal/detectors/example_v2.py
  scripts/space_traversal/detectors/functional_training.py
  scripts/space_traversal/detectors/train_loop.py
  scripts/space_traversal/schemas/capability_matrix.schema.json
  space.mk
  templates/audit/capability_matrix.md.j2
  tests/audit/test_json_companion.py
  tests/audit/test_overrides.py
Due: validate-fences, semgrep-local

Format space.mk for consistent indentation
  space.mk
Due: none

Upgrade workflow.yaml to version 1.4.0
  .copilot-space/workflow.yaml
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
