Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Potential fix for code scanning alert no. 4856: Redundant assignment
  fix_doc_links.py
Due: semgrep-local

Fix formatting of README.md header
  misc/repo-owner-review/archive-files/README.md
Due: validate-fences

Fix header formatting in README.md
  misc/repo-owner-review/archive-files/README.md
Due: validate-fences

Refactor embedding model loading process
  src/codex/rag/indexer.py
Due: semgrep-local

Update .codex/HYGIENE_AUDIT_EXECUTIVE_SUMMARY.md
  .codex/HYGIENE_AUDIT_EXECUTIVE_SUMMARY.md
Due: validate-fences

Specify CPU device for embedding model initialization
  src/codex/rag/indexer.py
Due: semgrep-local

Load embedding model directly to CPU during initialization
  src/codex/rag/retriever.py
Due: semgrep-local

Update .codex/AI_AGENT_UTILITIES_REGISTRY.md
  .codex/AI_AGENT_UTILITIES_REGISTRY.md
Due: validate-fences

Update docs/cognitive_brain/status/COGNITIVE_BRAIN_STATUS_SEARCH_RESULTS.md
  docs/cognitive_brain/status/COGNITIVE_BRAIN_STATUS_SEARCH_RESULTS.md
Due: validate-fences

Update docs/guides/QUICKSTART.md
  docs/guides/QUICKSTART.md
Due: validate-fences

Update docs/index.md
  docs/index.md
Due: validate-fences

test: stabilize RAG utilities and test fixtures
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/results.md
  TEST_EXECUTION_REPORT_CODEX.md
  src/codex/rag/embeddings.py
  src/codex/rag/indexer.py
  src/codex/rag/retriever.py
  src/codex/rag/utils.py
  tests/rag/test_indexer_comprehensive.py
  tests/rag/test_rag_integration.py
Due: validate-fences, semgrep-local

Add RAG regression and semgrep suppression tests
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_20260129_213912_rag_test_suite.md
  .codex/results.md
  fix_all_broken_links.py
  fix_doc_links.py
  fix_github_broken_links.py
  fix_specific_links.py
  scripts/ci/batch_triage.py
  scripts/github_user_provision.py
  scripts/mfa_enrollment_automation.py
  scripts/monitor_workflow_performance.py
  scripts/ops/bootstrap_self_hosted_runner.py
  scripts/ops/codex_mint_tokens_per_run.py
  scripts/ops/codex_repo_admin_bootstrap.py
  scripts/phase10/automated_secrets_manager.py
  scripts/security/close_codeql_alert.py
  scripts/security/export_semgrep_alerts.py
  scripts/security/fetch_codeql_alerts.py
  scripts/security/verify_token_scope.py
  scripts/validate_workflows.py
  tests/test_rag_end_to_end_pipeline.py
  tests/test_rag_initialization_patterns.py
  tests/test_rag_meta_tensor_regression.py
  tests/test_semgrep_suppressions.py
Due: validate-fences, semgrep-local

Add RAG meta tensor regression tests
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_20260129_224116_rag_meta_tensor_tests.md
  .codex/results.md
  .github/agents/rag-meta-tensor-regression-agent.md
  AGENTS.md
  tests/test_rag_end_to_end_pipeline.py
  tests/test_rag_initialization_patterns.py
  tests/test_rag_meta_tensor_regression.py
  tests/test_semgrep_suppressions.py
Due: validate-fences, semgrep-local

test(rag): add comprehensive regression and integration test suite
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/results.md
  tests/test_rag_end_to_end_pipeline.py
  tests/test_rag_initialization_patterns.py
  tests/test_rag_meta_tensor_regression.py
  tests/test_semgrep_suppressions.py
Due: validate-fences, semgrep-local

fix: harden semgrep URL checks and CI log prep
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_20260129-235848_semgrep_url_regex.md
  .codex/plans/path_100_20260129_232628_semgrep_url_regex.md
  .codex/plans/path_100_20260129_232722_pr3020-ci-alerts.md
  .codex/results.md
  .github/agents/ci-log-retrieval-agent.md
  .github/agents/security-alert-verification-agent.md
  AGENTS.md
  reports/pr-3020-ci-alerts-verification_20260129_232722.md
  reports/pr-3020-final-fixes-execution-report_20260129_232722.md
  tests/test_semgrep_suppressions.py
Due: validate-fences, semgrep-local

Change runner to 'ubuntu-latest' for performance
  .github/workflows/copilot-setup-steps.yml
Due: none

Improve Copilot agent setup and reporting
  .github/workflows/copilot-setup-steps.yml
Due: none

Modify copilot setup to skip LFS and enhance report
  .github/workflows/copilot-setup-steps.yml
Due: none

Potential fix for pull request finding 'Unused import'
  scripts/analyze_workflows.py
Due: semgrep-local

Enhance Git LFS support in workflow setup
  .github/workflows/copilot-setup-steps.yml
Due: none

Potential fix for pull request finding 'Unused import'
  .codex/reports/ci_workflow_analysis_artifacts_2026_01_30/workflow_analyzer.py
Due: semgrep-local

Potential fix for pull request finding 'Unused import'
  tests/integration/test_archive_dal.py
Due: semgrep-local

Potential fix for pull request finding 'Unused local variable'
  tests/integration/test_rag_retrieval.py
Due: semgrep-local

Update src/modeling.py
  src/modeling.py
Due: semgrep-local

Update .github/workflows/test-suite.yml
  .github/workflows/test-suite.yml
Due: none

Potential fix for code scanning alert no. 10899: Unused import
  tests/integration/test_rag_retrieval.py
Due: semgrep-local

Potential fix for code scanning alert no. 10898: Unused import
  tests/integration/test_rag_indexing.py
Due: semgrep-local

Potential fix for code scanning alert no. 10900: Unused import
  tests/integration/test_rag_retrieval.py
Due: semgrep-local

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Potential fix for code scanning alert no. 10677: Clear-text storage of sensitive information
  .codex/reports/ci_workflow_analysis_artifacts_2026_01_30/workflow_analyzer.py
Due: semgrep-local

Implement version check for torch in tests
  tests/test_gradient_accumulation_tail_flush.py
Due: semgrep-local

Update tests/gates/test_quality_gates.py
  tests/gates/test_quality_gates.py
Due: semgrep-local

Potential fix for pull request finding 'Module is imported with 'import' and 'import from''
  tests/codex_crm/test_zaf_legacy.py
Due: semgrep-local

Add tokenization coverage agent and review plan
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_2026-02-04-15-00-30-UTC_tokenization-coverage.md
  .codex/results.md
  .github/agents/tokenization-coverage-agent.md
  AGENTS.md
Due: validate-fences

Update .github/scripts/workflow_analytics_scribe.py
  .github/scripts/workflow_analytics_scribe.py
Due: semgrep-local

Update scripts/cognitive/tests/test_advanced_reasoning.py
  scripts/cognitive/tests/test_advanced_reasoning.py
Due: semgrep-local

Potential fix for pull request finding 'Unused import'
  scripts/cognitive/metrics_collector.py
Due: semgrep-local

Potential fix for pull request finding 'Unused import'
  scripts/cognitive/session_manager.py
Due: semgrep-local
