Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix stale GitHub Security workflow reference and invalid Trivy action pin (#5600)
  .codex/session_startup_packet.json
  .github/workflows/container-scan.yml
  .github/workflows/enterprise-compliance.yml
  .github/workflows/enterprise-compliance.yml.disabled
  SECURITY.md
  agents/prompts/debugging/security-remediation.md
  scripts/ci/workflow_health_dashboard.py
Due: validate-fences, semgrep-local

Resolving failing checks in GitHub workflows (#5605)
  .github/workflows/auth-tests.yml
  .github/workflows/codeql-ga-gate.yml
  .github/workflows/data-quality-suite.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/ml-tests.yml
  .github/workflows/rust_swarm_ci.yml
  .github/workflows/scheduled-archival.yml
  CHANGELOG.md
  configs/development/noxfile.py
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  noxfile.py
  scripts/ci/check_workflow_yaml.py
  src/aries_serpent_core/auth/github_app.py
  src/aries_serpent_core/auth/in_memory_user_repository.py
  src/aries_serpent_core/auth/middleware.py
  src/aries_serpent_core/auth/oauth_manager.py
  src/aries_serpent_core/auth/sqlite_user_repository.py
  src/aries_serpent_core/auth/user_store.py
  tests/auth/test_repositories_wave3_gaps.py
  tests/auth/test_user_model_supplement.py
  tests/ml/test_training_subprocess_timing_3.py
  tests/unit/test_check_workflow_yaml.py
Due: validate-fences, semgrep-local

Fix CODEX_MANIFEST refresh rebase/auth failure (#5610)
  .codex/agent_auth_session.json
  .codex/session_startup_packet.json
  .github/workflows/codex-manifest-refresh.yml
  .github/workflows/codex-manifest-refresh.yml.disabled
Due: none

Fix security scanning workflow failure on empty or malformed CodeQL SARIF output (#5611)
  .codex/agent_environment_config.yaml
  .codex/session_startup_packet.json
  .github/workflows/security-scanning-suite.yml
Due: none

Fix import path for transcription workflow
  apps/dev/audio_transcriber_ui.py
Due: semgrep-local

File intended for human reference to Agent
  docs/for-human-removal/semgrep-results.json
Due: none

Broad merge-readiness cleanup and repo backlog reduction (#5636)
  .codex/session_startup_packet.json
  audit_artifacts/bundles/bundle_20260923_183428.pointer.json
  audit_artifacts/content_filter_report.json
  audit_artifacts/context_index.json
  scripts/fix_security_issues.py
  src/aries_serpent_core/clients/github_client.py
  src/aries_serpent_core/github/http_client.py
  src/aries_serpent_core/retrieval/sharding.py
  src/aries_serpent_core/security/__init__.py
  src/codex_bridge/github_client.py
  src/codex_ml/utils/safe_pickle.py
  src/security/core.py
  src/security/security_hardening.py
  tests/security/test_security_core.py
  tests/test_security_auth.py
Due: semgrep-local

Change generated_at timestamp in session_startup_packet
  .codex/session_startup_packet.json
Due: none

Consolidate pending Dependabot updates into the active branch (#5649)
  Dockerfile.windows-pyinstaller
  cognitive_app/package-lock.json
  cognitive_app/package.json
  copilot/extension/package-lock.json
  copilot/extension/package.json
Due: none

Fix security-scan workflow cancellation by scoping concurrency to event type (#5658)
  .codex/CODEBASE_AGENCY_POLICY.md
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  .codex/session_startup_packet.json
  .github/workflows/codeql-ga-gate.yml
  .github/workflows/security-scanning-suite.yml
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/ci/WORKFLOW_TOKEN_PATTERNS.md
  docs/reference/GITHUB_VARIABLES_SECRETS_REFERENCE.md
  scripts/ci/_token_resolver.py
  scripts/ci/github_write_helper.py
  src/aries_serpent_core/github/api_client.py
  src/aries_serpent_core/github/cognitive_brain_integration.py
  src/aries_serpent_core/github/mcp_poster.py
  src/aries_serpent_core/github/pull_request_manager.py
  src/codex_bridge/github_client.py
  src/tools/github/gh_api.py
  tests/ci/conftest.py
  tests/ci/test_phase_5_tokens.py
  tests/ci/test_token_utility_integration.py
  tests/conftest.py
  tests/github/conftest.py
  tests/github/test_codex_master_key_scopes.py
  tests/github/test_repo_variables_comprehensive.py
  tools/github/app_token.py
  tools/github/gh_api.py
  validation-junit.xml
Due: validate-fences, semgrep-local

Harden CodeQL severity gating and GitHub write policy for review-thread follow-up (#5660)
  .codex/agent_auth_session.json
  .codex/reports/failing_checks.md
  .codex/session_startup_packet.json
  .github/agents/AGENT_REGISTRY.yaml
  .github/agents/workflow-monitoring-agent.md
  .github/workflows/codeql-ga-gate.yml
  .secrets.baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  scripts/ci/github_write_helper.py
  tests/ci/test_token_utility_integration.py
Due: validate-fences, semgrep-local

Fix review-thread write-helper validation and align GitHub MCP Server docs to 1.10.0 (#5663)
  .codex/docs/MCP_GITHUB_CAPABILITIES.md
  .codex/docs/MCP_INTEGRATION_MASTER_PLAN.md
  .codex/session_startup_packet.json
  scripts/ci/github_write_helper.py
Due: validate-fences, semgrep-local

Fix security-scan workflow cancellation by scoping concurrency to event type (#5659)
  .codex/CODEBASE_AGENCY_POLICY.md
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  .codex/docs/MCP_GITHUB_CAPABILITIES.md
  .codex/docs/MCP_INTEGRATION_MASTER_PLAN.md
  .codex/reports/failing_checks.md
  .codex/session_startup_packet.json
  .github/agents/AGENT_REGISTRY.yaml
  .github/agents/workflow-monitoring-agent.md
  .github/workflows/codeql-ga-gate.yml
  .github/workflows/security-scanning-suite.yml
  .secrets.baseline
  CHANGELOG.md
  CODEX_MANIFEST.json
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/ci/WORKFLOW_TOKEN_PATTERNS.md
  docs/reference/GITHUB_VARIABLES_SECRETS_REFERENCE.md
  scripts/ci/_token_resolver.py
  scripts/ci/github_write_helper.py
  src/aries_serpent_core/github/api_client.py
  src/aries_serpent_core/github/cognitive_brain_integration.py
  src/aries_serpent_core/github/mcp_poster.py
  src/aries_serpent_core/github/pull_request_manager.py
  src/codex_bridge/github_client.py
  src/tools/github/gh_api.py
  tests/ci/conftest.py
  tests/ci/test_phase_5_tokens.py
  tests/ci/test_token_utility_integration.py
  tests/conftest.py
  tests/github/conftest.py
  tests/github/test_codex_master_key_scopes.py
  tests/github/test_repo_variables_comprehensive.py
  tools/github/app_token.py
  tools/github/gh_api.py
  validation-junit.xml
Due: validate-fences, semgrep-local

Fix deep-research review-thread regressions and CI resource guardrails (#5671)
  .codex/session_startup_packet.json
  .github/agents/deep-research-analysis-agent.agent.md
  .github/workflows/code-quality-coverage-suite.yml
  scripts/ci/agent_resource_profile.py
  src/codex/deep_research/cli.py
  src/codex/deep_research/datasets.py
  src/codex/deep_research/pipeline.py
  src/codex/deep_research/providers.py
  src/codex/deep_research/storage.py
Due: validate-fences, semgrep-local

Fix remaining deep_research review comments (#5673)
  .codex/session_startup_packet.json
  src/codex/deep_research/datasets.py
  src/codex/deep_research/storage.py
  tests/deep_research/test_pipeline.py
Due: semgrep-local

Potential fix for pull request finding 'Constant in conditional expression or statement'
  tests/deep_research/test_pipeline.py
Due: semgrep-local

docs(workbench): provide corrected single Copilot setup scheduling patch
  workbench/copilot-setup-scheduling.patch
Due: none

Refactor Copilot setup workflow and update step names
  .github/workflows/copilot-setup-steps.yml
Due: none

Consolidating and validating dependabot open pull requests (#5686)
  .codex/session_startup_packet.json
  scripts/ci/session_timebox_monitor.py
  tests/ci/test_session_timebox_monitor.py
Due: semgrep-local

[WIP] Update installation commands in development-requirements file (#5688)
  .codex/session_startup_packet.json
  requirements-dev.txt
  scripts/ci/phase_9_3_concurrent_executor.py
  tests/ci/test_concurrent_executor_limit.py
Due: semgrep-local

Harden CodeQL inventory capture and fail-closed security gates (#5690)
  .codex/security/code_scanning_inventory/alerts_by_path.csv
  .codex/security/code_scanning_inventory/alerts_by_rule.csv
  .codex/security/code_scanning_inventory/alerts_by_rule.md
  .codex/security/code_scanning_inventory/alerts_by_severity.csv
  .codex/security/code_scanning_inventory/alerts_fixable.md
  .codex/security/code_scanning_inventory/alerts_raw.json
  .codex/security/code_scanning_inventory/alerts_summary.json
  .codex/security/code_scanning_inventory/api_inventory_by_path.csv
  .codex/security/code_scanning_inventory/api_inventory_by_rule.csv
  .codex/security/code_scanning_inventory/api_inventory_by_severity.csv
  .codex/security/code_scanning_inventory/api_inventory_fixable.md
  .codex/security/code_scanning_inventory/api_inventory_raw.json
  .codex/security/code_scanning_inventory/api_inventory_summary.json
  .codex/security/code_scanning_inventory/delta_report.json
  .codex/security/code_scanning_inventory/manifest.json
  .codex/security/code_scanning_inventory/ui_validation_report.json
  .codex/session_startup_packet.json
  .github/codeql/codeql-config.yml
  .github/workflows/INDEX.md
  .github/workflows/README.md
  .github/workflows/codeql-alert-inventory.yml
  .github/workflows/codeql-ga-gate.yml
  .github/workflows/container-scan.yml
  .github/workflows/security-scanning-suite.yml
  .github/workflows/semgrep_sarif.yml
  docs/ci/SECURITY_ENFORCEMENT_GATES.md
  scripts/ci/fetch_codeql_alerts.py
Due: validate-fences, semgrep-local

Remove timeout-minutes from codeql-ga-gate
  .github/workflows/codeql-ga-gate.yml
Due: none

Refactor coverage artifacts step in workflow
  .github/workflows/code-quality-coverage-suite.yml
Due: none

Refactor coverage artifacts step in workflow (#5691)
  .github/workflows/code-quality-coverage-suite.yml
Due: none

Potential fix for pull request finding 'Preserve required job timeout while removing duplicate env block'
  .github/workflows/code-quality-coverage-suite.yml
Due: none

Mbaetiong codeql and workflows (#5692)
  .codex/aftermath/pda_iterations.jsonl
  .github/workflows/agent-auth-delegation.yml
  .github/workflows/code-quality-coverage-suite.yml
  .github/workflows/codeql-ga-gate.yml
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/ci/GITHUB_API_COPILOT_AGENT_REFERENCE.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
