Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix archive artifact refresh and codec-aware restore
  src/codex/archive/backend.py
  src/codex/archive/service.py
  src/codex/archive/util.py
Due: semgrep-local

Add archive planning and tombstone workflow
  Makefile
  docs/crm/admin-runbooks/archive.md
  noxfile.py
  src/codex/archive/__init__.py
  src/codex/archive/api.py
  src/codex/archive/detect.py
  src/codex/archive/plan.py
  src/codex/archive/score.py
  src/codex/archive/stub.py
  src/codex/archive/util.py
  src/codex/cli.py
  src/codex/cli_archive.py
  tests/archive/test_plan_and_store.py
  tests/archive/test_stub_text.py
Due: validate-fences, semgrep-local

Delay restore logging until after successful write
  src/codex/archive/backend.py
  src/codex/archive/service.py
Due: semgrep-local

Fix archive CLI registration conflict
  src/codex/cli.py
Due: semgrep-local

Add archive consolidation workflow and verification tools
  db/migrations/mariadb/001_init_archive.sql
  db/migrations/postgres/001_init_archive.sql
  db/migrations/sqlite/001_init_archive.sql
  src/codex/archive/__init__.py
  src/codex/archive/api.py
  src/codex/archive/consolidate.py
  src/codex/archive/dal.py
  src/codex/archive/shims.py
  src/codex/archive/similarity.py
  src/codex/archive/stub.py
  src/codex/archive/util.py
  src/codex/cli_archive.py
  tests/archive/test_consolidation_flow.py
Due: semgrep-local

Add release packaging workflows
  Makefile
  db/migrations/mariadb/002_release.sql
  db/migrations/postgres/002_release.sql
  db/migrations/sqlite/002_release.sql
  docs/crm/admin-runbooks/release.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_release.py
  src/codex/release/__init__.py
  src/codex/release/api.py
  src/codex/release/manifest.py
  tests/release/test_release_pack_verify.py
  tests/release/test_release_unpack.py
Due: validate-fences, semgrep-local

Add release persistence for packed releases
  docs/crm/admin-runbooks/release.md
  src/codex/archive/dal.py
  src/codex/release/api.py
  tests/release/test_release_dal.py
Due: validate-fences, semgrep-local

Fix SQLite referent insertion to use item IDs
  src/codex/archive/dal.py
Due: semgrep-local

Enable release persistence for Postgres and MariaDB
  db/migrations/postgres/002_release.sql
  docs/crm/admin-runbooks/release.md
  src/codex/archive/api.py
  src/codex/archive/dal.py
  tests/release/test_release_dal_pg_mariadb.py
Due: validate-fences, semgrep-local

Add knowledge ingestion pipeline and CLI
  Makefile
  docs/crm/admin-runbooks/knowledge.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_knowledge.py
  src/codex/knowledge/__init__.py
  src/codex/knowledge/build.py
  src/codex/knowledge/chunk.py
  src/codex/knowledge/normalize.py
  src/codex/knowledge/pii.py
  src/codex/knowledge/schema.py
  tests/knowledge/test_build_kb.py
  tests/knowledge/test_normalize.py
Due: validate-fences, semgrep-local

Fix SQLite referent lookup and secure tar extraction
  src/codex/archive/dal.py
  src/codex/release/api.py
Due: semgrep-local

Add diagram utilities and knowledge pipeline modules
  docs/crm/admin-runbooks/knowledge.md
  noxfile.py
  src/codex/archive/dal.py
  src/codex/cli.py
  src/codex/cli_knowledge.py
  src/codex/diagram/flows.py
  src/codex/evidence/__init__.py
  src/codex/evidence/core.py
  src/codex/knowledge/build.py
  src/codex/knowledge/chunk.py
  src/codex/knowledge/normalize.py
  src/codex/knowledge/pii.py
  src/codex/knowledge/schema.py
  src/codex/release/api.py
  src/codex_crm/diagram/flows.py
  tests/archive/test_referent_pg_mariadb.py
  tests/diagram/test_flow_to_mermaid_smoke.py
  tests/knowledge/test_build_kb.py
  tests/zd/test_evidence_parity.py
Due: validate-fences, semgrep-local

docs: add archive ping and dedup notes
  Makefile
  docs/crm/admin-runbooks/archive.md
  docs/crm/admin-runbooks/knowledge.md
  noxfile.py
  src/codex/archive/dal.py
  src/codex/cli_archive.py
  src/codex/cli_knowledge.py
  src/codex/cli_maps.py
  src/codex/cli_zendesk.py
  src/codex/dynamics/cli_d365.py
  src/codex/knowledge/build.py
  src/codex/knowledge/dedup.py
  src/codex_ml/cli/checkpoint_validate.py
  src/codex_ml/cli/tracking_decide.py
  src/codex_ml/cli/validate.py
  src/codex_ml/eval/eval_runner.py
  src/tokenization/cli.py
  tests/archive/test_sql_identifier_safety.py
  tests/knowledge/test_archive_manifest_side_effects.py
  tests/knowledge/test_dedup.py
Due: validate-fences, semgrep-local

Implement repo map CLI and add NDJSON logging
  README.md
  docs/quickstart.md
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/config/__init__.py
  src/codex_ml/training/eval.py
  src/codex_ml/training/functional_training.py
  src/codex_ml/utils/logging_wandb.py
  tests/cli/test_evaluation_cli.py
  tests/test_eval_loop_cpu.py
  tests/test_wandb_shim.py
  tests/unit/test_data_cache_locking.py
  tests/unit/test_repo_map_command.py
  training/data_utils.py
Due: validate-fences, semgrep-local

Fix NDJSONLogger import path for evaluate CLI
  src/codex_ml/cli/codex_cli.py
Due: semgrep-local

Add repo map command and tests
  README.md
  src/codex_ml/cli/codex_cli.py
  tests/unit/test_repo_map.py
Due: validate-fences, semgrep-local

feat: enhance evaluation CLI metrics logging
  README.md
  noxfile.py
  src/codex_ml/cli/codex_cli.py
  tests/unit/test_evaluate_cli_metrics_log.py
Due: validate-fences, semgrep-local

Add metrics-only and run-id options to evaluation CLI
  README.md
  noxfile.py
  src/codex_ml/cli/codex_cli.py
  tests/unit/test_evaluate_cli_flags.py
Due: validate-fences, semgrep-local

Fix tests nox session installs dependencies
  noxfile.py
Due: semgrep-local

Preserve run_id in evaluation NDJSON metrics log
  src/codex_ml/cli/codex_cli.py
Due: semgrep-local

fix: install test deps and preserve evaluation run id
  noxfile.py
  src/codex_ml/cli/codex_cli.py
Due: semgrep-local

chore: restore legacy nox sessions
  noxfile.py
Due: semgrep-local

Clean release staging directory before packing
  src/codex/release/api.py
Due: semgrep-local

Ensure release staging directory is cleaned
  src/codex/release/api.py
Due: semgrep-local

Fix archive plan missing re import
  src/codex/archive/plan.py
Due: semgrep-local

Refine coverage tooling and docs
  .coveragerc
  .importlinter
  Makefile
  README.md
  docs/developer/Coverage_Policy.md
  docs/ops/Local_Tooling_Prereqs.md
  docs/validation/CODEBASE_Status_Audit_2025-10-14.md
  noxfile.py
  pyproject.toml
  tests/unit/test_coverage_toml_floor.py
Due: validate-fences, semgrep-local

Fix referent API and load release migrations
  src/codex/archive/api.py
  src/codex/archive/dal.py
Due: semgrep-local

Add codex audit workflow automation script
  tools/apply_codex_audit_tasks.py
Due: semgrep-local

Add evaluation helper, tokenizer adapter, and NVML fallback
  CHANGELOG_CODEX.md
  configs/default.yaml
  src/codex_ml/callbacks/system_metrics.py
  src/codex_ml/eval/evaluator.py
  src/codex_ml/interfaces/__init__.py
  src/codex_ml/interfaces/tokenizer.py
  tests/eval/test_evaluate_dataloader_helper.py
Due: validate-fences, semgrep-local

Add uv sync helpers and NVML fallback coverage
  Makefile
  README.md
  docs/developer/Coverage_Policy.md
  docs/ops/Deterministic_Installs.md
  docs/ops/monitoring.md
  src/codex_ml/callbacks/system_metrics.py
  tests/monitoring/test_system_metrics_cpu_fallback.py
Due: validate-fences, semgrep-local

Add checkpoint integrity helpers and HF adapter tests
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/interfaces/tokenizer_hf.py
  src/codex_ml/utils/checkpoint_integrity.py
  tests/checkpoint/test_integrity_snapshot.py
  tests/tokenization/test_hf_tokenizer_adapter.py
Due: semgrep-local

Handle MissingMandatoryValue when snapshotting configs
  src/codex_ml/utils/checkpoint_integrity.py
Due: semgrep-local

Expose refer_dup_to_canonical helper in archive API
  src/codex/archive/api.py
Due: semgrep-local

docs: add hydra defaults and security artifacts guidance
  Makefile
  README.md
  configs/default.yaml
  docs/configuration/hydra_quickstart.md
  docs/dev/Import_Contracts.md
  docs/ops/Security_Artifacts.md
  noxfile.py
Due: validate-fences, semgrep-local

Update Hydra CLI usage in docs and helpers
  Makefile
  configs/default.yaml
  docs/configuration/hydra_quickstart.md
Due: validate-fences

feat(packaging): add local build tooling and plugin registry scaffolding
  Makefile
  docs/packaging/Packaging_and_Release.md
  docs/plugins/Plugin_Registry.md
  docs/training/Distributed_Minimal_Hooks.md
  examples/plugins/hello_plugin.py
  pyproject.toml
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/distributed/__init__.py
  src/codex_ml/distributed/minimal.py
  src/codex_ml/plugins/__init__.py
  src/codex_ml/plugins/base.py
  src/codex_ml/plugins/programmatic.py
  tests/distributed/test_minimal_distributed.py
  tests/plugins/test_registry_programmatic.py
Due: validate-fences, semgrep-local

Fix MariaDB DSN parsing
  src/codex/archive/dal.py
Due: semgrep-local

Add evaluation CLI dispatch, distributed training wiring, and checkpoint integrity
  Makefile
  docs/training/Evaluation_CLI.md
  pyproject.toml
  src/codex_ml/cli/entrypoints.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/cli/list_plugins.py
  src/codex_ml/utils/checkpoint_core.py
  tests/checkpoint/test_checkpoint_integrity_wiring.py
  tests/eval/test_eval_cli.py
Due: validate-fences, semgrep-local

Improve eval CLI diagnostics and tab hygiene
  Makefile
  codex.mk
  docs/training/Evaluation_CLI.md
  src/codex_ml/cli/entrypoints.py
Due: validate-fences, semgrep-local

Prevent purging shared artifacts when approving deletes
  src/codex/archive/backend.py
  src/codex/archive/cli.py
  src/codex/archive/service.py
  tests/archive/test_purge_shared_artifact.py
Due: semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
