Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Update scripts/ci/auto_fix_common_issues.py
  scripts/ci/auto_fix_common_issues.py
Due: semgrep-local

Potential fix for pull request finding
  .github/copilot-prompts/active/PR-4853-followup.md
Due: validate-fences

Potential fix for pull request finding
  scripts/ci/auto_fix_common_issues.py
Due: semgrep-local

Restore previous session context pre-load code
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor session preload step for error handling
  .github/workflows/copilot-setup-steps.yml
Due: none

Potential fix for pull request finding 'CodeQL / Overly permissive file permissions'
  .github/security-tools/bootstrap_extractor.py
Due: semgrep-local

Potential fix for pull request finding 'CodeQL / Clear-text storage of sensitive information'
  src/codex_ml/utils/safe_pickle.py
Due: semgrep-local

Potential fix for pull request finding 'Empty except'
  src/codex_ml/utils/safe_pickle.py
Due: semgrep-local

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Refactor session preload step in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

docs(phase-1.3): add executive summary for CI testing validation
  .codex/PHASE_1.3_EXECUTIVE_SUMMARY.md
Due: validate-fences

docs(phase-1.3): add detailed test execution plan with 6 scenarios
  .codex/PHASE_1.3_TEST_EXECUTION_PLAN.md
Due: validate-fences

fix(workflows): Remove duplicate non-compliant concurrency section from fast-forward-safe-files.yml - achieves 100% compliance
  .github/workflows/fast-forward-safe-files.yml
Due: none

docs: Add comprehensive workflow concurrency audit and fix summary report
  .codex/workflow-fixes-summary.md
Due: validate-fences

Fix formatting for session preload command
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix indentation in session preload step
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix runner profile condition in workflow setup
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none

Add COPILOT_AGENT_CCA_VERSION_LOCK and deduplication vars
  .github/workflows/copilot-setup-steps.yml
Due: none

Update print statement from 'Hello' to 'Goodbye'
  .github/workflows/copilot-setup-steps.yml
Due: none

Add session lifecycle metrics step to workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

wave-2b-batch2-documentation-and-planning
  .codex/WAVE_2B_BATCH2_COMMIT_LOG.md
Due: validate-fences

wave-2b-batch2-jinja2-additional-patches
  requirements.txt
Due: none

wave-2b-batch2-pip-version-constraint-documentation
  requirements-dev.txt
Due: none

wave-2b-batch2-twisted-security-verification
  .codex/WAVE_2B_BATCH2_TWISTED_VERIFICATION.md
Due: validate-fences

wave-2b-batch2-idna-dependency-security-patch
  .codex/WAVE_2B_BATCH2_IDNA_VERIFICATION.md
Due: validate-fences

feat(wave2b-agent3): Batch 2 conflict monitoring - baseline complete
  .codex/WAVE_2B_BATCH2_AGENT3_EXECUTION_SUMMARY.md
  .codex/WAVE_2B_BATCH2_CONFLICT_MATRIX_REFERENCE.md
  .codex/WAVE_2B_BATCH2_CONFLICT_MONITORING.md
  .codex/WAVE_2B_BATCH2_SECURITY_VALIDATION_REPORT.md
  .codex/WAVE_2B_BATCH2_VALIDATION_START.md
Due: validate-fences

wave-2b-batch2-validation-complete
  .codex/WAVE_2B_BATCH2_VALIDATION_REPORT.md
Due: validate-fences

wave-2b-batch2-progress-dashboard-update
  .codex/WAVE_2B_BATCH2_FINAL_VALIDATION_REPORT.md
  .codex/WAVE_2B_PROGRESS.md
Due: validate-fences

Wave 2B Batch 2 - Completion and Readiness for Batch 3
  .codex/WAVE_2B_BATCH2_COMPLETION_SUMMARY.md
Due: validate-fences

wave-2b-batch2-final-execution-summary
  .codex/WAVE_2B_BATCH2_EXECUTION_SUMMARY.md
Due: validate-fences

Agent 2 Wave 2B Batch 2 - Executive Summary Report
  .codex/AGENT2_BATCH2_EXECUTIVE_SUMMARY.md
Due: validate-fences

Wave 2B Batch 2 - Mission Complete & Ready for Batch 3
  .codex/WAVE_2B_PROGRESS.md
Due: validate-fences

wave-2b-batch2-all-agents-complete-9-cves-eliminated
  .codex/WAVE_2B_BATCH2_EXECUTION_SUMMARY.md
Due: validate-fences

wave-2b-batch2-final-completion-all-agents-successful
  .codex/WAVE_2B_BATCH2_COMPLETION_REPORT.md
Due: validate-fences

Phase B Gate 1 COMPLETE: Track 5 deployed (70.6% + roadmap), Gate 1 validation finalized, continuation prompt prepared
  .codex/PHASE_B_CONTINUATION_PROMPT.md
  .codex/PHASE_B_GATE_1_VALIDATION.md
Due: validate-fences

Phase B Session Complete: Gate 1 VALIDATED, 87.5% complete (7/8 tracks done + 1 completing), comprehensive continuation prompt for Gate 2
  .codex/PHASE_B_SESSION_SUMMARY.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
