Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Pass continual config from Hydra entry
  src/codex_ml/cli/hydra_entry.py
Due: semgrep-local

Fix continual schedule resolution for replay strategy
  src/codex_ml/training/strategies.py
Due: semgrep-local

Fix missing dataclass helpers import
  src/codex_ml/training/strategies.py
Due: semgrep-local

Fix vocab growth in fallback encoding
  src/codex_ml/eval/fallback.py
Due: semgrep-local

Fix continual config mapping coercion
  src/codex_ml/training/unified_training.py
Due: semgrep-local

Fix fallback evaluator handling of unseen reference tokens
  src/codex_ml/eval/fallback.py
  tests/eval/test_synthetic_alignment.py
Due: semgrep-local

Handle continual dataset specs in replay strategy
  src/codex_ml/training/strategies.py
  tests/test_training_continual_strategy.py
Due: semgrep-local

Add reasoning adapters, configs, and documentation
  configs/training/reasoning/chain_of_thought.yaml
  configs/training/reasoning/tool_execution.yaml
  docs/guides/continual_learning.md
  docs/guides/reasoning.md
  src/codex_ml/cli/train.py
  src/codex_ml/config/__init__.py
  src/codex_ml/models/__init__.py
  src/codex_ml/models/reasoning.py
  src/codex_ml/train_loop.py
Due: validate-fences, semgrep-local

Fix reasoning harness vectorisation device handling
  src/codex_ml/models/reasoning.py
Due: semgrep-local

Add reasoning corpora manifest and curriculum tooling
  .gitignore
  configs/training/continual/base.yaml
  configs/training/continual/difficulty_scaling.yaml
  configs/training/continual/interleaved_rehearsal.yaml
  data/sample/reasoning/math_word_problems.jsonl
  data/sample/reasoning/proof_logs.jsonl
  data/sample/reasoning/tool_traces.jsonl
  src/codex_ml/cli/main.py
  src/codex_ml/data/__init__.py
  src/codex_ml/data/reasoning_manifest.py
  tools/prepare_reasoning_corpora.py
Due: semgrep-local

Add continual curriculum presets and reasoning tooling
  .gitignore
  configs/training/continual/base.yaml
  configs/training/continual/difficulty_curriculum.yaml
  configs/training/continual/rehearsal.yaml
  src/codex_ml/cli/hydra_entry.py
  src/codex_ml/cli/hydra_main.py
  src/codex_ml/data/reasoning_manifest.py
  tools/prepare_reasoning_streams.py
Due: semgrep-local

Add reasoning evaluation probes and configs
  .codex/scripts/local_ci.py
  configs/evaluation/reasoning/base.yaml
  configs/evaluation/reasoning/default.yaml
  configs/evaluation/reasoning/local_ci.yaml
  docs/ops/local_gates.md
  src/codex_ml/eval/evaluator.py
Due: validate-fences, semgrep-local

Add reasoning suite configs and metrics integration
  .codex/scripts/local_ci.py
  configs/evaluation/reasoning/math.yaml
  configs/evaluation/reasoning/proof.yaml
  configs/evaluation/reasoning/tools.yaml
  data/sample/reasoning/math_eval.jsonl
  data/sample/reasoning/proof_eval.jsonl
  data/sample/reasoning/tool_eval.jsonl
  docs/ops/local_gates.md
  src/codex_ml/eval/evaluator.py
Due: validate-fences, semgrep-local

Fix continual config schema for curriculum presets
  src/codex_ml/training/unified_training.py
Due: semgrep-local

docs: focus orientation on reasoning roadmap
  README.md
  configs/training/reasoning/baseline.yaml
  configs/training/reasoning/chain_of_thought.yaml
  configs/training/reasoning/curricula/first_principles.yaml
  configs/training/reasoning/curricula/starter.yaml
  configs/training/reasoning/tool_execution.yaml
  docs/README.md
  docs/README_ROOT.md
  docs/guides/first_principles_curricula.md
  docs/guides/reasoning_overview.md
  docs/quickstart.md
  src/codex_cli/app.py
Due: validate-fences, semgrep-local

Handle non-finite reasoning metrics
  src/codex_ml/eval/evaluator.py
Due: semgrep-local

Fix rational parsing fallback in evaluator
  src/codex_ml/eval/evaluator.py
Due: semgrep-local

Fix continual curriculum preset path
  src/codex_ml/cli/main.py
Due: semgrep-local

Fix curriculum preset lookup for installed package
  src/codex_ml/cli/main.py
Due: semgrep-local

Relax starlette upper bound to include 0.49
  pyproject.toml
Due: none

Update local CI tests for reasoning step
  tests/test_local_ci_script.py
Due: semgrep-local

Document reasoning pod dry-run preset
  configs/deploy/reasoning_pod.yaml
  docs/README_ROOT.md
  docs/deployment/reasoning_pod.md
Due: validate-fences

docs: point trainer references to unified modules
  docs/README_ROOT.md
  docs/guides/reasoning_overview.md
Due: validate-fences

Add trace_mode knob and clarify trace comments
  configs/training/reasoning/baseline.yaml
  src/codex_ml/models/reasoning.py
Due: semgrep-local

Document rollout rings for reasoning pod deploys
  configs/deploy/reasoning_pod.yaml
  docs/README.md
Due: validate-fences

Add control surface contract documentation
  docs/control_surface.md
Due: validate-fences

Add trace_mode support to reasoning config
  src/codex_ml/config/__init__.py
Due: semgrep-local

Document actual reasoning trace toggle
  docs/control_surface.md
Due: validate-fences

Guard reasoning adapter import in train loop
  src/codex_ml/train_loop.py
Due: semgrep-local

Adjust dataloader dependency checks
  src/codex_ml/eval/evaluator.py
Due: semgrep-local

Add reasoning metadata reports and repo map filters
  configs/deploy/reasoning_pod.yaml
  configs/training/reasoning/baseline.yaml
  docs/README.md
  docs/README_ROOT.md
  docs/control_surface.md
  docs/deployment/reasoning_pod.md
  src/codex_cli/app.py
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/cli/repo_map.py
  src/codex_ml/cli/train.py
  src/codex_ml/config/__init__.py
  src/codex_ml/models/reasoning.py
  src/codex_ml/train_loop.py
Due: validate-fences, semgrep-local

Add Codex task sequence and executor script
  codex_task_executor.py
  codex_task_sequence_lora_metrics.md
Due: validate-fences, semgrep-local

Fix lockfile hook injection
  codex_task_executor.py
Due: semgrep-local

Add reasoning control surface tooling and ring validation
  configs/training/reasoning/baseline.yaml
  docs/README_ROOT.md
  docs/deployment/reasoning_pod.md
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/cli/deploy.py
  src/codex_ml/cli/repo_map.py
  src/codex_ml/train_loop.py
  tests/unit/test_deploy_cli.py
  tests/unit/test_repo_map.py
  tests/unit/test_repo_map_command.py
Due: validate-fences, semgrep-local

Enforce rollout ring requirement in deploy dry run
  src/codex_ml/cli/deploy.py
Due: semgrep-local

Fix reasoning repo map summary emission
  src/codex_ml/cli/repo_map.py
Due: semgrep-local

docs: add survey for 0D_base_ and PR 1926
  docs/status_updates/survey-0D_base_-and-1926-2025-10-29.md
Due: validate-fences

Update documentation for 0D_base_ and PR #1926
  docs/status_updates/survey-0D_base_-and-1926-2025-10-29.md
Due: validate-fences

Add promotion checklist and status report tooling
  docs/README_ROOT.md
  docs/ops/promotion_checklist.md
  src/codex_ml/cli/codex_cli.py
  src/codex_ml/cli/status_report.py
  src/codex_ml/train_loop.py
Due: validate-fences, semgrep-local

Update promotion PR template and checklist
  .github/pull_request_template.md
  docs/ops/promotion_checklist.md
Due: validate-fences
