Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-fences

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_install_hook_types: [pre-commit, pre-push, prepare-commit-msg]
exclude: '^\\.codex/'
repos:
  - repo: local
    hooks:
      - id: mypy
        name: MyPy (Static Typing)
        entry: mypy
        language: system
        pass_filenames: true
        types: [python]
        args: ["--config-file=pyproject.toml"]
      - id: security-audit
        name: Pip Audit (Offline Vulnerability Scan)
        entry: python tools/pip_audit_wrapper.py --offline
        language: system
        pass_filenames: false
        stages: [commit]
      - id: validate-fences
        name: validate markdown code fences
        entry: python tools/validate_fences.py --strict-inner
        language: system
        pass_filenames: true
        types: [markdown]
        exclude: '^tests/data/validate_fences_sample\.md$'
        stages: [commit]
      - id: block-env-files
        name: block committed secret env files
        entry: bash
        language: system
        pass_filenames: false
        always_run: true
        args:
          - -lc
          - |
            while IFS= read -r path; do
              if [ -z "$path" ]; then
                continue
              fi

              base="$(basename "$path")"
              if [ "$base" = ".env.example" ]; then
                continue
              fi

              case "$base" in
                .env|.env.*|.envrc|.envrc.*|*.secret|*.secrets|*.vault)
                  echo "[secrets] refusing to commit $path"
                  echo "Create a local copy from .env.example instead of committing secrets."
                  exit 1
                  ;;
              esac
            done < <(git diff --cached --name-only --diff-filter=ACM)
      - id: codex-block-large-generated
        name: Block large generated files in .codex
        entry: python tools/precommit_block_large.py
        language: system
        pass_filenames: true
      - id: check-licenses
        name: check licenses
        entry: python scripts/check_licenses.py
        language: system
        pass_filenames: false
      - id: ci-guard
        name: Guard against unintended CI workflows
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -lc
          - |
            if [ "${CODEX_ALLOW_CI:-0}" = "1" ]; then
              python tools/ci_guard.py
            else
              echo "[ci-guard] skipped (set CODEX_ALLOW_CI=1 to run)"
            fi
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        stages: [commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        stages: [commit]
      - id: ruff
        name: ruff (import sort fix)
        args: ["--select", "I", "--fix"]
        stages: [commit]
      - id: ruff-format
        stages: [commit]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: Bandit Security Checks
        args: ["-q", "-ll", "-c", ".bandit.yml", "--exclude", "tests"]
        files: ^(src/|tools/)
        stages: [commit]
  - repo: https://github.com/returntocorp/semgrep
    rev: v1.67.0
    hooks:
      - id: semgrep
        name: Semgrep Security Audit
        args: ["--config", "p/ci", "--error"]
        files: ^(src/|tools/)
        stages: [commit]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit
        args: ["--progress-spinner", "off", "--dry-run"]
        stages: [manual]

docs: add quickstart and evaluation snippets
  README.md
  codex.mk
  docs/architecture.md
  docs/examples/eval_metrics.md
  docs/examples/lora_quickstart.md
  docs/quickstart.md
  tests/test_docs_examples_paths.py
  tests/test_readme_has_quickstart.py
Due: mypy, validate-fences

feat(tracking): add offline MLflow shim and metrics logging
  docs/ops/experiment_tracking.md
  docs/quickstart.md
  src/codex_ml/training/__init__.py
  src/codex_ml/training/functional_training.py
  src/codex_ml/utils/experiment_tracking_mlflow.py
  tests/test_mlflow_adapter.py
  training/functional_training.py
Due: mypy, validate-fences

feat: add entry-point plugin loader
  docs/extensibility.md
  src/codex_ml/metrics/registry.py
  src/codex_ml/plugins/__init__.py
  src/codex_ml/plugins/loader.py
  src/codex_ml/registry/tokenizers.py
  tests/test_plugin_loader.py
Due: mypy, validate-fences

Fix functional trainer logging regressions
  src/codex_ml/training/functional_training.py
Due: mypy

fix: import threading and initialize writer
  src/codex_ml/training/functional_training.py
Due: mypy

Restrict JSONL parsing to .jsonl suffix
  src/codex_ml/data/loader.py
Due: mypy

Respect configured metrics output when MLflow disabled
  src/codex_ml/training/functional_training.py
Due: mypy

Add evaluation evaluation helper and metrics shim
  docs/examples/eval_metrics.md
  docs/quickstart.md
  src/codex_ml/metrics/evaluator.py
  src/codex_ml/training/eval.py
  tests/test_batch_metrics_shim.py
  tests/test_eval_loop_cpu.py
Due: mypy, validate-fences

feat(config): add structured hydra configs
  codex.mk
  docs/quickstart.md
  docs/repro.md
  src/codex_ml/cli/config.py
  src/codex_ml/cli/hydra_main.py
  tests/test_hydra_compose.py
Due: mypy, validate-fences

feat: add model loader registry
  docs/extensibility.md
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/models/loader_registry.py
  src/codex_ml/utils/modeling.py
  tests/test_loader_registry.py
Due: mypy, validate-fences

feat(training): improve gradient accumulation handling
  docs/dev/training.md
  docs/quickstart.md
  src/codex_ml/training/functional_training.py
  tests/test_gradient_accumulation_equivalence.py
  tests/test_gradient_accumulation_tail_flush.py
Due: mypy, validate-fences

feat: add checkpoint integrity guards and tests
  docs/quickstart.md
  docs/repro.md
  src/codex_ml/utils/checkpoint.py
  tests/test_checkpoint_restore_rng_torch.py
  tests/test_checkpoint_sha_rng.py
Due: mypy, validate-fences

test: cover evaluate error handling
  tests/test_eval_loop_resilience.py
Due: mypy

Improve training eval helper robustness
  src/codex_ml/training/eval.py
  tests/test_eval_loop_cpu.py
Due: mypy

Ensure eval loop logs metrics for validation
  src/codex_ml/training/__init__.py
Due: mypy

feat: offline MLflow guard, PEFT switch, deterministic smoke tests
  .codex/status/status_update_change_log.md
  src/codex_ml/hf_loader.py
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/tokenization/cli.py
  tests/tokenization/test_roundtrip_basic.py
  tests/training/test_overfit_smoke.py
Due: mypy, validate-fences

Add files via upload
  scripts/codex_orchestrate.py
Due: mypy

Add files via upload
  _codex_codex-ready-sequence-and-patches-2025-09-27.md
  _codex_status_update-0C_base_-2025-09-27.md
Due: validate-fences

Add codex_run.sh to automate codex orchestration
  scripts/codex_run.sh
Due: none

feat: offline MLflow guard, PEFT switch, and deterministic smoke tests
  _codex_status_update-0C_base_-2025-09-27.md
  scripts/codex_orchestrate.py
  src/codex_ml/hf_loader.py
  src/codex_ml/monitoring/codex_logging.py
  tests/tokenization/test_roundtrip_basic.py
  tests/training/test_overfit_smoke.py
Due: mypy, validate-fences

feat: offline mlflow guard and reproducibility tests
  .codex/status/apply_log.txt
  .codex/status/env.json
  .codex/status/results.json
  .codex/status/test_min.log
  _codex_status_update-0C_base_-2025-09-27.md
  src/codex_ml/monitoring/codex_logging.py
  tests/tokenization/test_roundtrip_basic.py
  tests/training/test_overfit_smoke.py
Due: mypy, validate-fences

Add offline-safe logging hooks and smoke tests
  .codex/status/apply_log.txt
  .codex/status/env.json
  .codex/status/results.json
  .codex/status/test_min.log
  _codex_status_update-0C_base_-2025-09-27.md
  src/codex_ml/hf_loader.py
  src/codex_ml/monitoring/codex_logging.py
  tests/tokenization/test_roundtrip_basic.py
  tests/training/test_overfit_smoke.py
Due: mypy, validate-fences

fix mlflow offline helper signature
  src/codex_ml/monitoring/codex_logging.py
Due: mypy

Add offline-safe tokenizer tests and docs
  .env.example
  conf/examples/config_minimal.yaml
  docs/offline_quickstart.md
  docs/tokenizer_invariants.md
  noxfile.py
  src/codex_ml/monitoring/codex_logging.py
  tests/fixtures/.gitkeep
  tests/tokenization/test_padding_truncation_ext.py
  tests/tokenization/test_sp_fixture_roundtrip.py
  tools/make_spm_fixture.py
Due: mypy, validate-fences

Add offline tokenizer fixtures and optional dependency guards
  conf/examples/config_minimal.yaml
  docs/offline_quickstart.md
  docs/tokenizer_invariants.md
  noxfile.py
  pytest.ini
  tests/cli/test_infer_cli_lora.py
  tests/fixtures/.gitkeep
  tests/modeling/test_decoder_only.py
  tests/models/test_lora_integration.py
  tests/smoke/test_checkpoint_hashing.py
  tests/test_checkpoint_util.py
  tests/test_metrics_token_accuracy.py
  tests/tokenization/test_padding_truncation_ext.py
  tests/tokenization/test_sp_fixture_roundtrip.py
  tests/training/test_checkpoint_manager_basic.py
  tests/training/test_checkpoint_resume.py
  tests/training/test_functional_training_main.py
  tools/make_spm_fixture.py
Due: mypy, validate-fences

Improve optional dependency skips
  tests/conftest.py
  tests/tokenization/conftest.py
Due: mypy

Add offline tokenizer fixtures and coverage session
  conf/examples/config_minimal.yaml
  docs/offline_quickstart.md
  docs/tokenizer_invariants.md
  noxfile.py
  pytest.ini
  tests/tokenization/conftest.py
  tests/tokenization/test_padding_truncation_ext.py
  tests/tokenization/test_sp_fixture_roundtrip.py
  tools/make_spm_fixture.py
Due: mypy, validate-fences

test: pass tokenizer model path in padding tests
  tests/tokenization/test_padding_truncation_ext.py
Due: mypy

Fix tokenizer padding tests to pass explicit model paths
  tests/tokenization/test_padding_truncation_ext.py
Due: mypy

Improve tokenizer fixture docs and skip handling
  conf/examples/config_minimal.yaml
  docs/tokenizer_invariants.md
  tests/tokenization/test_padding_truncation_ext.py
  tests/tokenization/test_sp_fixture_roundtrip.py
  tools/make_spm_fixture.py
Due: mypy, validate-fences

feat(obs/perf/docs): add psutil/NVML micro-helpers, tiny perf harness, offline micro-perf docs, and console entrypoint
  docs/quickstarts/offline_microperf.md
  pyproject.toml
  src/codex_ml/monitoring/microhelpers.py
  src/codex_ml/perf/__init__.py
  src/codex_ml/perf/bench.py
  tests/test_microhelpers.py
Due: mypy, validate-fences

chore(deps/docs/tests): make psutil optional, add opt-in install hint, and assert numeric sampler types
  docs/quickstarts/offline_microperf.md
  pyproject.toml
  tests/test_microhelpers.py
Due: mypy, validate-fences

Add critical repository summary report
  reports/critical_repo_summary.md
Due: validate-fences

feat: hydra trainer defaults, file logging, and reproducibility helpers
  conf/config.yaml
  conf/trainer/base.yaml
  docs/guides/config_overrides.md
  docs/quickstarts/offline_microperf.md
  src/codex_ml/cli/config.py
  src/codex_ml/config.py
  src/codex_ml/logging/__init__.py
  src/codex_ml/logging/file_logger.py
  src/codex_ml/training/__init__.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/repro.py
  src/codex_ml/utils/seeding.py
  tests/logging/test_file_logger.py
  tests/utils/test_repro_rng.py
  training/functional_training.py
Due: mypy, validate-fences

fix: add collate_fn field to training config
  training/functional_training.py
Due: mypy

Add optional hooks for PEFT, data manifests, and NVML guards
  codex_ml/data/checksums.py
  codex_ml/models/peft_hooks.py
  docs/guides/AGENTS.md
  docs/guides/peft_lora.md
  docs/quickstarts/offline_microperf.md
  sitecustomize.py
  tests/data/test_manifest.py
  tests/models/test_peft_smoke.py
  tests/monitoring/test_nvml_optional.py
  tests/tokenization/test_sentencepiece_roundtrip.py
  tests/tracking/test_default_file_backend.py
  training/functional_training.py
Due: mypy, validate-fences

Add Copilot bridge Node implementation and docs
  .codex/copilot_bridge/.env.example
  .codex/copilot_bridge/.gitignore
  .codex/copilot_bridge/bridge/server.js
  .codex/copilot_bridge/config/bridge.config.json
  .codex/copilot_bridge/manifests/bridge_manifest.schema.json
  .codex/copilot_bridge/ops/systemd/copilot-bridge.service
  .codex/copilot_bridge/package.json
  .codex/copilot_bridge/scripts/install-systemd.sh
  .codex/copilot_bridge/scripts/test-bridge.sh
  .codex/copilot_bridge/var/logs/.gitkeep
  .codex/copilot_bridge/var/manifests/.gitkeep
  .github/docs/PoC_Repo_Layout_Copilot.md
  .gitignore
  docs/examples/python-variant/README.md
  docs/examples/self_hosted_example.yml
  docs/validation/Bridge_Run_Validation.md
Due: validate-fences

chore(bridge): Default to Node 22 unified strategy; add scoped fallback via systemd PATH; document CLI Node 22 requirement; lock-drift remediation; validation & ops docs
  .codex/copilot_bridge/.env.example
  .codex/copilot_bridge/bridge/server.js
  .codex/copilot_bridge/ops/systemd/copilot-bridge.service
  .codex/copilot_bridge/package.json
  .codex/copilot_bridge/scripts/detect-node-strategy.sh
  .codex/copilot_bridge/scripts/install-systemd.sh
  .github/docs/PoC_Repo_Layout_Copilot.md
  docs/validation/Bridge_Run_Validation.md
Due: validate-fences

Add Copilot bridge tooling and Torch CPU policy helpers
  .codex/copilot_bridge/.env.example
  .codex/copilot_bridge/.gitignore
  .codex/copilot_bridge/bridge/server.js
  .codex/copilot_bridge/config/bridge.config.json
  .codex/copilot_bridge/manifests/bridge_manifest.schema.json
  .codex/copilot_bridge/ops/systemd/copilot-bridge.service
  .codex/copilot_bridge/package.json
  .codex/copilot_bridge/scripts/install-systemd.sh
  .codex/copilot_bridge/scripts/test-bridge.sh
  .github/docs/PoC_Repo_Layout_Copilot.md
  Makefile
  docs/examples/python-variant/README.md
  docs/examples/self_hosted_example.yml
  docs/maintenance/Torch_CPU_Policy.md
  docs/validation/Bridge_Run_Validation.md
  scripts/torch_policy_check.py
  scripts/torch_repair_cpu.sh
Due: mypy, validate-fences

Add Torch CPU policy gate (+cpu relaxation), CPU repair script, uv lock drift helper, and pre-commit upkeep targets
  Makefile
  scripts/codex_local_gates.sh
  scripts/torch_policy_check.py
  scripts/torch_repair_cpu.sh
Due: mypy
