Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy, validate-fences

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_install_hook_types: [pre-commit, pre-push, prepare-commit-msg]
exclude: '^\.codex/'
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff (lint)
        entry: ruff
        language: system
        pass_filenames: true
        types: [python]
        args: ["check"]
      - id: black
        name: black (check)
        entry: black
        language: system
        pass_filenames: true
        types: [python]
        args: ["--check", "--diff"]
      - id: mypy
        name: mypy (types)
        entry: bash
        language: system
        pass_filenames: true
        types: [python]
        args:
          - -lc
          - |
            if command -v mypy >/dev/null 2>&1; then
              mypy --config-file=pyproject.toml "$@" || echo "[mypy] completed with non-zero status"
            else
              echo "[mypy] skipping (mypy not installed)"
            fi
      - id: pytest
        name: pytest (quick)
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -lc
          - pytest -q tests/test_safety.py tests/cli/test_generate_safety.py
      - id: git-secrets
        name: git-secrets scan
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -lc
          - |
            if command -v git-secrets >/dev/null 2>&1; then
              git secrets --scan
            else
              echo "[git-secrets] skipping (git-secrets not installed)"
            fi
      - id: validate-fences
        name: validate markdown fences
        entry: python tools/validate_fences.py --strict-inner
        language: system
        pass_filenames: true
        types: [markdown]
      - id: block-env-files
        name: block committed secret env files
        entry: bash
        language: system
        pass_filenames: false
        always_run: true
        args:
          - -lc
          - |
            while IFS= read -r path; do
              if [ -z "$path" ]; then
                continue
              fi

              base="$(basename "$path")"
              if [ "$base" = ".env.example" ]; then
                continue
              fi

              case "$base" in
                .env|.env.*|.envrc|.envrc.*|*.secret|*.secrets|*.vault)
                  echo "[secrets] refusing to commit $path"
                  echo "Create a local copy from .env.example instead of committing secrets."
                  exit 1
                  ;;
              esac
            done < <(git diff --cached --name-only --diff-filter=ACM)
      - id: codex-block-large-generated
        name: Block large generated files in .codex
        entry: python tools/precommit_block_large.py
        language: system
        pass_filenames: true
      - id: check-licenses
        name: check licenses
        entry: python scripts/check_licenses.py
        language: system
        pass_filenames: false
      - id: ci-guard
        name: Guard against unintended CI workflows
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -lc
          - |
            if [ "${CODEX_ALLOW_CI:-0}" = "1" ]; then
              python tools/ci_guard.py
            else
              echo "[ci-guard] skipped (set CODEX_ALLOW_CI=1 to run)"
            fi

Resolve gates script merge conflict
  scripts/codex_local_gates.sh
Due: none

Tighten gates messaging and log coverage failure
  .codex/errors.ndjson
  scripts/codex_local_gates.sh
Due: none

Finalize offline gates updates
  .codex/errors.ndjson
  docs/guides/offline_transformers.md
  docs/suggested_tasks/status_update_2025-09-17.md
  noxfile.py
  scripts/codex_local_gates.sh
  src/codex_ml/utils/torch_checks.py
  tests/conftest.py
Due: ruff, black, mypy, validate-fences

Handle missing PyYAML and optional test dependencies
  .codex/errors.ndjson
  ERROR_LOG.md
  docs/guides/offline_transformers.md
  docs/suggested_tasks/status_update_2025-09-17.md
  noxfile.py
  scripts/codex_local_gates.sh
  src/codex_ml/config_schema.py
  src/codex_ml/interfaces/registry.py
  src/codex_ml/tokenization/pipeline.py
  src/codex_ml/utils/config_loader.py
  src/codex_ml/utils/torch_checks.py
  src/codex_ml/utils/yaml_support.py
  tests/config/test_validate_config.py
  tests/conftest.py
  training/engine_hf_trainer.py
Due: ruff, black, mypy, validate-fences

Improve shim loaders and align torch dtype usage
  .codex/errors.ndjson
  ERROR_LOG.md
  codex_ml/cli/main.py
  codex_ml/tracking/mlflow_utils.py
  codex_ml/utils/checkpointing.py
  docs/guides/offline_transformers.md
  docs/suggested_tasks/status_update_2025-09-17.md
  noxfile.py
  scripts/codex_local_gates.sh
  src/codex/training.py
  src/codex_ml/config_schema.py
  src/codex_ml/interfaces/registry.py
  src/codex_ml/tokenization/pipeline.py
  src/codex_ml/utils/config_loader.py
  src/codex_ml/utils/torch_checks.py
  src/codex_ml/utils/yaml_support.py
  tests/cli/test_infer_cli_lora.py
  tests/config/test_validate_config.py
  tests/conftest.py
  tests/privacy/test_dp_training.py
  training/data_utils.py
  training/engine_hf_trainer.py
Due: ruff, black, mypy, validate-fences

Harden import shims and tensor conversions
  .codex/errors.ndjson
  ERROR_LOG.md
  codex_ml/cli/main.py
  codex_ml/utils/checkpointing.py
  docs/guides/offline_transformers.md
  docs/suggested_tasks/status_update_2025-09-17.md
  noxfile.py
  scripts/codex_local_gates.sh
  src/codex_ml/config_schema.py
  src/codex_ml/interfaces/registry.py
  src/codex_ml/tokenization/pipeline.py
  src/codex_ml/utils/config_loader.py
  src/codex_ml/utils/torch_checks.py
  src/codex_ml/utils/yaml_support.py
  tests/config/test_validate_config.py
  tests/conftest.py
  training/data_utils.py
  training/engine_hf_trainer.py
Due: ruff, black, mypy, validate-fences

Add pickle fallback checkpoint helpers and tests
  README.md
  configs/base.yaml
  src/codex_ml/cli/__init__.py
  src/codex_ml/utils/checkpointing.py
  tests/checkpointing/conftest.py
  tests/checkpointing/test_corrupt_checkpoint_load.py
  tests/checkpointing/test_roundtrip.py
  tests/cli/conftest.py
  tests/gates/test_quality_gates.py
  tests/test_checkpoint_checksum.py
  tests/test_checkpoint_corrupt_load.py
  tests/test_checkpoint_corruption.py
  tests/test_checkpoint_integrity.py
  tests/test_checkpoint_integrity_corruption.py
  tests/test_checkpoint_manager.py
  tests/test_checkpointing.py
  tests/utils/test_checkpointing.py
  training/data_utils.py
  training/functional_training.py
Due: ruff, black, mypy, validate-fences

Add safe checkpoint load regression test and guide
  .pre-commit-config.yaml
  docs/guides/CHECKPOINT_SAFETY.md
  docs/security/Bandit_Fixes.md
  nox_sessions/fence_tests.py
  noxfile.py
  pyproject.toml
  src/codex_ml/reward_models/rlhf.py
  src/codex_ml/safety/filters.py
  src/codex_ml/safety/sandbox.py
  src/codex_ml/symbolic_pipeline.py
  src/ingestion/utils.py
  src/tokenization/train_tokenizer.py
  src/utils/checkpointing.py
  tests/data/validate_fences_sample.md
  tests/test_fences_tool.py
  tests/tools/test_validate_fences.py
  tests/utils/test_checkpointing_safe_load.py
  tools/validate_fences.py
Due: ruff, black, mypy, validate-fences

Tighten checkpoint safety docs and tests
  docs/guides/CHECKPOINT_SAFETY.md
  tests/utils/test_checkpointing_safe_load.py
Due: ruff, black, mypy, validate-fences

Harden logging safety and security tooling
  .bandit.yml
  .pre-commit-config.yaml
  docs/guides/AGENTS.md
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/monitoring/system_metrics.py
  src/ingestion/io_text.py
  src/ingestion/utils.py
Due: ruff, black, mypy, validate-fences

Rename nested fence warning level variable
  tools/validate_fences.py
Due: ruff, black, mypy

Harden URL and SQL helpers
  requirements-dev.txt
  requirements.txt
  src/codex_ml/utils/config_loader.py
  tests/test_codex_run_tasks.py
  tests/tools/test_export_security.py
  tools/codex_run_tasks.py
  tools/codex_sqlite_align.py
  tools/export_to_parquet.py
Due: ruff, black, mypy

Ensure pinned Hugging Face revisions and secure exports
  codex_script.py
  src/codex_ml/cli/generate.py
  src/codex_ml/cli/infer.py
  src/codex_ml/eval/evaluator.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/tokenization/adapter.py
  src/codex_ml/tokenization/hf_tokenizer.py
  src/codex_ml/training/__init__.py
  src/codex_ml/training/functional_training.py
  src/codex_ml/utils/hf_pinning.py
  src/codex_ml/utils/modeling.py
  tests/cli/test_cli_viewer.py
  tests/smoke/test_hf_trainer_hello.py
  tools/codex_make_smoke_tests.py
  tools/codex_run_tasks.py
  tools/export_to_parquet.py
Due: ruff, black, mypy

Improve subprocess safety and HF pinning
  src/codex_ml/training/__init__.py
  src/codex_ml/utils/provenance.py
  src/codex_ml/utils/subproc.py
  tools/verify_data_paths.py
  tools/workflow_merge.py
  training/engine_hf_trainer.py
  training/functional_training.py
Due: ruff, black, mypy

Fix repo root resolution in run_argv
  src/codex_ml/utils/subproc.py
Due: ruff, black, mypy

Handle versioned python executables in run_argv
  src/codex_ml/utils/subproc.py
Due: ruff, black, mypy

Use positional placeholder for DuckDB COPY path
  tools/export_to_parquet.py
Due: ruff, black, mypy

Apply security hardening and tooling updates
  .bandit.yml
  .gitignore
  .pre-commit-config.yaml
  docs/dynamical-system.md
  docs/experiments/README.md
  docs/guides/AGENTS.md
  docs/guides/offline_catalogue.md
  docs/modules/configuration.md
  docs/ops/RUNBOOK.md
  docs/ops/hydra_distributed_overrides.md
  docs/ops/security.md
  docs/patch-troubleshooting.md
  docs/status_update_prompt.md
  requirements.txt
  scripts/fix_markdown_fences.py
  scripts/fix_md_fences.py
  src/codex_ml/cli/generate.py
  src/codex_ml/cli/infer.py
  src/codex_ml/eval/evaluator.py
  src/codex_ml/hf_loader.py
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/tokenization/adapter.py
  src/codex_ml/tokenization/hf_tokenizer.py
  src/codex_ml/training/__init__.py
  src/codex_ml/training/functional_training.py
  src/codex_ml/utils/hf_revision.py
  src/codex_ml/utils/modeling.py
  tools/codex_run_tasks.py
  tools/codex_sqlite_align.py
  tools/security/net.py
Due: ruff, black, mypy, validate-fences

Revalidate redirected URLs in safe_fetch
  tools/security/net.py
Due: ruff, black, mypy

Harden HF downloads and network helpers
  .pre-commit-config.yaml
  codex_update_runner.py
  scripts/fix_markdown_fences.py
  src/codex/search/providers.py
  src/codex_ml/data/hf_datasets.py
  src/codex_ml/eval/datasets.py
  src/codex_ml/modeling/codex_model_loader.py
  src/codex_ml/models/registry.py
  src/codex_ml/utils/hf_pinning.py
  tests/data/test_cache_roundtrip.py
  tests/data/test_hf_factory_compat.py
  tests/test_search_providers.py
  tools/codemods/codemod_chmod_user_exec.py
  tools/codemods/codemod_hf_pinning.py
  tools/codemods/codemod_urlopen_to_safe.py
  tools/codemods/codemod_xml_defused.py
  tools/preflight_minimal_labels.py
  tools/runner_doctor.py
  tools/security/net.py
  tools/security/permissions.py
Due: ruff, black, mypy

Add packaging metadata and docker build pipeline
  .dockerignore
  Dockerfile
  pyproject.toml
  src/codex_ml/__init__.py
Due: ruff, black, mypy

Add optional tokenizer trainer, PEFT hook, and training utilities
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  src/codex_ml/interfaces/tokenizer.py
  src/codex_ml/metrics/registry.py
  src/codex_ml/models/utils/__init__.py
  src/codex_ml/models/utils/peft.py
  src/codex_ml/tokenization/__init__.py
  src/codex_ml/tokenization/sp_trainer.py
  src/codex_ml/utils/logging_mlflow.py
  src/codex_ml/utils/train_helpers.py
  tests/test_checkpoint_bundle.py
  tests/test_metrics_registry_alias.py
  tests/test_mlflow_adapter.py
  tests/test_tokenizer_sp.py
  tests/test_train_helpers.py
Due: ruff, black, mypy

Integrate AMP and logging helpers into training
  src/codex_ml/training/__init__.py
  src/codex_ml/training/functional_training.py
  src/codex_ml/utils/train_helpers.py
Due: ruff, black, mypy

Add integration tests for training flag behaviors
  tests/test_training_integration_flags.py
Due: ruff, black, mypy

Fix mlflow_run context manager exception handling
  src/codex_ml/utils/logging_mlflow.py
Due: ruff, black, mypy

Fix SP tokenizer pointer resolution and mlflow context
  src/codex_ml/tokenization/sp_trainer.py
  src/codex_ml/utils/logging_mlflow.py
Due: ruff, black, mypy

Fix TaskType handling in optional LoRA helper
  src/codex_ml/models/utils/peft.py
Due: ruff, black, mypy

Restore config package data in codex-ml wheel
  pyproject.toml
Due: none

Adjust requires-python to 3.10
  pyproject.toml
Due: none

Validate redirect target in safe network helpers
  tools/security/net.py
Due: ruff, black, mypy

Fix codex runner HTTPS helper for safe_request
  tools/codex_run_tasks.py
Due: ruff, black, mypy

Fix GPU mask device mismatch in functional training
  src/codex_ml/training/functional_training.py
Due: ruff, black, mypy

Restore console scripts and entry points
  pyproject.toml
Due: none
