Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

test(release): comprehensive tag creation method testing - API method proven successful for v0.1.0
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
  .codex/tag_creation_test.sh
Due: validate-fences

docs(release): workflow auto-activation confirmed - release-to-pypi.yml triggered by API-created tag
  .codex/TAG_CREATION_QUICK_REFERENCE.md
  .codex/v0.1.0_RELEASE_WORKFLOW_ACTIVATED.md
Due: validate-fences

docs(release): comprehensive tag creation session summary - testing methodology, findings, and workflow activation
  .codex/v0.1.0_TAG_CREATION_SESSION_SUMMARY.md
Due: validate-fences

docs(release): golden path analysis - v0.1.0 execution vs. documented ideal, issues identified
  .codex/GOLDEN_PATH_ANALYSIS_v0_1_0.md
Due: validate-fences

docs(session): comprehensive summary - tag creation testing, golden path analysis, workflow status
  .codex/SESSION_SUMMARY_TAG_CREATION_AND_GOLDENPATH.md
Due: validate-fences

fix: correct script paths in release-to-pypi.yml workflow - update manifest path
  .github/workflows/release-to-pypi.yml
Due: none

fix(workflow): Make wheel verification dynamic for any version
  .github/workflows/release-to-pypi.yml
Due: none

fix(workflow): Make wheel verification dynamic for any version
  .codex/v0.1.1_DEPLOYMENT_LOG.md
Due: validate-fences

Apply remaining changes
  .codex/v0.1.1_RELEASE_SUMMARY.txt
Due: none

Phase 17 Complete: 5-Lane Autonomous Campaign (0.91 confidence) - All lanes delivered, Phase 18 auto-kickoff authorized
  .codex/PHASE_17_FINAL_COMPLETION_REPORT.md
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Phase 18 Kickoff Brief: 4-lane production release model - CI optimization, ML deployment, release coordination, post-deployment validation
  .codex/PHASE_18_KICKOFF_BRIEF.md
Due: validate-fences

chore(release): Bump version to 0.2.0 for Phase 18 production release
  pyproject.toml
Due: none

Phase 18 Lane C: Release v0.2.0 - Git tag, distributions built, SBOM generated, release report created
  .codex/PHASE_18_LANE_C_RELEASE_REPORT.md
  .codex/sbom/sbom-core.json
  .codex/sbom/sbom-full.json
  .codex/sbom/sbom-runtime.json
  .github/workflows/code-quality-coverage-suite.yml
  scripts/phase_18_lane_b_deploy.py
  src/codex_ml/serving/ab_testing_harness.py
  src/codex_ml/serving/deployment_manager.py
  src/codex_ml/serving/orchestrator.py
Due: validate-fences, semgrep-local

Phase 18 Lane C: Release v0.2.0 - Complete release coordination (git tag, distributions, SBOM, report)
  .codex/PHASE_18_LANE_A_CI_OPTIMIZATION_REPORT.md
  .codex/PHASE_18_LANE_B_ML_DEPLOYMENT_REPORT.md
  scripts/phase_18_lane_b_simple.py
Due: validate-fences, semgrep-local

Phase 18 Lane B: ML Model Production Deployment with A/B Testing - Complete (Confidence: 1.000)
  .codex/PHASE_18_LANE_B_ML_DEPLOYMENT_REPORT.json
  .codex/PHASE_18_LANE_B_STATUS.json
Due: none

Phase 18 Lane D: Post-Deployment Validation Complete - Go-Live Approved (0.92 confidence, all gates GREEN)
  .codex/PHASE_18_LANE_D_VALIDATION_REPORT.md
Due: validate-fences

Phase 18 Complete: 4-Lane Production Release Campaign (0.935 confidence) - GO-LIVE APPROVED 🟢
  .codex/PHASE_18_FINAL_COMPLETION_REPORT.md
Due: validate-fences

docs: Phase 18 Complete - Update accountability report and CHANGELOG with v0.2.0 release details and go-live approval
  CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Phase 19 Kickoff Brief: 6-lane planning & monitoring model - Post-release validation, retrospective analysis, TIER-2/3 planning, pattern expansion
  .codex/PHASE_19_KICKOFF_BRIEF.md
Due: validate-fences

Phase 20.4: Production Deployment & Release (v0.2.1 Launch) (#5295)
  .codex/PHASE_20_4_PRE_DEPLOYMENT_VALIDATION_REPORT.md
  .codex/PHASE_20_4_PRODUCTION_DEPLOYMENT_BRIEFING.md
  .codex/PHASE_20_VERIFICATION_AND_CONTINUATION_REPORT.md
  .codex/phase_10_3_ab_test_log.jsonl
  .codex/phase_10_3_performance_metrics.json
  .codex/rag/session_delta.json
  .codex/session_access_manifest.json
  .codex/session_access_strategy.json
  .codex/session_context_latest.md
Due: validate-fences

metric: Approval telemetry for workflow-execution-gate
  .codex/metrics/hourly.jsonl
Due: none

improve script prep quantum
  .github/workflows/security-scanning-suite.yml
Due: none

docs(lane1): fix all internal links to site (zero deadlinks)
  .codex/SITE_FIRST_LANE_1_LINK_REPORT.json
  .codex/SITE_FIRST_LANE_1_LINK_REPORT.md
  docs/CONSISTENCY_CHECKS_SETUP.md
  docs/PHASE_6_CONSISTENCY_CHECKS_REPORT.md
  docs/deployment/DEPLOYMENT_VERIFICATION_CHECKLIST.md
  docs/deployment/LOCAL_DEPLOYMENT_GUIDE.md
  docs/quality/LINK_VALIDATION_REPORT.md
  docs/release/RELEASE_NOTES.md
  docs/templates/PR_BODY_TEMPLATE_MERGE_READINESS.md
Due: validate-fences

docs(lane4): align deployment configuration and site structure
  .codex/SITE_FIRST_LANE_4_DEPLOY_REPORT.md
  mkdocs.yml
Due: validate-fences

chore: Repository health monitoring report
  .codex/action_log.ndjson
  .codex/repository_health/offload_candidates.json
Due: none
