Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

fix: resolve drift reference path with hydra utils
  src/hhg_logistics/pipeline.py
Due: semgrep-local

Fix validation split guard and default provenance path
  src/common/provenance.py
  src/hhg_logistics/data/prepare.py
  tests/unit/test_prepare_split.py
Due: semgrep-local

Guard metrics path resolution when Hydra is inactive
  src/hhg_logistics/pipeline.py
Due: semgrep-local

Scope offline smoke tests
  noxfile.py
  scripts/offline_gate.sh
Due: semgrep-local

fix: reference params namespace in dvc stage
  dvc.yaml
Due: none

Fix prepare CSV writers to honor dynamic schema
  src/hhg_logistics/data/prepare.py
Due: semgrep-local

Resolve pipeline node paths via Hydra
  src/hhg_logistics/pipeline_nodes/__init__.py
Due: semgrep-local

Resolve modular pipeline paths via Hydra
  src/hhg_logistics/pipeline_nodes/__init__.py
Due: semgrep-local

Enhance Zendesk apply workflow and docs
  docs/api_catalog.md
  docs/runbooks/zendesk_admin_workflow.md
  docs/zendesk_api_reference.md
  src/codex/cli_zendesk.py
  src/codex/zendesk/apply.py
Due: validate-fences, semgrep-local

feat: add zendesk docs index and tighten offline tests
  .gitignore
  data/zendesk_api_index.json
  docs/zendesk_api_catalog_generated.md
  docs/zendesk_api_reference.md
  noxfile.py
  pyproject.toml
  scripts/sync_zendesk_docs.py
  src/codex/cli_zendesk.py
  src/codex/zendesk/apply.py
  tests/unit/test_apply_ops_normalization.py
Due: validate-fences, semgrep-local

feat: expand zendesk apply tooling and docs index
  .gitignore
  data/zendesk_api_index.json
  docs/zendesk_api_catalog_generated.md
  docs/zendesk_api_reference.md
  noxfile.py
  pyproject.toml
  scripts/sync_zendesk_docs.py
  src/codex/cli_zendesk.py
  src/codex/monitoring/__init__.py
  src/codex/zendesk/apply.py
  tests/unit/test_apply_ops_normalization.py
Due: validate-fences, semgrep-local

Fix resource selection in guide/talk/widget apply handlers
  src/codex/zendesk/apply.py
Due: semgrep-local

feat: harden zendesk tooling and docs capture
  .gitignore
  .pre-commit-config.yaml
  data/zendesk_docs_manifest.json
  docs/runbooks/zendesk_docs_pipeline.md
  docs/zendesk_api_catalog_generated.md
  noxfile.py
  pyproject.toml
  scripts/zendesk_docs_catalog.py
  scripts/zendesk_docs_fetch.py
  src/codex/cli_zendesk.py
  tests/unit/test_apply_ops_normalization.py
Due: validate-fences, semgrep-local

Use python3 -m pytest for user-site tests session
  noxfile.py
Due: semgrep-local

fix: harden zendesk tooling and validations
  data/zendesk_docs_manifest.json
  docs/zendesk_api_catalog_generated.md
  noxfile.py
  scripts/zendesk_docs_catalog.py
  scripts/zendesk_docs_fetch.py
  src/codex/cli_zendesk.py
  src/codex/zendesk/plan/validators.py
  tests/test_zendesk_validators.py
  tools/python_shim.py
Due: validate-fences, semgrep-local

Sort reproducibility exports alphabetically
  noxfile.py
  pyproject.toml
  src/codex_ml/cli/simple_cli.py
  src/codex_ml/data_utils.py
  src/codex_ml/metrics.py
  src/codex_ml/metrics/__init__.py
  src/codex_ml/metrics_base.py
  src/codex_ml/modeling/__init__.py
  src/codex_ml/modeling/codex_model.py
  src/codex_ml/utils/repro.py
  tests/data/test_data_cache.py
  tests/metrics/test_classification_metrics.py
  tests/modeling/test_codex_model.py
  tests/test_cli_simple.py
  tests/test_repro_capture.py
Due: semgrep-local

Fix Zendesk plan validator schema
  src/codex/zendesk/plan/validators.py
  tests/test_zendesk_validators.py
Due: semgrep-local

Respect user-provided device map
  src/codex_ml/modeling/codex_model.py
Due: semgrep-local

Fix nox tests session installation
  noxfile.py
Due: semgrep-local

Add CRM scaffolding with config loaders and CLI
  config/cdm/assignment.csv
  config/mapping/assignment_d365.csv
  config/mapping/assignment_zendesk.csv
  noxfile.py
  src/codex_crm/__init__.py
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
  src/codex_crm/cli.py
  src/codex_crm/convert/__init__.py
  src/codex_crm/convert/rules.py
  src/codex_crm/d365_admin/__init__.py
  src/codex_crm/d365_admin/generate.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/evidence/__init__.py
  src/codex_crm/evidence/emit.py
  src/codex_crm/pa_legacy/__init__.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  src/codex_crm/zd_admin/__init__.py
  src/codex_crm/zd_admin/generate.py
  tests/crm/test_cli_smoke.py
  tests/crm/test_conversion_fidelity.py
  tests/crm/test_pa_reader.py
  tests/crm/test_zaf_reader.py
Due: semgrep-local

feat: scaffold crm engines and cli
  config/cdm/assignment.csv
  config/mapping/assignment_d365.csv
  config/mapping/assignment_zendesk.csv
  docs/crm/admin-runbooks/d365.md
  docs/crm/admin-runbooks/zendesk.md
  docs/crm/architecture/cdm.md
  noxfile.py
  src/codex_crm/__init__.py
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
  src/codex_crm/cli.py
  src/codex_crm/convert/__init__.py
  src/codex_crm/convert/rules.py
  src/codex_crm/d365_admin/__init__.py
  src/codex_crm/d365_admin/generate.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/evidence/__init__.py
  src/codex_crm/evidence/emit.py
  src/codex_crm/pa_legacy/__init__.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  src/codex_crm/zd_admin/__init__.py
  src/codex_crm/zd_admin/generate.py
  tests/crm/test_cli_smoke.py
  tests/crm/test_conversion_fidelity.py
  tests/crm/test_pa_reader.py
  tests/crm/test_zaf_reader.py
Due: validate-fences, semgrep-local

feat: extend zendesk tooling and add qa scaffolds
  src/codex/cli_zendesk.py
  src/codex/dynamics/__init__.py
  src/codex/dynamics/model/__init__.py
  src/codex/dynamics/model/choice.py
  src/codex/dynamics/model/role.py
  src/codex/dynamics/role_matrix.py
  src/codex/qa/__init__.py
  src/codex/qa/rubric.py
  src/codex/versioning.py
  src/codex/zendesk/__init__.py
  src/codex/zendesk/apply.py
  src/codex/zendesk/model/__init__.py
  src/codex/zendesk/model/role.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/sla.py
  src/codex/zendesk/plan/diff_engine.py
Due: semgrep-local

Add legacy ZAF bundle extractor and tests
  src/codex_crm/__init__.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  tests/fixtures/__init__.py
  tests/fixtures/zaf_legacy.py
  tests/unit/test_zaf_legacy_reader.py
Due: semgrep-local

Add CRM flow diagram helpers
  src/codex_crm/__init__.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  tests/codex_crm/test_diagram_flows.py
Due: semgrep-local

Add CRM CDM loader with robust path detection
  config/cdm/assignment.csv
  src/codex_crm/__init__.py
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
Due: semgrep-local

Fix CRM loader resource discovery
  pyproject.toml
  src/codex_crm/cdm/data/cdm/assignment.csv
  src/codex_crm/cdm/data/mapping/assignment_d365.csv
  src/codex_crm/cdm/data/mapping/assignment_zendesk.csv
  src/codex_crm/cdm/loader.py
Due: semgrep-local

Remove assignment data from assignment.csv
  config/cdm/assignment.csv
Due: none

Add CRM utilities and tests
  src/codex_crm/__init__.py
  src/codex_crm/cli.py
  src/codex_crm/convert/__init__.py
  src/codex_crm/convert/rules.py
  src/codex_crm/diagram/__init__.py
  src/codex_crm/diagram/flows.py
  src/codex_crm/pa_legacy/__init__.py
  src/codex_crm/pa_legacy/reader.py
  src/codex_crm/zaf_legacy/__init__.py
  src/codex_crm/zaf_legacy/reader.py
  tests/crm/__init__.py
  tests/crm/test_cli.py
  tests/crm/test_diagram_flows.py
  tests/crm/test_pa_legacy_reader.py
  tests/crm/test_rules_conversion.py
  tests/crm/test_zaf_legacy_reader.py
Due: semgrep-local

Ensure CDM resources load from packaged data
  src/codex_crm/cdm/__init__.py
  src/codex_crm/cdm/loader.py
  tests/crm/test_cdm_loader.py
Due: semgrep-local

Align QA rubric, dynamics models, and versioning helpers with spec
  src/codex/dynamics/__init__.py
  src/codex/dynamics/model/choice.py
  src/codex/dynamics/role_matrix.py
  src/codex/qa/__init__.py
  src/codex/qa/rubric.py
  src/codex/versioning.py
  src/codex/zendesk/model/routing.py
  src/codex/zendesk/model/sla.py
Due: semgrep-local

Fix Zendesk apply plan validation
  src/codex/cli_zendesk.py
Due: semgrep-local

Add CRM CLI helpers and optional dependency guards
  AGENTS.md
  Makefile
  conftest.py
  examples/roles/d365_roles.example.json
  examples/roles/zendesk_roles.example.json
  src/codex/cli_qa.py
  src/codex/cli_roles.py
  src/codex/cli_zendesk.py
  src/codex/zendesk/apply.py
Due: validate-fences, semgrep-local

Delay Zendesk apply evidence until operations succeed
  src/codex/zendesk/apply.py
Due: semgrep-local

Fix Zendesk plan validation for CLI apply
  src/codex/cli_zendesk.py
  src/codex/zendesk/plan/validators.py
  tests/test_zendesk_validators.py
Due: semgrep-local

Broaden env var redaction in capture_environment
  src/codex_ml/utils/repro.py
Due: semgrep-local

feat: extend crm tooling and dry-run coverage
  config/mapping/routing_patterns.csv
  config/mapping/sla_parity.csv
  docs/crm/admin-runbooks/d365.md
  docs/crm/admin-runbooks/zendesk.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_zendesk.py
  src/codex/diagram/__init__.py
  src/codex/diagram/flows.py
  src/codex/dynamics/cli_d365.py
  src/codex/zendesk/apply.py
  src/codex_crm/convert/rules.py
  tests/crm/test_conversion_truths.py
Due: validate-fences, semgrep-local

Fix GPU nox session and CLI defaults
  noxfile.py
  src/codex_crm/cli.py
Due: semgrep-local

Add offline D365 solution XML and evidence tooling
  config/d365/routing.csv
  config/d365/slas.csv
  config/d365/solution_manifest.json
  docs/crm/admin-runbooks/d365.md
  noxfile.py
  src/codex/cli.py
  src/codex/cli_maps.py
  src/codex/dynamics/apply_logging.py
  src/codex/dynamics/cli_d365.py
  src/codex/dynamics/solution_xml.py
  src/codex/evidence.py
  src/codex/mapping/__init__.py
  src/codex/mapping/load.py
  src/codex/mapping/models.py
  tests/d365/__init__.py
  tests/d365/test_apply_stubs.py
  tests/d365/test_mapping_loaders.py
  tests/d365/test_solution_xml.py
Due: validate-fences, semgrep-local

Add archival workflow with CLI and SQL migrations
  db/migrations/mariadb/001_init.sql
  db/migrations/postgres/001_init.sql
  db/migrations/sqlite/001_init.sql
  docs/crm/admin-runbooks/archive.md
  src/codex/archive/__init__.py
  src/codex/archive/api.py
  src/codex/archive/dal.py
  src/codex/archive/util.py
  src/codex/cli.py
  src/codex/cli_archive.py
Due: validate-fences, semgrep-local

Add Codex archive CLI and schema
  docs/guides/codex_archive_runbook.md
  schemas/codex_archive.sql
  src/codex/archive/__init__.py
  src/codex/archive/backend.py
  src/codex/archive/cli.py
  src/codex/archive/schema.py
  src/codex/archive/service.py
  src/codex/archive/util.py
  src/codex/cli.py
Due: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
