Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-fences

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_install_hook_types: [pre-commit, pre-push, prepare-commit-msg]
exclude: '^\\.codex/'
repos:
  - repo: local
    hooks:
      - id: mypy
        name: MyPy (Static Typing)
        entry: mypy
        language: system
        pass_filenames: true
        types: [python]
        args: ["--config-file=pyproject.toml"]
      - id: security-audit
        name: Pip Audit (Offline Vulnerability Scan)
        entry: python tools/pip_audit_wrapper.py --offline
        language: system
        pass_filenames: false
        stages: [commit]
      - id: validate-fences
        name: validate markdown code fences
        entry: python tools/validate_fences.py --strict-inner
        language: system
        pass_filenames: true
        types: [markdown]
        exclude: '^tests/data/validate_fences_sample\.md$'
        stages: [commit]
      - id: block-env-files
        name: block committed secret env files
        entry: bash
        language: system
        pass_filenames: false
        always_run: true
        args:
          - -lc
          - |
            while IFS= read -r path; do
              if [ -z "$path" ]; then
                continue
              fi

              base="$(basename "$path")"
              if [ "$base" = ".env.example" ]; then
                continue
              fi

              case "$base" in
                .env|.env.*|.envrc|.envrc.*|*.secret|*.secrets|*.vault)
                  echo "[secrets] refusing to commit $path"
                  echo "Create a local copy from .env.example instead of committing secrets."
                  exit 1
                  ;;
              esac
            done < <(git diff --cached --name-only --diff-filter=ACM)
      - id: codex-block-large-generated
        name: Block large generated files in .codex
        entry: python tools/precommit_block_large.py
        language: system
        pass_filenames: true
      - id: check-licenses
        name: check licenses
        entry: python scripts/check_licenses.py
        language: system
        pass_filenames: false
      - id: ci-guard
        name: Guard against unintended CI workflows
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -lc
          - |
            if [ "${CODEX_ALLOW_CI:-0}" = "1" ]; then
              python tools/ci_guard.py
            else
              echo "[ci-guard] skipped (set CODEX_ALLOW_CI=1 to run)"
            fi
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        stages: [commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        stages: [commit]
      - id: ruff
        name: ruff (import sort fix)
        args: ["--select", "I", "--fix"]
        stages: [commit]
      - id: ruff-format
        stages: [commit]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        name: Bandit Security Checks
        args: ["-q", "-ll", "-c", ".bandit.yml", "--exclude", "tests"]
        files: ^(src/|tools/)
        stages: [commit]
  - repo: https://github.com/returntocorp/semgrep
    rev: v1.67.0
    hooks:
      - id: semgrep
        name: Semgrep Security Audit
        args: ["--config", "p/ci", "--error"]
        files: ^(src/|tools/)
        stages: [commit]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit
        args: ["--progress-spinner", "off", "--dry-run"]
        stages: [manual]

feat: guard mlflow tracking defaults
  docs/guides/mlflow_offline.md
  src/codex_ml/utils/experiment_tracking_mlflow.py
  tests/tracking/test_mlflow_offline_guard.py
Due: mypy, validate-fences

Add checksum utilities and enforce Torch CPU policy
  .pre-commit-config.yaml
  noxfile.py
  scripts/codex_local_gates.sh
  scripts/torch_policy_check.py
  scripts/torch_repair_cpu.sh
  src/codex_ml/data/checksums.py
Due: mypy

Guard MLflow tracking URI and refresh fence validator
  .pre-commit-config.yaml
  docs/guides/mlflow_offline.md
  src/codex_ml/utils/experiment_tracking_mlflow.py
  tests/tracking/test_mlflow_offline_guard.py
  tools/validate_fences.py
Due: mypy, validate-fences

Enforce CPU Torch coverage env and document pre-commit flow
  CONTRIBUTING.md
  Makefile
  noxfile.py
  scripts/codex_local_gates.sh
  scripts/torch_repair_cpu.sh
Due: mypy, validate-fences

Improve offline tooling and documentation
  .pre-commit-config.yaml
  docs/guides/AGENTS.md
  docs/guides/mlflow_offline.md
  docs/validation/Offline_Audit_Validation.md
  scripts/pytest_noplugins.sh
  semgrep_rules/default.yml
  src/codex_ml/utils/experiment_tracking_mlflow.py
  tests/tools/test_validate_fences_samples.py
  tests/tracking/test_noop_logger.py
  tools/pip_audit_wrapper.py
  tools/validate_fences.py
Due: mypy, validate-fences

Improve Torch policy checks in local gates
  scripts/codex_local_gates.sh
  scripts/torch_repair_cpu.sh
Due: none

Improve Torch index selection for coverage
  noxfile.py
Due: mypy

Prevent validate-fences hook recursion
  .pre-commit-config.yaml
  docs/guides/AGENTS.md
  docs/validation/Offline_Audit_Validation.md
  tools/validate_fences.py
Due: mypy, validate-fences

Refactor torch policy checks into shared helper
  scripts/codex_local_gates.sh
  scripts/libtorch_policy.sh
  scripts/torch_repair_cpu.sh
Due: none

Add repository metrics tooling and MLflow guard
  .gitignore
  artifacts/guardrails/no-gh-actions-scan.txt
  noxfile.py
  reports/_codex_status_update-2025-09-28.md
  src/codex_ml/tracking/mlflow_guard.py
  src/codex_ml/training/__init__.py
  tests/tokenization/test_sentencepiece_roundtrip.py
  tools/docs/scan_links.py
  tools/metrics/generate_repo_metrics.py
  tools/notebooks/check_load.py
Due: mypy, validate-fences

chore: add exhaustive codex status audit artifacts
  .codex/status/diff-S0_to_S1.txt
  .codex/status/errors.ndjson
  .codex/status/log-S0_to_S1.txt
  .codex/status/provenance.json
  artifacts/coverage/coverage.xml
  artifacts/coverage/index.html
  artifacts/coverage/summary.txt
  artifacts/docs_link_audit/links.json
  artifacts/env/hw.txt
  artifacts/env/os.txt
  artifacts/env/pip-freeze.txt
  artifacts/env/python.txt
  artifacts/gates/nox-lint.log
  artifacts/gates/nox-tests.log
  artifacts/gates/nox-tests_min-rerun.log
  artifacts/gates/nox-tests_min-rerun2.log
  artifacts/gates/nox-tests_min.log
  artifacts/gates/nox-typecheck.log
  artifacts/gates/pytest-analysis-cov.log
  artifacts/gates/pytest-analysis.log
  artifacts/guardrails/no-gh-actions-scan.txt
  artifacts/metrics/cli_entry_points.json
  artifacts/metrics/cli_help.json
  artifacts/metrics/docstring_coverage.json
  artifacts/metrics/import_graph.json
  artifacts/metrics/loc_by_dir.csv
  artifacts/metrics/stubs.json
  artifacts/notebook_checks/checks.json
  artifacts/security/bandit.txt
  artifacts/security/detect-secrets.txt
  artifacts/security/safety.txt
  reports/_codex_status_update-2025-09-29.md
  reports/repo_map.md
Due: validate-fences

Handle offline pip-audit execution gracefully
  tools/pip_audit_wrapper.py
Due: mypy

feat(telemetry): add sampling gate and CLI controls
  README.md
  configs/train/default.yaml
  src/codex_ml/train_loop.py
  tests/telemetry/test_ndjson_disable_env.py
  tests/telemetry/test_sample_rate_gate.py
  tests/telemetry/test_telemetry_event_schema.py
Due: mypy, validate-fences

feat(tokenization): train-or-load sentencepiece adapter
  docs/guides/tokenization.md
  src/tokenization/sentencepiece_adapter.py
  tests/tokenization/test_sentencepiece_adapter_train.py
Due: mypy, validate-fences

feat(tokenization): add stubbed sentencepiece adapter tests
  README.md
  src/tokenization/sentencepiece_adapter.py
  tests/tokenization/test_sentencepiece_adapter_stub.py
Due: mypy, validate-fences

test(tokenization): harden sentencepiece adapter stub coverage
  CHANGELOG.md
  src/tokenization/sentencepiece_adapter.py
  tests/tokenization/test_sentencepiece_adapter_stub.py
Due: mypy, validate-fences

feat(modeling): add factory with optional peft toggle
  CHANGELOG.md
  docs/guides/peft_lora.md
  src/codex_ml/models/factory.py
  src/codex_ml/models/peft_hooks.py
  tests/codex_ml/test_model_factory.py
Due: mypy, validate-fences

feat(modeling): add factory with env-gated peft
  docs/guides/peft_lora.md
  docs/modules/modeling.md
  src/codex_ml/modeling/__init__.py
  src/codex_ml/modeling/factory.py
  tests/test_model_factory.py
Due: mypy, validate-fences

Harden training callbacks and wire deterministic controls
  docs/ops/training_args.md
  docs/reproducibility.md
  src/codex_ml/callbacks.py
  src/codex_ml/train_loop.py
  tests/test_engine_hf_trainer.py
  tests/test_engine_hf_trainer_grad_accum.py
  tests/test_train_loop_smoke.py
  tests/training/test_functional_training_main.py
  training/engine_hf_trainer.py
  training/functional_training.py
Due: mypy, validate-fences

feat(hydra): add offline sweep preset and config validation
  CHANGELOG.md
  conf/examples/sweep_offline.yaml
  docs/guides/config_overrides.md
  docs/quickstart.md
  tests/test_cli_hydra_validation.py
Due: mypy, validate-fences

feat(eval): log metrics ndjson and add cli smoke test
  CHANGELOG.md
  OPEN_QUESTIONS.md
  configs/eval/base.yaml
  docs/modules/evaluation_runner.md
  docs/ops/runbook_logging.md
  src/codex_ml/config.py
  src/codex_ml/eval/runner.py
  tests/cli/test_evaluation_cli.py
  tests/eval/test_evaluation_reproducible.py
  tests/test_evaluation.py
Due: mypy, validate-fences

Harden offline tracking summaries
  CHANGELOG.md
  OPEN_QUESTIONS.md
  docs/modules/observability.md
  reports/observability_runbook.md
  src/codex_ml/tracking/init_experiment.py
  src/codex_ml/tracking/mlflow_utils.py
  src/codex_ml/tracking/writers.py
  tests/tracking/test_mlflow_guard.py
  tests/tracking/test_tracking_writers_offline.py
Due: mypy, validate-fences

Harden offline tracking and checkpoint resume
  codex_utils/mlflow_offline.py
  docs/modules/observability.md
  examples/mlflow_offline.py
  pyproject.toml
  reports/observability_runbook.md
  src/codex_ml/cli/ndjson_summary.py
  src/codex_ml/eval/eval_runner.py
  src/codex_ml/logging/ndjson_logger.py
  src/codex_ml/logging/run_logger.py
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/monitoring/mlflow_utils.py
  src/codex_ml/tracking/init_experiment.py
  src/codex_ml/tracking/writers.py
  src/codex_ml/train_loop.py
  src/codex_ml/utils/checkpointing.py
  tests/checkpoint/test_state_providers.py
  tests/cli/test_ndjson_summary_cli.py
  tests/test_checkpoint_manager.py
  tests/test_ndjson_logging.py
  tests/test_train_loop.py
  tests/tracking/test_mlflow_offline_cli.py
  tests/tracking/test_ndjson_logger_core.py
  tests/tracking/test_ndjson_writer.py
  training/checkpoint_manager.py
Due: mypy, validate-fences

test: stub optional tokenization deps
  src/codex_ml/interfaces/tokenizer.py
  tests/tokenization/conftest.py
Due: mypy

feat(archive): add hybrid archive manager tooling
  tools/archive_manager/Makefile
  tools/archive_manager/README.md
  tools/archive_manager/archive_manager.py
Due: mypy, validate-fences

feat(tracking): uplift ndjson schema and summarizer
  CHANGELOG.md
  codex_utils/cli/ndjson_summary.py
  docs/modules/observability.md
  pyproject.toml
  reports/observability_runbook.md
  src/codex_ml/logging/ndjson_logger.py
  src/codex_ml/logging/run_logger.py
  src/codex_ml/utils/experiment_tracking_mlflow.py
  tests/tracking/test_mlflow_offline_guard.py
  tests/tracking/test_ndjson_summarizer.py
Due: mypy, validate-fences

feat(tracking): harden ndjson logging and mlflow guard
  CHANGELOG.md
  docs/modules/observability.md
  reports/observability_runbook.md
  src/codex_ml/eval/eval_runner.py
  src/codex_ml/logging/run_logger.py
  src/codex_ml/tracking/init_experiment.py
  src/codex_ml/tracking/writers.py
  tests/eval/test_schema_compat.py
  tests/tracking/test_tracking_writers_offline.py
Due: mypy, validate-fences

chore(logging): reuse core ndjson logger
  codex_utils/ndjson.py
  tests/test_ndjson_logger.py
Due: mypy

feat(tracking): reuse aggregated ndjson summarizer
  src/codex_ml/cli/ndjson_summary.py
  tests/cli/test_ndjson_summary_cli.py
Due: mypy

Align evaluation metrics NDJSON with training writer
  CHANGELOG.md
  docs/modules/evaluation_runner.md
  src/codex_ml/eval/eval_runner.py
  tests/eval/test_schema_compat.py
Due: mypy, validate-fences

Unify NDJSON summarization and evaluation emissions
  CHANGELOG.md
  codex_utils/cli/ndjson_summary.py
  docs/modules/evaluation_runner.md
  docs/modules/observability.md
  docs/ops/runbook_logging.md
  src/codex_ml/cli/ndjson_summary.py
  src/codex_ml/eval/eval_runner.py
  tests/cli/test_ndjson_summary_cli.py
  tests/eval/test_schema_compat.py
  tests/tracking/test_ndjson_summarizer.py
Due: mypy, validate-fences

feat(tracking): bootstrap MLflow offline env guard
  codex_utils/__init__.py
  codex_utils/mlflow_offline.py
  docs/guides/mlflow_offline.md
  src/codex_ml/tracking/mlflow_guard.py
  tests/utils/test_codex_utils_offline.py
Due: mypy, validate-fences

feat(tokenization): persist special token mappings
  docs/guides/tokenization.md
  src/tokenization/sentencepiece_adapter.py
  tests/tokenization/test_sentencepiece_adapter_stub.py
Due: mypy, validate-fences

Add JSON report merger utility
  CHANGELOG.md
  codex_utils/__init__.py
  codex_utils/json_report.py
  tests/test_json_report.py
Due: mypy, validate-fences

chore(tracking): normalise mlflow URIs to local file scheme
  codex_script.py
  docs/modules/observability.md
  src/codex_ml/tracking/mlflow_guard.py
  tests/tracking/test_mlflow_guard.py
Due: mypy, validate-fences

Align evaluation tracking schema and harden MLflow guard
  docs/modules/configuration.md
  docs/modules/evaluation_runner.md
  src/codex_ml/config.py
  src/codex_ml/eval/runner.py
  src/codex_ml/monitoring/tracking.py
  tests/eval/test_bleu_rouge_fallbacks.py
  tests/eval/test_evaluation_reproducible.py
Due: mypy, validate-fences
