Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Fix trainer resume logic to skip completed epochs
  src/training/trainer.py
Due: semgrep-local

Add files via upload
  docs/architecture/adr-template.md
Due: validate-fences

Delete docs/architecture/adr-template.md
  docs/architecture/adr-template.md
Due: validate-fences

Restore plaintext scanning in scan_secrets
  tools/scan_secrets.py
Due: semgrep-local

feat(policy): add archive & hygiene starter kit (+CI gates, commitlint, SBOM hooks)
  .codex/evidence/.gitkeep
  .codex/reports/.gitkeep
  .codex/sbom/.gitkeep
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/archive-gates.yml.disabled
  .gitignore
  commitlint.config.mjs
  docs/arch/adr-template.md
  docs/policies/archive-policy.md
  docs/policies/branch-protection-checklist.md
  scripts/archive/plan.sh
  scripts/archive/vacuum.sh
  scripts/sbom/check.sh
Due: validate-fences

Fix torch dtype auto handling
  src/codex_ml/utils/modeling.py
Due: semgrep-local

Refine secret scanner line handling
  tools/scan_secrets.py
Due: semgrep-local

fix: ignore diff headers in evidence validation
  .github/workflows/archive-gates.yml.disabled
Due: none

fix: ignore diff headers in evidence check
  .github/workflows/archive-gates.yml.disabled
Due: none

Refine secret scanner plaintext handling
  tools/scan_secrets.py
Due: semgrep-local

Respect auto dtype when loading models
  src/codex_ml/utils/modeling.py
Due: semgrep-local

Enable trainer auto-resume from checkpoint files
  src/training/trainer.py
Due: semgrep-local

Add archive hygiene integration test
  tests/archive/test_archive_hygiene.py
Due: semgrep-local

Ensure trainer falls back to legacy checkpoints
  src/training/trainer.py
Due: semgrep-local

Add archive plan apply and evidence log tests
  tests/archive/test_archive_plan_apply.py
  tests/archive/test_evidence_log.py
Due: semgrep-local

Fix split checksum manifest path
  src/codex_ml/data/split_utils.py
Due: semgrep-local

Add archive PR checklist helper and tests
  noxfile.py
  src/tools/archive_pr_checklist.py
  tests/archive/test_evidence_log.py
  tests/ops/test_archive_pr_checklist.py
Due: semgrep-local

Add archive PR checklist tests
  tests/ops/test_archive_pr_checklist.py
Due: semgrep-local

Add retention coverage for archive backend
  tests/archive/test_backend_retention.py
Due: semgrep-local

Handle archive PR gate with no staged changes
  noxfile.py
  src/tools/archive_pr_checklist.py
  tests/ops/test_archive_pr_checklist.py
Due: semgrep-local

Forward archive gate session args
  noxfile.py
Due: semgrep-local

Add coverage for multiple archive plan entries and provenance hints
  src/tools/archive_pr_checklist.py
  tests/archive/test_archive_plan_apply.py
  tests/ops/test_archive_pr_checklist.py
Due: semgrep-local

Extend provenance hints for archive checklist
  src/tools/archive_pr_checklist.py
  tests/ops/test_archive_pr_checklist.py
Due: semgrep-local

Add root archive plan and evidence
  .codex/evidence/archive_ops.jsonl
  .secrets.baseline
  artifacts/archive_plan_root.json
Due: none

Archive stale root docs
  .codex/evidence/archive_ops.jsonl
  CODEBASE_AUDIT_2025-08-26_203612.md
  CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  Codex_Questions.md
  _codex_codex-ready-sequence-and-patches-2025-09-27.md
  _codex_status_update-0C_base_-2025-09-27.md
  _codex_status_update-2025-10-06.md
  _codex_status_update-2025-10-16.md
  artifacts/archive_plan_root.json
  codex_ready_sequence-2025-10-16.md
  done_resolution_plans_10-6_to_10-7.md
  todo_resolution_plans_10-6_to_10-7.txt
Due: validate-fences

Fix archive metadata commit hashes
  .secrets.baseline
  CODEBASE_AUDIT_2025-08-26_203612.md
  CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  Codex_Questions.md
  _codex_codex-ready-sequence-and-patches-2025-09-27.md
  _codex_status_update-0C_base_-2025-09-27.md
  _codex_status_update-2025-10-06.md
  _codex_status_update-2025-10-16.md
  artifacts/archive_plan_root.json
  codex_ready_sequence-2025-10-16.md
  done_resolution_plans_10-6_to_10-7.md
  todo_resolution_plans_10-6_to_10-7.txt
Due: validate-fences

Archive root docs under archive/removed
  archive/removed/CODEBASE_AUDIT_2025-08-26_203612.md
  archive/removed/CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  archive/removed/Codex_Questions.md
  archive/removed/_codex_codex-ready-sequence-and-patches-2025-09-27.md
  archive/removed/_codex_status_update-0C_base_-2025-09-27.md
  archive/removed/_codex_status_update-2025-10-06.md
  archive/removed/_codex_status_update-2025-10-16.md
  archive/removed/codex_ready_sequence-2025-10-16.md
  archive/removed/done_resolution_plans_10-6_to_10-7.md
  archive/removed/todo_resolution_plans_10-6_to_10-7.txt
Due: validate-fences

chore: relocate tombstoned root docs under archive/removed
  archive/removed/CODEBASE_AUDIT_2025-08-26_203612.md
  archive/removed/CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  archive/removed/Codex_Questions.md
  archive/removed/_codex_codex-ready-sequence-and-patches-2025-09-27.md
  archive/removed/_codex_status_update-0C_base_-2025-09-27.md
  archive/removed/_codex_status_update-2025-10-06.md
  archive/removed/_codex_status_update-2025-10-16.md
  archive/removed/codex_ready_sequence-2025-10-16.md
  archive/removed/done_resolution_plans_10-6_to_10-7.md
  archive/removed/todo_resolution_plans_10-6_to_10-7.txt
Due: validate-fences

Add files via upload
  archive/removed/CODEBASE_AUDIT_2025-08-26_203612.md
  archive/removed/CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  archive/removed/Codex_Questions.md
  archive/removed/_codex_codex-ready-sequence-and-patches-2025-09-27.md
  archive/removed/_codex_status_update-0C_base_-2025-09-27.md
  archive/removed/_codex_status_update-2025-10-06.md
  archive/removed/_codex_status_update-2025-10-16.md
  archive/removed/codex_ready_sequence-2025-10-16.md
  archive/removed/done_resolution_plans_10-6_to_10-7.md
  archive/removed/todo_resolution_plans_10-6_to_10-7.txt
Due: validate-fences

Delete Codex_Questions.md
  Codex_Questions.md
Due: validate-fences

Delete _codex_codex-ready-sequence-and-patches-2025-09-27.md
  _codex_codex-ready-sequence-and-patches-2025-09-27.md
Due: validate-fences

Delete _codex_status_update-0C_base_-2025-09-27.md
  _codex_status_update-0C_base_-2025-09-27.md
Due: validate-fences

Delete _codex_status_update-2025-10-06.md
  _codex_status_update-2025-10-06.md
Due: validate-fences

Delete _codex_status_update-2025-10-16.md
  _codex_status_update-2025-10-16.md
Due: validate-fences

Delete codex_ready_sequence-2025-10-16.md
  codex_ready_sequence-2025-10-16.md
Due: validate-fences

Delete done_resolution_plans_10-6_to_10-7.md
  done_resolution_plans_10-6_to_10-7.md
Due: validate-fences

Delete todo_resolution_plans_10-6_to_10-7.txt
  todo_resolution_plans_10-6_to_10-7.txt
Due: none

Delete CODEBASE_AUDIT_2025-08-26_203612.md
  CODEBASE_AUDIT_2025-08-26_203612.md
Due: validate-fences

Delete CODEBASE_AUDIT_2025-09-27_ITERATION3.md
  CODEBASE_AUDIT_2025-09-27_ITERATION3.md
Due: validate-fences

Add files via upload
  patches/bundle.patch
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
