Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Potential fix for pull request finding
  .github/actions/resolve-push-target/action.yml
Due: none

fix(ci): exclude generated site artifacts from CodeQL to resolve stdout exhaustion (#5415) (#5417)
  .codeql/codeql-config.yml
  .codex/agent_auth_session.json
  .codex/docs/COPILOT_MCP_TOOL_REFERENCE.md
  .codex/docs/MCP_GITHUB_CAPABILITIES.md
  .codex/docs/MCP_INTEGRATION_MASTER_PLAN.md
  .codex/docs/MCP_PLAYWRIGHT_CAPABILITIES.md
  .github/actions/commit-to-staging-chain/action.yml
  .github/actions/resolve-push-target/action.yml
  .github/codeql/codeql-config.yml
  .github/workflows/13-3-enterprise-compliance.yml
  .github/workflows/codeql-ga-gate.yml
  .github/workflows/deploy-cognitive-app-manual.yml
  .github/workflows/enterprise-compliance.yml
  .github/workflows/phase-12-2-compliance-check.yml
  .github/workflows/security-pr-enhancement.yml
  .github/workflows/security-scan-phase-16.yml
  .github/workflows/security-scanning-suite.yml
  CHANGELOG.md
  copilot/extension/eslint.config.js
  copilot/extension/package-lock.json
  copilot/extension/package.json
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

security: Remediate 16 CVEs (11 High, 5 Low) across nltk, PyJWT, pyasn1 (#5418)
  .codex/CVE_REMEDIATION_CHECKLIST.md
  .codex/MONITORING_INDEX_2026-08-01.md
  .codex/MONITORING_SESSION_REPORT_2026-08-01.md
  .codex/MONITORING_SUMMARY_2026-08-01.txt
  .codex/QUICK_REFERENCE_MONITORING.md
  .codex/agent_auth_session.json
  .github/workflows/validate.yml
  ALERT_DISMISSAL_CHECKLIST.md
  CHANGELOG.md
  DEPENDABOT_ALERT_DISMISSAL_REPORT.md
  DEPENDABOT_DISMISSAL_QUICK_REFERENCE.md
  SECURITY_REMEDIATION_EXECUTIVE_SUMMARY.md
  SECURITY_REMEDIATION_MASTER_SUMMARY.md
  SECURITY_REMEDIATION_VERIFICATION_INDEX.md
  SESSION_COMPLETION_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  pyproject.toml
  reports/CAMPAIGN_SUMMARY.txt
  reports/CVE_REMEDIATION_2026-08-01.md
  reports/INTERIM_PROGRESS_2026-08-01.md
  reports/LANES_1-4_COMPLETION_SUMMARY.md
  reports/SECURITY_REMEDIATION_FINAL_REPORT.md
  reports/SECURITY_REMEDIATION_INDEX.md
  reports/SECURITY_REMEDIATION_MANIFEST.md
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
Due: validate-fences

security: Remediate 16 CVEs (11 High, 5 Low) across nltk, PyJWT, pyasn1 (#5418) (#5419)
  .codex/CVE_REMEDIATION_CHECKLIST.md
  .codex/MONITORING_INDEX_2026-08-01.md
  .codex/MONITORING_SESSION_REPORT_2026-08-01.md
  .codex/MONITORING_SUMMARY_2026-08-01.txt
  .codex/QUICK_REFERENCE_MONITORING.md
  .codex/agent_auth_session.json
  .github/workflows/validate.yml
  ALERT_DISMISSAL_CHECKLIST.md
  CHANGELOG.md
  DEPENDABOT_ALERT_DISMISSAL_REPORT.md
  DEPENDABOT_DISMISSAL_QUICK_REFERENCE.md
  SECURITY_REMEDIATION_EXECUTIVE_SUMMARY.md
  SECURITY_REMEDIATION_MASTER_SUMMARY.md
  SECURITY_REMEDIATION_VERIFICATION_INDEX.md
  SESSION_COMPLETION_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  pyproject.toml
  reports/CAMPAIGN_SUMMARY.txt
  reports/CVE_REMEDIATION_2026-08-01.md
  reports/INTERIM_PROGRESS_2026-08-01.md
  reports/LANES_1-4_COMPLETION_SUMMARY.md
  reports/SECURITY_REMEDIATION_FINAL_REPORT.md
  reports/SECURITY_REMEDIATION_INDEX.md
  reports/SECURITY_REMEDIATION_MANIFEST.md
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
Due: validate-fences

Correct security remediation review metadata (#5420)
  DEPENDABOT_ALERT_DISMISSAL_REPORT.md
  pyproject.toml
  reports/SECURITY_REMEDIATION_FINAL_REPORT.md
  reports/SECURITY_REMEDIATION_INDEX.md
Due: validate-fences

fix(ci): tracking stub for RAG Module Tests [skip ci] (#5424)
  .codex/ci-fixes/rag-module-tests.md
Due: validate-fences

0 d base (#5425)
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

Potential fix for pull request finding
  .github/workflows/runner-diagnostics.yml
Due: none

Potential fix for pull request finding 'Empty except'
  scripts/check_py312_deps.py
Due: semgrep-local

Complete cognitive brain control-plane startup hardening (#5429)
  .codex/logs/session_384b17f8-fbd2-4085-a016-6cd01eee4123.jsonl
  .codex/plans/LEAN_WORKFLOW_OS_PLANSET.md
  .codex/plans/PRUNING_CANDIDATE_REGISTRY.md
  .codex/plans/cognitive_brain_long_term_planset.md
  .codex/plans/cognitive_brain_phase_implementation.md
  .codex/plans/cognitive_brain_short_term_planset.md
  .codex/session_startup_packet.json
  .github/workflows/copilot-setup-steps.yml
  README.md
  docs/CHANGELOG.md
  docs/REPOSITORY_EXPLANATION.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  docs/reporting/copilot_agent_session_standard_operation.md
  docs/reporting/workflow_portfolio_7d_analysis.md
  docs/system/CODEBASE_COGNITIVE_MAP.md
  scripts/aftermath/living_doc_sync.py
  scripts/ci/check_token_contract.py
  scripts/ci/prune_validation_checklist.py
  scripts/ci/session_access_probe.py
  scripts/ci/simulate_trigger_paths.py
  scripts/ci/startup_health.py
  src/codex_ml/logging/session_logger.py
Due: validate-fences, semgrep-local

Update generated timestamp in baseline document
  docs/validation/COGNITIVE_BRAIN_TELEMETRY_BASELINE.md
Due: validate-fences

chore: session investigation commit (auth/push diagnosis) (#5449)
  .codex/session_startup_packet.json
Due: none

Resolve PR #5448 code review feedback: workflow fixes, test improvements, and linting corrections (#5451)
  .codex/session_startup_packet.json
  .github/workflows/cognitive-brain-legacy-debt-update.yml
  .github/workflows/cognitive-brain-telemetry-baseline.yml
  tests/cognitive_brain/test_boundary_regression_guards.py
  tests/test_core_profile_isolation.py
Due: semgrep-local

fix(ci): 🔧 Critical — RAG Module Tests [fffc2f3] (#5454)
  .codex/ci-fixes/rag-module-tests.md
  .codex/session_startup_packet.json
Due: validate-fences

Reconstruct PR #5448 work, fix RAG test timeout, and apply code quality improvements (#5457)
  .codex/ci-fixes/rag-module-tests.md
  .codex/reasoning/outcomes.jsonl
  .github/workflows/test-rag.yml
  docs/CHANGELOG.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/validation/update_legacy_debt_quarantine.py
  tests/cognitive_brain/test_boundary_regression_guards.py
  tests/test_update_legacy_debt_quarantine.py
Due: validate-fences, semgrep-local

fix(ci): add PDA entry for today and adjust RAG test workflow to skip heavy model loads in CI (#5461)
  .codex/aftermath/pda_iterations.jsonl
  .github/workflows/test-rag.yml
Due: none

Potential fix for pull request finding
  tests/test_update_legacy_debt_quarantine.py
Due: semgrep-local

Staging PR push to main: Fix RAG module test timeout and improve CI configuration (#5460)
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  .codex/ci-fixes/rag-module-tests.md
  .codex/reasoning/outcomes.jsonl
  .codex/session_startup_packet.json
  .github/workflows/cognitive-brain-telemetry-baseline.yml
  .github/workflows/test-rag.yml
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  scripts/validation/update_legacy_debt_quarantine.py
  tests/cognitive_brain/test_boundary_regression_guards.py
  tests/test_update_legacy_debt_quarantine.py
Due: validate-fences, semgrep-local

[WIP] Fix RAG module test timeout and improve CI configuration (#5462)
  .codex/aftermath/pda_iterations.jsonl
  .codex/agent_auth_session.json
  .codex/session_startup_packet.json
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/ml-tests.yml
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
Due: validate-fences

fix(ci): address PR #5466 review comments in dependabot consolidator and CCA guard
  .github/dependabot.yml
  .github/workflows/cost-gate.yml
  .github/workflows/dependabot-consolidation.yml
  .github/workflows/rust_swarm_ci.yml
  scripts/ci/cca_trailing_work_guard.py
  scripts/ci/dependabot_consolidator.py
  src/orchestration/simulation.py
Due: semgrep-local

Enforce WEC label gate for all approval-capable workflows (#5486)
  .codex/agent_auth_session.json
  .github/workflows/agent-auth-delegation.yml
  .github/workflows/auto-approve-workflows.yml
  .github/workflows/self-approve-pending-runs.yml
  .github/workflows/trigger-on-approval.yml
  scripts/ci/approve_pending_runs.py
  scripts/ci/require_wec_auto_approve.py
  scripts/ci/tiered_approval_gate.py
  tests/ci/test_unified_approval_hub.py
Due: semgrep-local

Resolve T1/T3 policy contract and refresh IQ gate evidence (#5487)
  .codex/MULTI_LANE_GOVERNANCE.md
  .codex/SELF_HEALING_POLICY_TIERS.md
  .codex/WAVE_4_AGENT_IQ_SCORES.json
  .codex/agent_auth_session.json
  .codex/agent_iq_gate_evidence_2026-08-18T20-51-54Z.json
  .codex/campaign/reports/BASELINE_STATUS.md
  .codex/campaign/reports/Lane_A_PASS_GATE.md
  .codex/campaign/reports/Lane_C_POLICY_GATE.md
  .codex/campaign/reports/Lane_E_IQ_GATE.md
  .codex/decision_traces/lane_a_gate_pass.jsonl
  .codex/decision_traces/lane_c_policy_gate_pass.jsonl
  .codex/decision_traces/lane_e_iq_gate_pass.jsonl
  CHANGELOG.md
  docs/accountability/.codex/archive/reports/AGENT_ACCOUNTABILITY_REPORT.md
  docs/accountability/AGENT_ACCOUNTABILITY_REPORT.md
  src/orchestration/healing/policy_tier_engine.py
  src/security/factory/__init__.py
  src/security/factory/clustering.py
  src/security/factory/recurrence_prevention.py
  src/security/factory/scoring.py
  src/security/factory/wave_executor.py
Due: validate-fences, semgrep-local

fix: align eslint to supported 9.x for react-hooks peer compatibility (#5488)
  cognitive_app/package-lock.json
  cognitive_app/package.json
Due: none

Add investigation report and prompt for Copilot agent setup failure
  .codex/COPILOT_AGENT_SETUP_FAILURE_INVESTIGATION.md
Due: validate-fences

Refactor workflow descriptions and step names
  .github/workflows/copilot-setup-steps.yml
Due: none

Copilot/commit review multi lane agent resolution (#5495)
  src/codex_ml/callbacks/system_metrics.py
  src/codex_ml/checkpointing/bestk.py
  src/codex_ml/checkpointing/checkpoint_core.py
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/monitoring/system_metrics.py
  src/codex_ml/utils/checkpoint.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/system_metrics.py
  src/logging_utils.py
  src/utils/checkpoint.py
Due: semgrep-local

Copilot/assess copilot sessions (#5496)
  .codex/session_startup_packet.json
  src/codex_ml/callbacks/system_metrics.py
  src/codex_ml/checkpointing/bestk.py
  src/codex_ml/checkpointing/checkpoint_core.py
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/monitoring/system_metrics.py
  src/codex_ml/utils/checkpoint.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/system_metrics.py
  src/logging_utils.py
  src/training/checkpointing.py
  src/training/trainer.py
  src/utils/checkpoint.py
Due: semgrep-local

Copilot/assess copilot sessions (#5496) (#5497)
  .codex/session_startup_packet.json
  src/codex_ml/callbacks/system_metrics.py
  src/codex_ml/checkpointing/bestk.py
  src/codex_ml/checkpointing/checkpoint_core.py
  src/codex_ml/monitoring/codex_logging.py
  src/codex_ml/monitoring/system_metrics.py
  src/codex_ml/utils/checkpoint.py
  src/codex_ml/utils/checkpoint_core.py
  src/codex_ml/utils/checkpointing.py
  src/codex_ml/utils/safe_pickle.py
  src/codex_ml/utils/system_metrics.py
  src/logging_utils.py
  src/training/checkpointing.py
  src/training/trainer.py
  src/utils/checkpoint.py
  tests/utils/test_checkpointing_safe_load.py
Due: semgrep-local
