Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Add optimized post-merge validation workflow
  .github/ISSUE_TEMPLATE/post-merge-validation-optimized.yml
Due: none

Revise post-merge validation issue template
  .github/ISSUE_TEMPLATE/post-merge-validation-optimized.yml
Due: none

Add deployment incidents issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Document YAML keywords fix for Issue Forms
  .github/docs/PostMergeValidation_IssueTemplate_InstructionEnhancement.md
Due: validate-fences

tools(imds): add diagnostic script
  .github/scripts/imds_diagnostic.sh
Due: none

Refactor IMDS diagnostic script for clarity and usability
  .github/scripts/imds_diagnostic.sh
Due: none

Update fmt.Println message from 'Hello' to 'Goodbye'
  .github/docs/2226_patchset.md
Due: validate-fences

Refactor environment classification checks in script
  .github/scripts/imds_diagnostic.sh
Due: none

Add documentation for IMDS status reporting bug
  .github/docs/2235_AGENTS_Critical_IMDS_Status_Reporting_Bug_Copilot.md
Due: validate-fences

Update print statement from 'Hello' to 'Goodbye'
  .github/scripts/imds_diagnostic.sh
Due: none

Update fmt.Println message from 'Hello' to 'Goodbye'
  .github/scripts/imds_diagnostic.sh
Due: none

Update imds_diagnostic.sh
  .github/scripts/imds_diagnostic.sh
Due: none

Fix IMDS sudo blocking issues and update documentation
  .github/docs/pr2229_fix_imds_sudo_blocking.md
Due: validate-fences

Add critical issue analysis for Phase 3 validation bug
  .github/docs/pr_2227_AGENTS_Critical_Deployment_Phase3_Validation_Bug_Copilot.md
Due: validate-fences

Rename pr_2227_AGENTS_Critical_Deployment_Phase3_Validation_Bug_Copilot.md to PR_2227_AGENTS_Critical_Deployment_Phase3_Validation_Bug_Copilot.md
  .github/docs/PR_2227_AGENTS_Critical_Deployment_Phase3_Validation_Bug_Copilot.md
Due: validate-fences

Fix post-merge validation workflow status handling
  scripts/deployment_orchestrator.py
  tests/test_deployment_orchestrator.py
Due: semgrep-local

fix: halt orchestration while validation is pending
  scripts/deployment_orchestrator.py
  tests/test_deployment_orchestrator.py
Due: semgrep-local

Add files via upload
  reports/daily/_codex_status_update_2025_11_16.md
Due: validate-fences

Add classification metrics and metrics mirroring
  CHANGES.md
  docker/Dockerfile.gpu
  docs/deployment/docker_gpu.md
  docs/how-to/hydra_sweeps.md
  docs/metrics.md
  docs/monitoring/session_tracking.md
  pyproject.toml
  src/codex/logging/db_manager.py
  src/codex_ml/logging/session_logger.py
  src/codex_ml/metrics/classification_metrics.py
  src/codex_ml/metrics/registry.py
  tests/logging/test_session_logger_structured.py
  tests/metrics/test_registry_classification.py
  tokenization/__init__.py
  tokenization/loader.py
Due: validate-fences, semgrep-local

Add hydra audit CLI, metrics logging, and classification metrics
  pyproject.toml
  src/codex/logging/db_manager.py
  src/codex_ml/cli/hydra_audit.py
  src/codex_ml/logging/session_logger.py
  src/codex_ml/metrics/classification.py
  src/codex_ml/metrics/registry.py
  tests/cli/test_hydra_missing_placeholders.py
  tests/logging/test_structured_metrics_sqlite.py
  tests/metrics/test_classification_metrics_registry.py
  tokenization/loader.py
Due: semgrep-local

Create loader.py for tokenizer compatibility
  tokenization/loader.py
Due: semgrep-local

Fix classification metrics registration and mirroring
  src/codex/logging/db_manager.py
  src/codex_ml/logging/session_logger.py
  src/codex_ml/metrics/registry.py
Due: semgrep-local

Add metric_records migration for ts/event_type
  src/codex/logging/db_manager.py
Due: semgrep-local

Update src/codex_ml/metrics/registry.py
  src/codex_ml/metrics/registry.py
Due: semgrep-local

Update src/codex_ml/logging/session_logger.py
  src/codex_ml/logging/session_logger.py
Due: semgrep-local

Update tokenization/__init__.py
  tokenization/__init__.py
Due: semgrep-local

Update docker/Dockerfile.gpu
  docker/Dockerfile.gpu
Due: none

Revert "0 d base "
  CHANGES.md
  docker/Dockerfile.gpu
  docs/deployment/docker_gpu.md
  docs/how-to/hydra_sweeps.md
  docs/metrics.md
  docs/monitoring/session_tracking.md
  pyproject.toml
  reports/daily/_codex_status_update_2025_11_16.md
  src/codex/logging/db_manager.py
  src/codex_ml/cli/hydra_audit.py
  src/codex_ml/logging/session_logger.py
  src/codex_ml/metrics/classification.py
  src/codex_ml/metrics/registry.py
  tests/cli/test_hydra_missing_placeholders.py
  tests/logging/test_session_logger_structured.py
  tests/logging/test_structured_metrics_sqlite.py
  tests/metrics/test_registry_classification.py
  tokenization/__init__.py
  tokenization/loader.py
Due: validate-fences, semgrep-local

Update scripts/space_traversal/audit_runner.py
  scripts/space_traversal/audit_runner.py
Due: semgrep-local

Update FINAL_IMPLEMENTATION_REPORT.md
  FINAL_IMPLEMENTATION_REPORT.md
Due: validate-fences

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
