Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/

Modify secrets permission in workflow file
  .github/workflows/phase10-automated-secrets-setup.yml
Due: none

Comment out secrets permission in auth-secret-rotation.yml
  .github/workflows/auth-secret-rotation.yml
Due: none

Comment out secrets permission in auth-token-rotation.yml
  .github/workflows/auth-token-rotation.yml
Due: none

Fix syntax for conditional in GitHub Actions workflow
  .github/workflows/rust_swarm_ci.yml
Due: none

Update condition syntax in notebooklm-sync.yml
  .github/workflows/notebooklm-sync.yml
Due: none

Update NotebookLM sync workflow with JSON payload
  .github/workflows/notebooklm-sync.yml
Due: none

Refactor Python import verification to use heredoc
  .github/workflows/rust_swarm_ci.yml
Due: none

Refactor Python import and benchmark report formatting
  .github/workflows/rust_swarm_ci.yml
Due: none

Fix secretlintrc.json generation and update summary
  .github/workflows/notebooklm-sync.yml
Due: none

Fix formatting issues in notebooklm-sync.yml
  .github/workflows/notebooklm-sync.yml
Due: none

Update examples/authentication/02_mfa_setup.py
  examples/authentication/02_mfa_setup.py
Due: semgrep-local

Update scripts/deep_research_task_process.py
  scripts/deep_research_task_process.py
Due: semgrep-local

Update rust_swarm/swarm_engine.rs
  rust_swarm/swarm_engine.rs
Due: none

Delete temporary file temp.md
  .codex/temp.md
Due: validate-fences

Update .codex/temp.md
  .codex/temp.md
Due: validate-fences

Update print statement from 'Hello' to 'Goodbye'
  logs/extracted_log_60557908501.md
Due: validate-fences

Create extracted_log_60562804384.md
  logs/extracted_log_60562804384.md
Due: validate-fences

Potential fix for code scanning alert no. 3375: Uncontrolled data used in path expression
  src/codex/api/rag_api.py
Due: semgrep-local

Potential fix for code scanning alert no. 3376: Use of a broken or weak cryptographic hashing algorithm on sensitive data
  src/codex/auth/middleware.py
Due: semgrep-local

Fix space traversal imports and audit runner helpers
  .codex/action_log.ndjson
  .codex/change_log.md
  .codex/plans/path_100_20260119-021932_pytest-coverage.md
  .codex/results.md
  scripts/space_traversal/audit_runner.py
  scripts/space_traversal/ci_integration.py
  scripts/space_traversal/coverage_ingest_stub.py
  scripts/space_traversal/generate_baseline.py
  scripts/space_traversal/stable_manifest.py
  scripts/space_traversal/trend_aggregator.py
  scripts/space_traversal/validate_snapshot_schema.py
Due: validate-fences, semgrep-local

Implement patchset as applicable
  logs/extracted_patch_chatgpt-codex.md
Due: validate-fences

Update print statement from 'Hello' to 'Goodbye'
  logs/extracted_chatgptcodex-v2.md
Due: validate-fences

Update Cargo.toml
  Cargo.toml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: validate-fences

Fix formatting issues in rust_swarm_ci.yml
  .github/workflows/rust_swarm_ci.yml
Due: none

Create AGENTS.md for AI agent documentation
  AGENTS.md
Due: validate-fences

Update .codex/prompts/PHASE_12_CONTINUATION_PROMPT.md
  .codex/prompts/PHASE_12_CONTINUATION_PROMPT.md
Due: validate-fences

Update link checker action version
  .github/workflows/documentation-link-checker.yml
Due: none

Update upload-artifact action to version 4
  .github/workflows/audit-improvement-pipeline.yml
Due: none

Update .codex/admin_docs_audit_summary.md
  .codex/admin_docs_audit_summary.md
Due: validate-fences

Update .github/agents/COGNITIVE_BRAIN_STATUS_V11_2025_TIMESTAMP_CORRECTIONS.md
  .github/agents/COGNITIVE_BRAIN_STATUS_V11_2025_TIMESTAMP_CORRECTIONS.md
Due: validate-fences

Update .github/agents/.template/README.md
  .github/agents/.template/README.md
Due: validate-fences

Update .github/agents/COGNITIVE_BRAIN_STATUS_V3_FINAL.md
  .github/agents/COGNITIVE_BRAIN_STATUS_V3_FINAL.md
Due: validate-fences

Update tests/services/test_services_cognitive_edge_cases_phase26.py
  tests/services/test_services_cognitive_edge_cases_phase26.py
Due: semgrep-local

Update tests/context/test_context_agent_edge_cases_phase26.py
  tests/context/test_context_agent_edge_cases_phase26.py
Due: semgrep-local

Update tests/data/test_data_config_edge_cases_phase26.py
  tests/data/test_data_config_edge_cases_phase26.py
Due: semgrep-local
