Repository Aries-Serpent/_codex_: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-fences, semgrep-local

validate-fences:
  name: validate markdown code fences
  entry: bash
  language: system
  args:
  - -lc
  - PRE_COMMIT=1 python tools/validate_fences.py --strict-inner "$@"
  - validate-fences
  pass_filenames: true
  stages:
  - pre-commit

semgrep-local:
  name: semgrep (local rules, optional)
  entry: bash -lc 'command -v semgrep >/dev/null 2>&1 && semgrep scan --quiet --config semgrep_rules || echo "[semgrep] skipped (not installed)"'
  language: system
  pass_filenames: false

Creating comprehensive Phase 3 CLI Migration execution guide
  .github/docs/cli_migration_execution_guide.md
Due: validate-fences

Fix incompatible dependency pins
  requirements/lock.txt
Due: none

Align mlflow skinny lockstep
  requirements/lock.txt
Due: none

Add dataset registry, CLI entrypoint, and training telemetry
  configs/simple/train.yaml
  src/cli.py
  src/data/__init__.py
  src/data/registry.py
  src/metrics.py
  src/training/trainer.py
  tests/test_cli_entrypoint.py
  tests/test_data_registry.py
  tests/training/test_extended_trainer.py
Due: semgrep-local

feat(cli): consolidate legacy automation scripts
  MANIFEST.in
  cli/README.md
  cli/__init__.py
  cli/ast_upgrade.py
  cli/audit_runner_root.py
  cli/patch_runner.py
  cli/script_polish.py
  cli/setup.py
  cli/task_sequence.py
  cli/update_runner.py
  cli/workflow.py
  docs/CHANGELOG.md
  docs/README_ROOT.md
  docs/deep_research_prompts.md
  docs/governance/CONTRIBUTING.md
  docs/guides/asset_instruction_playbook.md
  docs/guides/codex_setup.md
  docs/reference/tools.md
  docs/status_update_outstanding_questions.md
  docs/suggested_tasks/remediation_phase1_task_queue_2025-09-17.md
  docs/suggested_tasks/remediation_plan_status_update_2025-09-17.md
  pyproject.toml
  tools/codex_import_normalizer.py
  tools/post_check_validation.py
  tools/status/status_update_executor.py
  tools/workflow_merge.py
Due: validate-fences, semgrep-local

fix: update tests and tooling for cli task sequence
  tests/test_codex_best_effort.py
  tests/test_codex_sequence_validations.py
  tools/post_check_validation.py
Due: semgrep-local

Restore codex_task_sequence shim
  codex_task_sequence.py
Due: semgrep-local

chore(reports): add phase3 cli validation log
  reports/phase3_cli_validation.md
Due: validate-fences

Ensure codex_task_sequence shim exports private helpers
  codex_task_sequence.py
Due: semgrep-local

fix(cli): restore typer compatibility and refresh validation
  pyproject.toml
  reports/PHASE_3_COMPLETION_REPORT.md
  reports/phase3_cli_test_results.md
  src/codex/cli.py
  src/codex/cli_knowledge.py
  src/codex/cli_maps.py
  src/codex/cli_release.py
  src/codex/cli_zendesk.py
  src/codex/dynamics/cli_d365.py
  src/codex_ml/cli/validate.py
  src/codex_ml/plugins/registry.py
Due: validate-fences, semgrep-local

chore: document root python migration plan
  analysis/root_python_migration_plan.md
Due: validate-fences

Create README index file for docs/templates directory
  _codex_/docs/templates/README.md
Due: validate-fences

docs: add operational templates index and scaffolds
  docs/templates/Migration_CLIHardening.md
  docs/templates/Migration_PythonFileRelocation.md
  docs/templates/Planning_IntentValidation.md
  docs/templates/README.md
Due: validate-fences

docs(templates): add operational templates and tests
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/templates/Migration_CLIHardening.md
  docs/templates/Migration_PythonFileRelocation.md
  docs/templates/Planning_IntentValidation.md
  docs/templates/README.md
  pyproject.toml
  tests/templates/__init__.py
  tests/templates/test_template_discovery.py
  tests/templates/test_template_structure.py
Due: validate-fences, semgrep-local

Add template discovery and structure tests
  tests/templates/__init__.py
  tests/templates/test_template_discovery.py
  tests/templates/test_template_structure.py
Due: semgrep-local

Add operational templates overview to docs
  docs/README.md
Due: validate-fences

ci: add workflow_dispatch and configurable runner (vars.DEFAULT_RUNNER or input)
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  CITATION.cff
  README.md
  SECURITY.md
Due: validate-fences

ci: add self-hosted-only variant and diagnostics workflow (manual)
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/diagnostics.yml
  .gitignore
  CHANGELOG.md
  CITATION.cff
  README.md
  SECURITY.md
Due: validate-fences

docs: add operational template guidance
  docs/CONTRIBUTING.md
Due: validate-fences

fix: allow missing CODEOWNERS in CI check
  .github/workflows/ci.yml
Due: none

docs: clarify operational template workflow
  docs/CONTRIBUTING.md
Due: validate-fences

docs: note operational templates in changelog
  docs/CHANGELOG.md
Due: validate-fences

docs: expand operational templates index
  docs/templates/Migration_CLIHardening.md
  docs/templates/Migration_PythonFileRelocation.md
  docs/templates/Planning_IntentValidation.md
  docs/templates/README.md
Due: validate-fences

Add comprehensive template validation tests
  tests/templates/test_template_discovery.py
  tests/templates/test_template_structure.py
Due: semgrep-local

docs: expand operational template guidance
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/README.md
Due: validate-fences

docs(templates): refresh operational templates and tests
  README.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/templates/Migration_CLIHardening.md
  docs/templates/Migration_PythonFileRelocation.md
  docs/templates/Planning_IntentValidation.md
  docs/templates/README.md
  docs/templates/verification.md
  pyproject.toml
  tests/templates/test_template_discovery.py
  tests/templates/test_template_structure.py
Due: validate-fences, semgrep-local

feat: add local intent gate tooling and docs
  .github/pull_request_template.md
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.addendum.md
  docs/checklists/approval_gate_checklist.md
  docs/decision_records/ADR-codex-evaluator-v3.md
  docs/decision_records/ADR-intent-approval-gate.md
  docs/ops/local_gates.md
  docs/ops/mkdocs_nav_snippet.yaml
  docs/rubrics/codex_eval_rubric_v3.md
  docs/samples/intent_validation_example.md
  docs/templates/intent_validation_gate.md
  manifests/codex_eval_rules.v3.json
  samples/README.md
  samples/assistant_message_summary.sample.json
  samples/broken_fence.sample.md
  scripts/run_local_gates.sh
  tests/evaluators/test_codex_evaluator.py
  tests/evaluators/test_validate_fences_sample.py
  tests/samples/test_samples_exist.py
  tools/README.md
  tools/cli/__init__.py
  tools/cli/codex_tools.py
  tools/codex_evaluator.py
  tools/validate_fences.py
Due: validate-fences, semgrep-local

feat: add selection guard tooling
  .github/pull_request_template.md
  .pre-commit-config.yaml
  docs/checklists/approval_gate_checklist.md
  docs/ops/selection_guard.md
  manifests/selection_guard_rules.json
  scripts/run_local_gates.sh
  tests/guards/test_selection_guard.py
  tools/README.md
  tools/selection_guard.py
Due: validate-fences, semgrep-local

fix: restore validate_fences legacy API
  tools/validate_fences.py
Due: semgrep-local

Fix selection guard candidate discovery and script usage
  scripts/run_local_gates.sh
  tests/guards/test_selection_guard.py
  tools/selection_guard.py
Due: semgrep-local

feat: add manifest schema validation tool
  .pre-commit-config.yaml
  docs/ops/local_gates.md
  schemas/codex_eval_rules.v3.schema.json
  schemas/selection_guard_rules.schema.json
  scripts/run_local_gates.sh
  tests/schemas/test_schema_validate.py
  tools/schema_validate.py
Due: validate-fences, semgrep-local

Add pass_filenames false to schema hook
  .pre-commit-config.yaml
Due: none

Add nox sessions and dev requirements for local gates
  docs/CHANGELOG.md
  docs/decision_records/ADR-self-management-nox.md
  docs/ops/local_gates.md
  noxfile.py
  requirements-dev.txt
  tests/self_mgmt/test_noxfile_parse.py
  tests/self_mgmt/test_requirements_dev.py
Due: validate-fences, semgrep-local

feat: add local status reporter
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  docs/decision_records/ADR-status-reporter.md
  docs/ops/status_reports.md
  docs/templates/status_update.md
  tests/status/test_status_report.py
  tools/status_report.py
Due: validate-fences, semgrep-local

Make gates session resilient to missing inputs
  noxfile.py
Due: semgrep-local

Fix selection guard failure handling
  tools/status_report.py
Due: semgrep-local

Add template mode to local status reporter
  README.md
  docs/ops/status_reports.md
  docs/templates/status_update.md
  tests/status/test_status_report_smoke.py
  tools/status_report.py
Due: validate-fences, semgrep-local

fix: restore CODEOWNERS governance entries
  .github/CODEOWNERS
Due: none

Path conditions:
  validate-fences: any of: \.(md|markdown|mdown)$ and not (^tests/data/validate_fences_sample\.md$) and not (^\\.codex/)
  semgrep-local: any of: \.py$, but not: ^\\.codex/
